<a href="https://colab.research.google.com/github/gomlfx/ApiaryFund_/blob/master/autogluon_next_day_graph_M1_2_0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
# !pip install jedi
# !pip install Pillow==9.3

In [6]:
!pip install autogluon
!pip install pillow==8.4.0
!pip install --upgrade mxnet

#designed for Jupyter/kaggle/colab
import pandas as pd
import numpy as np
#import matplotlib for plotting 
import matplotlib.pyplot as plt
%matplotlib inline
#import normalization
from sklearn import preprocessing
#autogluon
from autogluon.tabular import TabularDataset, TabularPredictor

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: autogluon in /usr/local/lib/python3.8/dist-packages (0.7.0)
Requirement already satisfied: autogluon.core[all]==0.7.0 in /usr/local/lib/python3.8/dist-packages (from autogluon) (0.7.0)
Requirement already satisfied: autogluon.tabular[all]==0.7.0 in /usr/local/lib/python3.8/dist-packages (from autogluon) (0.7.0)
Requirement already satisfied: autogluon.timeseries[all]==0.7.0 in /usr/local/lib/python3.8/dist-packages (from autogluon) (0.7.0)
Requirement already satisfied: autogluon.features==0.7.0 in /usr/local/lib/python3.8/dist-packages (from autogluon) (0.7.0)
Requirement already satisfied: autogluon.multimodal==0.7.0 in /usr/local/lib/python3.8/dist-packages (from autogluon) (0.7.0)
Requirement already satisfied: boto3<2,>=1.10 in /usr/local/lib/python3.8/dist-packages (from autogluon.core[all]==0.7.0->autogluon) (1.26.84)
Requirement already satisfied: pandas<1.6,>=1.4.1 in /usr/local/lib/python3.8/dist-packages (from autogluon.core[all]==0.7.0->autogluon) (1.5.3)
Requirement already satisfied: networkx<3.0,>=2.3 in /usr/local/lib/python3.8/dist-packages (from autogluon.core[all]==0.7.0->autogluon) (2.8.8)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.8/dist-packages (from autogluon.core[all]==0.7.0->autogluon) (3.5.3)
Requirement already satisfied: requests in /usr/local/lib/python3.8/dist-packages (from autogluon.core[all]==0.7.0->autogluon) (2.25.1)
Requirement already satisfied: numpy<1.27,>=1.21 in /usr/local/lib/python3.8/dist-packages (from autogluon.core[all]==0.7.0->autogluon) (1.22.4)
Requirement already satisfied: scipy<1.12,>=1.5.4 in /usr/local/lib/python3.8/dist-packages (from autogluon.core[all]==0.7.0->autogluon) (1.10.1)
Requirement already satisfied: autogluon.common==0.7.0 in /usr/local/lib/python3.8/dist-packages (from autogluon.core[all]==0.7.0->autogluon) (0.7.0)
Requirement already satisfied: tqdm<5,>=4.38 in /usr/local/lib/python3.8/dist-packages (from autogluon.core[all]==0.7.0->autogluon) (4.64.1)
Requirement already satisfied: scikit-learn<1.3,>=1.0 in /usr/local/lib/python3.8/dist-packages (from autogluon.core[all]==0.7.0->autogluon) (1.2.1)
Requirement already satisfied: hyperopt<0.2.8,>=0.2.7 in /usr/local/lib/python3.8/dist-packages (from autogluon.core[all]==0.7.0->autogluon) (0.2.7)
Requirement already satisfied: ray<2.3,>=2.2 in /usr/local/lib/python3.8/dist-packages (from autogluon.core[all]==0.7.0->autogluon) (2.2.0)
Requirement already satisfied: transformers<4.27.0,>=4.23.0 in /usr/local/lib/python3.8/dist-packages (from autogluon.multimodal==0.7.0->autogluon) (4.26.1)
Requirement already satisfied: accelerate<0.17,>=0.9 in /usr/local/lib/python3.8/dist-packages (from autogluon.multimodal==0.7.0->autogluon) (0.16.0)
Requirement already satisfied: torch<1.14,>=1.9 in /usr/local/lib/python3.8/dist-packages (from autogluon.multimodal==0.7.0->autogluon) (1.13.1+cu116)
Requirement already satisfied: defusedxml<0.7.2,>=0.7.1 in /usr/local/lib/python3.8/dist-packages (from autogluon.multimodal==0.7.0->autogluon) (0.7.1)
Requirement already satisfied: pytorch-lightning<1.10.0,>=1.9.0 in /usr/local/lib/python3.8/dist-packages (from autogluon.multimodal==0.7.0->autogluon) (1.9.4)
Requirement already satisfied: pytesseract<0.3.11,>=0.3.9 in /usr/local/lib/python3.8/dist-packages (from autogluon.multimodal==0.7.0->autogluon) (0.3.10)
Requirement already satisfied: nltk<4.0.0,>=3.4.5 in /usr/local/lib/python3.8/dist-packages (from autogluon.multimodal==0.7.0->autogluon) (3.7)
Requirement already satisfied: pytorch-metric-learning<2.0,>=1.3.0 in /usr/local/lib/python3.8/dist-packages (from autogluon.multimodal==0.7.0->autogluon) (1.7.3)
Requirement already satisfied: jinja2<3.2,>=3.0.3 in /usr/local/lib/python3.8/dist-packages (from autogluon.multimodal==0.7.0->autogluon) (3.1.2)
Requirement already satisfied: omegaconf<2.3.0,>=2.1.1 in /usr/local/lib/python3.8/dist-packages (from autogluon.multimodal==0.7.0->autogluon) (2.2.3)
Requirement already satisfied: nptyping<2.5.0,>=1.4.4 in /usr/local/lib/python3.8/dist-packages (from autogluon.multimodal==0.7.0->autogluon) (2.4.1)
Collecting Pillow<9.6,>=9.3
  Using cached Pillow-9.4.0-cp38-cp38-manylinux_2_28_x86_64.whl (3.4 MB)
Requirement already satisfied: text-unidecode<1.4,>=1.3 in /usr/local/lib/python3.8/dist-packages (from autogluon.multimodal==0.7.0->autogluon) (1.3)
Requirement already satisfied: timm<0.7.0,>=0.6.12 in /usr/local/lib/python3.8/dist-packages (from autogluon.multimodal==0.7.0->autogluon) (0.6.12)
Requirement already satisfied: torchmetrics<0.9.0,>=0.8.0 in /usr/local/lib/python3.8/dist-packages (from autogluon.multimodal==0.7.0->autogluon) (0.8.2)
Requirement already satisfied: seqeval<1.3.0,>=1.2.2 in /usr/local/lib/python3.8/dist-packages (from autogluon.multimodal==0.7.0->autogluon) (1.2.2)
Requirement already satisfied: evaluate<0.4.0,>=0.2.2 in /usr/local/lib/python3.8/dist-packages (from autogluon.multimodal==0.7.0->autogluon) (0.3.0)
Requirement already satisfied: jsonschema<4.18,>=4.14 in /usr/local/lib/python3.8/dist-packages (from autogluon.multimodal==0.7.0->autogluon) (4.17.3)
Requirement already satisfied: nlpaug<1.2.0,>=1.1.10 in /usr/local/lib/python3.8/dist-packages (from autogluon.multimodal==0.7.0->autogluon) (1.1.11)
Requirement already satisfied: torchvision<0.15.0 in /usr/local/lib/python3.8/dist-packages (from autogluon.multimodal==0.7.0->autogluon) (0.14.1+cu116)
Requirement already satisfied: fairscale<0.4.14,>=0.4.5 in /usr/local/lib/python3.8/dist-packages (from autogluon.multimodal==0.7.0->autogluon) (0.4.13)
Requirement already satisfied: scikit-image<0.20.0,>=0.19.1 in /usr/local/lib/python3.8/dist-packages (from autogluon.multimodal==0.7.0->autogluon) (0.19.3)
Requirement already satisfied: openmim<0.4.0,>0.1.5 in /usr/local/lib/python3.8/dist-packages (from autogluon.multimodal==0.7.0->autogluon) (0.3.6)
Requirement already satisfied: tensorboard<3,>=2.9 in /usr/local/lib/python3.8/dist-packages (from autogluon.multimodal==0.7.0->autogluon) (2.11.2)
Requirement already satisfied: sentencepiece<0.2.0,>=0.1.95 in /usr/local/lib/python3.8/dist-packages (from autogluon.multimodal==0.7.0->autogluon) (0.1.97)
Requirement already satisfied: catboost<1.2,>=1.0 in /usr/local/lib/python3.8/dist-packages (from autogluon.tabular[all]==0.7.0->autogluon) (1.1.1)
Requirement already satisfied: lightgbm<3.4,>=3.3 in /usr/local/lib/python3.8/dist-packages (from autogluon.tabular[all]==0.7.0->autogluon) (3.3.5)
Requirement already satisfied: xgboost<1.8,>=1.6 in /usr/local/lib/python3.8/dist-packages (from autogluon.tabular[all]==0.7.0->autogluon) (1.7.4)
Requirement already satisfied: fastai<2.8,>=2.3.1 in /usr/local/lib/python3.8/dist-packages (from autogluon.tabular[all]==0.7.0->autogluon) (2.7.11)
Requirement already satisfied: statsforecast<1.5,>=1.4.0 in /usr/local/lib/python3.8/dist-packages (from autogluon.timeseries[all]==0.7.0->autogluon) (1.4.0)
Requirement already satisfied: statsmodels<0.14,>=0.13.0 in /usr/local/lib/python3.8/dist-packages (from autogluon.timeseries[all]==0.7.0->autogluon) (0.13.5)
Requirement already satisfied: gluonts<0.13,>=0.12.0 in /usr/local/lib/python3.8/dist-packages (from autogluon.timeseries[all]==0.7.0->autogluon) (0.12.3)
Requirement already satisfied: ujson<6,>=5 in /usr/local/lib/python3.8/dist-packages (from autogluon.timeseries[all]==0.7.0->autogluon) (5.7.0)
Requirement already satisfied: joblib<2,>=1.1 in /usr/local/lib/python3.8/dist-packages (from autogluon.timeseries[all]==0.7.0->autogluon) (1.2.0)
Requirement already satisfied: pmdarima<1.9,>=1.8.2 in /usr/local/lib/python3.8/dist-packages (from autogluon.timeseries[all]==0.7.0->autogluon) (1.8.5)
Requirement already satisfied: tbats<2,>=1.1 in /usr/local/lib/python3.8/dist-packages (from autogluon.timeseries[all]==0.7.0->autogluon) (1.1.2)
Requirement already satisfied: sktime<0.16,>=0.14 in /usr/local/lib/python3.8/dist-packages (from autogluon.timeseries[all]==0.7.0->autogluon) (0.15.1)
Requirement already satisfied: setuptools in /usr/local/lib/python3.8/dist-packages (from autogluon.common==0.7.0->autogluon.core[all]==0.7.0->autogluon) (57.4.0)
Requirement already satisfied: psutil<6,>=5.7.3 in /usr/local/lib/python3.8/dist-packages (from autogluon.common==0.7.0->autogluon.core[all]==0.7.0->autogluon) (5.9.4)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.8/dist-packages (from accelerate<0.17,>=0.9->autogluon.multimodal==0.7.0->autogluon) (23.0)
Requirement already satisfied: pyyaml in /usr/local/lib/python3.8/dist-packages (from accelerate<0.17,>=0.9->autogluon.multimodal==0.7.0->autogluon) (6.0)
Requirement already satisfied: jmespath<2.0.0,>=0.7.1 in /usr/local/lib/python3.8/dist-packages (from boto3<2,>=1.10->autogluon.core[all]==0.7.0->autogluon) (1.0.1)
Requirement already satisfied: s3transfer<0.7.0,>=0.6.0 in /usr/local/lib/python3.8/dist-packages (from boto3<2,>=1.10->autogluon.core[all]==0.7.0->autogluon) (0.6.0)
Requirement already satisfied: botocore<1.30.0,>=1.29.84 in /usr/local/lib/python3.8/dist-packages (from boto3<2,>=1.10->autogluon.core[all]==0.7.0->autogluon) (1.29.84)
Requirement already satisfied: plotly in /usr/local/lib/python3.8/dist-packages (from catboost<1.2,>=1.0->autogluon.tabular[all]==0.7.0->autogluon) (5.5.0)
Requirement already satisfied: graphviz in /usr/local/lib/python3.8/dist-packages (from catboost<1.2,>=1.0->autogluon.tabular[all]==0.7.0->autogluon) (0.8.4)
Requirement already satisfied: six in /usr/local/lib/python3.8/dist-packages (from catboost<1.2,>=1.0->autogluon.tabular[all]==0.7.0->autogluon) (1.15.0)
Requirement already satisfied: datasets>=2.0.0 in /usr/local/lib/python3.8/dist-packages (from evaluate<0.4.0,>=0.2.2->autogluon.multimodal==0.7.0->autogluon) (2.10.1)
Requirement already satisfied: responses<0.19 in /usr/local/lib/python3.8/dist-packages (from evaluate<0.4.0,>=0.2.2->autogluon.multimodal==0.7.0->autogluon) (0.18.0)
Requirement already satisfied: dill in /usr/local/lib/python3.8/dist-packages (from evaluate<0.4.0,>=0.2.2->autogluon.multimodal==0.7.0->autogluon) (0.3.6)
Requirement already satisfied: multiprocess in /usr/local/lib/python3.8/dist-packages (from evaluate<0.4.0,>=0.2.2->autogluon.multimodal==0.7.0->autogluon) (0.70.14)
Requirement already satisfied: fsspec[http]>=2021.05.0 in /usr/local/lib/python3.8/dist-packages (from evaluate<0.4.0,>=0.2.2->autogluon.multimodal==0.7.0->autogluon) (2023.1.0)
Requirement already satisfied: xxhash in /usr/local/lib/python3.8/dist-packages (from evaluate<0.4.0,>=0.2.2->autogluon.multimodal==0.7.0->autogluon) (3.2.0)
Requirement already satisfied: huggingface-hub>=0.7.0 in /usr/local/lib/python3.8/dist-packages (from evaluate<0.4.0,>=0.2.2->autogluon.multimodal==0.7.0->autogluon) (0.12.1)
Requirement already satisfied: fastprogress>=0.2.4 in /usr/local/lib/python3.8/dist-packages (from fastai<2.8,>=2.3.1->autogluon.tabular[all]==0.7.0->autogluon) (1.0.3)
Requirement already satisfied: pip in /usr/local/lib/python3.8/dist-packages (from fastai<2.8,>=2.3.1->autogluon.tabular[all]==0.7.0->autogluon) (22.0.4)
Requirement already satisfied: fastcore<1.6,>=1.4.5 in /usr/local/lib/python3.8/dist-packages (from fastai<2.8,>=2.3.1->autogluon.tabular[all]==0.7.0->autogluon) (1.5.28)
Requirement already satisfied: spacy<4 in /usr/local/lib/python3.8/dist-packages (from fastai<2.8,>=2.3.1->autogluon.tabular[all]==0.7.0->autogluon) (3.4.4)
Requirement already satisfied: fastdownload<2,>=0.0.5 in /usr/local/lib/python3.8/dist-packages (from fastai<2.8,>=2.3.1->autogluon.tabular[all]==0.7.0->autogluon) (0.0.7)
Requirement already satisfied: pydantic~=1.7 in /usr/local/lib/python3.8/dist-packages (from gluonts<0.13,>=0.12.0->autogluon.timeseries[all]==0.7.0->autogluon) (1.10.5)
Requirement already satisfied: typing-extensions~=4.0 in /usr/local/lib/python3.8/dist-packages (from gluonts<0.13,>=0.12.0->autogluon.timeseries[all]==0.7.0->autogluon) (4.5.0)
Requirement already satisfied: toolz~=0.10 in /usr/local/lib/python3.8/dist-packages (from gluonts<0.13,>=0.12.0->autogluon.timeseries[all]==0.7.0->autogluon) (0.12.0)
Requirement already satisfied: future in /usr/local/lib/python3.8/dist-packages (from hyperopt<0.2.8,>=0.2.7->autogluon.core[all]==0.7.0->autogluon) (0.16.0)
Requirement already satisfied: cloudpickle in /usr/local/lib/python3.8/dist-packages (from hyperopt<0.2.8,>=0.2.7->autogluon.core[all]==0.7.0->autogluon) (2.2.1)
Requirement already satisfied: py4j in /usr/local/lib/python3.8/dist-packages (from hyperopt<0.2.8,>=0.2.7->autogluon.core[all]==0.7.0->autogluon) (0.10.9.7)
Requirement already satisfied: MarkupSafe>=2.0 in /usr/local/lib/python3.8/dist-packages (from jinja2<3.2,>=3.0.3->autogluon.multimodal==0.7.0->autogluon) (2.1.2)
Requirement already satisfied: pkgutil-resolve-name>=1.3.10 in /usr/local/lib/python3.8/dist-packages (from jsonschema<4.18,>=4.14->autogluon.multimodal==0.7.0->autogluon) (1.3.10)
Requirement already satisfied: pyrsistent!=0.17.0,!=0.17.1,!=0.17.2,>=0.14.0 in /usr/local/lib/python3.8/dist-packages (from jsonschema<4.18,>=4.14->autogluon.multimodal==0.7.0->autogluon) (0.19.3)
Requirement already satisfied: importlib-resources>=1.4.0 in /usr/local/lib/python3.8/dist-packages (from jsonschema<4.18,>=4.14->autogluon.multimodal==0.7.0->autogluon) (5.12.0)
Requirement already satisfied: attrs>=17.4.0 in /usr/local/lib/python3.8/dist-packages (from jsonschema<4.18,>=4.14->autogluon.multimodal==0.7.0->autogluon) (22.2.0)
Requirement already satisfied: wheel in /usr/local/lib/python3.8/dist-packages (from lightgbm<3.4,>=3.3->autogluon.tabular[all]==0.7.0->autogluon) (0.38.4)
Requirement already satisfied: gdown>=4.0.0 in /usr/local/lib/python3.8/dist-packages (from nlpaug<1.2.0,>=1.1.10->autogluon.multimodal==0.7.0->autogluon) (4.4.0)
Requirement already satisfied: regex>=2021.8.3 in /usr/local/lib/python3.8/dist-packages (from nltk<4.0.0,>=3.4.5->autogluon.multimodal==0.7.0->autogluon) (2022.6.2)
Requirement already satisfied: click in /usr/local/lib/python3.8/dist-packages (from nltk<4.0.0,>=3.4.5->autogluon.multimodal==0.7.0->autogluon) (8.1.3)
Requirement already satisfied: antlr4-python3-runtime==4.9.* in /usr/local/lib/python3.8/dist-packages (from omegaconf<2.3.0,>=2.1.1->autogluon.multimodal==0.7.0->autogluon) (4.9.3)
Requirement already satisfied: model-index in /usr/local/lib/python3.8/dist-packages (from openmim<0.4.0,>0.1.5->autogluon.multimodal==0.7.0->autogluon) (0.1.11)
Requirement already satisfied: rich in /usr/local/lib/python3.8/dist-packages (from openmim<0.4.0,>0.1.5->autogluon.multimodal==0.7.0->autogluon) (13.3.2)
Requirement already satisfied: tabulate in /usr/local/lib/python3.8/dist-packages (from openmim<0.4.0,>0.1.5->autogluon.multimodal==0.7.0->autogluon) (0.8.10)
Requirement already satisfied: colorama in /usr/local/lib/python3.8/dist-packages (from openmim<0.4.0,>0.1.5->autogluon.multimodal==0.7.0->autogluon) (0.4.6)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.8/dist-packages (from pandas<1.6,>=1.4.1->autogluon.core[all]==0.7.0->autogluon) (2022.7.1)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.8/dist-packages (from pandas<1.6,>=1.4.1->autogluon.core[all]==0.7.0->autogluon) (2.8.2)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.8/dist-packages (from pmdarima<1.9,>=1.8.2->autogluon.timeseries[all]==0.7.0->autogluon) (1.26.14)
Requirement already satisfied: Cython!=0.29.18,>=0.29 in /usr/local/lib/python3.8/dist-packages (from pmdarima<1.9,>=1.8.2->autogluon.timeseries[all]==0.7.0->autogluon) (0.29.33)
Requirement already satisfied: lightning-utilities>=0.6.0.post0 in /usr/local/lib/python3.8/dist-packages (from pytorch-lightning<1.10.0,>=1.9.0->autogluon.multimodal==0.7.0->autogluon) (0.7.1)
Requirement already satisfied: frozenlist in /usr/local/lib/python3.8/dist-packages (from ray<2.3,>=2.2->autogluon.core[all]==0.7.0->autogluon) (1.3.3)
Requirement already satisfied: aiosignal in /usr/local/lib/python3.8/dist-packages (from ray<2.3,>=2.2->autogluon.core[all]==0.7.0->autogluon) (1.3.1)
Requirement already satisfied: filelock in /usr/local/lib/python3.8/dist-packages (from ray<2.3,>=2.2->autogluon.core[all]==0.7.0->autogluon) (3.9.0)
Requirement already satisfied: msgpack<2.0.0,>=1.0.0 in /usr/local/lib/python3.8/dist-packages (from ray<2.3,>=2.2->autogluon.core[all]==0.7.0->autogluon) (1.0.4)
Requirement already satisfied: virtualenv>=20.0.24 in /usr/local/lib/python3.8/dist-packages (from ray<2.3,>=2.2->autogluon.core[all]==0.7.0->autogluon) (20.20.0)
Requirement already satisfied: protobuf!=3.19.5,>=3.15.3 in /usr/local/lib/python3.8/dist-packages (from ray<2.3,>=2.2->autogluon.core[all]==0.7.0->autogluon) (3.19.6)
Requirement already satisfied: grpcio>=1.32.0 in /usr/local/lib/python3.8/dist-packages (from ray<2.3,>=2.2->autogluon.core[all]==0.7.0->autogluon) (1.51.3)
Requirement already satisfied: tensorboardX>=1.9 in /usr/local/lib/python3.8/dist-packages (from ray<2.3,>=2.2->autogluon.core[all]==0.7.0->autogluon) (2.6)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.8/dist-packages (from requests->autogluon.core[all]==0.7.0->autogluon) (2022.12.7)
Requirement already satisfied: chardet<5,>=3.0.2 in /usr/local/lib/python3.8/dist-packages (from requests->autogluon.core[all]==0.7.0->autogluon) (4.0.0)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.8/dist-packages (from requests->autogluon.core[all]==0.7.0->autogluon) (2.10)
Requirement already satisfied: imageio>=2.4.1 in /usr/local/lib/python3.8/dist-packages (from scikit-image<0.20.0,>=0.19.1->autogluon.multimodal==0.7.0->autogluon) (2.9.0)
Requirement already satisfied: tifffile>=2019.7.26 in /usr/local/lib/python3.8/dist-packages (from scikit-image<0.20.0,>=0.19.1->autogluon.multimodal==0.7.0->autogluon) (2023.2.27)
Requirement already satisfied: PyWavelets>=1.1.1 in /usr/local/lib/python3.8/dist-packages (from scikit-image<0.20.0,>=0.19.1->autogluon.multimodal==0.7.0->autogluon) (1.4.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.8/dist-packages (from scikit-learn<1.3,>=1.0->autogluon.core[all]==0.7.0->autogluon) (3.1.0)
Requirement already satisfied: numba>=0.55 in /usr/local/lib/python3.8/dist-packages (from sktime<0.16,>=0.14->autogluon.timeseries[all]==0.7.0->autogluon) (0.56.4)
Requirement already satisfied: deprecated>=1.2.13 in /usr/local/lib/python3.8/dist-packages (from sktime<0.16,>=0.14->autogluon.timeseries[all]==0.7.0->autogluon) (1.2.13)
Requirement already satisfied: patsy>=0.5.2 in /usr/local/lib/python3.8/dist-packages (from statsmodels<0.14,>=0.13.0->autogluon.timeseries[all]==0.7.0->autogluon) (0.5.3)
Requirement already satisfied: google-auth-oauthlib<0.5,>=0.4.1 in /usr/local/lib/python3.8/dist-packages (from tensorboard<3,>=2.9->autogluon.multimodal==0.7.0->autogluon) (0.4.6)
Requirement already satisfied: tensorboard-plugin-wit>=1.6.0 in /usr/local/lib/python3.8/dist-packages (from tensorboard<3,>=2.9->autogluon.multimodal==0.7.0->autogluon) (1.8.1)
Requirement already satisfied: markdown>=2.6.8 in /usr/local/lib/python3.8/dist-packages (from tensorboard<3,>=2.9->autogluon.multimodal==0.7.0->autogluon) (3.4.1)
Requirement already satisfied: google-auth<3,>=1.6.3 in /usr/local/lib/python3.8/dist-packages (from tensorboard<3,>=2.9->autogluon.multimodal==0.7.0->autogluon) (2.16.1)
Requirement already satisfied: absl-py>=0.4 in /usr/local/lib/python3.8/dist-packages (from tensorboard<3,>=2.9->autogluon.multimodal==0.7.0->autogluon) (1.4.0)
Requirement already satisfied: tensorboard-data-server<0.7.0,>=0.6.0 in /usr/local/lib/python3.8/dist-packages (from tensorboard<3,>=2.9->autogluon.multimodal==0.7.0->autogluon) (0.6.1)

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pillow==8.4.0
  Using cached Pillow-8.4.0-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (3.1 MB)
Installing collected packages: pillow
  Attempting uninstall: pillow
    Found existing installation: Pillow 9.4.0
    Uninstalling Pillow-9.4.0:
      Successfully uninstalled Pillow-9.4.0
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
autogluon-multimodal 0.7.0 requires Pillow<9.6,>=9.3, but you have pillow 8.4.0 which is incompatible.
Successfully installed pillow-8.4.0
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: mxnet in /usr/local/lib/python3.8/dist-packages (1.9.1)
Requirement already satisfied: numpy<2.0.0,>1.16.0 in /usr/local/lib/python3.8/dist-packages (from mxnet) (1.22.4)
Requirement already satisfied: graphviz<0.9.0,>=0.8.1 in /usr/local/lib/python3.8/dist-packages (from mxnet) (0.8.4)
Requirement already satisfied: requests<3,>=2.20.0 in /usr/local/lib/python3.8/dist-packages (from mxnet) (2.25.1)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.8/dist-packages (from requests<3,>=2.20.0->mxnet) (2.10)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.8/dist-packages (from requests<3,>=2.20.0->mxnet) (1.26.14)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.8/dist-packages (from requests<3,>=2.20.0->mxnet) (2022.12.7)
Requirement already satisfied: chardet<5,>=3.0.2 in /usr/local/lib/python3.8/dist-packages (from requests<3,>=2.20.0->mxnet) (4.0.0)

In [7]:
#metatrader5 file format
df=pd.read_csv('/content/drive/MyDrive/csv_mt5/EURUSD_M1_202101040001_202303032354.csv')

In [8]:
print(df.head())
print(df.tail())
df.info()

  <DATE>\t<TIME>\t<OPEN>\t<HIGH>\t<LOW>\t<CLOSE>\t<TICKVOL>\t<VOL>\t<SPREAD>
0  2021.01.04\t00:01:00\t1.22395\t1.22395\t1.2239...
1  2021.01.04\t00:02:00\t1.22393\t1.22396\t1.2237...
2  2021.01.04\t00:03:00\t1.22374\t1.22374\t1.2236...
3  2021.01.04\t00:04:00\t1.22374\t1.22374\t1.2228...
4  2021.01.04\t00:05:00\t1.22318\t1.22337\t1.2231...
       <DATE>\t<TIME>\t<OPEN>\t<HIGH>\t<LOW>\t<CLOSE>\t<TICKVOL>\t<VOL>\t<SPREAD>
810239  2023.03.03\t23:50:00\t1.06332\t1.06332\t1.0632...
810240  2023.03.03\t23:51:00\t1.06323\t1.06327\t1.0632...
810241  2023.03.03\t23:52:00\t1.06326\t1.06330\t1.0632...
810242  2023.03.03\t23:53:00\t1.06329\t1.06342\t1.0632...
810243  2023.03.03\t23:54:00\t1.06327\t1.06332\t1.0632...
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 810244 entries, 0 to 810243
Data columns (total 1 columns):
 #   Column                                                              Non-Null Count   Dtype
---  ------                                                              --------------   -----
 0   <DATE>	<TIME>	<OPEN>	<HIGH>	<LOW>	<CLOSE>	<TICKVOL>	<VOL>	<SPREAD>  810244 non-null  object
dtypes: object(1)
memory usage: 6.2+ MB

In [9]:
df.columns=['header']

In [10]:
df = df.header.str.split('\t', expand=True)

In [11]:
df

                 0         1        2        3        4        5   6  7   8
0       2021.01.04  00:01:00  1.22395  1.22395  1.22395  1.22395   1  0  60
1       2021.01.04  00:02:00  1.22393  1.22396  1.22373  1.22373   4  0  38
2       2021.01.04  00:03:00  1.22374  1.22374  1.22366  1.22373   4  0  30
3       2021.01.04  00:04:00  1.22374  1.22374  1.22280  1.22298   9  0  32
4       2021.01.04  00:05:00  1.22318  1.22337  1.22318  1.22330  19  0  28
...            ...       ...      ...      ...      ...      ...  .. ..  ..
810239  2023.03.03  23:50:00  1.06332  1.06332  1.06323  1.06323  38  0   2
810240  2023.03.03  23:51:00  1.06323  1.06327  1.06322  1.06325  14  0   9
810241  2023.03.03  23:52:00  1.06326  1.06330  1.06326  1.06330  19  0   8
810242  2023.03.03  23:53:00  1.06329  1.06342  1.06326  1.06328  35  0   2
810243  2023.03.03  23:54:00  1.06327  1.06332  1.06326  1.06328  49  0   7

[810244 rows x 9 columns]

In [12]:
#choose range of data for backtesting
df['date_time'] = df[0] + ' ' + df[1]
pd.to_datetime(df.date_time)
df.set_index('date_time',inplace=True)
df.drop(columns=[0,1], inplace=True)
df

                           2        3        4        5   6  7   8
date_time
2021.01.04 00:01:00  1.22395  1.22395  1.22395  1.22395   1  0  60
2021.01.04 00:02:00  1.22393  1.22396  1.22373  1.22373   4  0  38
2021.01.04 00:03:00  1.22374  1.22374  1.22366  1.22373   4  0  30
2021.01.04 00:04:00  1.22374  1.22374  1.22280  1.22298   9  0  32
2021.01.04 00:05:00  1.22318  1.22337  1.22318  1.22330  19  0  28
...                      ...      ...      ...      ...  .. ..  ..
2023.03.03 23:50:00  1.06332  1.06332  1.06323  1.06323  38  0   2
2023.03.03 23:51:00  1.06323  1.06327  1.06322  1.06325  14  0   9
2023.03.03 23:52:00  1.06326  1.06330  1.06326  1.06330  19  0   8
2023.03.03 23:53:00  1.06329  1.06342  1.06326  1.06328  35  0   2
2023.03.03 23:54:00  1.06327  1.06332  1.06326  1.06328  49  0   7

[810244 rows x 7 columns]

In [13]:
#df_close_col = pd.DataFrame(data=df.iloc[:,5].tail(576000))
df_c = pd.DataFrame(df.loc['2000.12.01 00:00:00':'2023.03.04 00:00:00',5])

In [14]:
df_c

                           5
date_time
2021.01.04 00:01:00  1.22395
2021.01.04 00:02:00  1.22373
2021.01.04 00:03:00  1.22373
2021.01.04 00:04:00  1.22298
2021.01.04 00:05:00  1.22330
...                      ...
2023.03.03 23:50:00  1.06323
2023.03.03 23:51:00  1.06325
2023.03.03 23:52:00  1.06330
2023.03.03 23:53:00  1.06328
2023.03.03 23:54:00  1.06328

[810244 rows x 1 columns]

In [15]:
#df_C = df_c.reset_index(level=0)

In [16]:
#df_C['index'] = df_c.index
df_c

                           5
date_time
2021.01.04 00:01:00  1.22395
2021.01.04 00:02:00  1.22373
2021.01.04 00:03:00  1.22373
2021.01.04 00:04:00  1.22298
2021.01.04 00:05:00  1.22330
...                      ...
2023.03.03 23:50:00  1.06323
2023.03.03 23:51:00  1.06325
2023.03.03 23:52:00  1.06330
2023.03.03 23:53:00  1.06328
2023.03.03 23:54:00  1.06328

[810244 rows x 1 columns]

In [17]:
df_c.reset_index(inplace=True)
df_c

                  date_time        5
0       2021.01.04 00:01:00  1.22395
1       2021.01.04 00:02:00  1.22373
2       2021.01.04 00:03:00  1.22373
3       2021.01.04 00:04:00  1.22298
4       2021.01.04 00:05:00  1.22330
...                     ...      ...
810239  2023.03.03 23:50:00  1.06323
810240  2023.03.03 23:51:00  1.06325
810241  2023.03.03 23:52:00  1.06330
810242  2023.03.03 23:53:00  1.06328
810243  2023.03.03 23:54:00  1.06328

[810244 rows x 2 columns]

In [18]:
df_c.drop(['date_time'], axis=1, inplace=True)
df_c

              5
0       1.22395
1       1.22373
2       1.22373
3       1.22298
4       1.22330
...         ...
810239  1.06323
810240  1.06325
810241  1.06330
810242  1.06328
810243  1.06328

[810244 rows x 1 columns]

In [19]:
df_c.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 810244 entries, 0 to 810243
Data columns (total 1 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   5       810244 non-null  object
dtypes: object(1)
memory usage: 6.2+ MB

In [20]:
df_c.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 810244 entries, 0 to 810243
Data columns (total 1 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   5       810244 non-null  object
dtypes: object(1)
memory usage: 6.2+ MB

In [21]:
df_close_col = df_c

In [22]:
df_close_col[5] = df_close_col[5].astype(float, errors = 'raise')

In [23]:
df_close_col.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 810244 entries, 0 to 810243
Data columns (total 1 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   5       810244 non-null  float64
dtypes: float64(1)
memory usage: 6.2 MB

In [24]:
df_close_col.isnull().sum()

5    0
dtype: int64

In [25]:
##include date time at column index 0,1###

In [26]:
df_close_col

              5
0       1.22395
1       1.22373
2       1.22373
3       1.22298
4       1.22330
...         ...
810239  1.06323
810240  1.06325
810241  1.06330
810242  1.06328
810243  1.06328

[810244 rows x 1 columns]

In [27]:
###df321 to df360###
df360 = pd.DataFrame(data=df_close_col.iloc[-519840:-518400])
df360['row_num']=np.arange(len(df360))
df360.set_index('row_num',inplace=True)
df360 = df360.rename(columns={5:'day_360'})
print(df360)

df359 = pd.DataFrame(data=df_close_col.iloc[-518400:-516960])
df359['row_num']=np.arange(len(df359))
df359.set_index('row_num',inplace=True)
df359 = df359.rename(columns={5:'day_359'})
print(df359)

df358 = pd.DataFrame(data=df_close_col.iloc[-516960:-515520])
df358['row_num']=np.arange(len(df358))
df358.set_index('row_num',inplace=True)
df358 = df358.rename(columns={5:'day_358'})
print(df358)

df357 = pd.DataFrame(data=df_close_col.iloc[-515520:-514080])
df357['row_num']=np.arange(len(df357))
df357.set_index('row_num',inplace=True)
df357 = df357.rename(columns={5:'day_357'})
print(df357)

df356 = pd.DataFrame(data=df_close_col.iloc[-514080:-512640])
df356['row_num']=np.arange(len(df356))
df356.set_index('row_num',inplace=True)
df356 = df356.rename(columns={5:'day_356'})
print(df356)

df355 = pd.DataFrame(data=df_close_col.iloc[-512640:-511200])
df355['row_num']=np.arange(len(df355))
df355.set_index('row_num',inplace=True)
df355 = df355.rename(columns={5:'day_355'})
print(df355)

df354 = pd.DataFrame(data=df_close_col.iloc[-511200:-509760])
df354['row_num']=np.arange(len(df354))
df354.set_index('row_num',inplace=True)
df354 = df354.rename(columns={5:'day_354'})
print(df354)

df353 = pd.DataFrame(data=df_close_col.iloc[-509760:-508320])
df353['row_num']=np.arange(len(df353))
df353.set_index('row_num',inplace=True)
df353 = df353.rename(columns={5:'day_353'})
print(df353)

df352 = pd.DataFrame(data=df_close_col.iloc[-508320:-506880])
df352['row_num']=np.arange(len(df352))
df352.set_index('row_num',inplace=True)
df352 = df352.rename(columns={5:'day_352'})
print(df352)

df351 = pd.DataFrame(data=df_close_col.iloc[-506880:-505440])
df351['row_num']=np.arange(len(df351))
df351.set_index('row_num',inplace=True)
df351 = df351.rename(columns={5:'day_351'})
print(df351)

df350 = pd.DataFrame(data=df_close_col.iloc[-505440:-504000])
df350['row_num']=np.arange(len(df350))
df350.set_index('row_num',inplace=True)
df350 = df350.rename(columns={5:'day_350'})
print(df350)

df349 = pd.DataFrame(data=df_close_col.iloc[-504000:-502560])
df349['row_num']=np.arange(len(df349))
df349.set_index('row_num',inplace=True)
df349 = df349.rename(columns={5:'day_349'})
print(df349)

df348 = pd.DataFrame(data=df_close_col.iloc[-502560:-501120])
df348['row_num']=np.arange(len(df348))
df348.set_index('row_num',inplace=True)
df348 = df348.rename(columns={5:'day_348'})
print(df348)

df347 = pd.DataFrame(data=df_close_col.iloc[-501120:-499680])
df347['row_num']=np.arange(len(df347))
df347.set_index('row_num',inplace=True)
df347 = df347.rename(columns={5:'day_347'})
print(df347)

df346 = pd.DataFrame(data=df_close_col.iloc[-499680:-498240])
df346['row_num']=np.arange(len(df346))
df346.set_index('row_num',inplace=True)
df346 = df346.rename(columns={5:'day_346'})
print(df346)

df345 = pd.DataFrame(data=df_close_col.iloc[-498240:-496800])
df345['row_num']=np.arange(len(df345))
df345.set_index('row_num',inplace=True)
df345 = df345.rename(columns={5:'day_345'})
print(df345)

df344 = pd.DataFrame(data=df_close_col.iloc[-496800:-495360])
df344['row_num']=np.arange(len(df344))
df344.set_index('row_num',inplace=True)
df344 = df344.rename(columns={5:'day_344'})
print(df344)

df343 = pd.DataFrame(data=df_close_col.iloc[-495360:-493920])
df343['row_num']=np.arange(len(df343))
df343.set_index('row_num',inplace=True)
df343 = df343.rename(columns={5:'day_343'})
print(df343)

df342 = pd.DataFrame(data=df_close_col.iloc[-493920:-492480])
df342['row_num']=np.arange(len(df342))
df342.set_index('row_num',inplace=True)
df342 = df342.rename(columns={5:'day_342'})
print(df342)

df341 = pd.DataFrame(data=df_close_col.iloc[-492480:-491040])
df341['row_num']=np.arange(len(df341))
df341.set_index('row_num',inplace=True)
df341 = df341.rename(columns={5:'day_341'})
print(df341)

df340 = pd.DataFrame(data=df_close_col.iloc[-491040:-489600])
df340['row_num']=np.arange(len(df340))
df340.set_index('row_num',inplace=True)
df340 = df340.rename(columns={5:'day_340'})
print(df340)

df339 = pd.DataFrame(data=df_close_col.iloc[-489600:-488160])
df339['row_num']=np.arange(len(df339))
df339.set_index('row_num',inplace=True)
df339 = df339.rename(columns={5:'day_339'})
print(df339)

df338 = pd.DataFrame(data=df_close_col.iloc[-488160:-486720])
df338['row_num']=np.arange(len(df338))
df338.set_index('row_num',inplace=True)
df338 = df338.rename(columns={5:'day_338'})
print(df338)

df337 = pd.DataFrame(data=df_close_col.iloc[-486720:-485280])
df337['row_num']=np.arange(len(df337))
df337.set_index('row_num',inplace=True)
df337 = df337.rename(columns={5:'day_337'})
print(df337)

df336 = pd.DataFrame(data=df_close_col.iloc[-485280:-483840])
df336['row_num']=np.arange(len(df336))
df336.set_index('row_num',inplace=True)
df336 = df336.rename(columns={5:'day_336'})
print(df336)

df335 = pd.DataFrame(data=df_close_col.iloc[-483840:-482400])
df335['row_num']=np.arange(len(df335))
df335.set_index('row_num',inplace=True)
df335 = df335.rename(columns={5:'day_335'})
print(df335)

df334 = pd.DataFrame(data=df_close_col.iloc[-482400:-480960])
df334['row_num']=np.arange(len(df334))
df334.set_index('row_num',inplace=True)
df334 = df334.rename(columns={5:'day_334'})
print(df334)

df333 = pd.DataFrame(data=df_close_col.iloc[-480960:-479520])
df333['row_num']=np.arange(len(df333))
df333.set_index('row_num',inplace=True)
df333 = df333.rename(columns={5:'day_333'})
print(df333)

df332 = pd.DataFrame(data=df_close_col.iloc[-479520:-478080])
df332['row_num']=np.arange(len(df332))
df332.set_index('row_num',inplace=True)
df332 = df332.rename(columns={5:'day_332'})
print(df332)

df331 = pd.DataFrame(data=df_close_col.iloc[-478080:-476640])
df331['row_num']=np.arange(len(df331))
df331.set_index('row_num',inplace=True)
df331 = df331.rename(columns={5:'day_331'})
print(df331)

df330 = pd.DataFrame(data=df_close_col.iloc[-476640:-475200])
df330['row_num']=np.arange(len(df330))
df330.set_index('row_num',inplace=True)
df330 = df330.rename(columns={5:'day_330'})
print(df330)

df329 = pd.DataFrame(data=df_close_col.iloc[-475200:-473760])
df329['row_num']=np.arange(len(df329))
df329.set_index('row_num',inplace=True)
df329 = df329.rename(columns={5:'day_289'})
print(df329)

df328 = pd.DataFrame(data=df_close_col.iloc[-473760:-472320])
df328['row_num']=np.arange(len(df328))
df328.set_index('row_num',inplace=True)
df328 = df328.rename(columns={5:'day_328'})
print(df328)

df327 = pd.DataFrame(data=df_close_col.iloc[-472320:-470880])
df327['row_num']=np.arange(len(df327))
df327.set_index('row_num',inplace=True)
df327 = df327.rename(columns={5:'day_327'})
print(df327)

df326 = pd.DataFrame(data=df_close_col.iloc[-470880:-469440])
df326['row_num']=np.arange(len(df326))
df326.set_index('row_num',inplace=True)
df326 = df326.rename(columns={5:'day_326'})
print(df326)

df325 = pd.DataFrame(data=df_close_col.iloc[-469440:-468000])
df325['row_num']=np.arange(len(df325))
df325.set_index('row_num',inplace=True)
df325 = df325.rename(columns={5:'day_325'})
print(df325)

df324 = pd.DataFrame(data=df_close_col.iloc[-468000:-466560])
df324['row_num']=np.arange(len(df324))
df324.set_index('row_num',inplace=True)
df324 = df324.rename(columns={5:'day_324'})
print(df324)

df323 = pd.DataFrame(data=df_close_col.iloc[-466560:-465120])
df323['row_num']=np.arange(len(df323))
df323.set_index('row_num',inplace=True)
df323 = df323.rename(columns={5:'day_323'})
print(df323)

df322 = pd.DataFrame(data=df_close_col.iloc[-465120:-463680])
df322['row_num']=np.arange(len(df322))
df322.set_index('row_num',inplace=True)
df322 = df322.rename(columns={5:'day_322'})
print(df322)

df321 = pd.DataFrame(data=df_close_col.iloc[-463680:-462240])
df321['row_num']=np.arange(len(df321))
df321.set_index('row_num',inplace=True)
df321 = df321.rename(columns={5:'day_321'})
print(df321)

         day_360
row_num
0        1.15513
1        1.15523
2        1.15528
3        1.15521
4        1.15522
...          ...
1435     1.15940
1436     1.15938
1437     1.15946
1438     1.15949
1439     1.15952

[1440 rows x 1 columns]
         day_359
row_num
0        1.15958
1        1.15950
2        1.15950
3        1.15947
4        1.15948
...          ...
1435     1.16060
1436     1.16071
1437     1.16072
1438     1.16076
1439     1.16088

[1440 rows x 1 columns]
         day_358
row_num
0        1.16091
1        1.16090
2        1.16093
3        1.16094
4        1.16095
...          ...
1435     1.15908
1436     1.15912
1437     1.15914
1438     1.15898
1439     1.15892

[1440 rows x 1 columns]
         day_357
row_num
0        1.15894
1        1.15888
2        1.15886
3        1.15883
4        1.15883
...          ...
1435     1.16405
1436     1.16412
1437     1.16416
1438     1.16422
1439     1.16417

[1440 rows x 1 columns]
         day_356
row_num
0        1.16416
1        1.16411
2        1.16395
3        1.16395
4        1.16398
...          ...
1435     1.16385
1436     1.16379
1437     1.16379
1438     1.16385
1439     1.16390

[1440 rows x 1 columns]
         day_355
row_num
0        1.16388
1        1.16395
2        1.16399
3        1.16396
4        1.16399
...          ...
1435     1.16641
1436     1.16656
1437     1.16661
1438     1.16672
1439     1.16667

[1440 rows x 1 columns]
         day_354
row_num
0        1.16665
1        1.16657
2        1.16651
3        1.16655
4        1.16661
...          ...
1435     1.16277
1436     1.16273
1437     1.16267
1438     1.16270
1439     1.16271

[1440 rows x 1 columns]
         day_353
row_num
0        1.16278
1        1.16279
2        1.16275
3        1.16279
4        1.16275
...          ...
1435     1.16536
1436     1.16546
1437     1.16562
1438     1.16572
1439     1.16573

[1440 rows x 1 columns]
         day_352
row_num
0        1.16577
1        1.16590
2        1.16584
3        1.16595
4        1.16607
...          ...
1435     1.15990
1436     1.15989
1437     1.15990
1438     1.15985
1439     1.15984

[1440 rows x 1 columns]
         day_351
row_num
0        1.15984
1        1.15979
2        1.15975
3        1.15974
4        1.15972
...          ...
1435     1.16011
1436     1.16010
1437     1.16011
1438     1.16011
1439     1.16020

[1440 rows x 1 columns]
         day_350
row_num
0        1.16020
1        1.16025
2        1.16029
3        1.16025
4        1.16025
...          ...
1435     1.16069
1436     1.16066
1437     1.16060
1438     1.16061
1439     1.16066

[1440 rows x 1 columns]
         day_349
row_num
0        1.16059
1        1.16067
2        1.16066
3        1.16061
4        1.16056
...          ...
1435     1.16751
1436     1.16747
1437     1.16747
1438     1.16745
1439     1.16741

[1440 rows x 1 columns]
         day_348
row_num
0        1.16745
1        1.16750
2        1.16752
3        1.16751
4        1.16758
...          ...
1435     1.15490
1436     1.15489
1437     1.15488
1438     1.15484
1439     1.15478

[1440 rows x 1 columns]
         day_347
row_num
0        1.15479
1        1.15477
2        1.15477
3        1.15477
4        1.15481
...          ...
1435     1.16001
1436     1.16001
1437     1.16006
1438     1.16006
1439     1.16006

[1440 rows x 1 columns]
         day_346
row_num
0        1.16011
1        1.16008
2        1.16011
3        1.16013
4        1.16015
...          ...
1435     1.15816
1436     1.15809
1437     1.15809
1438     1.15802
1439     1.15809

[1440 rows x 1 columns]
         day_345
row_num
0        1.15811
1        1.15808
2        1.15810
3        1.15821
4        1.15819
...          ...
1435     1.15943
1436     1.15946
1437     1.15948
1438     1.15950
1439     1.15947

[1440 rows x 1 columns]
         day_344
row_num
0        1.15945
1        1.15943
2        1.15946
3        1.15943
4        1.15942
...          ...
1435     1.15504
1436     1.15500
1437     1.15502
1438     1.15501
1439     1.15504

[1440 rows x 1 columns]
         day_343
row_num
0        1.15502
1        1.15505
2        1.15504
3        1.15503
4        1.15505
...          ...
1435     1.15609
1436     1.15612
1437     1.15612
1438     1.15615
1439     1.15620

[1440 rows x 1 columns]
         day_342
row_num
0        1.15619
1        1.15610
2        1.15604
3        1.15605
4        1.15604
...          ...
1435     1.16012
1436     1.16009
1437     1.16008
1438     1.16006
1439     1.16006

[1440 rows x 1 columns]
         day_341
row_num
0        1.16009
1        1.16011
2        1.16019
3        1.16016
4        1.16036
...          ...
1435     1.15811
1436     1.15812
1437     1.15814
1438     1.15811
1439     1.15815

[1440 rows x 1 columns]
         day_340
row_num
0        1.15810
1        1.15811
2        1.15808
3        1.15799
4        1.15799
...          ...
1435     1.14790
1436     1.14789
1437     1.14786
1438     1.14781
1439     1.14783

[1440 rows x 1 columns]
         day_339
row_num
0        1.14783
1        1.14778
2        1.14777
3        1.14770
4        1.14770
...          ...
1435     1.14398
1436     1.14398
1437     1.14400
1438     1.14403
1439     1.14406

[1440 rows x 1 columns]
         day_338
row_num
0        1.14419
1        1.14423
2        1.14421
3        1.14429
4        1.14420
...          ...
1435     1.14562
1436     1.14561
1437     1.14562
1438     1.14560
1439     1.14561

[1440 rows x 1 columns]
         day_337
row_num
0        1.14561
1        1.14552
2        1.14554
3        1.14569
4        1.14570
...          ...
1435     1.13771
1436     1.13777
1437     1.13774
1438     1.13773
1439     1.13773

[1440 rows x 1 columns]
         day_336
row_num
0        1.13772
1        1.13770
2        1.13768
3        1.13764
4        1.13769
...          ...
1435     1.12962
1436     1.12975
1437     1.12978
1438     1.12973
1439     1.12973

[1440 rows x 1 columns]
         day_335
row_num
0        1.12973
1        1.12979
2        1.12983
3        1.12987
4        1.12976
...          ...
1435     1.13189
1436     1.13190
1437     1.13191
1438     1.13190
1439     1.13186

[1440 rows x 1 columns]
         day_334
row_num
0        1.13180
1        1.13181
2        1.13180
3        1.13180
4        1.13186
...          ...
1435     1.13569
1436     1.13570
1437     1.13571
1438     1.13574
1439     1.13573

[1440 rows x 1 columns]
         day_333
row_num
0        1.13572
1        1.13580
2        1.13578
3        1.13579
4        1.13579
...          ...
1435     1.12740
1436     1.12744
1437     1.12750
1438     1.12750
1439     1.12757

[1440 rows x 1 columns]
         day_332
row_num
0        1.12741
1        1.12739
2        1.12740
3        1.12750
4        1.12744
...          ...
1435     1.12341
1436     1.12337
1437     1.12338
1438     1.12342
1439     1.12340

[1440 rows x 1 columns]
         day_331
row_num
0        1.12335
1        1.12332
2        1.12324
3        1.12324
4        1.12328
...          ...
1435     1.12446
1436     1.12441
1437     1.12439
1438     1.12439
1439     1.12439

[1440 rows x 1 columns]
         day_330
row_num
0        1.12441
1        1.12438
2        1.12439
3        1.12443
4        1.12420
...          ...
1435     1.12107
1436     1.12110
1437     1.12109
1438     1.12110
1439     1.12115

[1440 rows x 1 columns]
         day_289
row_num
0        1.12118
1        1.12120
2        1.12119
3        1.12115
4        1.12116
...          ...
1435     1.12277
1436     1.12272
1437     1.12257
1438     1.12258
1439     1.12260

[1440 rows x 1 columns]
         day_328
row_num
0        1.12265
1        1.12266
2        1.12262
3        1.12255
4        1.12252
...          ...
1435     1.12793
1436     1.12770
1437     1.12779
1438     1.12792
1439     1.12804

[1440 rows x 1 columns]
         day_327
row_num
0        1.12810
1        1.12831
2        1.12836
3        1.12825
4        1.12832
...          ...
1435     1.13122
1436     1.13118
1437     1.13112
1438     1.13127
1439     1.13114

[1440 rows x 1 columns]
         day_326
row_num
0        1.13131
1        1.13129
2        1.13137
3        1.13128
4        1.13122
...          ...
1435     1.13361
1436     1.13351
1437     1.13365
1438     1.13362
1439     1.13348

[1440 rows x 1 columns]
         day_325
row_num
0        1.13342
1        1.13348
2        1.13355
3        1.13362
4        1.13352
...          ...
1435     1.13180
1436     1.13190
1437     1.13182
1438     1.13188
1439     1.13191

[1440 rows x 1 columns]
         day_324
row_num
0        1.13202
1        1.13205
2        1.13208
3        1.13207
4        1.13218
...          ...
1435     1.13009
1436     1.13007
1437     1.12995
1438     1.12987
1439     1.12984

[1440 rows x 1 columns]
         day_323
row_num
0        1.12986
1        1.12982
2        1.12989
3        1.12993
4        1.12989
...          ...
1435     1.12829
1436     1.12837
1437     1.12845
1438     1.12848
1439     1.12861

[1440 rows x 1 columns]
         day_322
row_num
0        1.12853
1        1.12855
2        1.12855
3        1.12851
4        1.12858
...          ...
1435     1.12897
1436     1.12901
1437     1.12904
1438     1.12907
1439     1.12905

[1440 rows x 1 columns]
         day_321
row_num
0        1.12905
1        1.12902
2        1.12891
3        1.12891
4        1.12897
...          ...
1435     1.12932
1436     1.12929
1437     1.12933
1438     1.12934
1439     1.12935

[1440 rows x 1 columns]

In [28]:
###df281 to df320###
df320 = pd.DataFrame(data=df_close_col.iloc[-462240:-460800])
df320['row_num']=np.arange(len(df320))
df320.set_index('row_num',inplace=True)
df320 = df320.rename(columns={5:'day_320'})
print(df320)

df319 = pd.DataFrame(data=df_close_col.iloc[-460800:-459360])
df319['row_num']=np.arange(len(df319))
df319.set_index('row_num',inplace=True)
df319 = df319.rename(columns={5:'day_319'})
print(df319)

df318 = pd.DataFrame(data=df_close_col.iloc[-459360:-457920])
df318['row_num']=np.arange(len(df318))
df318.set_index('row_num',inplace=True)
df318 = df318.rename(columns={5:'day_318'})
print(df318)

df317 = pd.DataFrame(data=df_close_col.iloc[-457920:-456480])
df317['row_num']=np.arange(len(df317))
df317.set_index('row_num',inplace=True)
df317 = df317.rename(columns={5:'day_317'})
print(df317)

df316 = pd.DataFrame(data=df_close_col.iloc[-456480:-455040])
df316['row_num']=np.arange(len(df316))
df316.set_index('row_num',inplace=True)
df316 = df316.rename(columns={5:'day_316'})
print(df316)

df315 = pd.DataFrame(data=df_close_col.iloc[-455040:-453600])
df315['row_num']=np.arange(len(df315))
df315.set_index('row_num',inplace=True)
df315 = df315.rename(columns={5:'day_315'})
print(df315)

df314 = pd.DataFrame(data=df_close_col.iloc[-453600:-452160])
df314['row_num']=np.arange(len(df314))
df314.set_index('row_num',inplace=True)
df314 = df314.rename(columns={5:'day_314'})
print(df314)

df313 = pd.DataFrame(data=df_close_col.iloc[-452160:-450720])
df313['row_num']=np.arange(len(df313))
df313.set_index('row_num',inplace=True)
df313 = df313.rename(columns={5:'day_313'})
print(df313)

df312 = pd.DataFrame(data=df_close_col.iloc[-450720:-449280])
df312['row_num']=np.arange(len(df312))
df312.set_index('row_num',inplace=True)
df312 = df312.rename(columns={5:'day_312'})
print(df312)

df311 = pd.DataFrame(data=df_close_col.iloc[-449280:-447840])
df311['row_num']=np.arange(len(df311))
df311.set_index('row_num',inplace=True)
df311 = df311.rename(columns={5:'day_311'})
print(df311)

df310 = pd.DataFrame(data=df_close_col.iloc[-447840:-446400])
df310['row_num']=np.arange(len(df310))
df310.set_index('row_num',inplace=True)
df310 = df310.rename(columns={5:'day_310'})
print(df310)

df309 = pd.DataFrame(data=df_close_col.iloc[-446400:-444960])
df309['row_num']=np.arange(len(df309))
df309.set_index('row_num',inplace=True)
df309 = df309.rename(columns={5:'day_309'})
print(df309)

df308 = pd.DataFrame(data=df_close_col.iloc[-444960:-443520])
df308['row_num']=np.arange(len(df308))
df308.set_index('row_num',inplace=True)
df308 = df308.rename(columns={5:'day_308'})
print(df308)

df307 = pd.DataFrame(data=df_close_col.iloc[-443520:-442080])
df307['row_num']=np.arange(len(df307))
df307.set_index('row_num',inplace=True)
df307 = df307.rename(columns={5:'day_307'})
print(df307)

df306 = pd.DataFrame(data=df_close_col.iloc[-442080:-440640])
df306['row_num']=np.arange(len(df306))
df306.set_index('row_num',inplace=True)
df306 = df306.rename(columns={5:'day_306'})
print(df306)

df305 = pd.DataFrame(data=df_close_col.iloc[-440640:-439200])
df305['row_num']=np.arange(len(df305))
df305.set_index('row_num',inplace=True)
df305 = df305.rename(columns={5:'day_305'})
print(df305)

df304 = pd.DataFrame(data=df_close_col.iloc[-439200:-437760])
df304['row_num']=np.arange(len(df304))
df304.set_index('row_num',inplace=True)
df304 = df304.rename(columns={5:'day_304'})
print(df304)

df303 = pd.DataFrame(data=df_close_col.iloc[-437760:-436320])
df303['row_num']=np.arange(len(df303))
df303.set_index('row_num',inplace=True)
df303 = df303.rename(columns={5:'day_303'})
print(df303)

df302 = pd.DataFrame(data=df_close_col.iloc[-436320:-434880])
df302['row_num']=np.arange(len(df302))
df302.set_index('row_num',inplace=True)
df302 = df302.rename(columns={5:'day_302'})
print(df302)

df301 = pd.DataFrame(data=df_close_col.iloc[-434880:-433440])
df301['row_num']=np.arange(len(df301))
df301.set_index('row_num',inplace=True)
df301 = df301.rename(columns={5:'day_301'})
print(df301)

df300 = pd.DataFrame(data=df_close_col.iloc[-433440:-432000])
df300['row_num']=np.arange(len(df300))
df300.set_index('row_num',inplace=True)
df300 = df300.rename(columns={5:'day_300'})
print(df300)

df299 = pd.DataFrame(data=df_close_col.iloc[-432000:-430560])
df299['row_num']=np.arange(len(df299))
df299.set_index('row_num',inplace=True)
df299 = df299.rename(columns={5:'day_299'})
print(df299)

df298 = pd.DataFrame(data=df_close_col.iloc[-430560:-429120])
df298['row_num']=np.arange(len(df298))
df298.set_index('row_num',inplace=True)
df298 = df298.rename(columns={5:'day_298'})
print(df298)

df297 = pd.DataFrame(data=df_close_col.iloc[-429120:-427680])
df297['row_num']=np.arange(len(df297))
df297.set_index('row_num',inplace=True)
df297 = df297.rename(columns={5:'day_297'})
print(df297)

df296 = pd.DataFrame(data=df_close_col.iloc[-427680:-426240])
df296['row_num']=np.arange(len(df296))
df296.set_index('row_num',inplace=True)
df296 = df296.rename(columns={5:'day_296'})
print(df296)

df295 = pd.DataFrame(data=df_close_col.iloc[-426240:-424800])
df295['row_num']=np.arange(len(df295))
df295.set_index('row_num',inplace=True)
df295 = df295.rename(columns={5:'day_295'})
print(df295)

df294 = pd.DataFrame(data=df_close_col.iloc[-424800:-423360])
df294['row_num']=np.arange(len(df294))
df294.set_index('row_num',inplace=True)
df294 = df294.rename(columns={5:'day_294'})
print(df294)

df293 = pd.DataFrame(data=df_close_col.iloc[-423360:-421920])
df293['row_num']=np.arange(len(df293))
df293.set_index('row_num',inplace=True)
df293 = df293.rename(columns={5:'day_293'})
print(df293)

df292 = pd.DataFrame(data=df_close_col.iloc[-421920:-420480])
df292['row_num']=np.arange(len(df292))
df292.set_index('row_num',inplace=True)
df292 = df292.rename(columns={5:'day_292'})
print(df292)

df291 = pd.DataFrame(data=df_close_col.iloc[-420480:-419040])
df291['row_num']=np.arange(len(df291))
df291.set_index('row_num',inplace=True)
df291 = df291.rename(columns={5:'day_291'})
print(df291)

df290 = pd.DataFrame(data=df_close_col.iloc[-419040:-417600])
df290['row_num']=np.arange(len(df290))
df290.set_index('row_num',inplace=True)
df290 = df290.rename(columns={5:'day_290'})
print(df290)

df289 = pd.DataFrame(data=df_close_col.iloc[-417600:-416160])
df289['row_num']=np.arange(len(df289))
df289.set_index('row_num',inplace=True)
df289 = df289.rename(columns={5:'day_289'})
print(df289)

df288 = pd.DataFrame(data=df_close_col.iloc[-416160:-414720])
df288['row_num']=np.arange(len(df288))
df288.set_index('row_num',inplace=True)
df288 = df288.rename(columns={5:'day_288'})
print(df288)

df287 = pd.DataFrame(data=df_close_col.iloc[-414720:-413280])
df287['row_num']=np.arange(len(df287))
df287.set_index('row_num',inplace=True)
df287 = df287.rename(columns={5:'day_287'})
print(df287)

df286 = pd.DataFrame(data=df_close_col.iloc[-413280:-411840])
df286['row_num']=np.arange(len(df286))
df286.set_index('row_num',inplace=True)
df286 = df286.rename(columns={5:'day_286'})
print(df286)

df285 = pd.DataFrame(data=df_close_col.iloc[-411840:-410400])
df285['row_num']=np.arange(len(df285))
df285.set_index('row_num',inplace=True)
df285 = df285.rename(columns={5:'day_285'})
print(df285)

df284 = pd.DataFrame(data=df_close_col.iloc[-410400:-408960])
df284['row_num']=np.arange(len(df284))
df284.set_index('row_num',inplace=True)
df284 = df284.rename(columns={5:'day_284'})
print(df284)

df283 = pd.DataFrame(data=df_close_col.iloc[-408960:-407520])
df283['row_num']=np.arange(len(df283))
df283.set_index('row_num',inplace=True)
df283 = df283.rename(columns={5:'day_283'})
print(df283)

df282 = pd.DataFrame(data=df_close_col.iloc[-407520:-406080])
df282['row_num']=np.arange(len(df282))
df282.set_index('row_num',inplace=True)
df282 = df282.rename(columns={5:'day_282'})
print(df282)

df281 = pd.DataFrame(data=df_close_col.iloc[-406080:-404640])
df281['row_num']=np.arange(len(df281))
df281.set_index('row_num',inplace=True)
df281 = df281.rename(columns={5:'day_281'})
print(df281)

         day_320
row_num
0        1.12939
1        1.12949
2        1.12944
3        1.12944
4        1.12934
...          ...
1435     1.13306
1436     1.13307
1437     1.13306
1438     1.13304
1439     1.13295

[1440 rows x 1 columns]
         day_319
row_num
0        1.13294
1        1.13291
2        1.13284
3        1.13285
4        1.13286
...          ...
1435     1.12991
1436     1.12994
1437     1.12994
1438     1.12982
1439     1.12969

[1440 rows x 1 columns]
         day_318
row_num
0        1.12971
1        1.12976
2        1.12970
3        1.12982
4        1.12982
...          ...
1435     1.12956
1436     1.12949
1437     1.12954
1438     1.12951
1439     1.12950

[1440 rows x 1 columns]
         day_317
row_num
0        1.12941
1        1.12923
2        1.12926
3        1.12927
4        1.12917
...          ...
1435     1.12830
1436     1.12820
1437     1.12815
1438     1.12827
1439     1.12824

[1440 rows x 1 columns]
         day_316
row_num
0        1.12823
1        1.12819
2        1.12822
3        1.12824
4        1.12821
...          ...
1435     1.12720
1436     1.12715
1437     1.12714
1438     1.12708
1439     1.12709

[1440 rows x 1 columns]
         day_315
row_num
0        1.12709
1        1.12708
2        1.12704
3        1.12705
4        1.12703
...          ...
1435     1.12860
1436     1.12859
1437     1.12861
1438     1.12861
1439     1.12865

[1440 rows x 1 columns]
         day_314
row_num
0        1.12872
1        1.12873
2        1.12872
3        1.12870
4        1.12866
...          ...
1435     1.13414
1436     1.13405
1437     1.13402
1438     1.13403
1439     1.13402

[1440 rows x 1 columns]
         day_313
row_num
0        1.13409
1        1.13402
2        1.13400
3        1.13385
4        1.13381
...          ...
1435     1.12536
1436     1.12521
1437     1.12486
1438     1.12500
1439     1.12524

[1440 rows x 1 columns]
         day_312
row_num
0        1.12521
1        1.12482
2        1.12504
3        1.12511
4        1.12525
...          ...
1435     1.12794
1436     1.12791
1437     1.12787
1438     1.12781
1439     1.12794

[1440 rows x 1 columns]
         day_311
row_num
0        1.12795
1        1.12797
2        1.12795
3        1.12788
4        1.12785
...          ...
1435     1.12736
1436     1.12737
1437     1.12740
1438     1.12738
1439     1.12736

[1440 rows x 1 columns]
         day_310
row_num
0        1.12738
1        1.12736
2        1.12737
3        1.12739
4        1.12732
...          ...
1435     1.13352
1436     1.13356
1437     1.13350
1438     1.13351
1439     1.13348

[1440 rows x 1 columns]
         day_309
row_num
0        1.13345
1        1.13342
2        1.13344
3        1.13354
4        1.13356
...          ...
1435     1.13278
1436     1.13283
1437     1.13288
1438     1.13289
1439     1.13291

[1440 rows x 1 columns]
         day_308
row_num
0        1.13289
1        1.13290
2        1.13292
3        1.13289
4        1.13290
...          ...
1435     1.13093
1436     1.13088
1437     1.13100
1438     1.13093
1439     1.13096

[1440 rows x 1 columns]
         day_307
row_num
0        1.13103
1        1.13089
2        1.13095
3        1.13088
4        1.13078
...          ...
1435     1.13263
1436     1.13256
1437     1.13264
1438     1.13261
1439     1.13248

[1440 rows x 1 columns]
         day_306
row_num
0        1.13241
1        1.13249
2        1.13254
3        1.13250
4        1.13250
...          ...
1435     1.12778
1436     1.12780
1437     1.12788
1438     1.12779
1439     1.12781

[1440 rows x 1 columns]
         day_305
row_num
0        1.12795
1        1.12795
2        1.12785
3        1.12793
4        1.12792
...          ...
1435     1.13011
1436     1.13016
1437     1.13020
1438     1.13023
1439     1.13019

[1440 rows x 1 columns]
         day_304
row_num
0        1.13024
1        1.13029
2        1.13035
3        1.13029
4        1.13030
...          ...
1435     1.13317
1436     1.13303
1437     1.13310
1438     1.13328
1439     1.13344

[1440 rows x 1 columns]
         day_303
row_num
0        1.13317
1        1.13319
2        1.13307
3        1.13307
4        1.13297
...          ...
1435     1.13555
1436     1.13538
1437     1.13551
1438     1.13529
1439     1.13518

[1440 rows x 1 columns]
         day_302
row_num
0        1.13530
1        1.13540
2        1.13530
3        1.13518
4        1.13534
...          ...
1435     1.13008
1436     1.12988
1437     1.13001
1438     1.13000
1439     1.13032

[1440 rows x 1 columns]
         day_301
row_num
0        1.13027
1        1.13035
2        1.13037
3        1.13038
4        1.13047
...          ...
1435     1.13116
1436     1.13115
1437     1.13095
1438     1.13085
1439     1.13085

[1440 rows x 1 columns]
         day_300
row_num
0        1.13094
1        1.13093
2        1.13100
3        1.13111
4        1.13104
...          ...
1435     1.13178
1436     1.13162
1437     1.13163
1438     1.13147
1439     1.13142

[1440 rows x 1 columns]
         day_299
row_num
0        1.13140
1        1.13146
2        1.13158
3        1.13145
4        1.13151
...          ...
1435     1.13095
1436     1.13101
1437     1.13091
1438     1.13101
1439     1.13100

[1440 rows x 1 columns]
         day_298
row_num
0        1.13107
1        1.13080
2        1.13063
3        1.13065
4        1.13061
...          ...
1435     1.13281
1436     1.13279
1437     1.13285
1438     1.13274
1439     1.13270

[1440 rows x 1 columns]
         day_297
row_num
0        1.13263
1        1.13264
2        1.13282
3        1.13284
4        1.13282
...          ...
1435     1.13328
1436     1.13317
1437     1.13309
1438     1.13299
1439     1.13305

[1440 rows x 1 columns]
         day_296
row_num
0        1.13304
1        1.13306
2        1.13323
3        1.13325
4        1.13317
...          ...
1435     1.13591
1436     1.13590
1437     1.13572
1438     1.13576
1439     1.13569

[1440 rows x 1 columns]
         day_295
row_num
0        1.13564
1        1.13577
2        1.13577
3        1.13582
4        1.13598
...          ...
1435     1.14614
1436     1.14613
1437     1.14599
1438     1.14595
1439     1.14605

[1440 rows x 1 columns]
         day_294
row_num
0        1.14612
1        1.14608
2        1.14607
3        1.14598
4        1.14618
...          ...
1435     1.14575
1436     1.14574
1437     1.14576
1438     1.14596
1439     1.14585

[1440 rows x 1 columns]
         day_293
row_num
0        1.14583
1        1.14568
2        1.14579
3        1.14584
4        1.14574
...          ...
1435     1.14198
1436     1.14196
1437     1.14191
1438     1.14185
1439     1.14175

[1440 rows x 1 columns]
         day_292
row_num
0        1.14165
1        1.14166
2        1.14165
3        1.14174
4        1.14202
...          ...
1435     1.13909
1436     1.13909
1437     1.13924
1438     1.13926
1439     1.13926

[1440 rows x 1 columns]
         day_291
row_num
0        1.13915
1        1.13910
2        1.13907
3        1.13902
4        1.13897
...          ...
1435     1.13479
1436     1.13473
1437     1.13479
1438     1.13477
1439     1.13479

[1440 rows x 1 columns]
         day_290
row_num
0        1.13488
1        1.13485
2        1.13471
3        1.13471
4        1.13472
...          ...
1435     1.13454
1436     1.13451
1437     1.13459
1438     1.13466
1439     1.13463

[1440 rows x 1 columns]
         day_289
row_num
0        1.13476
1        1.13473
2        1.13467
3        1.13459
4        1.13451
...          ...
1435     1.13366
1436     1.13388
1437     1.13388
1438     1.13386
1439     1.13367

[1440 rows x 1 columns]
         day_288
row_num
0        1.13368
1        1.13379
2        1.13374
3        1.13366
4        1.13363
...          ...
1435     1.13170
1436     1.13179
1437     1.13169
1438     1.13178
1439     1.13180

[1440 rows x 1 columns]
         day_287
row_num
0        1.13197
1        1.13212
2        1.13215
3        1.13202
4        1.13194
...          ...
1435     1.12827
1436     1.12822
1437     1.12817
1438     1.12819
1439     1.12822

[1440 rows x 1 columns]
         day_286
row_num
0        1.12826
1        1.12812
2        1.12822
3        1.12821
4        1.12823
...          ...
1435     1.12785
1436     1.12790
1437     1.12805
1438     1.12801
1439     1.12800

[1440 rows x 1 columns]
         day_285
row_num
0        1.12809
1        1.12796
2        1.12797
3        1.12798
4        1.12809
...          ...
1435     1.11860
1436     1.11850
1437     1.11850
1438     1.11870
1439     1.11895

[1440 rows x 1 columns]
         day_284
row_num
0        1.11909
1        1.11908
2        1.11897
3        1.11882
4        1.11883
...          ...
1435     1.11347
1436     1.11321
1437     1.11319
1438     1.11307
1439     1.11300

[1440 rows x 1 columns]
         day_283
row_num
0        1.11317
1        1.11299
2        1.11319
3        1.11299
4        1.11286
...          ...
1435     1.11613
1436     1.11619
1437     1.11634
1438     1.11627
1439     1.11619

[1440 rows x 1 columns]
         day_282
row_num
0        1.11608
1        1.11608
2        1.11613
3        1.11615
4        1.11591
...          ...
1435     1.12649
1436     1.12640
1437     1.12656
1438     1.12673
1439     1.12677

[1440 rows x 1 columns]
         day_281
row_num
0        1.12674
1        1.12681
2        1.12672
3        1.12677
4        1.12687
...          ...
1435     1.13097
1436     1.13094
1437     1.13107
1438     1.13107
1439     1.13112

[1440 rows x 1 columns]

In [29]:
###df241 to df280###

df280 = pd.DataFrame(data=df_close_col.iloc[-404640:-403200])
df280['row_num']=np.arange(len(df280))
df280.set_index('row_num',inplace=True)
df280 = df280.rename(columns={5:'day_280'})
print(df280)

df279 = pd.DataFrame(data=df_close_col.iloc[-403200:-401760])
df279['row_num']=np.arange(len(df279))
df279.set_index('row_num',inplace=True)
df279 = df279.rename(columns={5:'day_279'})
print(df279)

df278 = pd.DataFrame(data=df_close_col.iloc[-401760:-400320])
df278['row_num']=np.arange(len(df278))
df278.set_index('row_num',inplace=True)
df278 = df278.rename(columns={5:'day_278'})
print(df278)

df277 = pd.DataFrame(data=df_close_col.iloc[-400320:-398880])
df277['row_num']=np.arange(len(df277))
df277.set_index('row_num',inplace=True)
df277 = df277.rename(columns={5:'day_277'})
print(df277)

df276 = pd.DataFrame(data=df_close_col.iloc[-398880:-397440])
df276['row_num']=np.arange(len(df276))
df276.set_index('row_num',inplace=True)
df276 = df276.rename(columns={5:'day_276'})
print(df276)

df275 = pd.DataFrame(data=df_close_col.iloc[-397440:-396000])
df275['row_num']=np.arange(len(df275))
df275.set_index('row_num',inplace=True)
df275 = df275.rename(columns={5:'day_275'})
print(df275)

df274 = pd.DataFrame(data=df_close_col.iloc[-396000:-394560])
df274['row_num']=np.arange(len(df274))
df274.set_index('row_num',inplace=True)
df274 = df274.rename(columns={5:'day_274'})
print(df274)

df273 = pd.DataFrame(data=df_close_col.iloc[-394560:-393120])
df273['row_num']=np.arange(len(df273))
df273.set_index('row_num',inplace=True)
df273 = df273.rename(columns={5:'day_273'})
print(df273)

df272 = pd.DataFrame(data=df_close_col.iloc[-393120:-391680])
df272['row_num']=np.arange(len(df272))
df272.set_index('row_num',inplace=True)
df272 = df272.rename(columns={5:'day_272'})
print(df272)

df271 = pd.DataFrame(data=df_close_col.iloc[-391680:-390240])
df271['row_num']=np.arange(len(df271))
df271.set_index('row_num',inplace=True)
df271 = df271.rename(columns={5:'day_271'})
print(df271)

df270 = pd.DataFrame(data=df_close_col.iloc[-390240:-388800])
df270['row_num']=np.arange(len(df270))
df270.set_index('row_num',inplace=True)
df270 = df270.rename(columns={5:'day_270'})
print(df270)

df269 = pd.DataFrame(data=df_close_col.iloc[-388800:-387360])
df269['row_num']=np.arange(len(df269))
df269.set_index('row_num',inplace=True)
df269 = df269.rename(columns={5:'day_269'})
print(df269)

df268 = pd.DataFrame(data=df_close_col.iloc[-387360:-385920])
df268['row_num']=np.arange(len(df268))
df268.set_index('row_num',inplace=True)
df268 = df268.rename(columns={5:'day_268'})
print(df268)

df267 = pd.DataFrame(data=df_close_col.iloc[-385920:-384480])
df267['row_num']=np.arange(len(df267))
df267.set_index('row_num',inplace=True)
df267 = df267.rename(columns={5:'day_267'})
print(df267)

df266 = pd.DataFrame(data=df_close_col.iloc[-384480:-383040])
df266['row_num']=np.arange(len(df266))
df266.set_index('row_num',inplace=True)
df266 = df266.rename(columns={5:'day_266'})
print(df266)

df265 = pd.DataFrame(data=df_close_col.iloc[-383040:-381600])
df265['row_num']=np.arange(len(df265))
df265.set_index('row_num',inplace=True)
df265 = df265.rename(columns={5:'day_265'})
print(df265)

df264 = pd.DataFrame(data=df_close_col.iloc[-381600:-380160])
df264['row_num']=np.arange(len(df264))
df264.set_index('row_num',inplace=True)
df264 = df264.rename(columns={5:'day_264'})
print(df264)

df263 = pd.DataFrame(data=df_close_col.iloc[-380160:-378720])
df263['row_num']=np.arange(len(df263))
df263.set_index('row_num',inplace=True)
df263 = df263.rename(columns={5:'day_263'})
print(df263)

df262 = pd.DataFrame(data=df_close_col.iloc[-378720:-377280])
df262['row_num']=np.arange(len(df262))
df262.set_index('row_num',inplace=True)
df262 = df262.rename(columns={5:'day_262'})
print(df262)

df261 = pd.DataFrame(data=df_close_col.iloc[-377280:-375840])
df261['row_num']=np.arange(len(df261))
df261.set_index('row_num',inplace=True)
df261 = df261.rename(columns={5:'day_261'})
print(df261)

df260 = pd.DataFrame(data=df_close_col.iloc[-375840:-374400])
df260['row_num']=np.arange(len(df260))
df260.set_index('row_num',inplace=True)
df260 = df260.rename(columns={5:'day_260'})
print(df260)

df259 = pd.DataFrame(data=df_close_col.iloc[-374400:-372960])
df259['row_num']=np.arange(len(df259))
df259.set_index('row_num',inplace=True)
df259 = df259.rename(columns={5:'day_259'})
print(df259)

df258 = pd.DataFrame(data=df_close_col.iloc[-372960:-371520])
df258['row_num']=np.arange(len(df258))
df258.set_index('row_num',inplace=True)
df258 = df258.rename(columns={5:'day_258'})
print(df258)

df257 = pd.DataFrame(data=df_close_col.iloc[-371520:-370080])
df257['row_num']=np.arange(len(df257))
df257.set_index('row_num',inplace=True)
df257 = df257.rename(columns={5:'day_257'})
print(df257)

df256 = pd.DataFrame(data=df_close_col.iloc[-370080:-368640])
df256['row_num']=np.arange(len(df256))
df256.set_index('row_num',inplace=True)
df256 = df256.rename(columns={5:'day_256'})
print(df256)

df255 = pd.DataFrame(data=df_close_col.iloc[-368640:-367200])
df255['row_num']=np.arange(len(df255))
df255.set_index('row_num',inplace=True)
df255 = df255.rename(columns={5:'day_255'})
print(df255)

df254 = pd.DataFrame(data=df_close_col.iloc[-367200:-365760])
df254['row_num']=np.arange(len(df254))
df254.set_index('row_num',inplace=True)
df254 = df254.rename(columns={5:'day_254'})
print(df254)

df253 = pd.DataFrame(data=df_close_col.iloc[-365760:-364320])
df253['row_num']=np.arange(len(df253))
df253.set_index('row_num',inplace=True)
df253 = df253.rename(columns={5:'day_253'})
print(df253)

df252 = pd.DataFrame(data=df_close_col.iloc[-364320:-362880])
df252['row_num']=np.arange(len(df252))
df252.set_index('row_num',inplace=True)
df252 = df252.rename(columns={5:'day_252'})
print(df252)

df251 = pd.DataFrame(data=df_close_col.iloc[-362880:-361440])
df251['row_num']=np.arange(len(df251))
df251.set_index('row_num',inplace=True)
df251 = df251.rename(columns={5:'day_251'})
print(df251)

df250 = pd.DataFrame(data=df_close_col.iloc[-361440:-360000])
df250['row_num']=np.arange(len(df250))
df250.set_index('row_num',inplace=True)
df250 = df250.rename(columns={5:'day_250'})
print(df250)

df249 = pd.DataFrame(data=df_close_col.iloc[-360000:-358560])
df249['row_num']=np.arange(len(df249))
df249.set_index('row_num',inplace=True)
df249 = df249.rename(columns={5:'day_249'})
print(df249)

df248 = pd.DataFrame(data=df_close_col.iloc[-358560:-357120])
df248['row_num']=np.arange(len(df248))
df248.set_index('row_num',inplace=True)
df248 = df248.rename(columns={5:'day_248'})
print(df248)

df247 = pd.DataFrame(data=df_close_col.iloc[-357120:-355680])
df247['row_num']=np.arange(len(df247))
df247.set_index('row_num',inplace=True)
df247 = df247.rename(columns={5:'day_247'})
print(df247)

df246 = pd.DataFrame(data=df_close_col.iloc[-355680:-354240])
df246['row_num']=np.arange(len(df246))
df246.set_index('row_num',inplace=True)
df246 = df246.rename(columns={5:'day_246'})
print(df246)

df245 = pd.DataFrame(data=df_close_col.iloc[-354240:-352800])
df245['row_num']=np.arange(len(df245))
df245.set_index('row_num',inplace=True)
df245 = df245.rename(columns={5:'day_245'})
print(df245)

df244 = pd.DataFrame(data=df_close_col.iloc[-352800:-351360])
df244['row_num']=np.arange(len(df244))
df244.set_index('row_num',inplace=True)
df244 = df244.rename(columns={5:'day_244'})
print(df244)

df243 = pd.DataFrame(data=df_close_col.iloc[-351360:-349920])
df243['row_num']=np.arange(len(df243))
df243.set_index('row_num',inplace=True)
df243 = df243.rename(columns={5:'day_243'})
print(df243)

df242 = pd.DataFrame(data=df_close_col.iloc[-349920:-348480])
df242['row_num']=np.arange(len(df242))
df242.set_index('row_num',inplace=True)
df242 = df242.rename(columns={5:'day_242'})
print(df242)

df241 = pd.DataFrame(data=df_close_col.iloc[-348480:-347040])
df241['row_num']=np.arange(len(df241))
df241.set_index('row_num',inplace=True)
df241 = df241.rename(columns={5:'day_241'})
print(df241)

         day_280
row_num
0        1.13124
1        1.13112
2        1.13113
3        1.13131
4        1.13145
...          ...
1435     1.12764
1436     1.12764
1437     1.12778
1438     1.12786
1439     1.12781

[1440 rows x 1 columns]
         day_279
row_num
0        1.12782
1        1.12766
2        1.12779
3        1.12784
4        1.12789
...          ...
1435     1.14627
1436     1.14641
1437     1.14651
1438     1.14669
1439     1.14657

[1440 rows x 1 columns]
         day_278
row_num
0        1.14635
1        1.14650
2        1.14664
3        1.14653
4        1.14648
...          ...
1435     1.14291
1436     1.14297
1437     1.14303
1438     1.14299
1439     1.14297

[1440 rows x 1 columns]
         day_277
row_num
0        1.14320
1        1.14322
2        1.14345
3        1.14350
4        1.14343
...          ...
1435     1.14236
1436     1.14232
1437     1.14230
1438     1.14235
1439     1.14252

[1440 rows x 1 columns]
         day_276
row_num
0        1.14256
1        1.14242
2        1.14243
3        1.14253
4        1.14274
...          ...
1435     1.14352
1436     1.14345
1437     1.14362
1438     1.14339
1439     1.14344

[1440 rows x 1 columns]
         day_275
row_num
0        1.14345
1        1.14351
2        1.14349
3        1.14342
4        1.14348
...          ...
1435     1.14343
1436     1.14354
1437     1.14355
1438     1.14348
1439     1.14352

[1440 rows x 1 columns]
         day_274
row_num
0        1.14361
1        1.14379
2        1.14355
3        1.14367
4        1.14353
...          ...
1435     1.13913
1436     1.13913
1437     1.13905
1438     1.13925
1439     1.13932

[1440 rows x 1 columns]
         day_273
row_num
0        1.13909
1        1.13917
2        1.13924
3        1.13943
4        1.13947
...          ...
1435     1.13020
1436     1.13019
1437     1.13021
1438     1.13028
1439     1.13020

[1440 rows x 1 columns]
         day_272
row_num
0        1.13020
1        1.13015
2        1.13020
3        1.13016
4        1.13018
...          ...
1435     1.13469
1436     1.13466
1437     1.13451
1438     1.13469
1439     1.13448

[1440 rows x 1 columns]
         day_271
row_num
0        1.13438
1        1.13424
2        1.13443
3        1.13443
4        1.13442
...          ...
1435     1.13868
1436     1.13850
1437     1.13845
1438     1.13831
1439     1.13825

[1440 rows x 1 columns]
         day_270
row_num
0        1.13835
1        1.13848
2        1.13846
3        1.13843
4        1.13852
...          ...
1435     1.13642
1436     1.13653
1437     1.13656
1438     1.13649
1439     1.13649

[1440 rows x 1 columns]
         day_269
row_num
0        1.13664
1        1.13665
2        1.13668
3        1.13663
4        1.13659
...          ...
1435     1.13555
1436     1.13563
1437     1.13570
1438     1.13560
1439     1.13557

[1440 rows x 1 columns]
         day_268
row_num
0        1.13564
1        1.13560
2        1.13573
3        1.13564
4        1.13562
...          ...
1435     1.13478
1436     1.13478
1437     1.13496
1438     1.13483
1439     1.13498

[1440 rows x 1 columns]
         day_267
row_num
0        1.13481
1        1.13489
2        1.13488
3        1.13498
4        1.13498
...          ...
1435     1.13429
1436     1.13421
1437     1.13436
1438     1.13437
1439     1.13470

[1440 rows x 1 columns]
         day_266
row_num
0        1.13481
1        1.13479
2        1.13469
3        1.13474
4        1.13478
...          ...
1435     1.13409
1436     1.13418
1437     1.13412
1438     1.13436
1439     1.13413

[1440 rows x 1 columns]
         day_265
row_num
0        1.13432
1        1.13436
2        1.13434
3        1.13441
4        1.13435
...          ...
1435     1.11729
1436     1.11733
1437     1.11765
1438     1.11740
1439     1.11747

[1440 rows x 1 columns]
         day_264
row_num
0        1.11762
1        1.11763
2        1.11747
3        1.11737
4        1.11762
...          ...
1435     1.11777
1436     1.11779
1437     1.11820
1438     1.11798
1439     1.11826

[1440 rows x 1 columns]
         day_263
row_num
0        1.11807
1        1.11805
2        1.11787
3        1.11797
4        1.11807
...          ...
1435     1.11922
1436     1.11893
1437     1.11936
1438     1.11944
1439     1.11967

[1440 rows x 1 columns]
         day_262
row_num
0        1.11988
1        1.11990
2        1.12000
3        1.11966
4        1.12004
...          ...
1435     1.11773
1436     1.11766
1437     1.11745
1438     1.11789
1439     1.11788

[1440 rows x 1 columns]
         day_261
row_num
0        1.11757
1        1.11758
2        1.11754
3        1.11764
4        1.11768
...          ...
1435     1.10921
1436     1.10927
1437     1.10951
1438     1.10994
1439     1.11000

[1440 rows x 1 columns]
         day_260
row_num
0        1.10997
1        1.10958
2        1.10965
3        1.10981
4        1.10976
...          ...
1435     1.10854
1436     1.10862
1437     1.10856
1438     1.10874
1439     1.10864

[1440 rows x 1 columns]
         day_259
row_num
0        1.10869
1        1.10853
2        1.10850
3        1.10881
4        1.10895
...          ...
1435     1.09806
1436     1.09801
1437     1.09803
1438     1.09766
1439     1.09758

[1440 rows x 1 columns]
         day_258
row_num
0        1.09755
1        1.09762
2        1.09773
3        1.09796
4        1.09819
...          ...
1435     1.08654
1436     1.08647
1437     1.08702
1438     1.08743
1439     1.08706

[1440 rows x 1 columns]
         day_257
row_num
0        1.08719
1        1.08663
2        1.08633
3        1.08652
4        1.08648
...          ...
1435     1.08983
1436     1.09028
1437     1.09037
1438     1.09031
1439     1.09036

[1440 rows x 1 columns]
         day_256
row_num
0        1.09035
1        1.09071
2        1.09087
3        1.09110
4        1.09098
...          ...
1435     1.09767
1436     1.09784
1437     1.09765
1438     1.09755
1439     1.09717

[1440 rows x 1 columns]
         day_255
row_num
0        1.09708
1        1.09709
2        1.09709
3        1.09703
4        1.09712
...          ...
1435     1.10412
1436     1.10400
1437     1.10376
1438     1.10388
1439     1.10399

[1440 rows x 1 columns]
         day_254
row_num
0        1.10374
1        1.10393
2        1.10395
3        1.10379
4        1.10383
...          ...
1435     1.10120
1436     1.10116
1437     1.10123
1438     1.10157
1439     1.10171

[1440 rows x 1 columns]
         day_253
row_num
0        1.10192
1        1.10215
2        1.10215
3        1.10180
4        1.10218
...          ...
1435     1.09554
1436     1.09553
1437     1.09563
1438     1.09563
1439     1.09516

[1440 rows x 1 columns]
         day_252
row_num
0        1.09499
1        1.09519
2        1.09519
3        1.09527
4        1.09523
...          ...
1435     1.09910
1436     1.09911
1437     1.09940
1438     1.09946
1439     1.09935

[1440 rows x 1 columns]
         day_251
row_num
0        1.09924
1        1.09925
2        1.09936
3        1.09955
4        1.09949
...          ...
1435     1.10058
1436     1.10064
1437     1.10073
1438     1.10066
1439     1.10078

[1440 rows x 1 columns]
         day_250
row_num
0        1.10073
1        1.10063
2        1.10066
3        1.10073
4        1.10065
...          ...
1435     1.10522
1436     1.10534
1437     1.10536
1438     1.10539
1439     1.10532

[1440 rows x 1 columns]
         day_249
row_num
0        1.10543
1        1.10540
2        1.10502
3        1.10488
4        1.10504
...          ...
1435     1.10255
1436     1.10286
1437     1.10293
1438     1.10314
1439     1.10307

[1440 rows x 1 columns]
         day_248
row_num
0        1.10321
1        1.10324
2        1.10307
3        1.10299
4        1.10303
...          ...
1435     1.10382
1436     1.10411
1437     1.10397
1438     1.10397
1439     1.10383

[1440 rows x 1 columns]
         day_247
row_num
0        1.10404
1        1.10377
2        1.10384
3        1.10378
4        1.10365
...          ...
1435     1.10260
1436     1.10242
1437     1.10253
1438     1.10232
1439     1.10244

[1440 rows x 1 columns]
         day_246
row_num
0        1.10232
1        1.10227
2        1.10305
3        1.10315
4        1.10304
...          ...
1435     1.09765
1436     1.09752
1437     1.09741
1438     1.09716
1439     1.09715

[1440 rows x 1 columns]
         day_245
row_num
0        1.09711
1        1.09710
2        1.09697
3        1.09682
4        1.09672
...          ...
1435     1.09766
1436     1.09751
1437     1.09778
1438     1.09796
1439     1.09795

[1440 rows x 1 columns]
         day_244
row_num
0        1.09801
1        1.09806
2        1.09795
3        1.09804
4        1.09804
...          ...
1435     1.10098
1436     1.10169
1437     1.10140
1438     1.10104
1439     1.10094

[1440 rows x 1 columns]
         day_243
row_num
0        1.10161
1        1.10141
2        1.10119
3        1.10148
4        1.10117
...          ...
1435     1.09663
1436     1.09690
1437     1.09708
1438     1.09712
1439     1.09700

[1440 rows x 1 columns]
         day_242
row_num
0        1.09705
1        1.09701
2        1.09697
3        1.09705
4        1.09695
...          ...
1435     1.11323
1436     1.11295
1437     1.11323
1438     1.11334
1439     1.11318

[1440 rows x 1 columns]
         day_241
row_num
0        1.11340
1        1.11323
2        1.11266
3        1.11245
4        1.11251
...          ...
1435     1.11452
1436     1.11431
1437     1.11474
1438     1.11551
1439     1.11520

[1440 rows x 1 columns]

In [30]:
###df201 to df240###
df240 = pd.DataFrame(data=df_close_col.iloc[-347040:-345600])
df240['row_num']=np.arange(len(df240))
df240.set_index('row_num',inplace=True)
df240 = df240.rename(columns={5:'day_240'})
print(df240)

df239 = pd.DataFrame(data=df_close_col.iloc[-345600:-344160])
df239['row_num']=np.arange(len(df239))
df239.set_index('row_num',inplace=True)
df239 = df239.rename(columns={5:'day_239'})
print(df239)

df238 = pd.DataFrame(data=df_close_col.iloc[-344160:-342720])
df238['row_num']=np.arange(len(df238))
df238.set_index('row_num',inplace=True)
df238 = df238.rename(columns={5:'day_238'})
print(df238)

df237 = pd.DataFrame(data=df_close_col.iloc[-342720:-341280])
df237['row_num']=np.arange(len(df237))
df237.set_index('row_num',inplace=True)
df237 = df237.rename(columns={5:'day_237'})
print(df237)

df236 = pd.DataFrame(data=df_close_col.iloc[-341280:-339840])
df236['row_num']=np.arange(len(df236))
df236.set_index('row_num',inplace=True)
df236 = df236.rename(columns={5:'day_236'})
print(df236)

df235 = pd.DataFrame(data=df_close_col.iloc[-339840:-338400])
df235['row_num']=np.arange(len(df235))
df235.set_index('row_num',inplace=True)
df235 = df235.rename(columns={5:'day_235'})
print(df235)

df234 = pd.DataFrame(data=df_close_col.iloc[-338400:-336960])
df234['row_num']=np.arange(len(df234))
df234.set_index('row_num',inplace=True)
df234 = df234.rename(columns={5:'day_234'})
print(df234)

df233 = pd.DataFrame(data=df_close_col.iloc[-336960:-335520])
df233['row_num']=np.arange(len(df233))
df233.set_index('row_num',inplace=True)
df233 = df233.rename(columns={5:'day_233'})
print(df233)

df232 = pd.DataFrame(data=df_close_col.iloc[-335520:-334080])
df232['row_num']=np.arange(len(df232))
df232.set_index('row_num',inplace=True)
df232 = df232.rename(columns={5:'day_232'})
print(df232)

df231 = pd.DataFrame(data=df_close_col.iloc[-334080:-332640])
df231['row_num']=np.arange(len(df231))
df231.set_index('row_num',inplace=True)
df231 = df231.rename(columns={5:'day_231'})
print(df231)

df230 = pd.DataFrame(data=df_close_col.iloc[-332640:-331200])
df230['row_num']=np.arange(len(df230))
df230.set_index('row_num',inplace=True)
df230 = df230.rename(columns={5:'day_230'})
print(df230)

df229 = pd.DataFrame(data=df_close_col.iloc[-331200:-329760])
df229['row_num']=np.arange(len(df229))
df229.set_index('row_num',inplace=True)
df229 = df229.rename(columns={5:'day_229'})
print(df229)

df228 = pd.DataFrame(data=df_close_col.iloc[-329760:-328320])
df228['row_num']=np.arange(len(df228))
df228.set_index('row_num',inplace=True)
df228 = df228.rename(columns={5:'day_228'})
print(df228)

df227 = pd.DataFrame(data=df_close_col.iloc[-328320:-326880])
df227['row_num']=np.arange(len(df227))
df227.set_index('row_num',inplace=True)
df227 = df227.rename(columns={5:'day_227'})
print(df227)

df226 = pd.DataFrame(data=df_close_col.iloc[-326880:-325440])
df226['row_num']=np.arange(len(df226))
df226.set_index('row_num',inplace=True)
df226 = df226.rename(columns={5:'day_226'})
print(df226)

df225 = pd.DataFrame(data=df_close_col.iloc[-325440:-324000])
df225['row_num']=np.arange(len(df225))
df225.set_index('row_num',inplace=True)
df225 = df225.rename(columns={5:'day_225'})
print(df225)

df224 = pd.DataFrame(data=df_close_col.iloc[-324000:-322560])
df224['row_num']=np.arange(len(df224))
df224.set_index('row_num',inplace=True)
df224 = df224.rename(columns={5:'day_224'})
print(df224)

df223 = pd.DataFrame(data=df_close_col.iloc[-322560:-321120])
df223['row_num']=np.arange(len(df223))
df223.set_index('row_num',inplace=True)
df223 = df223.rename(columns={5:'day_223'})
print(df223)

df222 = pd.DataFrame(data=df_close_col.iloc[-321120:-319680])
df222['row_num']=np.arange(len(df222))
df222.set_index('row_num',inplace=True)
df222 = df222.rename(columns={5:'day_222'})
print(df222)

df221 = pd.DataFrame(data=df_close_col.iloc[-319680:-318240])
df221['row_num']=np.arange(len(df221))
df221.set_index('row_num',inplace=True)
df221 = df221.rename(columns={5:'day_221'})
print(df221)


df220 = pd.DataFrame(data=df_close_col.iloc[-318240:-316800])
df220['row_num']=np.arange(len(df220))
df220.set_index('row_num',inplace=True)
df220 = df220.rename(columns={5:'day_220'})
print(df220)

df219 = pd.DataFrame(data=df_close_col.iloc[-316800:-315360])
df219['row_num']=np.arange(len(df219))
df219.set_index('row_num',inplace=True)
df219 = df219.rename(columns={5:'day_219'})
print(df219)

df218 = pd.DataFrame(data=df_close_col.iloc[-315360:-313920])
df218['row_num']=np.arange(len(df218))
df218.set_index('row_num',inplace=True)
df218 = df218.rename(columns={5:'day_218'})
print(df218)

df217 = pd.DataFrame(data=df_close_col.iloc[-313920:-312480])
df217['row_num']=np.arange(len(df217))
df217.set_index('row_num',inplace=True)
df217 = df217.rename(columns={5:'day_217'})
print(df217)

df216 = pd.DataFrame(data=df_close_col.iloc[-312480:-311040])
df216['row_num']=np.arange(len(df216))
df216.set_index('row_num',inplace=True)
df216 = df216.rename(columns={5:'day_216'})
print(df216)

df215 = pd.DataFrame(data=df_close_col.iloc[-311040:-309600])
df215['row_num']=np.arange(len(df215))
df215.set_index('row_num',inplace=True)
df215 = df215.rename(columns={5:'day_215'})
print(df215)

df214 = pd.DataFrame(data=df_close_col.iloc[-309600:-308160])
df214['row_num']=np.arange(len(df214))
df214.set_index('row_num',inplace=True)
df214 = df214.rename(columns={5:'day_214'})
print(df214)

df213 = pd.DataFrame(data=df_close_col.iloc[-308160:-306720])
df213['row_num']=np.arange(len(df213))
df213.set_index('row_num',inplace=True)
df213 = df213.rename(columns={5:'day_213'})
print(df213)

df212 = pd.DataFrame(data=df_close_col.iloc[-306720:-305280])
df212['row_num']=np.arange(len(df212))
df212.set_index('row_num',inplace=True)
df212 = df212.rename(columns={5:'day_212'})
print(df212)

df211 = pd.DataFrame(data=df_close_col.iloc[-305280:-303840])
df211['row_num']=np.arange(len(df211))
df211.set_index('row_num',inplace=True)
df211 = df211.rename(columns={5:'day_211'})
print(df211)

df210 = pd.DataFrame(data=df_close_col.iloc[-303840:-302400])
df210['row_num']=np.arange(len(df210))
df210.set_index('row_num',inplace=True)
df210 = df210.rename(columns={5:'day_210'})
print(df210)

df209 = pd.DataFrame(data=df_close_col.iloc[-302400:-300960])
df209['row_num']=np.arange(len(df209))
df209.set_index('row_num',inplace=True)
df209 = df209.rename(columns={5:'day_209'})
print(df209)

df208 = pd.DataFrame(data=df_close_col.iloc[-300960:-299520])
df208['row_num']=np.arange(len(df208))
df208.set_index('row_num',inplace=True)
df208 = df208.rename(columns={5:'day_208'})
print(df208)

df207 = pd.DataFrame(data=df_close_col.iloc[-299520:-298080])
df207['row_num']=np.arange(len(df207))
df207.set_index('row_num',inplace=True)
df207 = df207.rename(columns={5:'day_207'})
print(df207)

df206 = pd.DataFrame(data=df_close_col.iloc[-298080:-296640])
df206['row_num']=np.arange(len(df206))
df206.set_index('row_num',inplace=True)
df206 = df206.rename(columns={5:'day_206'})
print(df206)

df205 = pd.DataFrame(data=df_close_col.iloc[-296640:-295200])
df205['row_num']=np.arange(len(df205))
df205.set_index('row_num',inplace=True)
df205 = df205.rename(columns={5:'day_205'})
print(df205)

df204 = pd.DataFrame(data=df_close_col.iloc[-295200:-293760])
df204['row_num']=np.arange(len(df204))
df204.set_index('row_num',inplace=True)
df204 = df204.rename(columns={5:'day_204'})
print(df204)

df203 = pd.DataFrame(data=df_close_col.iloc[-293760:-292320])
df203['row_num']=np.arange(len(df203))
df203.set_index('row_num',inplace=True)
df203 = df203.rename(columns={5:'day_203'})
print(df203)

df202 = pd.DataFrame(data=df_close_col.iloc[-292320:-290880])
df202['row_num']=np.arange(len(df202))
df202.set_index('row_num',inplace=True)
df202 = df202.rename(columns={5:'day_202'})
print(df202)

df201 = pd.DataFrame(data=df_close_col.iloc[-290880:-289440])
df201['row_num']=np.arange(len(df201))
df201.set_index('row_num',inplace=True)
df201 = df201.rename(columns={5:'day_201'})
print(df201)
###df201 to df 240###

         day_240
row_num
0        1.11531
1        1.11542
2        1.11532
3        1.11541
4        1.11549
...          ...
1435     1.10836
1436     1.10840
1437     1.10876
1438     1.10904
1439     1.10881

[1440 rows x 1 columns]
         day_239
row_num
0        1.10895
1        1.10909
2        1.10913
3        1.10867
4        1.10886
...          ...
1435     1.10415
1436     1.10410
1437     1.10429
1438     1.10414
1439     1.10421

[1440 rows x 1 columns]
         day_238
row_num
0        1.10420
1        1.10415
2        1.10426
3        1.10455
4        1.10454
...          ...
1435     1.09904
1436     1.09904
1437     1.09866
1438     1.09868
1439     1.09884

[1440 rows x 1 columns]
         day_237
row_num
0        1.09915
1        1.09909
2        1.09898
3        1.09912
4        1.09923
...          ...
1435     1.09723
1436     1.09733
1437     1.09748
1438     1.09730
1439     1.09737

[1440 rows x 1 columns]
         day_236
row_num
0        1.09727
1        1.09711
2        1.09704
3        1.09707
4        1.09701
...          ...
1435     1.09215
1436     1.09193
1437     1.09189
1438     1.09193
1439     1.09234

[1440 rows x 1 columns]
         day_235
row_num
0        1.09228
1        1.09234
2        1.09188
3        1.09203
4        1.09195
...          ...
1435     1.09318
1436     1.09321
1437     1.09318
1438     1.09282
1439     1.09246

[1440 rows x 1 columns]
         day_234
row_num
0        1.09249
1        1.09262
2        1.09230
3        1.09241
4        1.09206
...          ...
1435     1.08387
1436     1.08409
1437     1.08404
1438     1.08399
1439     1.08390

[1440 rows x 1 columns]
         day_233
row_num
0        1.08410
1        1.08419
2        1.08429
3        1.08431
4        1.08400
...          ...
1435     1.08893
1436     1.08904
1437     1.08874
1438     1.08880
1439     1.08857

[1440 rows x 1 columns]
         day_232
row_num
0        1.08831
1        1.08809
2        1.08820
3        1.08840
4        1.08847
...          ...
1435     1.08759
1436     1.08760
1437     1.08725
1438     1.08739
1439     1.08704

[1440 rows x 1 columns]
         day_231
row_num
0        1.08703
1        1.08703
2        1.08724
3        1.08740
4        1.08740
...          ...
1435     1.08220
1436     1.08239
1437     1.08235
1438     1.08212
1439     1.08219

[1440 rows x 1 columns]
         day_230
row_num
0        1.08179
1        1.08170
2        1.08178
3        1.08147
4        1.08191
...          ...
1435     1.07651
1436     1.07713
1437     1.07727
1438     1.07750
1439     1.07764

[1440 rows x 1 columns]
         day_229
row_num
0        1.07703
1        1.07703
2        1.07766
3        1.07819
4        1.07819
...          ...
1435     1.08093
1436     1.08091
1437     1.08092
1438     1.08093
1439     1.08096

[1440 rows x 1 columns]
         day_228
row_num
0        1.08126
1        1.08105
2        1.08091
3        1.08096
4        1.08088
...          ...
1435     1.08013
1436     1.08004
1437     1.08018
1438     1.08043
1439     1.08037

[1440 rows x 1 columns]
         day_227
row_num
0        1.08029
1        1.07991
2        1.08002
3        1.07992
4        1.08006
...          ...
1435     1.08001
1436     1.08024
1437     1.08022
1438     1.08026
1439     1.08041

[1440 rows x 1 columns]
         day_226
row_num
0        1.08012
1        1.07992
2        1.08005
3        1.08008
4        1.07991
...          ...
1435     1.08449
1436     1.08445
1437     1.08427
1438     1.08451
1439     1.08463

[1440 rows x 1 columns]
         day_225
row_num
0        1.08476
1        1.08488
2        1.08513
3        1.08521
4        1.08551
...          ...
1435     1.08705
1436     1.08685
1437     1.08672
1438     1.08669
1439     1.08671

[1440 rows x 1 columns]
         day_224
row_num
0        1.08653
1        1.08646
2        1.08671
3        1.08694
4        1.08712
...          ...
1435     1.08065
1436     1.08086
1437     1.08100
1438     1.08138
1439     1.08134

[1440 rows x 1 columns]
         day_223
row_num
0        1.08163
1        1.08101
2        1.08101
3        1.08074
4        1.08066
...          ...
1435     1.07267
1436     1.07187
1437     1.07220
1438     1.07234
1439     1.07248

[1440 rows x 1 columns]
         day_222
row_num
0        1.07202
1        1.07180
2        1.07188
3        1.07163
4        1.07164
...          ...
1435     1.06659
1436     1.06651
1437     1.06698
1438     1.06723
1439     1.06718

[1440 rows x 1 columns]
         day_221
row_num
0        1.06706
1        1.06710
2        1.06699
3        1.06711
4        1.06724
...          ...
1435     1.05414
1436     1.05386
1437     1.05381
1438     1.05366
1439     1.05380

[1440 rows x 1 columns]
         day_220
row_num
0        1.05407
1        1.05395
2        1.05412
3        1.05404
4        1.05409
...          ...
1435     1.05100
1436     1.05061
1437     1.05057
1438     1.05026
1439     1.05011

[1440 rows x 1 columns]
         day_219
row_num
0        1.05053
1        1.05063
2        1.05081
3        1.05099
4        1.05089
...          ...
1435     1.05341
1436     1.05375
1437     1.05367
1438     1.05323
1439     1.05324

[1440 rows x 1 columns]
         day_218
row_num
0        1.05281
1        1.05275
2        1.05297
3        1.05274
4        1.05275
...          ...
1435     1.05284
1436     1.05316
1437     1.05317
1438     1.05293
1439     1.05300

[1440 rows x 1 columns]
         day_217
row_num
0        1.05299
1        1.05301
2        1.05299
3        1.05306
4        1.05322
...          ...
1435     1.05456
1436     1.05471
1437     1.05484
1438     1.05508
1439     1.05504

[1440 rows x 1 columns]
         day_216
row_num
0        1.05519
1        1.05519
2        1.05498
3        1.05521
4        1.05559
...          ...
1435     1.05344
1436     1.05359
1437     1.05332
1438     1.05378
1439     1.05373

[1440 rows x 1 columns]
         day_215
row_num
0        1.05353
1        1.05374
2        1.05378
3        1.05378
4        1.05396
...          ...
1435     1.05416
1436     1.05447
1437     1.05461
1438     1.05472
1439     1.05494

[1440 rows x 1 columns]
         day_214
row_num
0        1.05503
1        1.05507
2        1.05501
3        1.05473
4        1.05490
...          ...
1435     1.05779
1436     1.05802
1437     1.05793
1438     1.05824
1439     1.05806

[1440 rows x 1 columns]
         day_213
row_num
0        1.05789
1        1.05764
2        1.05761
3        1.05787
4        1.05788
...          ...
1435     1.05284
1436     1.05273
1437     1.05301
1438     1.05282
1439     1.05285

[1440 rows x 1 columns]
         day_212
row_num
0        1.05276
1        1.05277
2        1.05289
3        1.05281
4        1.05275
...          ...
1435     1.05483
1436     1.05468
1437     1.05485
1438     1.05486
1439     1.05410

[1440 rows x 1 columns]
         day_211
row_num
0        1.05381
1        1.05401
2        1.05408
3        1.05372
4        1.05372
...          ...
1435     1.05602
1436     1.05575
1437     1.05589
1438     1.05632
1439     1.05628

[1440 rows x 1 columns]
         day_210
row_num
0        1.05625
1        1.05643
2        1.05657
3        1.05647
4        1.05632
...          ...
1435     1.04142
1436     1.04127
1437     1.04136
1438     1.04078
1439     1.04060

[1440 rows x 1 columns]
         day_209
row_num
0        1.04039
1        1.04025
2        1.04029
3        1.04032
4        1.04081
...          ...
1435     1.03872
1436     1.03831
1437     1.03836
1438     1.03809
1439     1.03817

[1440 rows x 1 columns]
         day_208
row_num
0        1.03823
1        1.03815
2        1.03821
3        1.03865
4        1.03853
...          ...
1435     1.04182
1436     1.04156
1437     1.04166
1438     1.04151
1439     1.04138

[1440 rows x 1 columns]
         day_207
row_num
0        1.04151
1        1.04137
2        1.04138
3        1.04150
4        1.04140
...          ...
1435     1.05437
1436     1.05429
1437     1.05407
1438     1.05401
1439     1.05409

[1440 rows x 1 columns]
         day_206
row_num
0        1.05402
1        1.05386
2        1.05421
3        1.05438
4        1.05389
...          ...
1435     1.05053
1436     1.05024
1437     1.05028
1438     1.05021
1439     1.04985

[1440 rows x 1 columns]
         day_205
row_num
0        1.05020
1        1.04987
2        1.04984
3        1.04996
4        1.04984
...          ...
1435     1.05648
1436     1.05633
1437     1.05625
1438     1.05606
1439     1.05622

[1440 rows x 1 columns]
         day_204
row_num
0        1.05635
1        1.05580
2        1.05553
3        1.05546
4        1.05607
...          ...
1435     1.05596
1436     1.05632
1437     1.05633
1438     1.05641
1439     1.05641

[1440 rows x 1 columns]
         day_203
row_num
0        1.05633
1        1.05611
2        1.05632
3        1.05641
4        1.05626
...          ...
1435     1.06728
1436     1.06676
1437     1.06672
1438     1.06676
1439     1.06676

[1440 rows x 1 columns]
         day_202
row_num
0        1.06653
1        1.06655
2        1.06650
3        1.06650
4        1.06638
...          ...
1435     1.07343
1436     1.07356
1437     1.07323
1438     1.07324
1439     1.07336

[1440 rows x 1 columns]
         day_201
row_num
0        1.07324
1        1.07368
2        1.07336
3        1.07294
4        1.07248
...          ...
1435     1.06839
1436     1.06808
1437     1.06825
1438     1.06830
1439     1.06800

[1440 rows x 1 columns]

In [31]:
###df161 to df200###
df200 = pd.DataFrame(data=df_close_col.iloc[-289440:-288000])
df200['row_num']=np.arange(len(df200))
df200.set_index('row_num',inplace=True)
df200 = df200.rename(columns={5:'day_200'})
print(df200)

df199 = pd.DataFrame(data=df_close_col.iloc[-288000:-286560])
df199['row_num']=np.arange(len(df199))
df199.set_index('row_num',inplace=True)
df199 = df199.rename(columns={5:'day_199'})
print(df199)

df198 = pd.DataFrame(data=df_close_col.iloc[-286560:-285120])
df198['row_num']=np.arange(len(df198))
df198.set_index('row_num',inplace=True)
df198 = df198.rename(columns={5:'day_198'})
print(df198)

df197 = pd.DataFrame(data=df_close_col.iloc[-285120:-283680])
df197['row_num']=np.arange(len(df197))
df197.set_index('row_num',inplace=True)
df197 = df197.rename(columns={5:'day_197'})
print(df197)

df196 = pd.DataFrame(data=df_close_col.iloc[-283680:-282240])
df196['row_num']=np.arange(len(df196))
df196.set_index('row_num',inplace=True)
df196 = df196.rename(columns={5:'day_196'})
print(df196)

df195 = pd.DataFrame(data=df_close_col.iloc[-282240:-280800])
df195['row_num']=np.arange(len(df195))
df195.set_index('row_num',inplace=True)
df195 = df195.rename(columns={5:'day_195'})
print(df195)

df194 = pd.DataFrame(data=df_close_col.iloc[-280800:-279360])
df194['row_num']=np.arange(len(df194))
df194.set_index('row_num',inplace=True)
df194 = df194.rename(columns={5:'day_194'})
print(df194)

df193 = pd.DataFrame(data=df_close_col.iloc[-279360:-277920])
df193['row_num']=np.arange(len(df193))
df193.set_index('row_num',inplace=True)
df193 = df193.rename(columns={5:'day_193'})
print(df193)

df192 = pd.DataFrame(data=df_close_col.iloc[-277920:-276480])
df192['row_num']=np.arange(len(df192))
df192.set_index('row_num',inplace=True)
df192 = df192.rename(columns={5:'day_192'})
print(df192)

df191 = pd.DataFrame(data=df_close_col.iloc[-276480:-275040])
df191['row_num']=np.arange(len(df191))
df191.set_index('row_num',inplace=True)
df191 = df191.rename(columns={5:'day_191'})
print(df191)

df190 = pd.DataFrame(data=df_close_col.iloc[-275040:-273600])
df190['row_num']=np.arange(len(df190))
df190.set_index('row_num',inplace=True)
df190 = df190.rename(columns={5:'day_190'})
print(df190)

df189 = pd.DataFrame(data=df_close_col.iloc[-273600:-272160])
df189['row_num']=np.arange(len(df189))
df189.set_index('row_num',inplace=True)
df189 = df189.rename(columns={5:'day_189'})
print(df189)

df188 = pd.DataFrame(data=df_close_col.iloc[-272160:-270720])
df188['row_num']=np.arange(len(df188))
df188.set_index('row_num',inplace=True)
df188 = df188.rename(columns={5:'day_188'})
print(df188)

df187 = pd.DataFrame(data=df_close_col.iloc[-270720:-269280])
df187['row_num']=np.arange(len(df187))
df187.set_index('row_num',inplace=True)
df187 = df187.rename(columns={5:'day_187'})
print(df187)

df186 = pd.DataFrame(data=df_close_col.iloc[-269280:-267840])
df186['row_num']=np.arange(len(df186))
df186.set_index('row_num',inplace=True)
df186 = df186.rename(columns={5:'day_186'})
print(df186)

df185 = pd.DataFrame(data=df_close_col.iloc[-267840:-266400])
df185['row_num']=np.arange(len(df185))
df185.set_index('row_num',inplace=True)
df185 = df185.rename(columns={5:'day_185'})
print(df185)

df184 = pd.DataFrame(data=df_close_col.iloc[-266400:-264960])
df184['row_num']=np.arange(len(df184))
df184.set_index('row_num',inplace=True)
df184 = df184.rename(columns={5:'day_184'})
print(df184)

df183 = pd.DataFrame(data=df_close_col.iloc[-264960:-263520])
df183['row_num']=np.arange(len(df183))
df183.set_index('row_num',inplace=True)
df183 = df183.rename(columns={5:'day_183'})
print(df183)

df182 = pd.DataFrame(data=df_close_col.iloc[-263520:-262080])
df182['row_num']=np.arange(len(df182))
df182.set_index('row_num',inplace=True)
df182 = df182.rename(columns={5:'day_182'})
print(df182)

df181 = pd.DataFrame(data=df_close_col.iloc[-262080:-260640])
df181['row_num']=np.arange(len(df181))
df181.set_index('row_num',inplace=True)
df181 = df181.rename(columns={5:'day_181'})
print(df181)


df180 = pd.DataFrame(data=df_close_col.iloc[-260640:-259200])
df180['row_num']=np.arange(len(df180))
df180.set_index('row_num',inplace=True)
df180 = df180.rename(columns={5:'day_180'})
print(df180)

df179 = pd.DataFrame(data=df_close_col.iloc[-259200:-257760])
df179['row_num']=np.arange(len(df179))
df179.set_index('row_num',inplace=True)
df179 = df179.rename(columns={5:'day_179'})
print(df179)

df178 = pd.DataFrame(data=df_close_col.iloc[-257760:-256320])
df178['row_num']=np.arange(len(df178))
df178.set_index('row_num',inplace=True)
df178 = df178.rename(columns={5:'day_178'})
print(df178)

df177 = pd.DataFrame(data=df_close_col.iloc[-256320:-254880])
df177['row_num']=np.arange(len(df177))
df177.set_index('row_num',inplace=True)
df177 = df177.rename(columns={5:'day_177'})
print(df177)

df176 = pd.DataFrame(data=df_close_col.iloc[-254880:-253440])
df176['row_num']=np.arange(len(df176))
df176.set_index('row_num',inplace=True)
df176 = df176.rename(columns={5:'day_176'})
print(df176)

df175 = pd.DataFrame(data=df_close_col.iloc[-253440:-252000])
df175['row_num']=np.arange(len(df175))
df175.set_index('row_num',inplace=True)
df175 = df175.rename(columns={5:'day_175'})
print(df175)

df174 = pd.DataFrame(data=df_close_col.iloc[-252000:-250560])
df174['row_num']=np.arange(len(df174))
df174.set_index('row_num',inplace=True)
df174 = df174.rename(columns={5:'day_174'})
print(df174)

df173 = pd.DataFrame(data=df_close_col.iloc[-250560:-249120])
df173['row_num']=np.arange(len(df173))
df173.set_index('row_num',inplace=True)
df173 = df173.rename(columns={5:'day_173'})
print(df173)

df172 = pd.DataFrame(data=df_close_col.iloc[-249120:-247680])
df172['row_num']=np.arange(len(df172))
df172.set_index('row_num',inplace=True)
df172 = df172.rename(columns={5:'day_172'})
print(df172)

df171 = pd.DataFrame(data=df_close_col.iloc[-247680:-246240])
df171['row_num']=np.arange(len(df171))
df171.set_index('row_num',inplace=True)
df171 = df171.rename(columns={5:'day_171'})
print(df171)

df170 = pd.DataFrame(data=df_close_col.iloc[-246240:-244800])
df170['row_num']=np.arange(len(df170))
df170.set_index('row_num',inplace=True)
df170 = df170.rename(columns={5:'day_170'})
print(df170)

df169 = pd.DataFrame(data=df_close_col.iloc[-244800:-243360])
df169['row_num']=np.arange(len(df169))
df169.set_index('row_num',inplace=True)
df169 = df169.rename(columns={5:'day_169'})
print(df169)

df168 = pd.DataFrame(data=df_close_col.iloc[-243360:-241920])
df168['row_num']=np.arange(len(df168))
df168.set_index('row_num',inplace=True)
df168 = df168.rename(columns={5:'day_168'})
print(df168)

df167 = pd.DataFrame(data=df_close_col.iloc[-241920:-240480])
df167['row_num']=np.arange(len(df167))
df167.set_index('row_num',inplace=True)
df167 = df167.rename(columns={5:'day_167'})
print(df167)

df166 = pd.DataFrame(data=df_close_col.iloc[-240480:-239040])
df166['row_num']=np.arange(len(df166))
df166.set_index('row_num',inplace=True)
df166 = df166.rename(columns={5:'day_166'})
print(df166)

df165 = pd.DataFrame(data=df_close_col.iloc[-239040:-237600])
df165['row_num']=np.arange(len(df165))
df165.set_index('row_num',inplace=True)
df165 = df165.rename(columns={5:'day_165'})
print(df165)

df164 = pd.DataFrame(data=df_close_col.iloc[-237600:-236160])
df164['row_num']=np.arange(len(df164))
df164.set_index('row_num',inplace=True)
df164 = df164.rename(columns={5:'day_164'})
print(df164)

df163 = pd.DataFrame(data=df_close_col.iloc[-236160:-234720])
df163['row_num']=np.arange(len(df163))
df163.set_index('row_num',inplace=True)
df163 = df163.rename(columns={5:'day_163'})
print(df163)

df162 = pd.DataFrame(data=df_close_col.iloc[-234720:-233280])
df162['row_num']=np.arange(len(df162))
df162.set_index('row_num',inplace=True)
df162 = df162.rename(columns={5:'day_162'})
print(df162)

df161 = pd.DataFrame(data=df_close_col.iloc[-233280:-231840])
df161['row_num']=np.arange(len(df161))
df161.set_index('row_num',inplace=True)
df161 = df161.rename(columns={5:'day_161'})
print(df161)
###df161 to df200###

         day_200
row_num
0        1.06796
1        1.06781
2        1.06814
3        1.06782
4        1.06788
...          ...
1435     1.07090
1436     1.07091
1437     1.07121
1438     1.07102
1439     1.07101

[1440 rows x 1 columns]
         day_199
row_num
0        1.07125
1        1.07122
2        1.07147
3        1.07143
4        1.07166
...          ...
1435     1.07382
1436     1.07364
1437     1.07391
1438     1.07353
1439     1.07331

[1440 rows x 1 columns]
         day_198
row_num
0        1.07328
1        1.07324
2        1.07262
3        1.07279
4        1.07281
...          ...
1435     1.07709
1436     1.07735
1437     1.07742
1438     1.07812
1439     1.07800

[1440 rows x 1 columns]
         day_197
row_num
0        1.07790
1        1.07787
2        1.07811
3        1.07764
4        1.07786
...          ...
1435     1.07269
1436     1.07273
1437     1.07227
1438     1.07172
1439     1.07094

[1440 rows x 1 columns]
         day_196
row_num
0        1.07101
1        1.07111
2        1.07123
3        1.07139
4        1.07151
...          ...
1435     1.06679
1436     1.06706
1437     1.06715
1438     1.06699
1439     1.06719

[1440 rows x 1 columns]
         day_195
row_num
0        1.06684
1        1.06684
2        1.06673
3        1.06650
4        1.06656
...          ...
1435     1.07139
1436     1.07142
1437     1.07140
1438     1.07146
1439     1.07152

[1440 rows x 1 columns]
         day_194
row_num
0        1.07165
1        1.07177
2        1.07161
3        1.07157
4        1.07157
...          ...
1435     1.07205
1436     1.07171
1437     1.07199
1438     1.07222
1439     1.07205

[1440 rows x 1 columns]
         day_193
row_num
0        1.07235
1        1.07213
2        1.07232
3        1.07210
4        1.07207
...          ...
1435     1.07165
1436     1.07163
1437     1.07138
1438     1.07124
1439     1.07129

[1440 rows x 1 columns]
         day_192
row_num
0        1.07150
1        1.07136
2        1.07098
3        1.07073
4        1.07055
...          ...
1435     1.07058
1436     1.07063
1437     1.07048
1438     1.07019
1439     1.06988

[1440 rows x 1 columns]
         day_191
row_num
0        1.06987
1        1.06992
2        1.06997
3        1.07023
4        1.07039
...          ...
1435     1.07289
1436     1.07315
1437     1.07361
1438     1.07354
1439     1.07369

[1440 rows x 1 columns]
         day_190
row_num
0        1.07364
1        1.07386
2        1.07401
3        1.07369
4        1.07368
...          ...
1435     1.06528
1436     1.06485
1437     1.06492
1438     1.06534
1439     1.06494

[1440 rows x 1 columns]
         day_189
row_num
0        1.06500
1        1.06539
2        1.06557
3        1.06558
4        1.06559
...          ...
1435     1.05280
1436     1.05266
1437     1.05265
1438     1.05279
1439     1.05268

[1440 rows x 1 columns]
         day_188
row_num
0        1.05273
1        1.05294
2        1.05275
3        1.05258
4        1.05265
...          ...
1435     1.04244
1436     1.04263
1437     1.04262
1438     1.04275
1439     1.04292

[1440 rows x 1 columns]
         day_187
row_num
0        1.04319
1        1.04282
2        1.04280
3        1.04264
4        1.04257
...          ...
1435     1.04143
1436     1.04156
1437     1.04134
1438     1.04122
1439     1.04124

[1440 rows x 1 columns]
         day_186
row_num
0        1.04112
1        1.04143
2        1.04162
3        1.04145
4        1.04152
...          ...
1435     1.04000
1436     1.03939
1437     1.03948
1438     1.03945
1439     1.03935

[1440 rows x 1 columns]
         day_185
row_num
0        1.03944
1        1.03973
2        1.03979
3        1.03974
4        1.03986
...          ...
1435     1.05074
1436     1.05116
1437     1.05146
1438     1.05095
1439     1.05074

[1440 rows x 1 columns]
         day_184
row_num
0        1.05111
1        1.05145
2        1.05160
3        1.05092
4        1.05064
...          ...
1435     1.04687
1436     1.04697
1437     1.04703
1438     1.04704
1439     1.04683

[1440 rows x 1 columns]
         day_183
row_num
0        1.04701
1        1.04694
2        1.04692
3        1.04694
4        1.04673
...          ...
1435     1.05348
1436     1.05347
1437     1.05327
1438     1.05315
1439     1.05312

[1440 rows x 1 columns]
         day_182
row_num
0        1.05302
1        1.05282
2        1.05273
3        1.05289
4        1.05293
...          ...
1435     1.05525
1436     1.05528
1437     1.05528
1438     1.05524
1439     1.05550

[1440 rows x 1 columns]
         day_181
row_num
0        1.05560
1        1.05574
2        1.05568
3        1.05579
4        1.05585
...          ...
1435     1.05914
1436     1.05913
1437     1.05896
1438     1.05934
1439     1.05952

[1440 rows x 1 columns]
         day_180
row_num
0        1.05941
1        1.05938
2        1.05937
3        1.05922
4        1.05930
...          ...
1435     1.05307
1436     1.05244
1437     1.05225
1438     1.05177
1439     1.05146

[1440 rows x 1 columns]
         day_179
row_num
0        1.05176
1        1.05185
2        1.05171
3        1.05158
4        1.05154
...          ...
1435     1.05468
1436     1.05494
1437     1.05485
1438     1.05512
1439     1.05492

[1440 rows x 1 columns]
         day_178
row_num
0        1.05485
1        1.05502
2        1.05506
3        1.05506
4        1.05516
...          ...
1435     1.06124
1436     1.06090
1437     1.06094
1438     1.06073
1439     1.06087

[1440 rows x 1 columns]
         day_177
row_num
0        1.06120
1        1.06123
2        1.06130
3        1.06135
4        1.06095
...          ...
1435     1.05221
1436     1.05240
1437     1.05247
1438     1.05291
1439     1.05289

[1440 rows x 1 columns]
         day_176
row_num
0        1.05295
1        1.05299
2        1.05318
3        1.05335
4        1.05341
...          ...
1435     1.04680
1436     1.04709
1437     1.04701
1438     1.04699
1439     1.04687

[1440 rows x 1 columns]
         day_175
row_num
0        1.04709
1        1.04720
2        1.04729
3        1.04731
4        1.04711
...          ...
1435     1.04649
1436     1.04629
1437     1.04613
1438     1.04640
1439     1.04630

[1440 rows x 1 columns]
         day_174
row_num
0        1.04619
1        1.04610
2        1.04607
3        1.04603
4        1.04593
...          ...
1435     1.04010
1436     1.04036
1437     1.04031
1438     1.04073
1439     1.04058

[1440 rows x 1 columns]
         day_173
row_num
0        1.04071
1        1.04065
2        1.04076
3        1.04045
4        1.04062
...          ...
1435     1.04196
1436     1.04178
1437     1.04187
1438     1.04176
1439     1.04180

[1440 rows x 1 columns]
         day_172
row_num
0        1.04178
1        1.04179
2        1.04185
3        1.04204
4        1.04213
...          ...
1435     1.02458
1436     1.02455
1437     1.02483
1438     1.02490
1439     1.02494

[1440 rows x 1 columns]
         day_171
row_num
0        1.02508
1        1.02536
2        1.02529
3        1.02526
4        1.02541
...          ...
1435     1.01688
1436     1.01671
1437     1.01698
1438     1.01684
1439     1.01696

[1440 rows x 1 columns]
         day_170
row_num
0        1.01689
1        1.01685
2        1.01695
3        1.01688
4        1.01697
...          ...
1435     1.01577
1436     1.01582
1437     1.01567
1438     1.01567
1439     1.01549

[1440 rows x 1 columns]
         day_169
row_num
0        1.01580
1        1.01566
2        1.01554
3        1.01526
4        1.01535
...          ...
1435     1.01848
1436     1.01854
1437     1.01846
1438     1.01860
1439     1.01844

[1440 rows x 1 columns]
         day_168
row_num
0        1.01827
1        1.01784
2        1.01804
3        1.01845
4        1.01860
...          ...
1435     1.00788
1436     1.00795
1437     1.00800
1438     1.00809
1439     1.00809

[1440 rows x 1 columns]
         day_167
row_num
0        1.00775
1        1.00762
2        1.00755
3        1.00746
4        1.00752
...          ...
1435     1.00627
1436     1.00628
1437     1.00632
1438     1.00643
1439     1.00637

[1440 rows x 1 columns]
         day_166
row_num
0        1.00646
1        1.00662
2        1.00691
3        1.00692
4        1.00694
...          ...
1435     1.00851
1436     1.00835
1437     1.00843
1438     1.00810
1439     1.00775

[1440 rows x 1 columns]
         day_165
row_num
0        1.00774
1        1.00783
2        1.00833
3        1.00802
4        1.00815
...          ...
1435     1.00313
1436     1.00393
1437     1.00384
1438     1.00377
1439     1.00401

[1440 rows x 1 columns]
         day_164
row_num
0        1.00461
1        1.00380
2        1.00364
3        1.00385
4        1.00373
...          ...
1435     1.00894
1436     1.00898
1437     1.00902
1438     1.00922
1439     1.00934

[1440 rows x 1 columns]
         day_163
row_num
0        1.00958
1        1.00966
2        1.00951
3        1.00945
4        1.00959
...          ...
1435     1.01601
1436     1.01618
1437     1.01621
1438     1.01629
1439     1.01603

[1440 rows x 1 columns]
         day_162
row_num
0        1.01592
1        1.01616
2        1.01622
3        1.01630
4        1.01624
...          ...
1435     1.02392
1436     1.02383
1437     1.02388
1438     1.02374
1439     1.02369

[1440 rows x 1 columns]
         day_161
row_num
0        1.02390
1        1.02343
2        1.02343
3        1.02331
4        1.02300
...          ...
1435     1.02129
1436     1.02152
1437     1.02150
1438     1.02161
1439     1.02161

[1440 rows x 1 columns]

In [32]:
###df121 to df160###
df160 = pd.DataFrame(data=df_close_col.iloc[-231840:-230400])
df160['row_num']=np.arange(len(df160))
df160.set_index('row_num',inplace=True)
df160 = df160.rename(columns={5:'day_160'})
print(df160)

df159 = pd.DataFrame(data=df_close_col.iloc[-230400:-228960])
df159['row_num']=np.arange(len(df159))
df159.set_index('row_num',inplace=True)
df159 = df159.rename(columns={5:'day_159'})
print(df159)

df158 = pd.DataFrame(data=df_close_col.iloc[-228960:-227520])
df158['row_num']=np.arange(len(df158))
df158.set_index('row_num',inplace=True)
df158 = df158.rename(columns={5:'day_158'})
print(df158)

df157 = pd.DataFrame(data=df_close_col.iloc[-227520:-226080])
df157['row_num']=np.arange(len(df157))
df157.set_index('row_num',inplace=True)
df157 = df157.rename(columns={5:'day_157'})
print(df157)

df156 = pd.DataFrame(data=df_close_col.iloc[-226080:-224640])
df156['row_num']=np.arange(len(df156))
df156.set_index('row_num',inplace=True)
df156 = df156.rename(columns={5:'day_156'})
print(df156)

df155 = pd.DataFrame(data=df_close_col.iloc[-224640:-223200])
df155['row_num']=np.arange(len(df155))
df155.set_index('row_num',inplace=True)
df155 = df155.rename(columns={5:'day_155'})
print(df155)

df154 = pd.DataFrame(data=df_close_col.iloc[-223200:-221760])
df154['row_num']=np.arange(len(df154))
df154.set_index('row_num',inplace=True)
df154 = df154.rename(columns={5:'day_154'})
print(df154)

df153 = pd.DataFrame(data=df_close_col.iloc[-221760:-220320])
df153['row_num']=np.arange(len(df153))
df153.set_index('row_num',inplace=True)
df153 = df153.rename(columns={5:'day_153'})
print(df153)

df152 = pd.DataFrame(data=df_close_col.iloc[-220320:-218880])
df152['row_num']=np.arange(len(df152))
df152.set_index('row_num',inplace=True)
df152 = df152.rename(columns={5:'day_152'})
print(df152)

df151 = pd.DataFrame(data=df_close_col.iloc[-218880:-217440])
df151['row_num']=np.arange(len(df151))
df151.set_index('row_num',inplace=True)
df151 = df151.rename(columns={5:'day_151'})
print(df151)

df150 = pd.DataFrame(data=df_close_col.iloc[-217440:-216000])
df150['row_num']=np.arange(len(df150))
df150.set_index('row_num',inplace=True)
df150 = df150.rename(columns={5:'day_150'})
print(df150)

df149 = pd.DataFrame(data=df_close_col.iloc[-216000:-214560])
df149['row_num']=np.arange(len(df149))
df149.set_index('row_num',inplace=True)
df149 = df149.rename(columns={5:'day_149'})
print(df149)

df148 = pd.DataFrame(data=df_close_col.iloc[-214560:-213120])
df148['row_num']=np.arange(len(df148))
df148.set_index('row_num',inplace=True)
df148 = df148.rename(columns={5:'day_148'})
print(df148)

df147 = pd.DataFrame(data=df_close_col.iloc[-213120:-211680])
df147['row_num']=np.arange(len(df147))
df147.set_index('row_num',inplace=True)
df147 = df147.rename(columns={5:'day_147'})
print(df147)

df146 = pd.DataFrame(data=df_close_col.iloc[-211680:-210240])
df146['row_num']=np.arange(len(df146))
df146.set_index('row_num',inplace=True)
df146 = df146.rename(columns={5:'day_146'})
print(df146)

df145 = pd.DataFrame(data=df_close_col.iloc[-210240:-208800])
df145['row_num']=np.arange(len(df145))
df145.set_index('row_num',inplace=True)
df145 = df145.rename(columns={5:'day_145'})
print(df145)

df144 = pd.DataFrame(data=df_close_col.iloc[-208800:-207360])
df144['row_num']=np.arange(len(df144))
df144.set_index('row_num',inplace=True)
df144 = df144.rename(columns={5:'day_144'})
print(df144)

df143 = pd.DataFrame(data=df_close_col.iloc[-207360:-205920])
df143['row_num']=np.arange(len(df143))
df143.set_index('row_num',inplace=True)
df143 = df143.rename(columns={5:'day_143'})
print(df143)

df142 = pd.DataFrame(data=df_close_col.iloc[-205920:-204480])
df142['row_num']=np.arange(len(df142))
df142.set_index('row_num',inplace=True)
df142 = df142.rename(columns={5:'day_142'})
print(df142)

df141 = pd.DataFrame(data=df_close_col.iloc[-204480:-203040])
df141['row_num']=np.arange(len(df141))
df141.set_index('row_num',inplace=True)
df141 = df141.rename(columns={5:'day_141'})
print(df141)


df140 = pd.DataFrame(data=df_close_col.iloc[-203040:-201600])
df140['row_num']=np.arange(len(df140))
df140.set_index('row_num',inplace=True)
df140 = df140.rename(columns={5:'day_140'})
print(df140)

df139 = pd.DataFrame(data=df_close_col.iloc[-201600:-200160])
df139['row_num']=np.arange(len(df139))
df139.set_index('row_num',inplace=True)
df139 = df139.rename(columns={5:'day_139'})
print(df139)

df138 = pd.DataFrame(data=df_close_col.iloc[-200160:-198720])
df138['row_num']=np.arange(len(df138))
df138.set_index('row_num',inplace=True)
df138 = df138.rename(columns={5:'day_138'})
print(df138)

df137 = pd.DataFrame(data=df_close_col.iloc[-198720:-197280])
df137['row_num']=np.arange(len(df137))
df137.set_index('row_num',inplace=True)
df137 = df137.rename(columns={5:'day_137'})
print(df137)

df136 = pd.DataFrame(data=df_close_col.iloc[-197280:-195840])
df136['row_num']=np.arange(len(df136))
df136.set_index('row_num',inplace=True)
df136 = df136.rename(columns={5:'day_136'})
print(df136)

df135 = pd.DataFrame(data=df_close_col.iloc[-195840:-194400])
df135['row_num']=np.arange(len(df135))
df135.set_index('row_num',inplace=True)
df135 = df135.rename(columns={5:'day_135'})
print(df135)

df134 = pd.DataFrame(data=df_close_col.iloc[-194400:-192960])
df134['row_num']=np.arange(len(df134))
df134.set_index('row_num',inplace=True)
df134 = df134.rename(columns={5:'day_134'})
print(df134)

df133 = pd.DataFrame(data=df_close_col.iloc[-192960:-191520])
df133['row_num']=np.arange(len(df133))
df133.set_index('row_num',inplace=True)
df133 = df133.rename(columns={5:'day_133'})
print(df133)

df132 = pd.DataFrame(data=df_close_col.iloc[-191520:-190080])
df132['row_num']=np.arange(len(df132))
df132.set_index('row_num',inplace=True)
df132 = df132.rename(columns={5:'day_132'})
print(df132)

df131 = pd.DataFrame(data=df_close_col.iloc[-190080:-188640])
df131['row_num']=np.arange(len(df131))
df131.set_index('row_num',inplace=True)
df131 = df131.rename(columns={5:'day_131'})
print(df131)

df130 = pd.DataFrame(data=df_close_col.iloc[-188640:-187200])
df130['row_num']=np.arange(len(df130))
df130.set_index('row_num',inplace=True)
df130 = df130.rename(columns={5:'day_130'})
print(df130)

df129 = pd.DataFrame(data=df_close_col.iloc[-187200:-185760])
df129['row_num']=np.arange(len(df129))
df129.set_index('row_num',inplace=True)
df129 = df129.rename(columns={5:'day_129'})
print(df129)

df128 = pd.DataFrame(data=df_close_col.iloc[-185760:-184320])
df128['row_num']=np.arange(len(df128))
df128.set_index('row_num',inplace=True)
df128 = df128.rename(columns={5:'day_128'})
print(df128)

df127 = pd.DataFrame(data=df_close_col.iloc[-184320:-182880])
df127['row_num']=np.arange(len(df127))
df127.set_index('row_num',inplace=True)
df127 = df127.rename(columns={5:'day_127'})
print(df127)

df126 = pd.DataFrame(data=df_close_col.iloc[-182880:-181440])
df126['row_num']=np.arange(len(df126))
df126.set_index('row_num',inplace=True)
df126 = df126.rename(columns={5:'day_126'})
print(df126)

df125 = pd.DataFrame(data=df_close_col.iloc[-181440:-180000])
df125['row_num']=np.arange(len(df125))
df125.set_index('row_num',inplace=True)
df125 = df125.rename(columns={5:'day_125'})
print(df125)

df124 = pd.DataFrame(data=df_close_col.iloc[-180000:-178560])
df124['row_num']=np.arange(len(df124))
df124.set_index('row_num',inplace=True)
df124 = df124.rename(columns={5:'day_124'})
print(df124)

df123 = pd.DataFrame(data=df_close_col.iloc[-178560:-177120])
df123['row_num']=np.arange(len(df123))
df123.set_index('row_num',inplace=True)
df123 = df123.rename(columns={5:'day_123'})
print(df123)

###
#left out a day here, still need to fix it -177120:-175680
###

df122 = pd.DataFrame(data=df_close_col.iloc[-175680:-174240])
df122['row_num']=np.arange(len(df122))
df122.set_index('row_num',inplace=True)
df122 = df122.rename(columns={5:'day_122'})
print(df122)

df121 = pd.DataFrame(data=df_close_col.iloc[-174240:-172800])
df121['row_num']=np.arange(len(df121))
df121.set_index('row_num',inplace=True)
df121 = df121.rename(columns={5:'day_121'})
print(df121)
###df121 to df160###

         day_160
row_num
0        1.02151
1        1.02126
2        1.02131
3        1.02137
4        1.02139
...          ...
1435     1.01941
1436     1.01933
1437     1.01958
1438     1.01935
1439     1.01912

[1440 rows x 1 columns]
         day_159
row_num
0        1.01866
1        1.01863
2        1.01858
3        1.01852
4        1.01835
...          ...
1435     1.02197
1436     1.02197
1437     1.02187
1438     1.02184
1439     1.02190

[1440 rows x 1 columns]
         day_158
row_num
0        1.02205
1        1.02191
2        1.02188
3        1.02191
4        1.02198
...          ...
1435     1.02087
1436     1.02094
1437     1.02097
1438     1.02096
1439     1.02089

[1440 rows x 1 columns]
         day_157
row_num
0        1.02087
1        1.02077
2        1.02076
3        1.02086
4        1.02092
...          ...
1435     1.01158
1436     1.01151
1437     1.01147
1438     1.01152
1439     1.01135

[1440 rows x 1 columns]
         day_156
row_num
0        1.01135
1        1.01157
2        1.01166
3        1.01181
4        1.01186
...          ...
1435     1.01007
1436     1.00998
1437     1.01035
1438     1.01032
1439     1.01037

[1440 rows x 1 columns]
         day_155
row_num
0        1.01043
1        1.01052
2        1.01054
3        1.01046
4        1.01054
...          ...
1435     1.01485
1436     1.01530
1437     1.01522
1438     1.01514
1439     1.01499

[1440 rows x 1 columns]
         day_154
row_num
0        1.01505
1        1.01508
2        1.01515
3        1.01516
4        1.01525
...          ...
1435     1.01811
1436     1.01831
1437     1.01851
1438     1.01851
1439     1.01884

[1440 rows x 1 columns]
         day_153
row_num
0        1.01875
1        1.01891
2        1.01890
3        1.01905
4        1.01920
...          ...
1435     1.02746
1436     1.02744
1437     1.02745
1438     1.02749
1439     1.02730

[1440 rows x 1 columns]
         day_152
row_num
0        1.02742
1        1.02734
2        1.02728
3        1.02685
4        1.02656
...          ...
1435     1.01941
1436     1.01941
1437     1.01945
1438     1.01952
1439     1.01945

[1440 rows x 1 columns]
         day_151
row_num
0        1.01926
1        1.01942
2        1.01956
3        1.01948
4        1.01925
...          ...
1435     1.01532
1436     1.01545
1437     1.01535
1438     1.01513
1439     1.01526

[1440 rows x 1 columns]
         day_150
row_num
0        1.01509
1        1.01485
2        1.01511
3        1.01499
4        1.01509
...          ...
1435     1.02365
1436     1.02349
1437     1.02349
1438     1.02358
1439     1.02351

[1440 rows x 1 columns]
         day_149
row_num
0        1.02343
1        1.02329
2        1.02325
3        1.02326
4        1.02327
...          ...
1435     1.01906
1436     1.01879
1437     1.01865
1438     1.01859
1439     1.01857

[1440 rows x 1 columns]
         day_148
row_num
0        1.01852
1        1.01861
2        1.01867
3        1.01900
4        1.01870
...          ...
1435     1.02034
1436     1.02037
1437     1.02038
1438     1.02035
1439     1.02027

[1440 rows x 1 columns]
         day_147
row_num
0        1.02026
1        1.02020
2        1.02019
3        1.02002
4        1.02003
...          ...
1435     1.02121
1436     1.02121
1437     1.02130
1438     1.02121
1439     1.02119

[1440 rows x 1 columns]
         day_146
row_num
0        1.02121
1        1.02124
2        1.02126
3        1.02123
4        1.02124
...          ...
1435     1.03201
1436     1.03195
1437     1.03222
1438     1.03207
1439     1.03202

[1440 rows x 1 columns]
         day_145
row_num
0        1.03202
1        1.03198
2        1.03188
3        1.03193
4        1.03170
...          ...
1435     1.03205
1436     1.03226
1437     1.03213
1438     1.03206
1439     1.03196

[1440 rows x 1 columns]
         day_144
row_num
0        1.03191
1        1.03194
2        1.03196
3        1.03204
4        1.03207
...          ...
1435     1.02618
1436     1.02613
1437     1.02608
1438     1.02612
1439     1.02618

[1440 rows x 1 columns]
         day_143
row_num
0        1.02618
1        1.02629
2        1.02623
3        1.02609
4        1.02617
...          ...
1435     1.01624
1436     1.01634
1437     1.01627
1438     1.01624
1439     1.01598

[1440 rows x 1 columns]
         day_142
row_num
0        1.01578
1        1.01577
2        1.01592
3        1.01587
4        1.01587
...          ...
1435     1.01751
1436     1.01776
1437     1.01777
1438     1.01773
1439     1.01782

[1440 rows x 1 columns]
         day_141
row_num
0        1.01795
1        1.01778
2        1.01797
3        1.01793
4        1.01799
...          ...
1435     1.01891
1436     1.01877
1437     1.01885
1438     1.01939
1439     1.01927

[1440 rows x 1 columns]
         day_140
row_num
0        1.01969
1        1.01948
2        1.01924
3        1.01904
4        1.01906
...          ...
1435     1.00830
1436     1.00825
1437     1.00824
1438     1.00821
1439     1.00818

[1440 rows x 1 columns]
         day_139
row_num
0        1.00823
1        1.00822
2        1.00828
3        1.00825
4        1.00819
...          ...
1435     1.00387
1436     1.00389
1437     1.00386
1438     1.00373
1439     1.00360

[1440 rows x 1 columns]
         day_138
row_num
0        1.00356
1        1.00369
2        1.00360
3        1.00368
4        1.00378
...          ...
1435     0.99356
1436     0.99345
1437     0.99331
1438     0.99326
1439     0.99341

[1440 rows x 1 columns]
         day_137
row_num
0        0.99337
1        0.99327
2        0.99340
3        0.99329
4        0.99332
...          ...
1435     0.99616
1436     0.99626
1437     0.99630
1438     0.99622
1439     0.99628

[1440 rows x 1 columns]
         day_136
row_num
0        0.99615
1        0.99621
2        0.99618
3        0.99626
4        0.99618
...          ...
1435     0.99641
1436     0.99652
1437     0.99656
1438     0.99666
1439     0.99672

[1440 rows x 1 columns]
         day_135
row_num
0        0.99664
1        0.99660
2        0.99666
3        0.99673
4        0.99672
...          ...
1435     0.99714
1436     0.99701
1437     0.99700
1438     0.99694
1439     0.99670

[1440 rows x 1 columns]
         day_134
row_num
0        0.99665
1        0.99655
2        0.99664
3        0.99680
4        0.99690
...          ...
1435     0.99695
1436     0.99701
1437     0.99721
1438     0.99718
1439     0.99723

[1440 rows x 1 columns]
         day_133
row_num
0        0.99720
1        0.99714
2        0.99702
3        0.99680
4        0.99670
...          ...
1435     1.00019
1436     1.00008
1437     1.00000
1438     0.99980
1439     0.99975

[1440 rows x 1 columns]
         day_132
row_num
0        0.99971
1        0.99959
2        0.99945
3        0.99926
4        0.99925
...          ...
1435     1.00183
1436     1.00180
1437     1.00190
1438     1.00205
1439     1.00213

[1440 rows x 1 columns]
         day_131
row_num
0        1.00217
1        1.00252
2        1.00275
3        1.00275
4        1.00266
...          ...
1435     1.00522
1436     1.00522
1437     1.00517
1438     1.00499
1439     1.00497

[1440 rows x 1 columns]
         day_130
row_num
0        1.00506
1        1.00506
2        1.00517
3        1.00520
4        1.00518
...          ...
1435     0.99546
1436     0.99530
1437     0.99516
1438     0.99507
1439     0.99493

[1440 rows x 1 columns]
         day_129
row_num
0        0.99486
1        0.99503
2        0.99503
3        0.99489
4        0.99507
...          ...
1435     0.99602
1436     0.99595
1437     0.99591
1438     0.99582
1439     0.99591

[1440 rows x 1 columns]
         day_128
row_num
0        0.99581
1        0.99572
2        0.99555
3        0.99556
4        0.99569
...          ...
1435     0.99292
1436     0.99295
1437     0.99293
1438     0.99295
1439     0.99290

[1440 rows x 1 columns]
         day_127
row_num
0        0.99289
1        0.99289
2        0.99298
3        0.99298
4        0.99295
...          ...
1435     0.99039
1436     0.99042
1437     0.99036
1438     0.99019
1439     0.99015

[1440 rows x 1 columns]
         day_126
row_num
0        0.99012
1        0.99020
2        0.99020
3        0.99039
4        0.99034
...          ...
1435     1.00077
1436     1.00091
1437     1.00077
1438     1.00073
1439     1.00067

[1440 rows x 1 columns]
         day_125
row_num
0        1.00063
1        1.00060
2        1.00061
3        1.00060
4        1.00063
...          ...
1435     0.99995
1436     0.99997
1437     0.99984
1438     0.99975
1439     0.99981

[1440 rows x 1 columns]
         day_124
row_num
0        0.99979
1        0.99984
2        0.99989
3        0.99981
4        0.99981
...          ...
1435     1.00443
1436     1.00442
1437     1.00447
1438     1.00451
1439     1.00444

[1440 rows x 1 columns]
         day_123
row_num
0        1.00443
1        1.00439
2        1.00439
3        1.00447
4        1.00448
...          ...
1435     1.01203
1436     1.01202
1437     1.01203
1438     1.01206
1439     1.01203

[1440 rows x 1 columns]
         day_122
row_num
0        0.99719
1        0.99721
2        0.99725
3        0.99724
4        0.99720
...          ...
1435     0.99775
1436     0.99780
1437     0.99780
1438     0.99779
1439     0.99782

[1440 rows x 1 columns]
         day_121
row_num
0        0.99778
1        0.99777
2        0.99772
3        0.99770
4        0.99779
...          ...
1435     0.99973
1436     0.99971
1437     0.99971
1438     0.99971
1439     0.99970

[1440 rows x 1 columns]

In [33]:
###df80 to df120###
df120 = pd.DataFrame(data=df_close_col.iloc[-172800:-171360])
df120['row_num']=np.arange(len(df120))
df120.set_index('row_num',inplace=True)
df120 = df120.rename(columns={5:'day_120'})
print(df120)

df119 = pd.DataFrame(data=df_close_col.iloc[-171360:-169920])
df119['row_num']=np.arange(len(df119))
df119.set_index('row_num',inplace=True)
df119 = df119.rename(columns={5:'day_119'})
print(df119)

df118 = pd.DataFrame(data=df_close_col.iloc[-169920:-168480])
df118['row_num']=np.arange(len(df118))
df118.set_index('row_num',inplace=True)
df118 = df118.rename(columns={5:'day_118'})
print(df118)

df117 = pd.DataFrame(data=df_close_col.iloc[-168480:-167040])
df117['row_num']=np.arange(len(df117))
df117.set_index('row_num',inplace=True)
df117 = df117.rename(columns={5:'day_117'})
print(df117)

df116 = pd.DataFrame(data=df_close_col.iloc[-167040:-165600])
df116['row_num']=np.arange(len(df116))
df116.set_index('row_num',inplace=True)
df116 = df116.rename(columns={5:'day_116'})
print(df116)

df115 = pd.DataFrame(data=df_close_col.iloc[-165600:-164160])
df115['row_num']=np.arange(len(df115))
df115.set_index('row_num',inplace=True)
df115 = df115.rename(columns={5:'day_115'})
print(df115)

df114 = pd.DataFrame(data=df_close_col.iloc[-164160:-162720])
df114['row_num']=np.arange(len(df114))
df114.set_index('row_num',inplace=True)
df114 = df114.rename(columns={5:'day_114'})
print(df114)

df113 = pd.DataFrame(data=df_close_col.iloc[-162720:-161280])
df113['row_num']=np.arange(len(df113))
df113.set_index('row_num',inplace=True)
df113 = df113.rename(columns={5:'day_113'})
print(df113)

df112 = pd.DataFrame(data=df_close_col.iloc[-161280:-159840])
df112['row_num']=np.arange(len(df112))
df112.set_index('row_num',inplace=True)
df112 = df112.rename(columns={5:'day_112'})
print(df112)

df111 = pd.DataFrame(data=df_close_col.iloc[-159840:-158400])
df111['row_num']=np.arange(len(df111))
df111.set_index('row_num',inplace=True)
df111 = df111.rename(columns={5:'day_111'})
print(df111)

df110 = pd.DataFrame(data=df_close_col.iloc[-158400:-156960])
df110['row_num']=np.arange(len(df110))
df110.set_index('row_num',inplace=True)
df110 = df110.rename(columns={5:'day_110'})
print(df110)

df109 = pd.DataFrame(data=df_close_col.iloc[-156960:-155520])
df109['row_num']=np.arange(len(df109))
df109.set_index('row_num',inplace=True)
df109 = df109.rename(columns={5:'day_109'})
print(df109)

df108 = pd.DataFrame(data=df_close_col.iloc[-155520:-154080])
df108['row_num']=np.arange(len(df108))
df108.set_index('row_num',inplace=True)
df108 = df108.rename(columns={5:'day_108'})
print(df108)

df107 = pd.DataFrame(data=df_close_col.iloc[-154080:-152640])
df107['row_num']=np.arange(len(df107))
df107.set_index('row_num',inplace=True)
df107 = df107.rename(columns={5:'day_107'})
print(df107)

df106 = pd.DataFrame(data=df_close_col.iloc[-152640:-151200])
df106['row_num']=np.arange(len(df106))
df106.set_index('row_num',inplace=True)
df106 = df106.rename(columns={5:'day_106'})
print(df106)

df105 = pd.DataFrame(data=df_close_col.iloc[-151200:-149760])
df105['row_num']=np.arange(len(df105))
df105.set_index('row_num',inplace=True)
df105 = df105.rename(columns={5:'day_105'})
print(df105)

df104 = pd.DataFrame(data=df_close_col.iloc[-149760:-148320])
df104['row_num']=np.arange(len(df104))
df104.set_index('row_num',inplace=True)
df104 = df104.rename(columns={5:'day_104'})
print(df104)

df103 = pd.DataFrame(data=df_close_col.iloc[-148320:-146880])
df103['row_num']=np.arange(len(df103))
df103.set_index('row_num',inplace=True)
df103 = df103.rename(columns={5:'day_103'})
print(df103)

df102 = pd.DataFrame(data=df_close_col.iloc[-146880:-145440])
df102['row_num']=np.arange(len(df102))
df102.set_index('row_num',inplace=True)
df102 = df102.rename(columns={5:'day_102'})
print(df102)

df101 = pd.DataFrame(data=df_close_col.iloc[-145440:-144000])
df101['row_num']=np.arange(len(df101))
df101.set_index('row_num',inplace=True)
df101 = df101.rename(columns={5:'day_101'})
print(df101)


df100 = pd.DataFrame(data=df_close_col.iloc[-144000:-142560])
df100['row_num']=np.arange(len(df100))
df100.set_index('row_num',inplace=True)
df100 = df100.rename(columns={5:'day_100'})
print(df100)

df99 = pd.DataFrame(data=df_close_col.iloc[-142560:-141120])
df99['row_num']=np.arange(len(df99))
df99.set_index('row_num',inplace=True)
df99 = df99.rename(columns={5:'day_99'})
print(df99)

df98 = pd.DataFrame(data=df_close_col.iloc[-141120:-139680])
df98['row_num']=np.arange(len(df98))
df98.set_index('row_num',inplace=True)
df98 = df98.rename(columns={5:'day_98'})
print(df98)

df97 = pd.DataFrame(data=df_close_col.iloc[-139680:-138240])
df97['row_num']=np.arange(len(df97))
df97.set_index('row_num',inplace=True)
df97 = df97.rename(columns={5:'day_97'})
print(df97)

df96 = pd.DataFrame(data=df_close_col.iloc[-138240:-136800])
df96['row_num']=np.arange(len(df96))
df96.set_index('row_num',inplace=True)
df96 = df96.rename(columns={5:'day_96'})
print(df96)

df95 = pd.DataFrame(data=df_close_col.iloc[-136800:-135360])
df95['row_num']=np.arange(len(df95))
df95.set_index('row_num',inplace=True)
df95 = df95.rename(columns={5:'day_95'})
print(df95)

df94 = pd.DataFrame(data=df_close_col.iloc[-135360:-133920])
df94['row_num']=np.arange(len(df94))
df94.set_index('row_num',inplace=True)
df94 = df94.rename(columns={5:'day_94'})
print(df94)

df93 = pd.DataFrame(data=df_close_col.iloc[-133920:-132480])
df93['row_num']=np.arange(len(df93))
df93.set_index('row_num',inplace=True)
df93 = df93.rename(columns={5:'day_93'})
print(df93)

df92 = pd.DataFrame(data=df_close_col.iloc[-132480:-131040])
df92['row_num']=np.arange(len(df92))
df92.set_index('row_num',inplace=True)
df92 = df92.rename(columns={5:'day_92'})
print(df92)

df91 = pd.DataFrame(data=df_close_col.iloc[-131040:-129600])
df91['row_num']=np.arange(len(df91))
df91.set_index('row_num',inplace=True)
df91 = df91.rename(columns={5:'day_91'})
print(df91)

df90 = pd.DataFrame(data=df_close_col.iloc[-129600:-128160])
df90['row_num']=np.arange(len(df90))
df90.set_index('row_num',inplace=True)
df90 = df90.rename(columns={5:'day_90'})
print(df90)

df89 = pd.DataFrame(data=df_close_col.iloc[-128160:-126720])
df89['row_num']=np.arange(len(df89))
df89.set_index('row_num',inplace=True)
df89 = df89.rename(columns={5:'day_89'})
print(df89)

df88 = pd.DataFrame(data=df_close_col.iloc[-126720:-125280])
df88['row_num']=np.arange(len(df88))
df88.set_index('row_num',inplace=True)
df88 = df88.rename(columns={5:'day_88'})
print(df88)

df87 = pd.DataFrame(data=df_close_col.iloc[-125280:-123840])
df87['row_num']=np.arange(len(df87))
df87.set_index('row_num',inplace=True)
df87 = df87.rename(columns={5:'day_87'})
print(df87)

df86 = pd.DataFrame(data=df_close_col.iloc[-123840:-122400])
df86['row_num']=np.arange(len(df86))
df86.set_index('row_num',inplace=True)
df86 = df86.rename(columns={5:'day_86'})
print(df86)

df85 = pd.DataFrame(data=df_close_col.iloc[-122400:-120960])
df85['row_num']=np.arange(len(df85))
df85.set_index('row_num',inplace=True)
df85 = df85.rename(columns={5:'day_85'})
print(df85)

df84 = pd.DataFrame(data=df_close_col.iloc[-120960:-119520])
df84['row_num']=np.arange(len(df84))
df84.set_index('row_num',inplace=True)
df84 = df84.rename(columns={5:'day_84'})
print(df84)

df83 = pd.DataFrame(data=df_close_col.iloc[-119520:-118080])
df83['row_num']=np.arange(len(df83))
df83.set_index('row_num',inplace=True)
df83 = df83.rename(columns={5:'day_83'})
print(df83)

df82 = pd.DataFrame(data=df_close_col.iloc[-118080:-116640])
df82['row_num']=np.arange(len(df82))
df82.set_index('row_num',inplace=True)
df82 = df82.rename(columns={5:'day_82'})
print(df82)

df81 = pd.DataFrame(data=df_close_col.iloc[-116640:-115200])
df81['row_num']=np.arange(len(df81))
df81.set_index('row_num',inplace=True)
df81 = df81.rename(columns={5:'day_81'})
print(df81)
###df80 to df 120###

         day_120
row_num
0        0.99968
1        0.99942
2        0.99944
3        0.99962
4        0.99966
...          ...
1435     1.00117
1436     1.00117
1437     1.00117
1438     1.00122
1439     1.00121

[1440 rows x 1 columns]
         day_119
row_num
0        1.00121
1        1.00120
2        1.00115
3        1.00115
4        1.00117
...          ...
1435     1.00239
1436     1.00242
1437     1.00239
1438     1.00243
1439     1.00244

[1440 rows x 1 columns]
         day_118
row_num
0        1.00242
1        1.00241
2        1.00249
3        1.00232
4        1.00231
...          ...
1435     0.99689
1436     0.99689
1437     0.99689
1438     0.99689
1439     0.99689

[1440 rows x 1 columns]
         day_117
row_num
0        0.99689
1        0.99689
2        0.99689
3        0.99689
4        0.99689
...          ...
1435     0.98378
1436     0.98378
1437     0.98378
1438     0.98378
1439     0.98365

[1440 rows x 1 columns]
         day_116
row_num
0        0.98362
1        0.98362
2        0.98362
3        0.98374
4        0.98363
...          ...
1435     0.98345
1436     0.98375
1437     0.98377
1438     0.98377
1439     0.98377

[1440 rows x 1 columns]
         day_115
row_num
0        0.98377
1        0.98374
2        0.98339
3        0.98341
4        0.98342
...          ...
1435     0.96840
1436     0.96828
1437     0.96824
1438     0.96819
1439     0.96808

[1440 rows x 1 columns]
         day_114
row_num
0        0.96802
1        0.96803
2        0.96801
3        0.96772
4        0.96802
...          ...
1435     0.96073
1436     0.96072
1437     0.96072
1438     0.96072
1439     0.96070

[1440 rows x 1 columns]
         day_113
row_num
0        0.96071
1        0.96067
2        0.96072
3        0.96072
4        0.96072
...          ...
1435     0.95916
1436     0.95906
1437     0.95919
1438     0.95914
1439     0.95928

[1440 rows x 1 columns]
         day_112
row_num
0        0.95924
1        0.95926
2        0.95917
3        0.95907
4        0.95940
...          ...
1435     0.97359
1436     0.97359
1437     0.97359
1438     0.97359
1439     0.97359

[1440 rows x 1 columns]
         day_111
row_num
0        0.97360
1        0.97360
2        0.97293
3        0.97295
4        0.97334
...          ...
1435     0.98171
1436     0.98174
1437     0.98157
1438     0.98165
1439     0.98157

[1440 rows x 1 columns]
         day_110
row_num
0        0.98157
1        0.98160
2        0.98165
3        0.98161
4        0.98161
...          ...
1435     0.97953
1436     0.97954
1437     0.97954
1438     0.97950
1439     0.97957

[1440 rows x 1 columns]
         day_109
row_num
0        0.97951
1        0.97952
2        0.97955
3        0.97952
4        0.97944
...          ...
1435     0.98228
1436     0.98228
1437     0.98227
1438     0.98228
1439     0.98233

[1440 rows x 1 columns]
         day_108
row_num
0        0.98228
1        0.98213
2        0.98213
3        0.98213
4        0.98113
...          ...
1435     0.99825
1436     0.99825
1437     0.99825
1438     0.99825
1439     0.99825

[1440 rows x 1 columns]
         day_107
row_num
0        0.99826
1        0.99825
2        0.99829
3        0.99825
4        0.99825
...          ...
1435     0.98820
1436     0.98827
1437     0.98827
1438     0.98785
1439     0.98792

[1440 rows x 1 columns]
         day_106
row_num
0        0.98784
1        0.98815
2        0.98840
3        0.98778
4        0.98777
...          ...
1435     0.97911
1436     0.97911
1437     0.97919
1438     0.97912
1439     0.97919

[1440 rows x 1 columns]
         day_105
row_num
0        0.97913
1        0.97965
2        0.97962
3        0.97950
4        0.97948
...          ...
1435     0.97351
1436     0.97333
1437     0.97337
1438     0.97336
1439     0.97356

[1440 rows x 1 columns]
         day_104
row_num
0        0.97330
1        0.97302
2        0.97300
3        0.97297
4        0.97344
...          ...
1435     0.97038
1436     0.97039
1437     0.97028
1438     0.97038
1439     0.97042

[1440 rows x 1 columns]
         day_103
row_num
0        0.97027
1        0.97014
2        0.97012
3        0.97011
4        0.97010
...          ...
1435     0.97036
1436     0.97037
1437     0.97034
1438     0.97057
1439     0.97037

[1440 rows x 1 columns]
         day_102
row_num
0        0.97055
1        0.97046
2        0.97053
3        0.97061
4        0.97059
...          ...
1435     0.97048
1436     0.97047
1437     0.97078
1438     0.97080
1439     0.97083

[1440 rows x 1 columns]
         day_101
row_num
0        0.97076
1        0.97087
2        0.97086
3        0.97088
4        0.97086
...          ...
1435     0.97742
1436     0.97740
1437     0.97763
1438     0.97773
1439     0.97765

[1440 rows x 1 columns]
         day_100
row_num
0        0.97773
1        0.97767
2        0.97767
3        0.97745
4        0.97743
...          ...
1435     0.97339
1436     0.97370
1437     0.97353
1438     0.97351
1439     0.97346

[1440 rows x 1 columns]
          day_99
row_num
0        0.97336
1        0.97341
2        0.97342
3        0.97328
4        0.97346
...          ...
1435     0.98417
1436     0.98392
1437     0.98401
1438     0.98402
1439     0.98401

[1440 rows x 1 columns]
          day_98
row_num
0        0.98412
1        0.98406
2        0.98404
3        0.98394
4        0.98386
...          ...
1435     0.98624
1436     0.98624
1437     0.98625
1438     0.98622
1439     0.98618

[1440 rows x 1 columns]
          day_97
row_num
0        0.98613
1        0.98613
2        0.98616
3        0.98620
4        0.98620
...          ...
1435     0.97738
1436     0.97731
1437     0.97731
1438     0.97733
1439     0.97731

[1440 rows x 1 columns]
          day_96
row_num
0        0.97735
1        0.97741
2        0.97746
3        0.97746
4        0.97752
...          ...
1435     0.97856
1436     0.97864
1437     0.97858
1438     0.97849
1439     0.97845

[1440 rows x 1 columns]
          day_95
row_num
0        0.97850
1        0.97853
2        0.97847
3        0.97840
4        0.97836
...          ...
1435     0.98689
1436     0.98693
1437     0.98611
1438     0.98572
1439     0.98534

[1440 rows x 1 columns]
          day_94
row_num
0        0.98654
1        0.98633
2        0.98605
3        0.98598
4        0.98605
...          ...
1435     0.98772
1436     0.98762
1437     0.98780
1438     0.98794
1439     0.98797

[1440 rows x 1 columns]
          day_93
row_num
0        0.98794
1        0.98810
2        0.98823
3        0.98826
4        0.98822
...          ...
1435     0.99593
1436     0.99610
1437     0.99610
1438     0.99590
1439     0.99597

[1440 rows x 1 columns]
          day_92
row_num
0        0.99607
1        0.99618
2        0.99620
3        0.99624
4        0.99620
...          ...
1435     1.00795
1436     1.00801
1437     1.00811
1438     1.00819
1439     1.00814

[1440 rows x 1 columns]
          day_91
row_num
0        1.00808
1        1.00799
2        1.00779
3        1.00798
4        1.00808
...          ...
1435     0.99685
1436     0.99691
1437     0.99686
1438     0.99687
1439     0.99697

[1440 rows x 1 columns]
          day_90
row_num
0        0.99691
1        0.99693
2        0.99688
3        0.99695
4        0.99677
...          ...
1435     0.99584
1436     0.99590
1437     0.99582
1438     0.99587
1439     0.99595

[1440 rows x 1 columns]
          day_89
row_num
0        0.99594
1        0.99592
2        0.99585
3        0.99588
4        0.99577
...          ...
1435     0.98854
1436     0.98851
1437     0.98858
1438     0.98863
1439     0.98860

[1440 rows x 1 columns]
          day_88
row_num
0        0.98870
1        0.98866
2        0.98870
3        0.98865
4        0.98860
...          ...
1435     0.98759
1436     0.98755
1437     0.98753
1438     0.98757
1439     0.98751

[1440 rows x 1 columns]
          day_87
row_num
0        0.98756
1        0.98755
2        0.98752
3        0.98752
4        0.98749
...          ...
1435     0.98103
1436     0.98103
1437     0.98111
1438     0.98120
1439     0.98131

[1440 rows x 1 columns]
          day_86
row_num
0        0.98127
1        0.98131
2        0.98134
3        0.98120
4        0.98110
...          ...
1435     0.97490
1436     0.97492
1437     0.97492
1438     0.97491
1439     0.97487

[1440 rows x 1 columns]
          day_85
row_num
0        0.97481
1        0.97487
2        0.97482
3        0.97475
4        0.97475
...          ...
1435     0.99299
1436     0.99301
1437     0.99319
1438     0.99326
1439     0.99313

[1440 rows x 1 columns]
          day_84
row_num
0        0.99313
1        0.99313
2        0.99306
3        0.99316
4        0.99331
...          ...
1435     1.00253
1436     1.00288
1437     1.00269
1438     1.00287
1439     1.00287

[1440 rows x 1 columns]
          day_83
row_num
0        1.00264
1        1.00258
2        1.00264
3        1.00290
4        1.00293
...          ...
1435     1.00719
1436     1.00730
1437     1.00729
1438     1.00722
1439     1.00746

[1440 rows x 1 columns]
          day_82
row_num
0        1.00729
1        1.00742
2        1.00728
3        1.00706
4        1.00715
...          ...
1435     1.00232
1436     1.00223
1437     1.00214
1438     1.00214
1439     1.00230

[1440 rows x 1 columns]
          day_81
row_num
0        1.00237
1        1.00245
2        1.00264
3        1.00261
4        1.00265
...          ...
1435     1.01874
1436     1.01871
1437     1.01855
1438     1.01852
1439     1.01826

[1440 rows x 1 columns]

In [34]:
###df40 to df80###
df80 = pd.DataFrame(data=df_close_col.iloc[-115200:-113760])
df80['row_num']=np.arange(len(df80))
df80.set_index('row_num',inplace=True)
df80 = df80.rename(columns={5:'day_80'})
print(df80)

df79 = pd.DataFrame(data=df_close_col.iloc[-113760:-112320])
df79['row_num']=np.arange(len(df79))
df79.set_index('row_num',inplace=True)
df79 = df79.rename(columns={5:'day_79'})
print(df79)

df78 = pd.DataFrame(data=df_close_col.iloc[-112320:-110880])
df78['row_num']=np.arange(len(df78))
df78.set_index('row_num',inplace=True)
df78 = df78.rename(columns={5:'day_78'})
print(df78)

df77 = pd.DataFrame(data=df_close_col.iloc[-110880:-109440])
df77['row_num']=np.arange(len(df77))
df77.set_index('row_num',inplace=True)
df77 = df77.rename(columns={5:'day_77'})
print(df77)

df76 = pd.DataFrame(data=df_close_col.iloc[-109440:-108000])
df76['row_num']=np.arange(len(df76))
df76.set_index('row_num',inplace=True)
df76 = df76.rename(columns={5:'day_76'})
print(df76)

df75 = pd.DataFrame(data=df_close_col.iloc[-108000:-106560])
df75['row_num']=np.arange(len(df75))
df75.set_index('row_num',inplace=True)
df75 = df75.rename(columns={5:'day_75'})
print(df75)

df74 = pd.DataFrame(data=df_close_col.iloc[-106560:-105120])
df74['row_num']=np.arange(len(df74))
df74.set_index('row_num',inplace=True)
df74 = df74.rename(columns={5:'day_74'})
print(df74)

df73 = pd.DataFrame(data=df_close_col.iloc[-105120:-103680])
df73['row_num']=np.arange(len(df73))
df73.set_index('row_num',inplace=True)
df73 = df73.rename(columns={5:'day_73'})
print(df73)

df72 = pd.DataFrame(data=df_close_col.iloc[-103680:-102240])
df72['row_num']=np.arange(len(df72))
df72.set_index('row_num',inplace=True)
df72 = df72.rename(columns={5:'day_72'})
print(df72)

df71 = pd.DataFrame(data=df_close_col.iloc[-102240:-100800])
df71['row_num']=np.arange(len(df71))
df71.set_index('row_num',inplace=True)
df71 = df71.rename(columns={5:'day_71'})
print(df71)

df70 = pd.DataFrame(data=df_close_col.iloc[-100800:-99360])
df70['row_num']=np.arange(len(df70))
df70.set_index('row_num',inplace=True)
df70 = df70.rename(columns={5:'day_70'})
print(df70)

df69 = pd.DataFrame(data=df_close_col.iloc[-99360:-97920])
df69['row_num']=np.arange(len(df69))
df69.set_index('row_num',inplace=True)
df69 = df69.rename(columns={5:'day_69'})
print(df69)

df68 = pd.DataFrame(data=df_close_col.iloc[-97920:-96480])
df68['row_num']=np.arange(len(df68))
df68.set_index('row_num',inplace=True)
df68 = df68.rename(columns={5:'day_68'})
print(df68)

df67 = pd.DataFrame(data=df_close_col.iloc[-96480:-95040])
df67['row_num']=np.arange(len(df67))
df67.set_index('row_num',inplace=True)
df67 = df67.rename(columns={5:'day_67'})
print(df67)

df66 = pd.DataFrame(data=df_close_col.iloc[-95040:-93600])
df66['row_num']=np.arange(len(df66))
df66.set_index('row_num',inplace=True)
df66 = df66.rename(columns={5:'day_66'})
print(df66)

df65 = pd.DataFrame(data=df_close_col.iloc[-93600:-92160])
df65['row_num']=np.arange(len(df65))
df65.set_index('row_num',inplace=True)
df65 = df65.rename(columns={5:'day_65'})
print(df65)

df64 = pd.DataFrame(data=df_close_col.iloc[-92160:-90720])
df64['row_num']=np.arange(len(df64))
df64.set_index('row_num',inplace=True)
df64 = df64.rename(columns={5:'day_64'})
print(df64)

df63 = pd.DataFrame(data=df_close_col.iloc[-90720:-89280])
df63['row_num']=np.arange(len(df63))
df63.set_index('row_num',inplace=True)
df63 = df63.rename(columns={5:'day_63'})
print(df63)

df62 = pd.DataFrame(data=df_close_col.iloc[-89280:-87840])
df62['row_num']=np.arange(len(df62))
df62.set_index('row_num',inplace=True)
df62 = df62.rename(columns={5:'day_62'})
print(df62)

df61 = pd.DataFrame(data=df_close_col.iloc[-87840:-86400])
df61['row_num']=np.arange(len(df61))
df61.set_index('row_num',inplace=True)
df61 = df61.rename(columns={5:'day_61'})
print(df61)


df60 = pd.DataFrame(data=df_close_col.iloc[-86400:-84960])
df60['row_num']=np.arange(len(df60))
df60.set_index('row_num',inplace=True)
df60 = df60.rename(columns={5:'day_60'})
print(df60)

df59 = pd.DataFrame(data=df_close_col.iloc[-84960:-83520])
df59['row_num']=np.arange(len(df59))
df59.set_index('row_num',inplace=True)
df59 = df59.rename(columns={5:'day_59'})
print(df59)

df58 = pd.DataFrame(data=df_close_col.iloc[-83520:-82080])
df58['row_num']=np.arange(len(df58))
df58.set_index('row_num',inplace=True)
df58 = df58.rename(columns={5:'day_58'})
print(df58)

df57 = pd.DataFrame(data=df_close_col.iloc[-82080:-80640])
df57['row_num']=np.arange(len(df57))
df57.set_index('row_num',inplace=True)
df57 = df57.rename(columns={5:'day_57'})
print(df57)

df56 = pd.DataFrame(data=df_close_col.iloc[-80640:-79200])
df56['row_num']=np.arange(len(df56))
df56.set_index('row_num',inplace=True)
df56 = df56.rename(columns={5:'day_56'})
print(df56)

df55 = pd.DataFrame(data=df_close_col.iloc[-79200:-77760])
df55['row_num']=np.arange(len(df55))
df55.set_index('row_num',inplace=True)
df55 = df55.rename(columns={5:'day_55'})
print(df55)

df54 = pd.DataFrame(data=df_close_col.iloc[-77760:-76320])
df54['row_num']=np.arange(len(df54))
df54.set_index('row_num',inplace=True)
df54 = df54.rename(columns={5:'day_54'})
print(df54)

df53 = pd.DataFrame(data=df_close_col.iloc[-76320:-74880])
df53['row_num']=np.arange(len(df53))
df53.set_index('row_num',inplace=True)
df53 = df53.rename(columns={5:'day_53'})
print(df53)

df52 = pd.DataFrame(data=df_close_col.iloc[-74880:-73440])
df52['row_num']=np.arange(len(df52))
df52.set_index('row_num',inplace=True)
df52 = df52.rename(columns={5:'day_52'})
print(df52)

df51 = pd.DataFrame(data=df_close_col.iloc[-73440:-72000])
df51['row_num']=np.arange(len(df51))
df51.set_index('row_num',inplace=True)
df51 = df51.rename(columns={5:'day_51'})
print(df51)

df50 = pd.DataFrame(data=df_close_col.iloc[-72000:-70560])
df50['row_num']=np.arange(len(df50))
df50.set_index('row_num',inplace=True)
df50 = df50.rename(columns={5:'day_50'})
print(df50)

df49 = pd.DataFrame(data=df_close_col.iloc[-70560:-69120])
df49['row_num']=np.arange(len(df49))
df49.set_index('row_num',inplace=True)
df49 = df49.rename(columns={5:'day_49'})
print(df49)

df48 = pd.DataFrame(data=df_close_col.iloc[-69120:-67680])
df48['row_num']=np.arange(len(df48))
df48.set_index('row_num',inplace=True)
df48 = df48.rename(columns={5:'day_48'})
print(df48)

df47 = pd.DataFrame(data=df_close_col.iloc[-67680:-66240])
df47['row_num']=np.arange(len(df47))
df47.set_index('row_num',inplace=True)
df47 = df47.rename(columns={5:'day_47'})
print(df47)

df46 = pd.DataFrame(data=df_close_col.iloc[-66240:-64800])
df46['row_num']=np.arange(len(df46))
df46.set_index('row_num',inplace=True)
df46 = df46.rename(columns={5:'day_46'})
print(df46)

df45 = pd.DataFrame(data=df_close_col.iloc[-64800:-63360])
df45['row_num']=np.arange(len(df45))
df45.set_index('row_num',inplace=True)
df45 = df45.rename(columns={5:'day_45'})
print(df45)

df44 = pd.DataFrame(data=df_close_col.iloc[-63360:-61920])
df44['row_num']=np.arange(len(df44))
df44.set_index('row_num',inplace=True)
df44 = df44.rename(columns={5:'day_44'})
print(df44)

df43 = pd.DataFrame(data=df_close_col.iloc[-61920:-60480])
df43['row_num']=np.arange(len(df43))
df43.set_index('row_num',inplace=True)
df43 = df43.rename(columns={5:'day_43'})
print(df43)

df42 = pd.DataFrame(data=df_close_col.iloc[-60480:-59040])
df42['row_num']=np.arange(len(df42))
df42.set_index('row_num',inplace=True)
df42 = df42.rename(columns={5:'day_42'})
print(df42)

df41 = pd.DataFrame(data=df_close_col.iloc[-59040:-57600])
df41['row_num']=np.arange(len(df41))
df41.set_index('row_num',inplace=True)
df41 = df41.rename(columns={5:'day_41'})
print(df41)
###df40 to df80###

          day_80
row_num
0        1.01771
1        1.01771
2        1.01773
3        1.01785
4        1.01800
...          ...
1435     1.03279
1436     1.03254
1437     1.03284
1438     1.03297
1439     1.03281

[1440 rows x 1 columns]
          day_79
row_num
0        1.03284
1        1.03294
2        1.03284
3        1.03284
4        1.03274
...          ...
1435     1.03235
1436     1.03232
1437     1.03220
1438     1.03218
1439     1.03217

[1440 rows x 1 columns]
          day_78
row_num
0        1.03219
1        1.03226
2        1.03214
3        1.03209
4        1.03202
...          ...
1435     1.03497
1436     1.03474
1437     1.03488
1438     1.03478
1439     1.03453

[1440 rows x 1 columns]
          day_77
row_num
0        1.03448
1        1.03464
2        1.03508
3        1.03508
4        1.03491
...          ...
1435     1.03888
1436     1.03878
1437     1.03878
1438     1.03883
1439     1.03873

[1440 rows x 1 columns]
          day_76
row_num
0        1.03889
1        1.03883
2        1.03878
3        1.03879
4        1.03877
...          ...
1435     1.03676
1436     1.03684
1437     1.03690
1438     1.03702
1439     1.03707

[1440 rows x 1 columns]
          day_75
row_num
0        1.03695
1        1.03703
2        1.03732
3        1.03734
4        1.03717
...          ...
1435     1.03204
1436     1.03204
1437     1.03190
1438     1.03207
1439     1.03195

[1440 rows x 1 columns]
          day_74
row_num
0        1.03194
1        1.03192
2        1.03180
3        1.03186
4        1.03158
...          ...
1435     1.02524
1436     1.02525
1437     1.02522
1438     1.02519
1439     1.02521

[1440 rows x 1 columns]
          day_73
row_num
0        1.02529
1        1.02525
2        1.02531
3        1.02525
4        1.02538
...          ...
1435     1.03092
1436     1.03091
1437     1.03088
1438     1.03085
1439     1.03078

[1440 rows x 1 columns]
          day_72
row_num
0        1.03088
1        1.03082
2        1.03075
3        1.03070
4        1.03057
...          ...
1435     1.04128
1436     1.04122
1437     1.04121
1438     1.04112
1439     1.04125

[1440 rows x 1 columns]
          day_71
row_num
0        1.04125
1        1.04129
2        1.04132
3        1.04131
4        1.04140
...          ...
1435     1.04054
1436     1.04040
1437     1.04023
1438     1.04040
1439     1.04041

[1440 rows x 1 columns]
          day_70
row_num
0        1.04061
1        1.04053
2        1.04059
3        1.04057
4        1.04038
...          ...
1435     1.03796
1436     1.03782
1437     1.03763
1438     1.03776
1439     1.03779

[1440 rows x 1 columns]
          day_69
row_num
0        1.03795
1        1.03793
2        1.03758
3        1.03759
4        1.03742
...          ...
1435     1.03401
1436     1.03398
1437     1.03403
1438     1.03401
1439     1.03394

[1440 rows x 1 columns]
          day_68
row_num
0        1.03398
1        1.03403
2        1.03398
3        1.03374
4        1.03387
...          ...
1435     1.03431
1436     1.03412
1437     1.03423
1438     1.03406
1439     1.03417

[1440 rows x 1 columns]
          day_67
row_num
0        1.03410
1        1.03425
2        1.03417
3        1.03400
4        1.03403
...          ...
1435     1.04353
1436     1.04381
1437     1.04382
1438     1.04395
1439     1.04407

[1440 rows x 1 columns]
          day_66
row_num
0        1.04397
1        1.04426
2        1.04419
3        1.04443
4        1.04435
...          ...
1435     1.05094
1436     1.05084
1437     1.05078
1438     1.05084
1439     1.05113

[1440 rows x 1 columns]
          day_65
row_num
0        1.05129
1        1.05117
2        1.05142
3        1.05139
4        1.05139
...          ...
1435     1.05475
1436     1.05475
1437     1.05472
1438     1.05469
1439     1.05481

[1440 rows x 1 columns]
          day_64
row_num
0        1.05488
1        1.05481
2        1.05482
3        1.05486
4        1.05483
...          ...
1435     1.05090
1436     1.05098
1437     1.05111
1438     1.05114
1439     1.05121

[1440 rows x 1 columns]
          day_63
row_num
0        1.05118
1        1.05129
2        1.05136
3        1.05128
4        1.05142
...          ...
1435     1.04562
1436     1.04560
1437     1.04568
1438     1.04565
1439     1.04557

[1440 rows x 1 columns]
          day_62
row_num
0        1.04582
1        1.04577
2        1.04560
3        1.04553
4        1.04570
...          ...
1435     1.05009
1436     1.04997
1437     1.05015
1438     1.05012
1439     1.04999

[1440 rows x 1 columns]
          day_61
row_num
0        1.04979
1        1.04979
2        1.04956
3        1.04968
4        1.04975
...          ...
1435     1.05719
1436     1.05748
1437     1.05782
1438     1.05777
1439     1.05810

[1440 rows x 1 columns]
          day_60
row_num
0        1.05810
1        1.05799
2        1.05782
3        1.05780
4        1.05760
...          ...
1435     1.05105
1436     1.05107
1437     1.05122
1438     1.05125
1439     1.05133

[1440 rows x 1 columns]
          day_59
row_num
0        1.05131
1        1.05143
2        1.05125
3        1.05138
4        1.05151
...          ...
1435     1.05468
1436     1.05457
1437     1.05456
1438     1.05447
1439     1.05445

[1440 rows x 1 columns]
          day_58
row_num
0        1.05448
1        1.05450
2        1.05454
3        1.05453
4        1.05437
...          ...
1435     1.06348
1436     1.06358
1437     1.06363
1438     1.06351
1439     1.06348

[1440 rows x 1 columns]
          day_57
row_num
0        1.06344
1        1.06351
2        1.06338
3        1.06338
4        1.06317
...          ...
1435     1.06722
1436     1.06739
1437     1.06724
1438     1.06714
1439     1.06708

[1440 rows x 1 columns]
          day_56
row_num
0        1.06706
1        1.06701
2        1.06702
3        1.06703
4        1.06689
...          ...
1435     1.06399
1436     1.06399
1437     1.06399
1438     1.06397
1439     1.06411

[1440 rows x 1 columns]
          day_55
row_num
0        1.06405
1        1.06405
2        1.06426
3        1.06414
4        1.06421
...          ...
1435     1.05986
1436     1.05995
1437     1.05978
1438     1.05986
1439     1.06008

[1440 rows x 1 columns]
          day_54
row_num
0        1.06020
1        1.06009
2        1.06006
3        1.06005
4        1.06005
...          ...
1435     1.06014
1436     1.06012
1437     1.06034
1438     1.06034
1439     1.06056

[1440 rows x 1 columns]
          day_53
row_num
0        1.06063
1        1.06065
2        1.06065
3        1.06052
4        1.06045
...          ...
1435     1.06216
1436     1.06211
1437     1.06185
1438     1.06181
1439     1.06200

[1440 rows x 1 columns]
          day_52
row_num
0        1.06205
1        1.06198
2        1.06200
3        1.06189
4        1.06176
...          ...
1435     1.06277
1436     1.06261
1437     1.06265
1438     1.06271
1439     1.06273

[1440 rows x 1 columns]
          day_51
row_num
0        1.06271
1        1.06268
2        1.06247
3        1.06249
4        1.06242
...          ...
1435     1.05969
1436     1.05989
1437     1.05988
1438     1.05978
1439     1.05965

[1440 rows x 1 columns]
          day_50
row_num
0        1.05987
1        1.06007
2        1.05982
3        1.05967
4        1.05987
...          ...
1435     1.06239
1436     1.06238
1437     1.06239
1438     1.06240
1439     1.06239

[1440 rows x 1 columns]
          day_49
row_num
0        1.06237
1        1.06238
2        1.06243
3        1.06247
4        1.06245
...          ...
1435     1.06509
1436     1.06505
1437     1.06508
1438     1.06512
1439     1.06503

[1440 rows x 1 columns]
          day_48
row_num
0        1.06491
1        1.06488
2        1.06492
3        1.06488
4        1.06491
...          ...
1435     1.06403
1436     1.06408
1437     1.06414
1438     1.06390
1439     1.06397

[1440 rows x 1 columns]
          day_47
row_num
0        1.06388
1        1.06368
2        1.06383
3        1.06388
4        1.06393
...          ...
1435     1.06399
1436     1.06394
1437     1.06406
1438     1.06417
1439     1.06409

[1440 rows x 1 columns]
          day_46
row_num
0        1.06419
1        1.06397
2        1.06391
3        1.06401
4        1.06390
...          ...
1435     1.06776
1436     1.06779
1437     1.06786
1438     1.06791
1439     1.06781

[1440 rows x 1 columns]
          day_45
row_num
0        1.06757
1        1.06779
2        1.06793
3        1.06806
4        1.06789
...          ...
1435     1.06533
1436     1.06533
1437     1.06534
1438     1.06533
1439     1.06534

[1440 rows x 1 columns]
          day_44
row_num
0        1.06534
1        1.06539
2        1.06538
3        1.06534
4        1.06536
...          ...
1435     1.05655
1436     1.05645
1437     1.05669
1438     1.05669
1439     1.05659

[1440 rows x 1 columns]
          day_43
row_num
0        1.05652
1        1.05655
2        1.05643
3        1.05648
4        1.05645
...          ...
1435     1.06003
1436     1.06020
1437     1.06004
1438     1.06009
1439     1.06009

[1440 rows x 1 columns]
          day_42
row_num
0        1.06039
1        1.06055
2        1.06038
3        1.06037
4        1.06056
...          ...
1435     1.05343
1436     1.05343
1437     1.05323
1438     1.05318
1439     1.05303

[1440 rows x 1 columns]
          day_41
row_num
0        1.05310
1        1.05302
2        1.05297
3        1.05302
4        1.05302
...          ...
1435     1.06457
1436     1.06466
1437     1.06456
1438     1.06466
1439     1.06452

[1440 rows x 1 columns]

In [35]:
###df1 to df40###
df40 = pd.DataFrame(data=df_close_col.iloc[-57600:-56160])
df40['row_num']=np.arange(len(df40))
df40.set_index('row_num',inplace=True)
df40 = df40.rename(columns={5:'day_40'})
print(df40)

df39 = pd.DataFrame(data=df_close_col.iloc[-56160:-54720])
df39['row_num']=np.arange(len(df39))
df39.set_index('row_num',inplace=True)
df39 = df39.rename(columns={5:'day_39'})
print(df39)

df38 = pd.DataFrame(data=df_close_col.iloc[-54720:-53280])
df38['row_num']=np.arange(len(df38))
df38.set_index('row_num',inplace=True)
df38 = df38.rename(columns={5:'day_38'})
print(df38)

df37 = pd.DataFrame(data=df_close_col.iloc[-53280:-51840])
df37['row_num']=np.arange(len(df37))
df37.set_index('row_num',inplace=True)
df37 = df37.rename(columns={5:'day_37'})
print(df37)

df36 = pd.DataFrame(data=df_close_col.iloc[-51840:-50400])
df36['row_num']=np.arange(len(df36))
df36.set_index('row_num',inplace=True)
df36 = df36.rename(columns={5:'day_36'})
print(df36)

df35 = pd.DataFrame(data=df_close_col.iloc[-50400:-48960])
df35['row_num']=np.arange(len(df35))
df35.set_index('row_num',inplace=True)
df35 = df35.rename(columns={5:'day_35'})
print(df35)

df34 = pd.DataFrame(data=df_close_col.iloc[-48960:-47520])
df34['row_num']=np.arange(len(df34))
df34.set_index('row_num',inplace=True)
df34 = df34.rename(columns={5:'day_34'})
print(df34)

df33 = pd.DataFrame(data=df_close_col.iloc[-47520:-46080])
df33['row_num']=np.arange(len(df33))
df33.set_index('row_num',inplace=True)
df33 = df33.rename(columns={5:'day_33'})
print(df33)

df32 = pd.DataFrame(data=df_close_col.iloc[-46080:-44640])
df32['row_num']=np.arange(len(df32))
df32.set_index('row_num',inplace=True)
df32 = df32.rename(columns={5:'day_32'})
print(df32)

df31 = pd.DataFrame(data=df_close_col.iloc[-44640:-43200])
df31['row_num']=np.arange(len(df31))
df31.set_index('row_num',inplace=True)
df31 = df31.rename(columns={5:'day_31'})
print(df31)

df30 = pd.DataFrame(data=df_close_col.iloc[-43200:-41760])
df30['row_num']=np.arange(len(df30))
df30.set_index('row_num',inplace=True)
df30 = df30.rename(columns={5:'day_30'})
print(df30)

df29 = pd.DataFrame(data=df_close_col.iloc[-41760:-40320])
df29['row_num']=np.arange(len(df29))
df29.set_index('row_num',inplace=True)
df29 = df29.rename(columns={5:'day_29'})
print(df29)

df28 = pd.DataFrame(data=df_close_col.iloc[-40320:-38880])
df28['row_num']=np.arange(len(df28))
df28.set_index('row_num',inplace=True)
df28 = df28.rename(columns={5:'day_28'})
print(df28)

df27 = pd.DataFrame(data=df_close_col.iloc[-38880:-37440])
df27['row_num']=np.arange(len(df27))
df27.set_index('row_num',inplace=True)
df27 = df27.rename(columns={5:'day_27'})
print(df27)

df26 = pd.DataFrame(data=df_close_col.iloc[-37440:-36000])
df26['row_num']=np.arange(len(df26))
df26.set_index('row_num',inplace=True)
df26 = df26.rename(columns={5:'day_26'})
print(df26)

df25 = pd.DataFrame(data=df_close_col.iloc[-36000:-34560])
df25['row_num']=np.arange(len(df25))
df25.set_index('row_num',inplace=True)
df25 = df25.rename(columns={5:'day_25'})
print(df25)

df24 = pd.DataFrame(data=df_close_col.iloc[-34560:-33120])
df24['row_num']=np.arange(len(df24))
df24.set_index('row_num',inplace=True)
df24 = df24.rename(columns={5:'day_24'})
print(df24)

df23 = pd.DataFrame(data=df_close_col.iloc[-33120:-31680])
df23['row_num']=np.arange(len(df23))
df23.set_index('row_num',inplace=True)
df23 = df23.rename(columns={5:'day_23'})
print(df23)

df22 = pd.DataFrame(data=df_close_col.iloc[-31680:-30240])
df22['row_num']=np.arange(len(df22))
df22.set_index('row_num',inplace=True)
df22 = df22.rename(columns={5:'day_22'})
print(df22)

df21 = pd.DataFrame(data=df_close_col.iloc[-30240:-28800])
df21['row_num']=np.arange(len(df21))
df21.set_index('row_num',inplace=True)
df21 = df21.rename(columns={5:'day_21'})
print(df21)


df20 = pd.DataFrame(data=df_close_col.iloc[-28800:-27360])
df20['row_num']=np.arange(len(df20))
df20.set_index('row_num',inplace=True)
df20 = df20.rename(columns={5:'day_20'})
print(df20)

df19 = pd.DataFrame(data=df_close_col.iloc[-27360:-25920])
df19['row_num']=np.arange(len(df19))
df19.set_index('row_num',inplace=True)
df19 = df19.rename(columns={5:'day_19'})
print(df19)

df18 = pd.DataFrame(data=df_close_col.iloc[-25920:-24480])
df18['row_num']=np.arange(len(df18))
df18.set_index('row_num',inplace=True)
df18 = df18.rename(columns={5:'day_18'})
print(df18)

df17 = pd.DataFrame(data=df_close_col.iloc[-24480:-23040])
df17['row_num']=np.arange(len(df17))
df17.set_index('row_num',inplace=True)
df17 = df17.rename(columns={5:'day_17'})
print(df17)

df16 = pd.DataFrame(data=df_close_col.iloc[-23040:-21600])
df16['row_num']=np.arange(len(df16))
df16.set_index('row_num',inplace=True)
df16 = df16.rename(columns={5:'day_16'})
print(df16)

df15 = pd.DataFrame(data=df_close_col.iloc[-21600:-20160])
df15['row_num']=np.arange(len(df15))
df15.set_index('row_num',inplace=True)
df15 = df15.rename(columns={5:'day_15'})
print(df15)

df14 = pd.DataFrame(data=df_close_col.iloc[-20160:-18720])
df14['row_num']=np.arange(len(df14))
df14.set_index('row_num',inplace=True)
df14 = df14.rename(columns={5:'day_14'})
print(df14)

df13 = pd.DataFrame(data=df_close_col.iloc[-18720:-17280])
df13['row_num']=np.arange(len(df13))
df13.set_index('row_num',inplace=True)
df13 = df13.rename(columns={5:'day_13'})
print(df13)

df12 = pd.DataFrame(data=df_close_col.iloc[-17280:-15840])
df12['row_num']=np.arange(len(df12))
df12.set_index('row_num',inplace=True)
df12 = df12.rename(columns={5:'day_12'})
print(df12)

df11 = pd.DataFrame(data=df_close_col.iloc[-15840:-14400])
df11['row_num']=np.arange(len(df11))
df11.set_index('row_num',inplace=True)
df11 = df11.rename(columns={5:'day_11'})
print(df11)

df10 = pd.DataFrame(data=df_close_col.iloc[-14400:-12960])
df10['row_num']=np.arange(len(df10))
df10.set_index('row_num',inplace=True)
df10 = df10.rename(columns={5:'day_10'})
print(df10)

df9 = pd.DataFrame(data=df_close_col.iloc[-12960:-11520])
df9['row_num']=np.arange(len(df9))
df9.set_index('row_num',inplace=True)
df9 = df9.rename(columns={5:'day_9'})
print(df9)

df8 = pd.DataFrame(data=df_close_col.iloc[-11520:-10080])
df8['row_num']=np.arange(len(df8))
df8.set_index('row_num',inplace=True)
df8 = df8.rename(columns={5:'day_8'})
print(df8)

df7 = pd.DataFrame(data=df_close_col.iloc[-10080:-8640])
df7['row_num']=np.arange(len(df7))
df7.set_index('row_num',inplace=True)
df7 = df7.rename(columns={5:'day_7'})
print(df7)

df6 = pd.DataFrame(data=df_close_col.iloc[-8640:-7200])
df6['row_num']=np.arange(len(df6))
df6.set_index('row_num',inplace=True)
df6 = df6.rename(columns={5:'day_6'})
print(df6)

df5 = pd.DataFrame(data=df_close_col.iloc[-7200:-5760])
df5['row_num']=np.arange(len(df5))
df5.set_index('row_num',inplace=True)
df5 = df5.rename(columns={5:'day_5'})
print(df5)

df4 = pd.DataFrame(data=df_close_col.iloc[-5760:-4320])
df4['row_num']=np.arange(len(df4))
df4.set_index('row_num',inplace=True)
df4 = df4.rename(columns={5:'day_4'})
print(df4)

df3 = pd.DataFrame(data=df_close_col.iloc[-4320:-2880])
df3['row_num']=np.arange(len(df3))
df3.set_index('row_num',inplace=True)
df3 = df3.rename(columns={5:'day_3'})
print(df3)

df2 = pd.DataFrame(data=df_close_col.iloc[-2880:-1440])
df2['row_num']=np.arange(len(df2))
df2.set_index('row_num',inplace=True)
df2 = df2.rename(columns={5:'day_2'})
print(df2)

df1 = pd.DataFrame(data=df_close_col.iloc[-1440:])
df1['row_num']=np.arange(len(df1))
df1.set_index('row_num',inplace=True)
df1 = df1.rename(columns={5:'day_1'})
print(df1)
###df1 to df40###

          day_40
row_num
0        1.06456
1        1.06467
2        1.06472
3        1.06457
4        1.06459
...          ...
1435     1.07518
1436     1.07505
1437     1.07488
1438     1.07496
1439     1.07490

[1440 rows x 1 columns]
          day_39
row_num
0        1.07477
1        1.07465
2        1.07486
3        1.07481
4        1.07467
...          ...
1435     1.07390
1436     1.07401
1437     1.07403
1438     1.07388
1439     1.07392

[1440 rows x 1 columns]
          day_38
row_num
0        1.07395
1        1.07401
2        1.07403
3        1.07401
4        1.07404
...          ...
1435     1.07584
1436     1.07584
1437     1.07584
1438     1.07569
1439     1.07558

[1440 rows x 1 columns]
          day_37
row_num
0        1.07564
1        1.07566
2        1.07553
3        1.07567
4        1.07557
...          ...
1435     1.08427
1436     1.08433
1437     1.08449
1438     1.08444
1439     1.08443

[1440 rows x 1 columns]
          day_36
row_num
0        1.08444
1        1.08443
2        1.08453
3        1.08474
4        1.08468
...          ...
1435     1.08295
1436     1.08292
1437     1.08291
1438     1.08292
1439     1.08292

[1440 rows x 1 columns]
          day_35
row_num
0        1.08291
1        1.08291
2        1.08296
3        1.08287
4        1.08281
...          ...
1435     1.08178
1436     1.08177
1437     1.08177
1438     1.08177
1439     1.08184

[1440 rows x 1 columns]
          day_34
row_num
0        1.08186
1        1.08187
2        1.08186
3        1.08187
4        1.08185
...          ...
1435     1.07903
1436     1.07904
1437     1.07920
1438     1.07913
1439     1.07917

[1440 rows x 1 columns]
          day_33
row_num
0        1.07918
1        1.07919
2        1.07913
3        1.07903
4        1.07898
...          ...
1435     1.07942
1436     1.07921
1437     1.07921
1438     1.07927
1439     1.07937

[1440 rows x 1 columns]
          day_32
row_num
0        1.07945
1        1.07938
2        1.07938
3        1.07936
4        1.07917
...          ...
1435     1.08377
1436     1.08379
1437     1.08374
1438     1.08362
1439     1.08369

[1440 rows x 1 columns]
          day_31
row_num
0        1.08357
1        1.08362
2        1.08357
3        1.08337
4        1.08328
...          ...
1435     1.08540
1436     1.08534
1437     1.08540
1438     1.08537
1439     1.08540

[1440 rows x 1 columns]
          day_30
row_num
0        1.08539
1        1.08557
2        1.08558
3        1.08551
4        1.08558
...          ...
1435     1.08616
1436     1.08597
1437     1.08593
1438     1.08592
1439     1.08594

[1440 rows x 1 columns]
          day_29
row_num
0        1.08595
1        1.08599
2        1.08604
3        1.08607
4        1.08621
...          ...
1435     1.08833
1436     1.08828
1437     1.08817
1438     1.08812
1439     1.08806

[1440 rows x 1 columns]
          day_28
row_num
0        1.08814
1        1.08819
2        1.08818
3        1.08835
4        1.08822
...          ...
1435     1.09096
1436     1.09096
1437     1.09096
1438     1.09116
1439     1.09131

[1440 rows x 1 columns]
          day_27
row_num
0        1.09130
1        1.09118
2        1.09119
3        1.09127
4        1.09122
...          ...
1435     1.08888
1436     1.08892
1437     1.08891
1438     1.08886
1439     1.08890

[1440 rows x 1 columns]
          day_26
row_num
0        1.08906
1        1.08907
2        1.08906
3        1.08884
4        1.08892
...          ...
1435     1.08680
1436     1.08687
1437     1.08686
1438     1.08689
1439     1.08692

[1440 rows x 1 columns]
          day_25
row_num
0        1.08696
1        1.08689
2        1.08686
3        1.08684
4        1.08680
...          ...
1435     1.08540
1436     1.08519
1437     1.08513
1438     1.08522
1439     1.08514

[1440 rows x 1 columns]
          day_24
row_num
0        1.08516
1        1.08506
2        1.08496
3        1.08482
4        1.08487
...          ...
1435     1.08624
1436     1.08622
1437     1.08633
1438     1.08645
1439     1.08660

[1440 rows x 1 columns]
          day_23
row_num
0        1.08658
1        1.08665
2        1.08669
3        1.08664
4        1.08668
...          ...
1435     1.09972
1436     1.09955
1437     1.09966
1438     1.09955
1439     1.09971

[1440 rows x 1 columns]
          day_22
row_num
0        1.09978
1        1.09946
2        1.09902
3        1.09915
4        1.09847
...          ...
1435     1.09130
1436     1.09137
1437     1.09126
1438     1.09124
1439     1.09129

[1440 rows x 1 columns]
          day_21
row_num
0        1.09120
1        1.09128
2        1.09115
3        1.09120
4        1.09129
...          ...
1435     1.07962
1436     1.07954
1437     1.07959
1438     1.07955
1439     1.07953

[1440 rows x 1 columns]
          day_20
row_num
0        1.07949
1        1.07943
2        1.07936
3        1.07948
4        1.07947
...          ...
1435     1.07267
1436     1.07282
1437     1.07282
1438     1.07283
1439     1.07274

[1440 rows x 1 columns]
          day_19
row_num
0        1.07285
1        1.07286
2        1.07283
3        1.07289
4        1.07293
...          ...
1435     1.07251
1436     1.07256
1437     1.07267
1438     1.07276
1439     1.07283

[1440 rows x 1 columns]
          day_18
row_num
0        1.07286
1        1.07270
2        1.07261
3        1.07261
4        1.07263
...          ...
1435     1.07115
1436     1.07124
1437     1.07137
1438     1.07135
1439     1.07136

[1440 rows x 1 columns]
          day_17
row_num
0        1.07133
1        1.07129
2        1.07132
3        1.07131
4        1.07129
...          ...
1435     1.07319
1436     1.07346
1437     1.07348
1438     1.07353
1439     1.07356

[1440 rows x 1 columns]
          day_16
row_num
0        1.07355
1        1.07342
2        1.07341
3        1.07338
4        1.07337
...          ...
1435     1.06785
1436     1.06792
1437     1.06800
1438     1.06794
1439     1.06794

[1440 rows x 1 columns]
          day_15
row_num
0        1.06799
1        1.06807
2        1.06800
3        1.06789
4        1.06797
...          ...
1435     1.07234
1436     1.07237
1437     1.07240
1438     1.07240
1439     1.07229

[1440 rows x 1 columns]
          day_14
row_num
0        1.07236
1        1.07237
2        1.07240
3        1.07242
4        1.07245
...          ...
1435     1.07381
1436     1.07382
1437     1.07372
1438     1.07377
1439     1.07382

[1440 rows x 1 columns]
          day_13
row_num
0        1.07379
1        1.07373
2        1.07373
3        1.07376
4        1.07377
...          ...
1435     1.06888
1436     1.06890
1437     1.06888
1438     1.06896
1439     1.06896

[1440 rows x 1 columns]
          day_12
row_num
0        1.06897
1        1.06900
2        1.06896
3        1.06897
4        1.06903
...          ...
1435     1.06740
1436     1.06721
1437     1.06719
1438     1.06715
1439     1.06714

[1440 rows x 1 columns]
          day_11
row_num
0        1.06717
1        1.06722
2        1.06715
3        1.06721
4        1.06717
...          ...
1435     1.06974
1436     1.06965
1437     1.06959
1438     1.06956
1439     1.06960

[1440 rows x 1 columns]
          day_10
row_num
0        1.06956
1        1.06953
2        1.06953
3        1.06942
4        1.06939
...          ...
1435     1.06837
1436     1.06839
1437     1.06845
1438     1.06846
1439     1.06845

[1440 rows x 1 columns]
           day_9
row_num
0        1.06842
1        1.06845
2        1.06844
3        1.06844
4        1.06851
...          ...
1435     1.06478
1436     1.06474
1437     1.06473
1438     1.06473
1439     1.06471

[1440 rows x 1 columns]
           day_8
row_num
0        1.06462
1        1.06451
2        1.06442
3        1.06442
4        1.06437
...          ...
1435     1.06038
1436     1.06035
1437     1.06032
1438     1.06032
1439     1.06034

[1440 rows x 1 columns]
           day_7
row_num
0        1.06038
1        1.06034
2        1.06030
3        1.06029
4        1.06020
...          ...
1435     1.05991
1436     1.05990
1437     1.05990
1438     1.05980
1439     1.05980

[1440 rows x 1 columns]
           day_6
row_num
0        1.05975
1        1.05974
2        1.05973
3        1.05974
4        1.05964
...          ...
1435     1.05469
1436     1.05470
1437     1.05471
1438     1.05471
1439     1.05472

[1440 rows x 1 columns]
           day_5
row_num
0        1.05477
1        1.05478
2        1.05481
3        1.05479
4        1.05484
...          ...
1435     1.06080
1436     1.06080
1437     1.06081
1438     1.06081
1439     1.06081

[1440 rows x 1 columns]
           day_4
row_num
0        1.06086
1        1.06081
2        1.06082
3        1.06078
4        1.06082
...          ...
1435     1.05747
1436     1.05747
1437     1.05747
1438     1.05762
1439     1.05770

[1440 rows x 1 columns]
           day_3
row_num
0        1.05772
1        1.05767
2        1.05762
3        1.05762
4        1.05765
...          ...
1435     1.06680
1436     1.06689
1437     1.06686
1438     1.06685
1439     1.06685

[1440 rows x 1 columns]
           day_2
row_num
0        1.06700
1        1.06704
2        1.06709
3        1.06708
4        1.06707
...          ...
1435     1.05969
1436     1.05974
1437     1.05976
1438     1.05976
1439     1.05976

[1440 rows x 1 columns]
           day_1
row_num
0        1.05976
1        1.05972
2        1.05970
3        1.05977
4        1.05977
...          ...
1435     1.06323
1436     1.06325
1437     1.06330
1438     1.06328
1439     1.06328

[1440 rows x 1 columns]

In [36]:

# #date column
# date = pd.DataFrame(data=df[0].iloc[-1440:])
# date['row_num']=np.arange(len(date))
# date.set_index('row_num',inplace=True) 
# date = date.rename(columns={0:'date'})
# print(date)

# #time column 
# time = pd.DataFrame(data=df[1].iloc[-1440:])
# time['row_num']=np.arange(len(time))
# time.set_index('row_num',inplace=True) 
# time = time.rename(columns={1:'time'})
# print(time)

# #index column


# # jon['index'] = time.index
# # jon['row_num']=np.arange(len(jon))
# # jon.set_index('row_num',inplace=True)
# # jon = jon.rename(columns={1:'index'})
# #jon
# # i_dex = time.reset_index(inplace=True)
# # idx['index'] = pd.DataFrame(data=time.index)
# # idx['row_num']=np.arange(len(idx))
# # idx.set_index('row_num',inplace=True) 
# # idx = idx.rename(columns={0:'index'})
# # print(idx)

In [37]:
df_train = pd.concat([df360,df359,df358,df357,df356,df355,df354,df353,df352,df351,df350,df349,df348,df347,df346,df345,df344,df343,df342,df341,df340,df339,df338,df337,df336,df335,df334,df333,df332,df331,df330,df329,df328,df327,df326,df325,df324,df323,df322,df321,df320,df319,df318,df317,df316,df315,df314,df313,df312,df311,df310,df309,df308,df307,df306,df305,df304,df303,df302,df301,df300,df299,df298,df297,df296,df295,df294,df293,df292,df291,df290,df289,df288,df287,df286,df285,df284,df283,df282,df281,df280,df279,df278,df277,df276,df275,df274,df273,df272,df271,df270,df269,df268,df267,df266,df265,df264,df263,df262,df261,df260,df259,df258,df257,df256,df255,df254,df253,df252,df251,df250,df249,df248,df247,df246,df245,df244,df243,df242,df241,df240,df239,df238,df237,df236,df235,df234,df233,df232,df231,df230,df229,df228,df227,df226,df225,df224,df223,df222,df221,df220,df219,df218,df217,df216,df215,df214,df213,df212,df211,df210,df209,df208,df207,df206,df205,df204,df203,df202,df201,df200,df199,df198,df197,df196,df195,df194,df193,df192,df191,df190,df189,df188,df187,df186,df185,df184,df183,df182,df181,df180,df179,df178,df177,df176,df175,df174,df173,df172,df171,df170,df169,df168,df167,df166,df165,df164,df163,df162,df161,df160,df159,df158,df157,df156,df155,df154,df153,df152,df151,df150,df149,df148,df147,df146,df145,df144,df143,df142,df141,df140,df139,df138,df137,df136,df135,df134,df133,df132,df131,df130,df129,df128,df127,df126,df125,df124,df123,df122,df121,df120,df119,df118,df117,df116,df115,df114,df113,df112,df111,df110,df109,df108,df107,df106,df105,df104,df103,df102,df101,df100,df99,df98,df97,df96,df95,df94,df93,df92,df91,df90,df89,df88,df87,df86,df85,df84,df83,df82,df81,df80,df79,df78,df77,df76,df75,df74,df73,df72,df71,df70,df69,df68,df67,df66,df65,df64,df63,df62,df61,df60,df59,df58,df57,df56,df55,df54,df53,df52,df51,df50,df49,df48,df47,df46,df45,df44,df43,df42,df41,df40,df39,df38,df37,df36,df35,df34,df33,df32,df31,df30,df29,df28,df27,df26,df25,df24,df23,df22,df21,df20,df19,df18,df17,df16,df15,df14,df13,df12,df11,df10,df9,df8,df7,df6,df5,df4,df3,df2,df1], axis=1)
##include date time at column 0,1##

df_train = pd.DataFrame(data=df_train)
df_train

,day_360,day_359,day_358,day_357,day_356,day_355,day_354,day_353,day_352,day_351,...,day_10,day_9,day_8,day_7,day_6,day_5,day_4,day_3,day_2,day_1
row_num,,,,,,,,,,,,,,,,,,,,,
0,1.15513,1.15958,1.16091,1.15894,1.16416,1.16388,1.16665,1.16278,1.16577,1.15984,...,1.06956,1.06842,1.06462,1.06038,1.05975,1.05477,1.06086,1.05772,1.06700,1.05976
1,1.15523,1.15950,1.16090,1.15888,1.16411,1.16395,1.16657,1.16279,1.16590,1.15979,...,1.06953,1.06845,1.06451,1.06034,1.05974,1.05478,1.06081,1.05767,1.06704,1.05972
2,1.15528,1.15950,1.16093,1.15886,1.16395,1.16399,1.16651,1.16275,1.16584,1.15975,...,1.06953,1.06844,1.06442,1.06030,1.05973,1.05481,1.06082,1.05762,1.06709,1.05970
3,1.15521,1.15947,1.16094,1.15883,1.16395,1.16396,1.16655,1.16279,1.16595,1.15974,...,1.06942,1.06844,1.06442,1.06029,1.05974,1.05479,1.06078,1.05762,1.06708,1.05977
4,1.15522,1.15948,1.16095,1.15883,1.16398,1.16399,1.16661,1.16275,1.16607,1.15972,...,1.06939,1.06851,1.06437,1.06020,1.05964,1.05484,1.06082,1.05765,1.06707,1.05977
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1435,1.15940,1.16060,1.15908,1.16405,1.16385,1.16641,1.16277,1.16536,1.15990,1.16011,...,1.06837,1.06478,1.06038,1.05991,1.05469,1.06080,1.05747,1.06680,1.05969,1.06323
1436,1.15938,1.16071,1.15912,1.16412,1.16379,1.16656,1.16273,1.16546,1.15989,1.16010,...,1.06839,1.06474,1.06035,1.05990,1.05470,1.06080,1.05747,1.06689,1.05974,1.06325
1437,1.15946,1.16072,1.15914,1.16416,1.16379,1.16661,1.16267,1.16562,1.15990,1.16011,...,1.06845,1.06473,1.06032,1.05990,1.05471,1.06081,1.05747,1.06686,1.05976,1.06330
1438,1.15949,1.16076,1.15898,1.16422,1.16385,1.16672,1.16270,1.16572,1.15985,1.16011,...,1.06846,1.06473,1.06032,1.05980,1.05471,1.06081,1.05762,1.06685,1.05976,1.06328
1439,1.15952,1.16088,1.15892,1.16417,1.16390,1.16667,1.16271,1.16573,1.15984,1.16020,...,1.06845,1.06471,1.06034,1.05980,1.05472,1.06081,1.05770,1.06685,1.05976,1.06328

In [38]:
df_train.isnull().sum()

day_360    0
day_359    0
day_358    0
day_357    0
day_356    0
          ..
day_5      0
day_4      0
day_3      0
day_2      0
day_1      0
Length: 360, dtype: int64

In [39]:
df_test = pd.concat([
                     df360,df359,df358,df357,df356,df355,df354,df353,df352,df351,df350,df349,df348,df347,df346,df345,df344,df343,df342,df341,df340,df339,df338,df337,df336,df335,df334,df333,df332,df331,df330,df329,df328,df327,df326,df325,df324,df323,df322,df321,
                     df320,df319,df318,df317,df316,df315,df314,df313,df312,df311,df310,df309,df308,df307,df306,df305,df304,df303,df302,df301,df300,df299,df298,df297,df296,df295,df294,df293,df292,df291,df290,df289,df288,df287,df286,df285,df284,df283,df282,df281,
                     df280,df279,df278,df277,df276,df275,df274,df273,df272,df271,df270,df269,df268,df267,df266,df265,df264,df263,df262,df261,df260,df259,df258,df257,df256,df255,df254,df253,df252,df251,df250,df249,df248,df247,df246,df245,df244,df243,df242,df241,
                     df240,df239,df238,df237,df236,df235,df234,df233,df232,df231,df230,df229,df228,df227,df226,df225,df224,df223,df222,df221,df220,df219,df218,df217,df216,df215,df214,df213,df212,df211,df210,df209,df208,df207,df206,df205,df204,df203,df202,df201,
                     df200,df199,df198,df197,df196,df195,df194,df193,df192,df191,df190,df189,df188,df187,df186,df185,df184,df183,df182,df181,df180,df179,df178,df177,df176,df175,df174,df173,df172,df171,df170,df169,df168,df167,df166,df165,df164,df163,df162,df161,
                     df160,df159,df158,df157,df156,df155,df154,df153,df152,df151,df150,df149,df148,df147,df146,df145,df144,df143,df142,df141,df140,df139,df138,df137,df136,df135,df134,df133,df132,df131,df130,df129,df128,df127,df126,df125,df124,df123,df122,df121,
                     df120,df119,df118,df117,df116,df115,df114,df113,df112,df111,df110,df109,df108,df107,df106,df105,df104,df103,df102,df101,df100,df99,df98,df97,df96,df95,df94,df93,df92,df91,df90,df89,df88,df87,df86,df85,df84,df83,df82,df81,
                     df80,df79,df78,df77,df76,df75,df74,df73,df72,df71,df70,df69,df68,df67,df66,df65,df64,df63,df62,df61,df60,df59,df58,df57,df56,df55,df54,df53,df52,df51,df50,df49,df48,df47,df46,df45,df44,df43,df42,df41,
                     df40,df39,df38,df37,df36,df35,df34,df33,df32,df31,df30,df29,df28,df27,df26,df25,df24,df23,df22,df21,df20,df19,df18,df17,df16,df15,df14,df13,df12,df11,df10,df9,df8,df7,df6,df5,df4,df3,df2,df1], axis=1)
df_test['pred_col'] =0
df_test.rename(columns={
                        'day_360':'day_361','day_359':'day_360','day_358':'day_359','day_357':'day_358','day_356':'day_357','day_355':'day_356','day_354':'day_355','day_353':'day_354','day_352':'day_353','day_351':'day_352','day_350':'day_351','day_349':'day_350','day_348':'day_349','day_347':'day_348','day_346':'day_347','day_345':'day_346','day_344':'day_345','day_343':'day_344','day_342':'day_343','day_341':'day_342','day_340':'day_341','day_339':'day_340','day_338':'day_339','day_337':'day_338','day_336':'day_337','day_335':'day_336','day_334':'day_335','day_333':'day_334','day_332':'day_333','day_331':'day_332','day_330':'day_331','day_329':'day_330','day_328':'day_329','day_327':'day_328','day_326':'day_327','day_325':'day_326','day_324':'day_325','day_323':'day_324','day_322':'day_323','day_321':'day_322',
                        'day_320':'day_321','day_319':'day_320','day_318':'day_319','day_317':'day_318','day_316':'day_317','day_315':'day_316','day_314':'day_315','day_313':'day_314','day_312':'day_313','day_311':'day_312','day_310':'day_311','day_309':'day_310','day_308':'day_309','day_307':'day_308','day_306':'day_307','day_305':'day_306','day_304':'day_305','day_303':'day_304','day_302':'day_303','day_301':'day_302','day_300':'day_301','day_299':'day_300','day_298':'day_299','day_297':'day_298','day_296':'day_297','day_295':'day_296','day_294':'day_295','day_293':'day_294','day_292':'day_293','day_291':'day_292','day_290':'day_291','day_289':'day_290','day_288':'day_289','day_287':'day_288','day_286':'day_287','day_285':'day_286','day_284':'day_285','day_283':'day_284','day_282':'day_283','day_281':'day_282',
                        'day_280':'day_281','day_279':'day_280','day_278':'day_279','day_277':'day_278','day_276':'day_277','day_275':'day_276','day_274':'day_275','day_273':'day_274','day_272':'day_273','day_271':'day_272','day_270':'day_271','day_269':'day_270','day_268':'day_269','day_267':'day_268','day_266':'day_267','day_265':'day_266','day_264':'day_265','day_263':'day_264','day_262':'day_263','day_261':'day_262','day_260':'day_261','day_259':'day_260','day_258':'day_259','day_257':'day_258','day_256':'day_257','day_255':'day_256','day_254':'day_255','day_253':'day_254','day_252':'day_253','day_251':'day_252','day_250':'day_251','day_249':'day_250','day_248':'day_249','day_247':'day_248','day_246':'day_247','day_245':'day_246','day_244':'day_245','day_243':'day_244','day_242':'day_243','day_241':'day_242',
                        'day_240':'day_241','day_239':'day_240','day_238':'day_239','day_237':'day_238','day_236':'day_237','day_235':'day_236','day_234':'day_235','day_233':'day_234','day_232':'day_233','day_231':'day_232','day_230':'day_231','day_229':'day_230','day_228':'day_229','day_227':'day_228','day_226':'day_227','day_225':'day_226','day_224':'day_225','day_223':'day_224','day_222':'day_223','day_221':'day_222','day_220':'day_221','day_219':'day_220','day_218':'day_219','day_217':'day_218','day_216':'day_217','day_215':'day_216','day_214':'day_215','day_213':'day_214','day_212':'day_213','day_211':'day_212','day_210':'day_211','day_209':'day_210','day_208':'day_209','day_207':'day_208','day_206':'day_207','day_205':'day_206','day_204':'day_205','day_203':'day_204','day_202':'day_203','day_201':'day_202',
                        'day_200':'day_201','day_199':'day_200','day_198':'day_199','day_197':'day_198','day_196':'day_197','day_195':'day_196','day_194':'day_195','day_193':'day_194','day_192':'day_193','day_191':'day_192','day_190':'day_191','day_189':'day_190','day_188':'day_189','day_187':'day_188','day_186':'day_187','day_185':'day_186','day_184':'day_185','day_183':'day_184','day_182':'day_183','day_181':'day_182','day_180':'day_181','day_179':'day_180','day_178':'day_179','day_177':'day_178','day_176':'day_177','day_175':'day_176','day_174':'day_175','day_173':'day_174','day_172':'day_173','day_171':'day_172','day_170':'day_171','day_169':'day_170','day_168':'day_169','day_167':'day_168','day_166':'day_167','day_165':'day_166','day_164':'day_165','day_163':'day_164','day_162':'day_163','day_161':'day_162',
                        'day_160':'day_161','day_159':'day_160','day_158':'day_159','day_157':'day_158','day_156':'day_157','day_155':'day_156','day_154':'day_155','day_153':'day_154','day_152':'day_153','day_151':'day_152','day_150':'day_151','day_149':'day_150','day_148':'day_149','day_147':'day_148','day_146':'day_147','day_145':'day_146','day_144':'day_145','day_143':'day_144','day_142':'day_143','day_141':'day_142','day_140':'day_141','day_139':'day_140','day_138':'day_139','day_137':'day_138','day_136':'day_137','day_135':'day_136','day_134':'day_135','day_133':'day_134','day_132':'day_133','day_131':'day_132','day_130':'day_131','day_129':'day_130','day_128':'day_129','day_127':'day_128','day_126':'day_127','day_125':'day_126','day_124':'day_125','day_123':'day_124','day_122':'day_123','day_121':'day_122',
                        'day_120':'day_121','day_119':'day_120','day_118':'day_119','day_117':'day_118','day_116':'day_117','day_115':'day_116','day_114':'day_115','day_113':'day_114','day_112':'day_113','day_111':'day_112','day_110':'day_111','day_109':'day_110','day_108':'day_109','day_107':'day_108','day_106':'day_107','day_105':'day_106','day_104':'day_105','day_103':'day_104','day_102':'day_103','day_101':'day_102','day_100':'day_101','day_99':'day_100','day_98':'day_99','day_97':'day_98','day_96':'day_97','day_95':'day_96','day_94':'day_95','day_93':'day_94','day_92':'day_93','day_91':'day_92','day_90':'day_91','day_89':'day_90','day_88':'day_89','day_87':'day_88','day_86':'day_87','day_85':'day_86','day_84':'day_85','day_83': 'day_84','day_82':'day_83','day_81':'day_82','day_80':'day_81',
                        'day_79':'day_80','day_78':'day_79','day_77':'day_78','day_76':'day_77','day_75':'day_76','day_74':'day_75','day_73':'day_74','day_72':'day_73','day_71':'day_72','day_70':'day_71','day_69':'day_70','day_68':'day_69','day_67':'day_68','day_66':'day_67','day_65':'day_66','day_64':'day_65','day_63':'day_64','day_62':'day_63','day_61':'day_62','day_60':'day_61','day_59':'day_60','day_58':'day_59','day_57':'day_58','day_56':'day_57','day_55':'day_56','day_54':'day_55','day_53':'day_54','day_52':'day_53','day_51':'day_52','day_50':'day_51','day_49':'day_50','day_48':'day_49','day_47':'day_48','day_46':'day_47','day_45':'day_46','day_44':'day_45','day_43': 'day_44', 'day_42': 'day_43','day_41':'day_42','day_40':'day_41',
                        'day_39':'day_40','day_38':'day_39','day_37':'day_38','day_36':'day_37','day_35':'day_36','day_34':'day_35','day_33':'day_34','day_32':'day_33','day_31':'day_32','day_30':'day_31','day_29':'day_30','day_28':'day_29','day_27':'day_28','day_26':'day_27','day_25':'day_26','day_24':'day_25','day_23':'day_24','day_22':'day_23','day_21':'day_22','day_20':'day_21','day_19':'day_20','day_18':'day_19','day_17':'day_18','day_16':'day_17','day_15':'day_16','day_14':'day_15','day_13':'day_14','day_12':'day_13','day_11':'day_12','day_10':'day_11','day_9':'day_10','day_8':'day_9','day_7':'day_8','day_6':'day_7','day_5':'day_6','day_4':'day_5','day_3': 'day_4', 'day_2': 'day_3','day_1':'day_2','pred_col':'day_1'}, inplace=True)
df_test = pd.DataFrame(data=df_test)
df_test

<ipython-input-39-3510b6e9bfdc>:11: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_test['pred_col'] =0

,day_361,day_360,day_359,day_358,day_357,day_356,day_355,day_354,day_353,day_352,...,day_10,day_9,day_8,day_7,day_6,day_5,day_4,day_3,day_2,day_1
row_num,,,,,,,,,,,,,,,,,,,,,
0,1.15513,1.15958,1.16091,1.15894,1.16416,1.16388,1.16665,1.16278,1.16577,1.15984,...,1.06842,1.06462,1.06038,1.05975,1.05477,1.06086,1.05772,1.06700,1.05976,0
1,1.15523,1.15950,1.16090,1.15888,1.16411,1.16395,1.16657,1.16279,1.16590,1.15979,...,1.06845,1.06451,1.06034,1.05974,1.05478,1.06081,1.05767,1.06704,1.05972,0
2,1.15528,1.15950,1.16093,1.15886,1.16395,1.16399,1.16651,1.16275,1.16584,1.15975,...,1.06844,1.06442,1.06030,1.05973,1.05481,1.06082,1.05762,1.06709,1.05970,0
3,1.15521,1.15947,1.16094,1.15883,1.16395,1.16396,1.16655,1.16279,1.16595,1.15974,...,1.06844,1.06442,1.06029,1.05974,1.05479,1.06078,1.05762,1.06708,1.05977,0
4,1.15522,1.15948,1.16095,1.15883,1.16398,1.16399,1.16661,1.16275,1.16607,1.15972,...,1.06851,1.06437,1.06020,1.05964,1.05484,1.06082,1.05765,1.06707,1.05977,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1435,1.15940,1.16060,1.15908,1.16405,1.16385,1.16641,1.16277,1.16536,1.15990,1.16011,...,1.06478,1.06038,1.05991,1.05469,1.06080,1.05747,1.06680,1.05969,1.06323,0
1436,1.15938,1.16071,1.15912,1.16412,1.16379,1.16656,1.16273,1.16546,1.15989,1.16010,...,1.06474,1.06035,1.05990,1.05470,1.06080,1.05747,1.06689,1.05974,1.06325,0
1437,1.15946,1.16072,1.15914,1.16416,1.16379,1.16661,1.16267,1.16562,1.15990,1.16011,...,1.06473,1.06032,1.05990,1.05471,1.06081,1.05747,1.06686,1.05976,1.06330,0
1438,1.15949,1.16076,1.15898,1.16422,1.16385,1.16672,1.16270,1.16572,1.15985,1.16011,...,1.06473,1.06032,1.05980,1.05471,1.06081,1.05762,1.06685,1.05976,1.06328,0
1439,1.15952,1.16088,1.15892,1.16417,1.16390,1.16667,1.16271,1.16573,1.15984,1.16020,...,1.06471,1.06034,1.05980,1.05472,1.06081,1.05770,1.06685,1.05976,1.06328,0

In [40]:
df_train.isnull().sum()

day_360    0
day_359    0
day_358    0
day_357    0
day_356    0
          ..
day_5      0
day_4      0
day_3      0
day_2      0
day_1      0
Length: 360, dtype: int64

In [41]:
for col in df_test.columns:
    print(col)

day_361
day_360
day_359
day_358
day_357
day_356
day_355
day_354
day_353
day_352
day_351
day_350
day_349
day_348
day_347
day_346
day_345
day_344
day_343
day_342
day_341
day_340
day_339
day_338
day_337
day_336
day_335
day_334
day_333
day_332
day_331
day_290
day_329
day_328
day_327
day_326
day_325
day_324
day_323
day_322
day_321
day_320
day_319
day_318
day_317
day_316
day_315
day_314
day_313
day_312
day_311
day_310
day_309
day_308
day_307
day_306
day_305
day_304
day_303
day_302
day_301
day_300
day_299
day_298
day_297
day_296
day_295
day_294
day_293
day_292
day_291
day_290
day_289
day_288
day_287
day_286
day_285
day_284
day_283
day_282
day_281
day_280
day_279
day_278
day_277
day_276
day_275
day_274
day_273
day_272
day_271
day_270
day_269
day_268
day_267
day_266
day_265
day_264
day_263
day_262
day_261
day_260
day_259
day_258
day_257
day_256
day_255
day_254
day_253
day_252
day_251
day_250
day_249
day_248
day_247
day_246
day_245
day_244
day_243
day_242
day_241
day_240
day_239
day_238
day_237
day_236
day_235
day_234
day_233
day_232
day_231
day_230
day_229
day_228
day_227
day_226
day_225
day_224
day_223
day_222
day_221
day_220
day_219
day_218
day_217
day_216
day_215
day_214
day_213
day_212
day_211
day_210
day_209
day_208
day_207
day_206
day_205
day_204
day_203
day_202
day_201
day_200
day_199
day_198
day_197
day_196
day_195
day_194
day_193
day_192
day_191
day_190
day_189
day_188
day_187
day_186
day_185
day_184
day_183
day_182
day_181
day_180
day_179
day_178
day_177
day_176
day_175
day_174
day_173
day_172
day_171
day_170
day_169
day_168
day_167
day_166
day_165
day_164
day_163
day_162
day_161
day_160
day_159
day_158
day_157
day_156
day_155
day_154
day_153
day_152
day_151
day_150
day_149
day_148
day_147
day_146
day_145
day_144
day_143
day_142
day_141
day_140
day_139
day_138
day_137
day_136
day_135
day_134
day_133
day_132
day_131
day_130
day_129
day_128
day_127
day_126
day_125
day_124
day_123
day_122
day_121
day_120
day_119
day_118
day_117
day_116
day_115
day_114
day_113
day_112
day_111
day_110
day_109
day_108
day_107
day_106
day_105
day_104
day_103
day_102
day_101
day_100
day_99
day_98
day_97
day_96
day_95
day_94
day_93
day_92
day_91
day_90
day_89
day_88
day_87
day_86
day_85
day_84
day_83
day_82
day_81
day_80
day_79
day_78
day_77
day_76
day_75
day_74
day_73
day_72
day_71
day_70
day_69
day_68
day_67
day_66
day_65
day_64
day_63
day_62
day_61
day_60
day_59
day_58
day_57
day_56
day_55
day_54
day_53
day_52
day_51
day_50
day_49
day_48
day_47
day_46
day_45
day_44
day_43
day_42
day_41
day_40
day_39
day_38
day_37
day_36
day_35
day_34
day_33
day_32
day_31
day_30
day_29
day_28
day_27
day_26
day_25
day_24
day_23
day_22
day_21
day_20
day_19
day_18
day_17
day_16
day_15
day_14
day_13
day_12
day_11
day_10
day_9
day_8
day_7
day_6
day_5
day_4
day_3
day_2
day_1

In [42]:
#predict new interval
label_new_interval = 'day_1' 
print("Summary of class variable: \n", df_train[label_new_interval].describe())

Summary of class variable:
 count    1440.000000
mean        1.061350
std         0.001038
min         1.059090
25%         1.060620
50%         1.061300
75%         1.062030
max         1.063820
Name: day_1, dtype: float64

In [43]:
#HPO
import autogluon.core as ag

# nn_options = {  # specifies non-default hyperparameter values for neural network models
#     'num_epochs': 10,  # number of training epochs (controls training time of NN models)
#     'learning_rate': ag.space.Real(1e-4, 1e-2, default=5e-4, log=True),  # learning rate used in training (real-valued hyperparameter searched on log-scale)
#     'activation': ag.space.Categorical('relu', 'softrelu', 'tanh'),  # activation function used in NN (categorical hyperparameter, default = first entry)
#     'dropout_prob': ag.space.Real(0.0, 0.5, default=0.1),  # dropout probability (real-valued hyperparameter)
# }
# # gbm_options = {  # specifies non-default hyperparameter values for lightGBM gradient boosted trees
# #     'num_boost_round': 1000,  # number of boosting rounds (controls training time of GBM models)
# #     'num_leaves': ag.space.Int(lower=26, upper=66, default=36),  # number of leaves in trees (integer hyperparameter)
# # }

# hyperparameters = {  # hyperparameters of each model type
#                   #  'XGB': gbm_options,
#                    'NN': nn_options,  # NOTE: comment this line out if you get errors on Mac OSX
#                   } 
# time_limit = 2*60  # train various models for ~2 min
# num_trials = 10  # try at most 5 different hyperparameter configurations for each type of model
# search_strategy = 'bayesopt'  # to tune hyperparameters using bayesian optimisation search routine with a local scheduler

# hyperparameter_tune_kwargs = {  # HPO is not performed unless hyperparameter_tune_kwargs is specified
#     'num_trials': num_trials,
#     'scheduler' : 'local',
#     'searcher': search_strategy,
# }
#predict new interval
save_path='agModels-predict_day1'
predictor = TabularPredictor(label=label_new_interval, path=save_path)
#predictor.fit(df_train, hyperparameters=hyperparameters, hyperparameter_tune_kwargs=hyperparameter_tune_kwargs)

predictor.fit(df_train, hyperparameters={'NN':{}}, presets='high_quality')

Warning: path already exists! This predictor may overwrite an existing predictor! path="agModels-predict_day1"
Presets specified: ['high_quality']

ValueError: ignored

In [ ]:
#predictor.feature_importance(data=df_train)

In [ ]:
#predict close
test_data = TabularDataset(df_test)
y_test = df_test[label_new_interval]
test_data_nolab = df_test.drop(columns=[label_new_interval])
test_data_nolab

In [ ]:
#predict new interval
predictor = TabularPredictor.load(save_path)
y_pred = predictor.predict(test_data_nolab)
print("Predictions: \n", y_pred)
perf = predictor.evaluate_predictions(y_true = y_test, y_pred = y_pred, auxiliary_metrics=True)

In [ ]:
s = y_pred.to_frame()

In [ ]:

s.plot()

In [ ]:
import matplotlib as mpl
mpl.rcParams['savefig.dpi'] = 120

ax = y_pred.plot(figsize = (16, 10))

In [ ]:
#contrast leaderboard result of train and test data
predictor.leaderboard(df_train, silent=True)

In [ ]:
# predictor.unpersist_models('agModels-predict_day1')
# predictor.save_space()
# predictor.delete_models(models_to_keep='best', dry_run=False)
##undelete below if need to save a fresh model each run.
# %rm -rf agModels-predict_day1
# !ls