<a href="https://colab.research.google.com/github/gomlfx/ApiaryFund_/blob/master/autogluon_next_day_graph_M1_2_0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
!pip install autogluon

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting autogluon
  Using cached autogluon-0.6.1-py3-none-any.whl (9.8 kB)
Collecting autogluon.features==0.6.1
  Downloading autogluon.features-0.6.1-py3-none-any.whl (59 kB)
     |████████████████████████████████| 59 kB 3.0 MB/s
Collecting autogluon.core[all]==0.6.1
  Downloading autogluon.core-0.6.1-py3-none-any.whl (226 kB)
     |████████████████████████████████| 226 kB 5.8 MB/s
Collecting autogluon.multimodal==0.6.1
  Downloading autogluon.multimodal-0.6.1-py3-none-any.whl (289 kB)
     |████████████████████████████████| 289 kB 28.5 MB/s
Collecting autogluon.timeseries[all]==0.6.1
  Downloading autogluon.timeseries-0.6.1-py3-none-any.whl (103 kB)
     |████████████████████████████████| 103 kB 19.6 MB/s
Collecting autogluon.vision==0.6.1
  Downloading autogluon.vision-0.6.1-py3-none-any.whl (49 kB)
     |████████████████████████████████| 49 kB 2.3 MB/s
Collecting autogluon.tabular[all]==0.6.1
  Downloading autogluon.tabular-0.6.1-py3-none-any.whl (286 kB)
     |████████████████████████████████| 286 kB 37.4 MB/s
Collecting autogluon.text==0.6.1
  Downloading autogluon.text-0.6.1-py3-none-any.whl (62 kB)
     |████████████████████████████████| 62 kB 583 kB/s
Requirement already satisfied: requests in /usr/local/lib/python3.8/dist-packages (from autogluon.core[all]==0.6.1->autogluon) (2.23.0)
Collecting autogluon.common==0.6.1
  Downloading autogluon.common-0.6.1-py3-none-any.whl (41 kB)
     |████████████████████████████████| 41 kB 471 kB/s
Requirement already satisfied: matplotlib in /usr/local/lib/python3.8/dist-packages (from autogluon.core[all]==0.6.1->autogluon) (3.2.2)
Requirement already satisfied: numpy<1.24,>=1.21 in /usr/local/lib/python3.8/dist-packages (from autogluon.core[all]==0.6.1->autogluon) (1.21.6)
Requirement already satisfied: pandas!=1.4.0,<1.6,>=1.2.5 in /usr/local/lib/python3.8/dist-packages (from autogluon.core[all]==0.6.1->autogluon) (1.3.5)
Collecting boto3
  Downloading boto3-1.26.37-py3-none-any.whl (132 kB)
     |████████████████████████████████| 132 kB 48.0 MB/s
Collecting dask<=2021.11.2,>=2021.09.1
  Downloading dask-2021.11.2-py3-none-any.whl (1.0 MB)
     |████████████████████████████████| 1.0 MB 46.1 MB/s
Requirement already satisfied: scikit-learn<1.2,>=1.0.0 in /usr/local/lib/python3.8/dist-packages (from autogluon.core[all]==0.6.1->autogluon) (1.0.2)
Collecting distributed<=2021.11.2,>=2021.09.1
  Downloading distributed-2021.11.2-py3-none-any.whl (802 kB)
     |████████████████████████████████| 802 kB 50.7 MB/s
Requirement already satisfied: tqdm>=4.38.0 in /usr/local/lib/python3.8/dist-packages (from autogluon.core[all]==0.6.1->autogluon) (4.64.1)
Requirement already satisfied: scipy<1.10.0,>=1.5.4 in /usr/local/lib/python3.8/dist-packages (from autogluon.core[all]==0.6.1->autogluon) (1.7.3)
Collecting hyperopt<0.2.8,>=0.2.7
  Downloading hyperopt-0.2.7-py2.py3-none-any.whl (1.6 MB)
     |████████████████████████████████| 1.6 MB 45.7 MB/s
Collecting ray<2.1,>=2.0
  Downloading ray-2.0.1-cp38-cp38-manylinux2014_x86_64.whl (60.2 MB)
     |████████████████████████████████| 60.2 MB 70 kB/s
Requirement already satisfied: setuptools in /usr/local/lib/python3.8/dist-packages (from autogluon.common==0.6.1->autogluon.core[all]==0.6.1->autogluon) (57.4.0)
Collecting psutil<6,>=5.7.3
  Downloading psutil-5.9.4-cp36-abi3-manylinux_2_12_x86_64.manylinux2010_x86_64.manylinux_2_17_x86_64.manylinux2014_x86_64.whl (280 kB)
     |████████████████████████████████| 280 kB 57.2 MB/s
Collecting seqeval<=1.2.2
  Downloading seqeval-1.2.2.tar.gz (43 kB)
     |████████████████████████████████| 43 kB 2.1 MB/s
Collecting albumentations<=1.2.0,>=1.1.0
  Downloading albumentations-1.2.0-py3-none-any.whl (113 kB)
     |████████████████████████████████| 113 kB 64.0 MB/s
Requirement already satisfied: defusedxml<=0.7.1,>=0.7.1 in /usr/local/lib/python3.8/dist-packages (from autogluon.multimodal==0.6.1->autogluon) (0.7.1)
Collecting Pillow<=9.4.0,>=9.3.0
  Downloading Pillow-9.3.0-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (3.2 MB)
     |████████████████████████████████| 3.2 MB 57.7 MB/s
Collecting transformers<4.24.0,>=4.23.0
  Downloading transformers-4.23.1-py3-none-any.whl (5.3 MB)
     |████████████████████████████████| 5.3 MB 48.3 MB/s
Collecting omegaconf<2.2.0,>=2.1.1
  Downloading omegaconf-2.1.2-py3-none-any.whl (74 kB)
     |████████████████████████████████| 74 kB 3.6 MB/s
Collecting accelerate<0.14,>=0.9
  Downloading accelerate-0.13.2-py3-none-any.whl (148 kB)
     |████████████████████████████████| 148 kB 62.0 MB/s
Collecting torchtext<0.14.0
  Downloading torchtext-0.13.1-cp38-cp38-manylinux1_x86_64.whl (1.9 MB)
     |████████████████████████████████| 1.9 MB 49.6 MB/s
Collecting evaluate<=0.3.0
  Downloading evaluate-0.3.0-py3-none-any.whl (72 kB)
     |████████████████████████████████| 72 kB 1.7 MB/s
Collecting smart-open<5.3.0,>=5.2.1
  Downloading smart_open-5.2.1-py3-none-any.whl (58 kB)
     |████████████████████████████████| 58 kB 7.2 MB/s
Collecting torchvision<0.14.0
  Downloading torchvision-0.13.1-cp38-cp38-manylinux1_x86_64.whl (19.1 MB)
     |████████████████████████████████| 19.1 MB 1.2 MB/s
Collecting sentencepiece<0.2.0,>=0.1.95
  Downloading sentencepiece-0.1.97-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.3 MB)
     |████████████████████████████████| 1.3 MB 60.6 MB/s
Collecting pytorch-metric-learning<1.4.0,>=1.3.0
  Downloading pytorch_metric_learning-1.3.2-py3-none-any.whl (109 kB)
     |████████████████████████████████| 109 kB 55.9 MB/s
Requirement already satisfied: jsonschema<=4.8.0 in /usr/local/lib/python3.8/dist-packages (from autogluon.multimodal==0.6.1->autogluon) (4.3.3)
Requirement already satisfied: nltk<4.0.0,>=3.4.5 in /usr/local/lib/python3.8/dist-packages (from autogluon.multimodal==0.6.1->autogluon) (3.7)
Collecting pytorch-lightning<1.8.0,>=1.7.4
  Downloading pytorch_lightning-1.7.7-py3-none-any.whl (708 kB)
     |████████████████████████████████| 708 kB 53.3 MB/s
Collecting scikit-image<0.20.0,>=0.19.1
  Downloading scikit_image-0.19.3-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (14.0 MB)
     |████████████████████████████████| 14.0 MB 52.7 MB/s
Collecting timm<0.7.0
  Downloading timm-0.6.12-py3-none-any.whl (549 kB)
     |████████████████████████████████| 549 kB 52.0 MB/s
Collecting nptyping<1.5.0,>=1.4.4
  Downloading nptyping-1.4.4-py3-none-any.whl (31 kB)
Collecting torchmetrics<0.9.0,>=0.8.0
  Downloading torchmetrics-0.8.2-py3-none-any.whl (409 kB)
     |████████████████████████████████| 409 kB 61.0 MB/s
Collecting fairscale<=0.4.6,>=0.4.5
  Downloading fairscale-0.4.6.tar.gz (248 kB)
     |████████████████████████████████| 248 kB 59.8 MB/s
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
  Installing backend dependencies ... done
    Preparing wheel metadata ... done
Collecting openmim<=0.2.1,>0.1.5
  Downloading openmim-0.2.1-py2.py3-none-any.whl (49 kB)
     |████████████████████████████████| 49 kB 6.9 MB/s
Collecting torch<1.13,>=1.9
  Downloading torch-1.12.1-cp38-cp38-manylinux1_x86_64.whl (776.3 MB)
     |████████████████████████████████| 776.3 MB 1.2 kB/s
Requirement already satisfied: text-unidecode<=1.3 in /usr/local/lib/python3.8/dist-packages (from autogluon.multimodal==0.6.1->autogluon) (1.3)
Collecting nlpaug<=1.1.10,>=1.1.10
  Downloading nlpaug-1.1.10-py3-none-any.whl (410 kB)
     |████████████████████████████████| 410 kB 51.6 MB/s
Requirement already satisfied: networkx<3.0,>=2.3 in /usr/local/lib/python3.8/dist-packages (from autogluon.tabular[all]==0.6.1->autogluon) (2.8.8)
Requirement already satisfied: fastai<2.8,>=2.3.1 in /usr/local/lib/python3.8/dist-packages (from autogluon.tabular[all]==0.6.1->autogluon) (2.7.10)
Collecting lightgbm<3.4,>=3.3
  Downloading lightgbm-3.3.3-py3-none-manylinux1_x86_64.whl (2.0 MB)
     |████████████████████████████████| 2.0 MB 47.4 MB/s
Collecting xgboost<1.8,>=1.6
  Downloading xgboost-1.7.2-py3-none-manylinux2014_x86_64.whl (193.6 MB)
     |████████████████████████████████| 193.6 MB 73 kB/s
Collecting catboost<1.2,>=1.0
  Downloading catboost-1.1.1-cp38-none-manylinux1_x86_64.whl (76.6 MB)
     |████████████████████████████████| 76.6 MB 1.2 MB/s
Requirement already satisfied: joblib~=1.1 in /usr/local/lib/python3.8/dist-packages (from autogluon.timeseries[all]==0.6.1->autogluon) (1.2.0)
Collecting gluonts~=0.11.0
  Downloading gluonts-0.11.6-py3-none-any.whl (1.0 MB)
     |████████████████████████████████| 1.0 MB 47.6 MB/s
Collecting statsmodels~=0.13.0
  Downloading statsmodels-0.13.5-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (9.9 MB)
     |████████████████████████████████| 9.9 MB 47.8 MB/s
Collecting psutil<6,>=5.7.3
  Downloading psutil-5.8.0-cp38-cp38-manylinux2010_x86_64.whl (296 kB)
     |████████████████████████████████| 296 kB 51.4 MB/s
Collecting tbats~=1.1
  Downloading tbats-1.1.2-py3-none-any.whl (43 kB)
     |████████████████████████████████| 43 kB 2.4 MB/s
Collecting pmdarima~=1.8.2
  Downloading pmdarima-1.8.5-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.manylinux_2_24_x86_64.whl (1.5 MB)
     |████████████████████████████████| 1.5 MB 49.4 MB/s
Collecting sktime<0.14,>=0.13.1
  Downloading sktime-0.13.4-py3-none-any.whl (7.0 MB)
     |████████████████████████████████| 7.0 MB 46.7 MB/s
Collecting gluoncv<0.10.6,>=0.10.5
  Downloading gluoncv-0.10.5.post0-py2.py3-none-any.whl (1.3 MB)
     |████████████████████████████████| 1.3 MB 54.6 MB/s
Requirement already satisfied: pyyaml in /usr/local/lib/python3.8/dist-packages (from accelerate<0.14,>=0.9->autogluon.multimodal==0.6.1->autogluon) (6.0)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.8/dist-packages (from accelerate<0.14,>=0.9->autogluon.multimodal==0.6.1->autogluon) (21.3)
Requirement already satisfied: opencv-python-headless>=4.1.1 in /usr/local/lib/python3.8/dist-packages (from albumentations<=1.2.0,>=1.1.0->autogluon.multimodal==0.6.1->autogluon) (4.6.0.66)
Requirement already satisfied: qudida>=0.0.4 in /usr/local/lib/python3.8/dist-packages (from albumentations<=1.2.0,>=1.1.0->autogluon.multimodal==0.6.1->autogluon) (0.0.4)
Collecting albumentations<=1.2.0,>=1.1.0
  Downloading albumentations-1.1.0-py3-none-any.whl (102 kB)
     |████████████████████████████████| 102 kB 46.8 MB/s
Requirement already satisfied: graphviz in /usr/local/lib/python3.8/dist-packages (from catboost<1.2,>=1.0->autogluon.tabular[all]==0.6.1->autogluon) (0.10.1)
Requirement already satisfied: plotly in /usr/local/lib/python3.8/dist-packages (from catboost<1.2,>=1.0->autogluon.tabular[all]==0.6.1->autogluon) (5.5.0)
Requirement already satisfied: six in /usr/local/lib/python3.8/dist-packages (from catboost<1.2,>=1.0->autogluon.tabular[all]==0.6.1->autogluon) (1.15.0)
Requirement already satisfied: toolz>=0.8.2 in /usr/local/lib/python3.8/dist-packages (from dask<=2021.11.2,>=2021.09.1->autogluon.core[all]==0.6.1->autogluon) (0.12.0)
Requirement already satisfied: partd>=0.3.10 in /usr/local/lib/python3.8/dist-packages (from dask<=2021.11.2,>=2021.09.1->autogluon.core[all]==0.6.1->autogluon) (1.3.0)
Requirement already satisfied: fsspec>=0.6.0 in /usr/local/lib/python3.8/dist-packages (from dask<=2021.11.2,>=2021.09.1->autogluon.core[all]==0.6.1->autogluon) (2022.11.0)
Requirement already satisfied: cloudpickle>=1.1.1 in /usr/local/lib/python3.8/dist-packages (from dask<=2021.11.2,>=2021.09.1->autogluon.core[all]==0.6.1->autogluon) (1.5.0)
Requirement already satisfied: msgpack>=0.6.0 in /usr/local/lib/python3.8/dist-packages (from distributed<=2021.11.2,>=2021.09.1->autogluon.core[all]==0.6.1->autogluon) (1.0.4)
Requirement already satisfied: tornado>=6.0.3 in /usr/local/lib/python3.8/dist-packages (from distributed<=2021.11.2,>=2021.09.1->autogluon.core[all]==0.6.1->autogluon) (6.0.4)
Requirement already satisfied: zict>=0.1.3 in /usr/local/lib/python3.8/dist-packages (from distributed<=2021.11.2,>=2021.09.1->autogluon.core[all]==0.6.1->autogluon) (2.2.0)
Requirement already satisfied: tblib>=1.6.0 in /usr/local/lib/python3.8/dist-packages (from distributed<=2021.11.2,>=2021.09.1->autogluon.core[all]==0.6.1->autogluon) (1.7.0)
Requirement already satisfied: sortedcontainers!=2.0.0,!=2.0.1 in /usr/local/lib/python3.8/dist-packages (from distributed<=2021.11.2,>=2021.09.1->autogluon.core[all]==0.6.1->autogluon) (2.4.0)
Requirement already satisfied: click>=6.6 in /usr/local/lib/python3.8/dist-packages (from distributed<=2021.11.2,>=2021.09.1->autogluon.core[all]==0.6.1->autogluon) (7.1.2)
Requirement already satisfied: jinja2 in /usr/local/lib/python3.8/dist-packages (from distributed<=2021.11.2,>=2021.09.1->autogluon.core[all]==0.6.1->autogluon) (2.11.3)
Collecting xxhash
  Downloading xxhash-3.1.0-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (212 kB)
     |████████████████████████████████| 212 kB 60.8 MB/s
Collecting responses<0.19
  Downloading responses-0.18.0-py3-none-any.whl (38 kB)
Collecting multiprocess
  Downloading multiprocess-0.70.14-py38-none-any.whl (132 kB)
     |████████████████████████████████| 132 kB 73.9 MB/s
Collecting datasets>=2.0.0
  Downloading datasets-2.8.0-py3-none-any.whl (452 kB)
     |████████████████████████████████| 452 kB 61.3 MB/s
Collecting huggingface-hub>=0.7.0
  Downloading huggingface_hub-0.11.1-py3-none-any.whl (182 kB)
     |████████████████████████████████| 182 kB 47.0 MB/s
Requirement already satisfied: dill in /usr/local/lib/python3.8/dist-packages (from evaluate<=0.3.0->autogluon.multimodal==0.6.1->autogluon) (0.3.6)
Requirement already satisfied: aiohttp in /usr/local/lib/python3.8/dist-packages (from datasets>=2.0.0->evaluate<=0.3.0->autogluon.multimodal==0.6.1->autogluon) (3.8.3)
Requirement already satisfied: pyarrow>=6.0.0 in /usr/local/lib/python3.8/dist-packages (from datasets>=2.0.0->evaluate<=0.3.0->autogluon.multimodal==0.6.1->autogluon) (9.0.0)
Requirement already satisfied: fastprogress>=0.2.4 in /usr/local/lib/python3.8/dist-packages (from fastai<2.8,>=2.3.1->autogluon.tabular[all]==0.6.1->autogluon) (1.0.3)
Requirement already satisfied: pip in /usr/local/lib/python3.8/dist-packages (from fastai<2.8,>=2.3.1->autogluon.tabular[all]==0.6.1->autogluon) (21.1.3)
Requirement already satisfied: fastcore<1.6,>=1.4.5 in /usr/local/lib/python3.8/dist-packages (from fastai<2.8,>=2.3.1->autogluon.tabular[all]==0.6.1->autogluon) (1.5.27)
Requirement already satisfied: fastdownload<2,>=0.0.5 in /usr/local/lib/python3.8/dist-packages (from fastai<2.8,>=2.3.1->autogluon.tabular[all]==0.6.1->autogluon) (0.0.7)
Requirement already satisfied: spacy<4 in /usr/local/lib/python3.8/dist-packages (from fastai<2.8,>=2.3.1->autogluon.tabular[all]==0.6.1->autogluon) (3.4.4)
Requirement already satisfied: aiosignal>=1.1.2 in /usr/local/lib/python3.8/dist-packages (from aiohttp->datasets>=2.0.0->evaluate<=0.3.0->autogluon.multimodal==0.6.1->autogluon) (1.3.1)
Requirement already satisfied: async-timeout<5.0,>=4.0.0a3 in /usr/local/lib/python3.8/dist-packages (from aiohttp->datasets>=2.0.0->evaluate<=0.3.0->autogluon.multimodal==0.6.1->autogluon) (4.0.2)
Requirement already satisfied: frozenlist>=1.1.1 in /usr/local/lib/python3.8/dist-packages (from aiohttp->datasets>=2.0.0->evaluate<=0.3.0->autogluon.multimodal==0.6.1->autogluon) (1.3.3)
Requirement already satisfied: attrs>=17.3.0 in /usr/local/lib/python3.8/dist-packages (from aiohttp->datasets>=2.0.0->evaluate<=0.3.0->autogluon.multimodal==0.6.1->autogluon) (22.1.0)
Requirement already satisfied: yarl<2.0,>=1.0 in /usr/local/lib/python3.8/dist-packages (from aiohttp->datasets>=2.0.0->evaluate<=0.3.0->autogluon.multimodal==0.6.1->autogluon) (1.8.2)
Requirement already satisfied: charset-normalizer<3.0,>=2.0 in /usr/local/lib/python3.8/dist-packages (from aiohttp->datasets>=2.0.0->evaluate<=0.3.0->autogluon.multimodal==0.6.1->autogluon) (2.1.1)
Requirement already satisfied: multidict<7.0,>=4.5 in /usr/local/lib/python3.8/dist-packages (from aiohttp->datasets>=2.0.0->evaluate<=0.3.0->autogluon.multimodal==0.6.1->autogluon) (6.0.3)
Collecting autocfg
  Downloading autocfg-0.0.8-py3-none-any.whl (13 kB)
Collecting yacs
  Downloading yacs-0.1.8-py3-none-any.whl (14 kB)
Collecting portalocker
  Downloading portalocker-2.6.0-py2.py3-none-any.whl (15 kB)
Requirement already satisfied: opencv-python in /usr/local/lib/python3.8/dist-packages (from gluoncv<0.10.6,>=0.10.5->autogluon.vision==0.6.1->autogluon) (4.6.0.66)
Requirement already satisfied: typing-extensions~=4.0 in /usr/local/lib/python3.8/dist-packages (from gluonts~=0.11.0->autogluon.timeseries[all]==0.6.1->autogluon) (4.4.0)
Requirement already satisfied: pydantic~=1.7 in /usr/local/lib/python3.8/dist-packages (from gluonts~=0.11.0->autogluon.timeseries[all]==0.6.1->autogluon) (1.10.2)
Requirement already satisfied: filelock in /usr/local/lib/python3.8/dist-packages (from huggingface-hub>=0.7.0->evaluate<=0.3.0->autogluon.multimodal==0.6.1->autogluon) (3.8.2)
Requirement already satisfied: future in /usr/local/lib/python3.8/dist-packages (from hyperopt<0.2.8,>=0.2.7->autogluon.core[all]==0.6.1->autogluon) (0.16.0)
Collecting py4j
  Downloading py4j-0.10.9.7-py2.py3-none-any.whl (200 kB)
     |████████████████████████████████| 200 kB 52.5 MB/s
Requirement already satisfied: pyrsistent!=0.17.0,!=0.17.1,!=0.17.2,>=0.14.0 in /usr/local/lib/python3.8/dist-packages (from jsonschema<=4.8.0->autogluon.multimodal==0.6.1->autogluon) (0.19.2)
Requirement already satisfied: importlib-resources>=1.4.0 in /usr/local/lib/python3.8/dist-packages (from jsonschema<=4.8.0->autogluon.multimodal==0.6.1->autogluon) (5.10.1)
Requirement already satisfied: zipp>=3.1.0 in /usr/local/lib/python3.8/dist-packages (from importlib-resources>=1.4.0->jsonschema<=4.8.0->autogluon.multimodal==0.6.1->autogluon) (3.11.0)
Requirement already satisfied: wheel in /usr/local/lib/python3.8/dist-packages (from lightgbm<3.4,>=3.3->autogluon.tabular[all]==0.6.1->autogluon) (0.38.4)
Requirement already satisfied: regex>=2021.8.3 in /usr/local/lib/python3.8/dist-packages (from nltk<4.0.0,>=3.4.5->autogluon.multimodal==0.6.1->autogluon) (2022.6.2)
Collecting typish>=1.7.0
  Downloading typish-1.9.3-py3-none-any.whl (45 kB)
     |████████████████████████████████| 45 kB 3.4 MB/s
Collecting antlr4-python3-runtime==4.8
  Downloading antlr4-python3-runtime-4.8.tar.gz (112 kB)
     |████████████████████████████████| 112 kB 64.4 MB/s
Collecting colorama
  Downloading colorama-0.4.6-py2.py3-none-any.whl (25 kB)
Requirement already satisfied: tabulate in /usr/local/lib/python3.8/dist-packages (from openmim<=0.2.1,>0.1.5->autogluon.multimodal==0.6.1->autogluon) (0.8.10)
Collecting rich
  Downloading rich-12.6.0-py3-none-any.whl (237 kB)
     |████████████████████████████████| 237 kB 55.2 MB/s
Collecting model-index
  Downloading model_index-0.1.11-py3-none-any.whl (34 kB)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/local/lib/python3.8/dist-packages (from packaging>=20.0->accelerate<0.14,>=0.9->autogluon.multimodal==0.6.1->autogluon) (3.0.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.8/dist-packages (from pandas!=1.4.0,<1.6,>=1.2.5->autogluon.core[all]==0.6.1->autogluon) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.8/dist-packages (from pandas!=1.4.0,<1.6,>=1.2.5->autogluon.core[all]==0.6.1->autogluon) (2022.6)
Requirement already satisfied: locket in /usr/local/lib/python3.8/dist-packages (from partd>=0.3.10->dask<=2021.11.2,>=2021.09.1->autogluon.core[all]==0.6.1->autogluon) (1.0.0)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.8/dist-packages (from pmdarima~=1.8.2->autogluon.timeseries[all]==0.6.1->autogluon) (1.24.3)
Requirement already satisfied: Cython!=0.29.18,>=0.29 in /usr/local/lib/python3.8/dist-packages (from pmdarima~=1.8.2->autogluon.timeseries[all]==0.6.1->autogluon) (0.29.32)

In [3]:
!pip install --upgrade mxnet

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting mxnet
  Downloading mxnet-1.9.1-py3-none-manylinux2014_x86_64.whl (49.1 MB)
     |████████████████████████████████| 49.1 MB 1.2 MB/s
Requirement already satisfied: requests<3,>=2.20.0 in /usr/local/lib/python3.8/dist-packages (from mxnet) (2.23.0)
Collecting graphviz<0.9.0,>=0.8.1
  Downloading graphviz-0.8.4-py2.py3-none-any.whl (16 kB)
Requirement already satisfied: numpy<2.0.0,>1.16.0 in /usr/local/lib/python3.8/dist-packages (from mxnet) (1.21.6)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.8/dist-packages (from requests<3,>=2.20.0->mxnet) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.8/dist-packages (from requests<3,>=2.20.0->mxnet) (1.25.11)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.8/dist-packages (from requests<3,>=2.20.0->mxnet) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.8/dist-packages (from requests<3,>=2.20.0->mxnet) (2022.12.7)
Installing collected packages: graphviz, mxnet
  Attempting uninstall: graphviz
    Found existing installation: graphviz 0.10.1
    Uninstalling graphviz-0.10.1:
      Successfully uninstalled graphviz-0.10.1
Successfully installed graphviz-0.8.4 mxnet-1.9.1

In [4]:
#designed for Jupyter/kaggle/colab
import pandas as pd
import numpy as np
#import matplotlib for plotting 
import matplotlib.pyplot as plt
%matplotlib inline
#import normalization
from sklearn import preprocessing

#autogluon
from autogluon.tabular import TabularDataset, TabularPredictor

In [5]:
#metatrader5 file format
df=pd.read_csv('/content/EURUSD_M1_197101040000_202212232355.csv')

In [6]:
print(df.head())
print(df.tail())
df.info()

  <DATE>\t<TIME>\t<OPEN>\t<HIGH>\t<LOW>\t<CLOSE>\t<TICKVOL>\t<VOL>\t<SPREAD>
0  1971.01.04\t00:00:00\t0.53690\t0.53690\t0.5369...
1  1971.01.05\t00:00:00\t0.53660\t0.53660\t0.5366...
2  1971.01.06\t00:00:00\t0.53650\t0.53650\t0.5365...
3  1971.01.07\t00:00:00\t0.53680\t0.53680\t0.5368...
4  1971.01.08\t00:00:00\t0.53710\t0.53710\t0.5371...
        <DATE>\t<TIME>\t<OPEN>\t<HIGH>\t<LOW>\t<CLOSE>\t<TICKVOL>\t<VOL>\t<SPREAD>
8659526  2022.12.23\t23:51:00\t1.06157\t1.06160\t1.0614...
8659527  2022.12.23\t23:52:00\t1.06153\t1.06157\t1.0614...
8659528  2022.12.23\t23:53:00\t1.06154\t1.06163\t1.0615...
8659529  2022.12.23\t23:54:00\t1.06154\t1.06164\t1.0614...
8659530  2022.12.23\t23:55:00\t1.06163\t1.06163\t1.0616...
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8659531 entries, 0 to 8659530
Data columns (total 1 columns):
 #   Column                                                              Dtype
---  ------                                                              -----
 0   <DATE>	<TIME>	<OPEN>	<HIGH>	<LOW>	<CLOSE>	<TICKVOL>	<VOL>	<SPREAD>  object
dtypes: object(1)
memory usage: 66.1+ MB

In [7]:
df.columns=['header']

In [8]:
df = df.header.str.split('\t', expand=True)

In [9]:
df

                  0         1        2        3        4        5   6  7   8
0        1971.01.04  00:00:00  0.53690  0.53690  0.53690  0.53690   1  0  50
1        1971.01.05  00:00:00  0.53660  0.53660  0.53660  0.53660   1  0  50
2        1971.01.06  00:00:00  0.53650  0.53650  0.53650  0.53650   1  0  50
3        1971.01.07  00:00:00  0.53680  0.53680  0.53680  0.53680   1  0  50
4        1971.01.08  00:00:00  0.53710  0.53710  0.53710  0.53710   1  0  50
...             ...       ...      ...      ...      ...      ...  .. ..  ..
8659526  2022.12.23  23:51:00  1.06157  1.06160  1.06144  1.06154  46  0  14
8659527  2022.12.23  23:52:00  1.06153  1.06157  1.06149  1.06153  67  0  14
8659528  2022.12.23  23:53:00  1.06154  1.06163  1.06151  1.06154  38  0  14
8659529  2022.12.23  23:54:00  1.06154  1.06164  1.06148  1.06162  48  0  14
8659530  2022.12.23  23:55:00  1.06163  1.06163  1.06163  1.06163   1  0  14

[8659531 rows x 9 columns]

In [10]:
#choose range of data for backtesting
df['date_time'] = df[0] + ' ' + df[1]
pd.to_datetime(df.date_time)
df.set_index('date_time',inplace=True)
df.drop(columns=[0,1], inplace=True)
df

                           2        3        4        5   6  7   8
date_time
1971.01.04 00:00:00  0.53690  0.53690  0.53690  0.53690   1  0  50
1971.01.05 00:00:00  0.53660  0.53660  0.53660  0.53660   1  0  50
1971.01.06 00:00:00  0.53650  0.53650  0.53650  0.53650   1  0  50
1971.01.07 00:00:00  0.53680  0.53680  0.53680  0.53680   1  0  50
1971.01.08 00:00:00  0.53710  0.53710  0.53710  0.53710   1  0  50
...                      ...      ...      ...      ...  .. ..  ..
2022.12.23 23:51:00  1.06157  1.06160  1.06144  1.06154  46  0  14
2022.12.23 23:52:00  1.06153  1.06157  1.06149  1.06153  67  0  14
2022.12.23 23:53:00  1.06154  1.06163  1.06151  1.06154  38  0  14
2022.12.23 23:54:00  1.06154  1.06164  1.06148  1.06162  48  0  14
2022.12.23 23:55:00  1.06163  1.06163  1.06163  1.06163   1  0  14

[8659531 rows x 7 columns]

In [11]:
#df_close_col = pd.DataFrame(data=df.iloc[:,5].tail(576000))
df_c = pd.DataFrame(df.loc['1971.12.01 00:00:00':'2022.02.21 00:00:00',5])

In [12]:
df_c

                           5
date_time
1971.12.01 00:00:00  0.59210
1971.12.02 00:00:00  0.59460
1971.12.03 00:00:00  0.59810
1971.12.06 00:00:00  0.60160
1971.12.07 00:00:00  0.59860
...                      ...
2022.02.18 23:50:00  1.13237
2022.02.18 23:51:00  1.13238
2022.02.18 23:52:00  1.13243
2022.02.18 23:53:00  1.13238
2022.02.18 23:54:00  1.13227

[8343340 rows x 1 columns]

In [13]:
#df_C = df_c.reset_index(level=0)

In [14]:
#df_C['index'] = df_c.index
df_c

                           5
date_time
1971.12.01 00:00:00  0.59210
1971.12.02 00:00:00  0.59460
1971.12.03 00:00:00  0.59810
1971.12.06 00:00:00  0.60160
1971.12.07 00:00:00  0.59860
...                      ...
2022.02.18 23:50:00  1.13237
2022.02.18 23:51:00  1.13238
2022.02.18 23:52:00  1.13243
2022.02.18 23:53:00  1.13238
2022.02.18 23:54:00  1.13227

[8343340 rows x 1 columns]

In [15]:
df_c.reset_index(inplace=True)
df_c

                   date_time        5
0        1971.12.01 00:00:00  0.59210
1        1971.12.02 00:00:00  0.59460
2        1971.12.03 00:00:00  0.59810
3        1971.12.06 00:00:00  0.60160
4        1971.12.07 00:00:00  0.59860
...                      ...      ...
8343335  2022.02.18 23:50:00  1.13237
8343336  2022.02.18 23:51:00  1.13238
8343337  2022.02.18 23:52:00  1.13243
8343338  2022.02.18 23:53:00  1.13238
8343339  2022.02.18 23:54:00  1.13227

[8343340 rows x 2 columns]

In [16]:
df_c.drop(['date_time'], axis=1, inplace=True)
df_c

               5
0        0.59210
1        0.59460
2        0.59810
3        0.60160
4        0.59860
...          ...
8343335  1.13237
8343336  1.13238
8343337  1.13243
8343338  1.13238
8343339  1.13227

[8343340 rows x 1 columns]

In [17]:
df_c.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8343340 entries, 0 to 8343339
Data columns (total 1 columns):
 #   Column  Dtype
---  ------  -----
 0   5       object
dtypes: object(1)
memory usage: 63.7+ MB

In [18]:
df_c.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8343340 entries, 0 to 8343339
Data columns (total 1 columns):
 #   Column  Dtype
---  ------  -----
 0   5       object
dtypes: object(1)
memory usage: 63.7+ MB

In [19]:
df_close_col = df_c

In [20]:
df_close_col[5] = df_close_col[5].astype(float, errors = 'raise')

In [21]:
df_close_col.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8343340 entries, 0 to 8343339
Data columns (total 1 columns):
 #   Column  Dtype
---  ------  -----
 0   5       float64
dtypes: float64(1)
memory usage: 63.7 MB

In [22]:
df_close_col.isnull().sum()

5    0
dtype: int64

In [23]:
##include date time at column index 0,1###

In [24]:
df_close_col

               5
0        0.59210
1        0.59460
2        0.59810
3        0.60160
4        0.59860
...          ...
8343335  1.13237
8343336  1.13238
8343337  1.13243
8343338  1.13238
8343339  1.13227

[8343340 rows x 1 columns]

In [25]:
###df241 to df280###
df242 = pd.DataFrame(data=df_close_col.iloc[-349920:-348480])
df242['row_num']=np.arange(len(df242))
df242.set_index('row_num',inplace=True)
df242 = df242.rename(columns={5:'day_242'})
print(df242)

df241 = pd.DataFrame(data=df_close_col.iloc[-348480:-347040])
df241['row_num']=np.arange(len(df241))
df241.set_index('row_num',inplace=True)
df241 = df241.rename(columns={5:'day_241'})
print(df241)

         day_242
row_num
0        1.19300
1        1.19301
2        1.19311
3        1.19320
4        1.19306
...          ...
1435     1.18967
1436     1.18962
1437     1.18959
1438     1.18963
1439     1.18961

[1440 rows x 1 columns]
         day_241
row_num
0        1.18965
1        1.18967
2        1.18963
3        1.18968
4        1.18972
...          ...
1435     1.19694
1436     1.19678
1437     1.19677
1438     1.19680
1439     1.19696

[1440 rows x 1 columns]

In [26]:
###df201 to df240###
df240 = pd.DataFrame(data=df_close_col.iloc[-347040:-345600])
df240['row_num']=np.arange(len(df240))
df240.set_index('row_num',inplace=True)
df240 = df240.rename(columns={5:'day_240'})
print(df240)

df239 = pd.DataFrame(data=df_close_col.iloc[-345600:-344160])
df239['row_num']=np.arange(len(df239))
df239.set_index('row_num',inplace=True)
df239 = df239.rename(columns={5:'day_239'})
print(df239)

df238 = pd.DataFrame(data=df_close_col.iloc[-344160:-342720])
df238['row_num']=np.arange(len(df238))
df238.set_index('row_num',inplace=True)
df238 = df238.rename(columns={5:'day_238'})
print(df238)

df237 = pd.DataFrame(data=df_close_col.iloc[-342720:-341280])
df237['row_num']=np.arange(len(df237))
df237.set_index('row_num',inplace=True)
df237 = df237.rename(columns={5:'day_237'})
print(df237)

df236 = pd.DataFrame(data=df_close_col.iloc[-341280:-339840])
df236['row_num']=np.arange(len(df236))
df236.set_index('row_num',inplace=True)
df236 = df236.rename(columns={5:'day_236'})
print(df236)

df235 = pd.DataFrame(data=df_close_col.iloc[-339840:-338400])
df235['row_num']=np.arange(len(df235))
df235.set_index('row_num',inplace=True)
df235 = df235.rename(columns={5:'day_235'})
print(df235)

df234 = pd.DataFrame(data=df_close_col.iloc[-338400:-336960])
df234['row_num']=np.arange(len(df234))
df234.set_index('row_num',inplace=True)
df234 = df234.rename(columns={5:'day_234'})
print(df234)

df233 = pd.DataFrame(data=df_close_col.iloc[-336960:-335520])
df233['row_num']=np.arange(len(df233))
df233.set_index('row_num',inplace=True)
df233 = df233.rename(columns={5:'day_233'})
print(df233)

df232 = pd.DataFrame(data=df_close_col.iloc[-335520:-334080])
df232['row_num']=np.arange(len(df232))
df232.set_index('row_num',inplace=True)
df232 = df232.rename(columns={5:'day_232'})
print(df232)

df231 = pd.DataFrame(data=df_close_col.iloc[-334080:-332640])
df231['row_num']=np.arange(len(df231))
df231.set_index('row_num',inplace=True)
df231 = df231.rename(columns={5:'day_231'})
print(df231)

df230 = pd.DataFrame(data=df_close_col.iloc[-332640:-331200])
df230['row_num']=np.arange(len(df230))
df230.set_index('row_num',inplace=True)
df230 = df230.rename(columns={5:'day_230'})
print(df230)

df229 = pd.DataFrame(data=df_close_col.iloc[-331200:-329760])
df229['row_num']=np.arange(len(df229))
df229.set_index('row_num',inplace=True)
df229 = df229.rename(columns={5:'day_229'})
print(df229)

df228 = pd.DataFrame(data=df_close_col.iloc[-329760:-328320])
df228['row_num']=np.arange(len(df228))
df228.set_index('row_num',inplace=True)
df228 = df228.rename(columns={5:'day_228'})
print(df228)

df227 = pd.DataFrame(data=df_close_col.iloc[-328320:-326880])
df227['row_num']=np.arange(len(df227))
df227.set_index('row_num',inplace=True)
df227 = df227.rename(columns={5:'day_227'})
print(df227)

df226 = pd.DataFrame(data=df_close_col.iloc[-326880:-325440])
df226['row_num']=np.arange(len(df226))
df226.set_index('row_num',inplace=True)
df226 = df226.rename(columns={5:'day_226'})
print(df226)

df225 = pd.DataFrame(data=df_close_col.iloc[-325440:-324000])
df225['row_num']=np.arange(len(df225))
df225.set_index('row_num',inplace=True)
df225 = df225.rename(columns={5:'day_225'})
print(df225)

df224 = pd.DataFrame(data=df_close_col.iloc[-324000:-322560])
df224['row_num']=np.arange(len(df224))
df224.set_index('row_num',inplace=True)
df224 = df224.rename(columns={5:'day_224'})
print(df224)

df223 = pd.DataFrame(data=df_close_col.iloc[-322560:-321120])
df223['row_num']=np.arange(len(df223))
df223.set_index('row_num',inplace=True)
df223 = df223.rename(columns={5:'day_223'})
print(df223)

df222 = pd.DataFrame(data=df_close_col.iloc[-321120:-319680])
df222['row_num']=np.arange(len(df222))
df222.set_index('row_num',inplace=True)
df222 = df222.rename(columns={5:'day_222'})
print(df222)

df221 = pd.DataFrame(data=df_close_col.iloc[-319680:-318240])
df221['row_num']=np.arange(len(df221))
df221.set_index('row_num',inplace=True)
df221 = df221.rename(columns={5:'day_221'})
print(df221)


df220 = pd.DataFrame(data=df_close_col.iloc[-318240:-316800])
df220['row_num']=np.arange(len(df220))
df220.set_index('row_num',inplace=True)
df220 = df220.rename(columns={5:'day_220'})
print(df220)

df219 = pd.DataFrame(data=df_close_col.iloc[-316800:-315360])
df219['row_num']=np.arange(len(df219))
df219.set_index('row_num',inplace=True)
df219 = df219.rename(columns={5:'day_219'})
print(df219)

df218 = pd.DataFrame(data=df_close_col.iloc[-315360:-313920])
df218['row_num']=np.arange(len(df218))
df218.set_index('row_num',inplace=True)
df218 = df218.rename(columns={5:'day_218'})
print(df218)

df217 = pd.DataFrame(data=df_close_col.iloc[-313920:-312480])
df217['row_num']=np.arange(len(df217))
df217.set_index('row_num',inplace=True)
df217 = df217.rename(columns={5:'day_217'})
print(df217)

df216 = pd.DataFrame(data=df_close_col.iloc[-312480:-311040])
df216['row_num']=np.arange(len(df216))
df216.set_index('row_num',inplace=True)
df216 = df216.rename(columns={5:'day_216'})
print(df216)

df215 = pd.DataFrame(data=df_close_col.iloc[-311040:-309600])
df215['row_num']=np.arange(len(df215))
df215.set_index('row_num',inplace=True)
df215 = df215.rename(columns={5:'day_215'})
print(df215)

df214 = pd.DataFrame(data=df_close_col.iloc[-309600:-308160])
df214['row_num']=np.arange(len(df214))
df214.set_index('row_num',inplace=True)
df214 = df214.rename(columns={5:'day_214'})
print(df214)

df213 = pd.DataFrame(data=df_close_col.iloc[-308160:-306720])
df213['row_num']=np.arange(len(df213))
df213.set_index('row_num',inplace=True)
df213 = df213.rename(columns={5:'day_213'})
print(df213)

df212 = pd.DataFrame(data=df_close_col.iloc[-306720:-305280])
df212['row_num']=np.arange(len(df212))
df212.set_index('row_num',inplace=True)
df212 = df212.rename(columns={5:'day_212'})
print(df212)

df211 = pd.DataFrame(data=df_close_col.iloc[-305280:-303840])
df211['row_num']=np.arange(len(df211))
df211.set_index('row_num',inplace=True)
df211 = df211.rename(columns={5:'day_211'})
print(df211)

df210 = pd.DataFrame(data=df_close_col.iloc[-303840:-302400])
df210['row_num']=np.arange(len(df210))
df210.set_index('row_num',inplace=True)
df210 = df210.rename(columns={5:'day_210'})
print(df210)

df209 = pd.DataFrame(data=df_close_col.iloc[-302400:-300960])
df209['row_num']=np.arange(len(df209))
df209.set_index('row_num',inplace=True)
df209 = df209.rename(columns={5:'day_209'})
print(df209)

df208 = pd.DataFrame(data=df_close_col.iloc[-300960:-299520])
df208['row_num']=np.arange(len(df208))
df208.set_index('row_num',inplace=True)
df208 = df208.rename(columns={5:'day_208'})
print(df208)

df207 = pd.DataFrame(data=df_close_col.iloc[-299520:-298080])
df207['row_num']=np.arange(len(df207))
df207.set_index('row_num',inplace=True)
df207 = df207.rename(columns={5:'day_207'})
print(df207)

df206 = pd.DataFrame(data=df_close_col.iloc[-298080:-296640])
df206['row_num']=np.arange(len(df206))
df206.set_index('row_num',inplace=True)
df206 = df206.rename(columns={5:'day_206'})
print(df206)

df205 = pd.DataFrame(data=df_close_col.iloc[-296640:-295200])
df205['row_num']=np.arange(len(df205))
df205.set_index('row_num',inplace=True)
df205 = df205.rename(columns={5:'day_205'})
print(df205)

df204 = pd.DataFrame(data=df_close_col.iloc[-295200:-293760])
df204['row_num']=np.arange(len(df204))
df204.set_index('row_num',inplace=True)
df204 = df204.rename(columns={5:'day_204'})
print(df204)

df203 = pd.DataFrame(data=df_close_col.iloc[-293760:-292320])
df203['row_num']=np.arange(len(df203))
df203.set_index('row_num',inplace=True)
df203 = df203.rename(columns={5:'day_203'})
print(df203)

df202 = pd.DataFrame(data=df_close_col.iloc[-292320:-290880])
df202['row_num']=np.arange(len(df202))
df202.set_index('row_num',inplace=True)
df202 = df202.rename(columns={5:'day_202'})
print(df202)

df201 = pd.DataFrame(data=df_close_col.iloc[-290880:-289440])
df201['row_num']=np.arange(len(df201))
df201.set_index('row_num',inplace=True)
df201 = df201.rename(columns={5:'day_201'})
print(df201)
###df201 to df 240###

         day_240
row_num
0        1.19700
1        1.19697
2        1.19699
3        1.19702
4        1.19709
...          ...
1435     1.19119
1436     1.19118
1437     1.19111
1438     1.19085
1439     1.19095

[1440 rows x 1 columns]
         day_239
row_num
0        1.19077
1        1.19082
2        1.19073
3        1.19062
4        1.19064
...          ...
1435     1.18879
1436     1.18883
1437     1.18897
1438     1.18896
1439     1.18903

[1440 rows x 1 columns]
         day_238
row_num
0        1.18903
1        1.18902
2        1.18902
3        1.18902
4        1.18907
...          ...
1435     1.19253
1436     1.19251
1437     1.19240
1438     1.19245
1439     1.19247

[1440 rows x 1 columns]
         day_237
row_num
0        1.19249
1        1.19255
2        1.19246
3        1.19253
4        1.19252
...          ...
1435     1.18480
1436     1.18479
1437     1.18469
1438     1.18460
1439     1.18464

[1440 rows x 1 columns]
         day_236
row_num
0        1.18463
1        1.18450
2        1.18449
3        1.18450
4        1.18451
...          ...
1435     1.18225
1436     1.18198
1437     1.18208
1438     1.18211
1439     1.18228

[1440 rows x 1 columns]
         day_235
row_num
0        1.18233
1        1.18237
2        1.18247
3        1.18240
4        1.18240
...          ...
1435     1.17805
1436     1.17804
1437     1.17806
1438     1.17805
1439     1.17805

[1440 rows x 1 columns]
         day_234
row_num
0        1.17803
1        1.17803
2        1.17802
3        1.17797
4        1.17797
...          ...
1435     1.17870
1436     1.17874
1437     1.17876
1438     1.17874
1439     1.17869

[1440 rows x 1 columns]
         day_233
row_num
0        1.17871
1        1.17862
2        1.17864
3        1.17877
4        1.17881
...          ...
1435     1.17663
1436     1.17664
1437     1.17664
1438     1.17665
1439     1.17674

[1440 rows x 1 columns]
         day_232
row_num
0        1.17674
1        1.17674
2        1.17675
3        1.17683
4        1.17683
...          ...
1435     1.17051
1436     1.17061
1437     1.17075
1438     1.17071
1439     1.17061

[1440 rows x 1 columns]
         day_231
row_num
0        1.17069
1        1.17074
2        1.17080
3        1.17082
4        1.17083
...          ...
1435     1.17266
1436     1.17271
1437     1.17271
1438     1.17272
1439     1.17269

[1440 rows x 1 columns]
         day_230
row_num
0        1.17270
1        1.17265
2        1.17259
3        1.17264
4        1.17264
...          ...
1435     1.17774
1436     1.17767
1437     1.17768
1438     1.17780
1439     1.17776

[1440 rows x 1 columns]
         day_229
row_num
0        1.17778
1        1.17776
2        1.17778
3        1.17785
4        1.17784
...          ...
1435     1.17680
1436     1.17679
1437     1.17689
1438     1.17696
1439     1.17698

[1440 rows x 1 columns]
         day_228
row_num
0        1.17701
1        1.17699
2        1.17700
3        1.17699
4        1.17698
...          ...
1435     1.18043
1436     1.18044
1437     1.18045
1438     1.18046
1439     1.18039

[1440 rows x 1 columns]
         day_227
row_num
0        1.18044
1        1.18043
2        1.18042
3        1.18041
4        1.18037
...          ...
1435     1.18676
1436     1.18684
1437     1.18682
1438     1.18693
1439     1.18693

[1440 rows x 1 columns]
         day_226
row_num
0        1.18690
1        1.18691
2        1.18674
3        1.18677
4        1.18678
...          ...
1435     1.18720
1436     1.18719
1437     1.18724
1438     1.18724
1439     1.18721

[1440 rows x 1 columns]
         day_225
row_num
0        1.18724
1        1.18729
2        1.18728
3        1.18726
4        1.18724
...          ...
1435     1.19044
1436     1.19038
1437     1.19041
1438     1.19038
1439     1.19031

[1440 rows x 1 columns]
         day_224
row_num
0        1.19038
1        1.19044
2        1.19053
3        1.19049
4        1.19046
...          ...
1435     1.18899
1436     1.18906
1437     1.18916
1438     1.18916
1439     1.18920

[1440 rows x 1 columns]
         day_223
row_num
0        1.18919
1        1.18920
2        1.18910
3        1.18914
4        1.18910
...          ...
1435     1.18938
1436     1.18946
1437     1.18943
1438     1.18939
1439     1.18945

[1440 rows x 1 columns]
         day_222
row_num
0        1.18938
1        1.18941
2        1.18945
3        1.18955
4        1.18950
...          ...
1435     1.19613
1436     1.19612
1437     1.19609
1438     1.19612
1439     1.19612

[1440 rows x 1 columns]
         day_221
row_num
0        1.19609
1        1.19608
2        1.19614
3        1.19607
4        1.19598
...          ...
1435     1.19754
1436     1.19754
1437     1.19753
1438     1.19754
1439     1.19747

[1440 rows x 1 columns]
         day_220
row_num
0        1.19743
1        1.19749
2        1.19749
3        1.19743
4        1.19735
...          ...
1435     1.19559
1436     1.19563
1437     1.19565
1438     1.19561
1439     1.19560

[1440 rows x 1 columns]
         day_219
row_num
0        1.19557
1        1.19554
2        1.19554
3        1.19550
4        1.19557
...          ...
1435     1.19546
1436     1.19547
1437     1.19553
1438     1.19555
1439     1.19557

[1440 rows x 1 columns]
         day_218
row_num
0        1.19557
1        1.19556
2        1.19556
3        1.19555
4        1.19555
...          ...
1435     1.20695
1436     1.20682
1437     1.20671
1438     1.20692
1439     1.20702

[1440 rows x 1 columns]
         day_217
row_num
0        1.20698
1        1.20685
2        1.20668
3        1.20671
4        1.20665
...          ...
1435     1.20326
1436     1.20326
1437     1.20320
1438     1.20319
1439     1.20314

[1440 rows x 1 columns]
         day_216
row_num
0        1.20305
1        1.20310
2        1.20309
3        1.20310
4        1.20309
...          ...
1435     1.20408
1436     1.20406
1437     1.20409
1438     1.20408
1439     1.20409

[1440 rows x 1 columns]
         day_215
row_num
0        1.20384
1        1.20389
2        1.20398
3        1.20389
4        1.20389
...          ...
1435     1.20221
1436     1.20221
1437     1.20222
1438     1.20226
1439     1.20228

[1440 rows x 1 columns]
         day_214
row_num
0        1.20230
1        1.20225
2        1.20224
3        1.20222
4        1.20222
...          ...
1435     1.21123
1436     1.21127
1437     1.21128
1438     1.21125
1439     1.21116

[1440 rows x 1 columns]
         day_213
row_num
0        1.21106
1        1.21103
2        1.21097
3        1.21094
4        1.21097
...          ...
1435     1.20719
1436     1.20718
1437     1.20713
1438     1.20713
1439     1.20712

[1440 rows x 1 columns]
         day_212
row_num
0        1.20703
1        1.20707
2        1.20703
3        1.20702
4        1.20689
...          ...
1435     1.20770
1436     1.20769
1437     1.20770
1438     1.20767
1439     1.20770

[1440 rows x 1 columns]
         day_211
row_num
0        1.20769
1        1.20769
2        1.20770
3        1.20774
4        1.20772
...          ...
1435     1.21244
1436     1.21258
1437     1.21253
1438     1.21261
1439     1.21260

[1440 rows x 1 columns]
         day_210
row_num
0        1.21259
1        1.21252
2        1.21259
3        1.21260
4        1.21255
...          ...
1435     1.21165
1436     1.21159
1437     1.21167
1438     1.21162
1439     1.21165

[1440 rows x 1 columns]
         day_209
row_num
0        1.21169
1        1.21170
2        1.21166
3        1.21179
4        1.21175
...          ...
1435     1.20233
1436     1.20233
1437     1.20234
1438     1.20236
1439     1.20228

[1440 rows x 1 columns]
         day_208
row_num
0        1.20228
1        1.20233
2        1.20230
3        1.20224
4        1.20223
...          ...
1435     1.20406
1436     1.20403
1437     1.20402
1438     1.20395
1439     1.20396

[1440 rows x 1 columns]
         day_207
row_num
0        1.20396
1        1.20396
2        1.20391
3        1.20396
4        1.20401
...          ...
1435     1.20245
1436     1.20242
1437     1.20245
1438     1.20237
1439     1.20245

[1440 rows x 1 columns]
         day_206
row_num
0        1.20239
1        1.20243
2        1.20240
3        1.20239
4        1.20250
...          ...
1435     1.19989
1436     1.19999
1437     1.19990
1438     1.19985
1439     1.19990

[1440 rows x 1 columns]
         day_205
row_num
0        1.19993
1        1.20000
2        1.19991
3        1.19990
4        1.19993
...          ...
1435     1.20681
1436     1.20675
1437     1.20673
1438     1.20670
1439     1.20676

[1440 rows x 1 columns]
         day_204
row_num
0        1.20676
1        1.20681
2        1.20677
3        1.20680
4        1.20677
...          ...
1435     1.21544
1436     1.21548
1437     1.21540
1438     1.21547
1439     1.21545

[1440 rows x 1 columns]
         day_203
row_num
0        1.21541
1        1.21539
2        1.21539
3        1.21540
4        1.21533
...          ...
1435     1.21391
1436     1.21398
1437     1.21401
1438     1.21401
1439     1.21392

[1440 rows x 1 columns]
         day_202
row_num
0        1.21397
1        1.21402
2        1.21403
3        1.21407
4        1.21407
...          ...
1435     1.21167
1436     1.21169
1437     1.21175
1438     1.21177
1439     1.21167

[1440 rows x 1 columns]
         day_201
row_num
0        1.21175
1        1.21176
2        1.21176
3        1.21173
4        1.21173
...          ...
1435     1.20765
1436     1.20765
1437     1.20770
1438     1.20780
1439     1.20777

[1440 rows x 1 columns]

In [27]:
###df161 to df200###
df200 = pd.DataFrame(data=df_close_col.iloc[-289440:-288000])
df200['row_num']=np.arange(len(df200))
df200.set_index('row_num',inplace=True)
df200 = df200.rename(columns={5:'day_200'})
print(df200)

df199 = pd.DataFrame(data=df_close_col.iloc[-288000:-286560])
df199['row_num']=np.arange(len(df199))
df199.set_index('row_num',inplace=True)
df199 = df199.rename(columns={5:'day_199'})
print(df199)

df198 = pd.DataFrame(data=df_close_col.iloc[-286560:-285120])
df198['row_num']=np.arange(len(df198))
df198.set_index('row_num',inplace=True)
df198 = df198.rename(columns={5:'day_198'})
print(df198)

df197 = pd.DataFrame(data=df_close_col.iloc[-285120:-283680])
df197['row_num']=np.arange(len(df197))
df197.set_index('row_num',inplace=True)
df197 = df197.rename(columns={5:'day_197'})
print(df197)

df196 = pd.DataFrame(data=df_close_col.iloc[-283680:-282240])
df196['row_num']=np.arange(len(df196))
df196.set_index('row_num',inplace=True)
df196 = df196.rename(columns={5:'day_196'})
print(df196)

df195 = pd.DataFrame(data=df_close_col.iloc[-282240:-280800])
df195['row_num']=np.arange(len(df195))
df195.set_index('row_num',inplace=True)
df195 = df195.rename(columns={5:'day_195'})
print(df195)

df194 = pd.DataFrame(data=df_close_col.iloc[-280800:-279360])
df194['row_num']=np.arange(len(df194))
df194.set_index('row_num',inplace=True)
df194 = df194.rename(columns={5:'day_194'})
print(df194)

df193 = pd.DataFrame(data=df_close_col.iloc[-279360:-277920])
df193['row_num']=np.arange(len(df193))
df193.set_index('row_num',inplace=True)
df193 = df193.rename(columns={5:'day_193'})
print(df193)

df192 = pd.DataFrame(data=df_close_col.iloc[-277920:-276480])
df192['row_num']=np.arange(len(df192))
df192.set_index('row_num',inplace=True)
df192 = df192.rename(columns={5:'day_192'})
print(df192)

df191 = pd.DataFrame(data=df_close_col.iloc[-276480:-275040])
df191['row_num']=np.arange(len(df191))
df191.set_index('row_num',inplace=True)
df191 = df191.rename(columns={5:'day_191'})
print(df191)

df190 = pd.DataFrame(data=df_close_col.iloc[-275040:-273600])
df190['row_num']=np.arange(len(df190))
df190.set_index('row_num',inplace=True)
df190 = df190.rename(columns={5:'day_190'})
print(df190)

df189 = pd.DataFrame(data=df_close_col.iloc[-273600:-272160])
df189['row_num']=np.arange(len(df189))
df189.set_index('row_num',inplace=True)
df189 = df189.rename(columns={5:'day_189'})
print(df189)

df188 = pd.DataFrame(data=df_close_col.iloc[-272160:-270720])
df188['row_num']=np.arange(len(df188))
df188.set_index('row_num',inplace=True)
df188 = df188.rename(columns={5:'day_188'})
print(df188)

df187 = pd.DataFrame(data=df_close_col.iloc[-270720:-269280])
df187['row_num']=np.arange(len(df187))
df187.set_index('row_num',inplace=True)
df187 = df187.rename(columns={5:'day_187'})
print(df187)

df186 = pd.DataFrame(data=df_close_col.iloc[-269280:-267840])
df186['row_num']=np.arange(len(df186))
df186.set_index('row_num',inplace=True)
df186 = df186.rename(columns={5:'day_186'})
print(df186)

df185 = pd.DataFrame(data=df_close_col.iloc[-267840:-266400])
df185['row_num']=np.arange(len(df185))
df185.set_index('row_num',inplace=True)
df185 = df185.rename(columns={5:'day_185'})
print(df185)

df184 = pd.DataFrame(data=df_close_col.iloc[-266400:-264960])
df184['row_num']=np.arange(len(df184))
df184.set_index('row_num',inplace=True)
df184 = df184.rename(columns={5:'day_184'})
print(df184)

df183 = pd.DataFrame(data=df_close_col.iloc[-264960:-263520])
df183['row_num']=np.arange(len(df183))
df183.set_index('row_num',inplace=True)
df183 = df183.rename(columns={5:'day_183'})
print(df183)

df182 = pd.DataFrame(data=df_close_col.iloc[-263520:-262080])
df182['row_num']=np.arange(len(df182))
df182.set_index('row_num',inplace=True)
df182 = df182.rename(columns={5:'day_182'})
print(df182)

df181 = pd.DataFrame(data=df_close_col.iloc[-262080:-260640])
df181['row_num']=np.arange(len(df181))
df181.set_index('row_num',inplace=True)
df181 = df181.rename(columns={5:'day_181'})
print(df181)


df180 = pd.DataFrame(data=df_close_col.iloc[-260640:-259200])
df180['row_num']=np.arange(len(df180))
df180.set_index('row_num',inplace=True)
df180 = df180.rename(columns={5:'day_180'})
print(df180)

df179 = pd.DataFrame(data=df_close_col.iloc[-259200:-257760])
df179['row_num']=np.arange(len(df179))
df179.set_index('row_num',inplace=True)
df179 = df179.rename(columns={5:'day_179'})
print(df179)

df178 = pd.DataFrame(data=df_close_col.iloc[-257760:-256320])
df178['row_num']=np.arange(len(df178))
df178.set_index('row_num',inplace=True)
df178 = df178.rename(columns={5:'day_178'})
print(df178)

df177 = pd.DataFrame(data=df_close_col.iloc[-256320:-254880])
df177['row_num']=np.arange(len(df177))
df177.set_index('row_num',inplace=True)
df177 = df177.rename(columns={5:'day_177'})
print(df177)

df176 = pd.DataFrame(data=df_close_col.iloc[-254880:-253440])
df176['row_num']=np.arange(len(df176))
df176.set_index('row_num',inplace=True)
df176 = df176.rename(columns={5:'day_176'})
print(df176)

df175 = pd.DataFrame(data=df_close_col.iloc[-253440:-252000])
df175['row_num']=np.arange(len(df175))
df175.set_index('row_num',inplace=True)
df175 = df175.rename(columns={5:'day_175'})
print(df175)

df174 = pd.DataFrame(data=df_close_col.iloc[-252000:-250560])
df174['row_num']=np.arange(len(df174))
df174.set_index('row_num',inplace=True)
df174 = df174.rename(columns={5:'day_174'})
print(df174)

df173 = pd.DataFrame(data=df_close_col.iloc[-250560:-249120])
df173['row_num']=np.arange(len(df173))
df173.set_index('row_num',inplace=True)
df173 = df173.rename(columns={5:'day_173'})
print(df173)

df172 = pd.DataFrame(data=df_close_col.iloc[-249120:-247680])
df172['row_num']=np.arange(len(df172))
df172.set_index('row_num',inplace=True)
df172 = df172.rename(columns={5:'day_172'})
print(df172)

df171 = pd.DataFrame(data=df_close_col.iloc[-247680:-246240])
df171['row_num']=np.arange(len(df171))
df171.set_index('row_num',inplace=True)
df171 = df171.rename(columns={5:'day_171'})
print(df171)

df170 = pd.DataFrame(data=df_close_col.iloc[-246240:-244800])
df170['row_num']=np.arange(len(df170))
df170.set_index('row_num',inplace=True)
df170 = df170.rename(columns={5:'day_170'})
print(df170)

df169 = pd.DataFrame(data=df_close_col.iloc[-244800:-243360])
df169['row_num']=np.arange(len(df169))
df169.set_index('row_num',inplace=True)
df169 = df169.rename(columns={5:'day_169'})
print(df169)

df168 = pd.DataFrame(data=df_close_col.iloc[-243360:-241920])
df168['row_num']=np.arange(len(df168))
df168.set_index('row_num',inplace=True)
df168 = df168.rename(columns={5:'day_168'})
print(df168)

df167 = pd.DataFrame(data=df_close_col.iloc[-241920:-240480])
df167['row_num']=np.arange(len(df167))
df167.set_index('row_num',inplace=True)
df167 = df167.rename(columns={5:'day_167'})
print(df167)

df166 = pd.DataFrame(data=df_close_col.iloc[-240480:-239040])
df166['row_num']=np.arange(len(df166))
df166.set_index('row_num',inplace=True)
df166 = df166.rename(columns={5:'day_166'})
print(df166)

df165 = pd.DataFrame(data=df_close_col.iloc[-239040:-237600])
df165['row_num']=np.arange(len(df165))
df165.set_index('row_num',inplace=True)
df165 = df165.rename(columns={5:'day_165'})
print(df165)

df164 = pd.DataFrame(data=df_close_col.iloc[-237600:-236160])
df164['row_num']=np.arange(len(df164))
df164.set_index('row_num',inplace=True)
df164 = df164.rename(columns={5:'day_164'})
print(df164)

df163 = pd.DataFrame(data=df_close_col.iloc[-236160:-234720])
df163['row_num']=np.arange(len(df163))
df163.set_index('row_num',inplace=True)
df163 = df163.rename(columns={5:'day_163'})
print(df163)

df162 = pd.DataFrame(data=df_close_col.iloc[-234720:-233280])
df162['row_num']=np.arange(len(df162))
df162.set_index('row_num',inplace=True)
df162 = df162.rename(columns={5:'day_162'})
print(df162)

df161 = pd.DataFrame(data=df_close_col.iloc[-233280:-231840])
df161['row_num']=np.arange(len(df161))
df161.set_index('row_num',inplace=True)
df161 = df161.rename(columns={5:'day_161'})
print(df161)
###df161 to df200###

         day_200
row_num
0        1.20772
1        1.20770
2        1.20770
3        1.20770
4        1.20764
...          ...
1435     1.20855
1436     1.20855
1437     1.20858
1438     1.20863
1439     1.20864

[1440 rows x 1 columns]
         day_199
row_num
0        1.20863
1        1.20863
2        1.20865
3        1.20867
4        1.20870
...          ...
1435     1.21333
1436     1.21331
1437     1.21329
1438     1.21328
1439     1.21314

[1440 rows x 1 columns]
         day_198
row_num
0        1.21319
1        1.21322
2        1.21321
3        1.21320
4        1.21317
...          ...
1435     1.21654
1436     1.21654
1437     1.21659
1438     1.21653
1439     1.21659

[1440 rows x 1 columns]
         day_197
row_num
0        1.21662
1        1.21654
2        1.21657
3        1.21661
4        1.21656
...          ...
1435     1.22314
1436     1.22317
1437     1.22321
1438     1.22322
1439     1.22321

[1440 rows x 1 columns]
         day_196
row_num
0        1.22323
1        1.22327
2        1.22322
3        1.22326
4        1.22327
...          ...
1435     1.21806
1436     1.21805
1437     1.21798
1438     1.21794
1439     1.21800

[1440 rows x 1 columns]
         day_195
row_num
0        1.21804
1        1.21804
2        1.21804
3        1.21805
4        1.21815
...          ...
1435     1.22316
1436     1.22313
1437     1.22310
1438     1.22308
1439     1.22307

[1440 rows x 1 columns]
         day_194
row_num
0        1.22310
1        1.22315
2        1.22314
3        1.22313
4        1.22312
...          ...
1435     1.21831
1436     1.21830
1437     1.21830
1438     1.21831
1439     1.21831

[1440 rows x 1 columns]
         day_193
row_num
0        1.21826
1        1.21825
2        1.21826
3        1.21827
4        1.21826
...          ...
1435     1.22286
1436     1.22285
1437     1.22306
1438     1.22302
1439     1.22295

[1440 rows x 1 columns]
         day_192
row_num
0        1.22300
1        1.22293
2        1.22293
3        1.22293
4        1.22290
...          ...
1435     1.22578
1436     1.22582
1437     1.22594
1438     1.22595
1439     1.22594

[1440 rows x 1 columns]
         day_191
row_num
0        1.22592
1        1.22593
2        1.22596
3        1.22596
4        1.22598
...          ...
1435     1.21954
1436     1.21947
1437     1.21947
1438     1.21939
1439     1.21942

[1440 rows x 1 columns]
         day_190
row_num
0        1.21949
1        1.21942
2        1.21937
3        1.21941
4        1.21944
...          ...
1435     1.21896
1436     1.21897
1437     1.21897
1438     1.21897
1439     1.21897

[1440 rows x 1 columns]
         day_189
row_num
0        1.21895
1        1.21896
2        1.21901
3        1.21897
4        1.21887
...          ...
1435     1.21974
1436     1.21975
1437     1.21974
1438     1.21974
1439     1.21972

[1440 rows x 1 columns]
         day_188
row_num
0        1.21973
1        1.21971
2        1.21969
3        1.21968
4        1.21969
...          ...
1435     1.22274
1436     1.22270
1437     1.22270
1438     1.22270
1439     1.22269

[1440 rows x 1 columns]
         day_187
row_num
0        1.22269
1        1.22270
2        1.22264
3        1.22260
4        1.22255
...          ...
1435     1.22209
1436     1.22210
1437     1.22211
1438     1.22211
1439     1.22208

[1440 rows x 1 columns]
         day_186
row_num
0        1.22199
1        1.22195
2        1.22194
3        1.22200
4        1.22199
...          ...
1435     1.22058
1436     1.22058
1437     1.22059
1438     1.22057
1439     1.22053

[1440 rows x 1 columns]
         day_185
row_num
0        1.22052
1        1.22038
2        1.22044
3        1.22039
4        1.22043
...          ...
1435     1.21138
1436     1.21145
1437     1.21151
1438     1.21145
1439     1.21143

[1440 rows x 1 columns]
         day_184
row_num
0        1.21150
1        1.21148
2        1.21157
3        1.21157
4        1.21161
...          ...
1435     1.21680
1436     1.21679
1437     1.21681
1438     1.21681
1439     1.21686

[1440 rows x 1 columns]
         day_183
row_num
0        1.21691
1        1.21691
2        1.21696
3        1.21692
4        1.21695
...          ...
1435     1.21789
1436     1.21784
1437     1.21787
1438     1.21789
1439     1.21790

[1440 rows x 1 columns]
         day_182
row_num
0        1.21790
1        1.21789
2        1.21789
3        1.21789
4        1.21788
...          ...
1435     1.21797
1436     1.21797
1437     1.21795
1438     1.21795
1439     1.21792

[1440 rows x 1 columns]
         day_181
row_num
0        1.21795
1        1.21792
2        1.21795
3        1.21795
4        1.21795
...          ...
1435     1.21640
1436     1.21645
1437     1.21647
1438     1.21650
1439     1.21651

[1440 rows x 1 columns]
         day_180
row_num
0        1.21651
1        1.21652
2        1.21649
3        1.21646
4        1.21652
...          ...
1435     1.21884
1436     1.21883
1437     1.21887
1438     1.21887
1439     1.21882

[1440 rows x 1 columns]
         day_179
row_num
0        1.21883
1        1.21884
2        1.21882
3        1.21880
4        1.21883
...          ...
1435     1.20993
1436     1.20993
1437     1.20997
1438     1.20998
1439     1.20998

[1440 rows x 1 columns]
         day_178
row_num
0        1.20998
1        1.21021
2        1.21033
3        1.21049
4        1.21042
...          ...
1435     1.21273
1436     1.21273
1437     1.21268
1438     1.21273
1439     1.21271

[1440 rows x 1 columns]
         day_177
row_num
0        1.21278
1        1.21278
2        1.21277
3        1.21257
4        1.21258
...          ...
1435     1.21289
1436     1.21301
1437     1.21304
1438     1.21296
1439     1.21295

[1440 rows x 1 columns]
         day_176
row_num
0        1.21288
1        1.21305
2        1.21300
3        1.21280
4        1.21272
...          ...
1435     1.19450
1436     1.19447
1437     1.19494
1438     1.19509
1439     1.19467

[1440 rows x 1 columns]
         day_175
row_num
0        1.19472
1        1.19449
2        1.19467
3        1.19466
4        1.19464
...          ...
1435     1.19135
1436     1.19144
1437     1.19162
1438     1.19138
1439     1.19118

[1440 rows x 1 columns]
         day_174
row_num
0        1.19115
1        1.19113
2        1.19103
3        1.19124
4        1.19133
...          ...
1435     1.18952
1436     1.18934
1437     1.18919
1438     1.18917
1439     1.18926

[1440 rows x 1 columns]
         day_173
row_num
0        1.18934
1        1.18952
2        1.18961
3        1.18958
4        1.18944
...          ...
1435     1.18922
1436     1.18937
1437     1.18940
1438     1.18919
1439     1.18901

[1440 rows x 1 columns]
         day_172
row_num
0        1.18887
1        1.18912
2        1.18905
3        1.18919
4        1.18927
...          ...
1435     1.19457
1436     1.19455
1437     1.19444
1438     1.19452
1439     1.19461

[1440 rows x 1 columns]
         day_171
row_num
0        1.19460
1        1.19471
2        1.19489
3        1.19475
4        1.19484
...          ...
1435     1.19479
1436     1.19458
1437     1.19448
1438     1.19453
1439     1.19450

[1440 rows x 1 columns]
         day_170
row_num
0        1.19460
1        1.19467
2        1.19447
3        1.19450
4        1.19448
...          ...
1435     1.19414
1436     1.19417
1437     1.19415
1438     1.19415
1439     1.19403

[1440 rows x 1 columns]
         day_169
row_num
0        1.19415
1        1.19407
2        1.19412
3        1.19412
4        1.19415
...          ...
1435     1.19347
1436     1.19349
1437     1.19356
1438     1.19356
1439     1.19362

[1440 rows x 1 columns]
         day_168
row_num
0        1.19351
1        1.19367
2        1.19362
3        1.19376
4        1.19366
...          ...
1435     1.19013
1436     1.19001
1437     1.19021
1438     1.19022
1439     1.19012

[1440 rows x 1 columns]
         day_167
row_num
0        1.18998
1        1.18997
2        1.18983
3        1.18977
4        1.18988
...          ...
1435     1.18907
1436     1.18897
1437     1.18878
1438     1.18881
1439     1.18890

[1440 rows x 1 columns]
         day_166
row_num
0        1.18879
1        1.18875
2        1.18895
3        1.18879
4        1.18902
...          ...
1435     1.18545
1436     1.18553
1437     1.18555
1438     1.18555
1439     1.18550

[1440 rows x 1 columns]
         day_165
row_num
0        1.18550
1        1.18556
2        1.18561
3        1.18564
4        1.18571
...          ...
1435     1.18302
1436     1.18306
1437     1.18306
1438     1.18307
1439     1.18300

[1440 rows x 1 columns]
         day_164
row_num
0        1.18301
1        1.18304
2        1.18309
3        1.18318
4        1.18318
...          ...
1435     1.18770
1436     1.18779
1437     1.18785
1438     1.18791
1439     1.18794

[1440 rows x 1 columns]
         day_163
row_num
0        1.18773
1        1.18778
2        1.18778
3        1.18775
4        1.18770
...          ...
1435     1.18448
1436     1.18436
1437     1.18423
1438     1.18427
1439     1.18430

[1440 rows x 1 columns]
         day_162
row_num
0        1.18422
1        1.18429
2        1.18402
3        1.18397
4        1.18397
...          ...
1435     1.18200
1436     1.18219
1437     1.18224
1438     1.18209
1439     1.18205

[1440 rows x 1 columns]
         day_161
row_num
0        1.18210
1        1.18209
2        1.18211
3        1.18213
4        1.18203
...          ...
1435     1.18371
1436     1.18380
1437     1.18410
1438     1.18388
1439     1.18383

[1440 rows x 1 columns]

In [28]:
###df121 to df160###
df160 = pd.DataFrame(data=df_close_col.iloc[-231840:-230400])
df160['row_num']=np.arange(len(df160))
df160.set_index('row_num',inplace=True)
df160 = df160.rename(columns={5:'day_160'})
print(df160)

df159 = pd.DataFrame(data=df_close_col.iloc[-230400:-228960])
df159['row_num']=np.arange(len(df159))
df159.set_index('row_num',inplace=True)
df159 = df159.rename(columns={5:'day_159'})
print(df159)

df158 = pd.DataFrame(data=df_close_col.iloc[-228960:-227520])
df158['row_num']=np.arange(len(df158))
df158.set_index('row_num',inplace=True)
df158 = df158.rename(columns={5:'day_158'})
print(df158)

df157 = pd.DataFrame(data=df_close_col.iloc[-227520:-226080])
df157['row_num']=np.arange(len(df157))
df157.set_index('row_num',inplace=True)
df157 = df157.rename(columns={5:'day_157'})
print(df157)

df156 = pd.DataFrame(data=df_close_col.iloc[-226080:-224640])
df156['row_num']=np.arange(len(df156))
df156.set_index('row_num',inplace=True)
df156 = df156.rename(columns={5:'day_156'})
print(df156)

df155 = pd.DataFrame(data=df_close_col.iloc[-224640:-223200])
df155['row_num']=np.arange(len(df155))
df155.set_index('row_num',inplace=True)
df155 = df155.rename(columns={5:'day_155'})
print(df155)

df154 = pd.DataFrame(data=df_close_col.iloc[-223200:-221760])
df154['row_num']=np.arange(len(df154))
df154.set_index('row_num',inplace=True)
df154 = df154.rename(columns={5:'day_154'})
print(df154)

df153 = pd.DataFrame(data=df_close_col.iloc[-221760:-220320])
df153['row_num']=np.arange(len(df153))
df153.set_index('row_num',inplace=True)
df153 = df153.rename(columns={5:'day_153'})
print(df153)

df152 = pd.DataFrame(data=df_close_col.iloc[-220320:-218880])
df152['row_num']=np.arange(len(df152))
df152.set_index('row_num',inplace=True)
df152 = df152.rename(columns={5:'day_152'})
print(df152)

df151 = pd.DataFrame(data=df_close_col.iloc[-218880:-217440])
df151['row_num']=np.arange(len(df151))
df151.set_index('row_num',inplace=True)
df151 = df151.rename(columns={5:'day_151'})
print(df151)

df150 = pd.DataFrame(data=df_close_col.iloc[-217440:-216000])
df150['row_num']=np.arange(len(df150))
df150.set_index('row_num',inplace=True)
df150 = df150.rename(columns={5:'day_150'})
print(df150)

df149 = pd.DataFrame(data=df_close_col.iloc[-216000:-214560])
df149['row_num']=np.arange(len(df149))
df149.set_index('row_num',inplace=True)
df149 = df149.rename(columns={5:'day_149'})
print(df149)

df148 = pd.DataFrame(data=df_close_col.iloc[-214560:-213120])
df148['row_num']=np.arange(len(df148))
df148.set_index('row_num',inplace=True)
df148 = df148.rename(columns={5:'day_148'})
print(df148)

df147 = pd.DataFrame(data=df_close_col.iloc[-213120:-211680])
df147['row_num']=np.arange(len(df147))
df147.set_index('row_num',inplace=True)
df147 = df147.rename(columns={5:'day_147'})
print(df147)

df146 = pd.DataFrame(data=df_close_col.iloc[-211680:-210240])
df146['row_num']=np.arange(len(df146))
df146.set_index('row_num',inplace=True)
df146 = df146.rename(columns={5:'day_146'})
print(df146)

df145 = pd.DataFrame(data=df_close_col.iloc[-210240:-208800])
df145['row_num']=np.arange(len(df145))
df145.set_index('row_num',inplace=True)
df145 = df145.rename(columns={5:'day_145'})
print(df145)

df144 = pd.DataFrame(data=df_close_col.iloc[-208800:-207360])
df144['row_num']=np.arange(len(df144))
df144.set_index('row_num',inplace=True)
df144 = df144.rename(columns={5:'day_144'})
print(df144)

df143 = pd.DataFrame(data=df_close_col.iloc[-207360:-205920])
df143['row_num']=np.arange(len(df143))
df143.set_index('row_num',inplace=True)
df143 = df143.rename(columns={5:'day_143'})
print(df143)

df142 = pd.DataFrame(data=df_close_col.iloc[-205920:-204480])
df142['row_num']=np.arange(len(df142))
df142.set_index('row_num',inplace=True)
df142 = df142.rename(columns={5:'day_142'})
print(df142)

df141 = pd.DataFrame(data=df_close_col.iloc[-204480:-203040])
df141['row_num']=np.arange(len(df141))
df141.set_index('row_num',inplace=True)
df141 = df141.rename(columns={5:'day_141'})
print(df141)


df140 = pd.DataFrame(data=df_close_col.iloc[-203040:-201600])
df140['row_num']=np.arange(len(df140))
df140.set_index('row_num',inplace=True)
df140 = df140.rename(columns={5:'day_140'})
print(df140)

df139 = pd.DataFrame(data=df_close_col.iloc[-201600:-200160])
df139['row_num']=np.arange(len(df139))
df139.set_index('row_num',inplace=True)
df139 = df139.rename(columns={5:'day_139'})
print(df139)

df138 = pd.DataFrame(data=df_close_col.iloc[-200160:-198720])
df138['row_num']=np.arange(len(df138))
df138.set_index('row_num',inplace=True)
df138 = df138.rename(columns={5:'day_138'})
print(df138)

df137 = pd.DataFrame(data=df_close_col.iloc[-198720:-197280])
df137['row_num']=np.arange(len(df137))
df137.set_index('row_num',inplace=True)
df137 = df137.rename(columns={5:'day_137'})
print(df137)

df136 = pd.DataFrame(data=df_close_col.iloc[-197280:-195840])
df136['row_num']=np.arange(len(df136))
df136.set_index('row_num',inplace=True)
df136 = df136.rename(columns={5:'day_136'})
print(df136)

df135 = pd.DataFrame(data=df_close_col.iloc[-195840:-194400])
df135['row_num']=np.arange(len(df135))
df135.set_index('row_num',inplace=True)
df135 = df135.rename(columns={5:'day_135'})
print(df135)

df134 = pd.DataFrame(data=df_close_col.iloc[-194400:-192960])
df134['row_num']=np.arange(len(df134))
df134.set_index('row_num',inplace=True)
df134 = df134.rename(columns={5:'day_134'})
print(df134)

df133 = pd.DataFrame(data=df_close_col.iloc[-192960:-191520])
df133['row_num']=np.arange(len(df133))
df133.set_index('row_num',inplace=True)
df133 = df133.rename(columns={5:'day_133'})
print(df133)

df132 = pd.DataFrame(data=df_close_col.iloc[-191520:-190080])
df132['row_num']=np.arange(len(df132))
df132.set_index('row_num',inplace=True)
df132 = df132.rename(columns={5:'day_132'})
print(df132)

df131 = pd.DataFrame(data=df_close_col.iloc[-190080:-188640])
df131['row_num']=np.arange(len(df131))
df131.set_index('row_num',inplace=True)
df131 = df131.rename(columns={5:'day_131'})
print(df131)

df130 = pd.DataFrame(data=df_close_col.iloc[-188640:-187200])
df130['row_num']=np.arange(len(df130))
df130.set_index('row_num',inplace=True)
df130 = df130.rename(columns={5:'day_130'})
print(df130)

df129 = pd.DataFrame(data=df_close_col.iloc[-187200:-185760])
df129['row_num']=np.arange(len(df129))
df129.set_index('row_num',inplace=True)
df129 = df129.rename(columns={5:'day_129'})
print(df129)

df128 = pd.DataFrame(data=df_close_col.iloc[-185760:-184320])
df128['row_num']=np.arange(len(df128))
df128.set_index('row_num',inplace=True)
df128 = df128.rename(columns={5:'day_128'})
print(df128)

df127 = pd.DataFrame(data=df_close_col.iloc[-184320:-182880])
df127['row_num']=np.arange(len(df127))
df127.set_index('row_num',inplace=True)
df127 = df127.rename(columns={5:'day_127'})
print(df127)

df126 = pd.DataFrame(data=df_close_col.iloc[-182880:-181440])
df126['row_num']=np.arange(len(df126))
df126.set_index('row_num',inplace=True)
df126 = df126.rename(columns={5:'day_126'})
print(df126)

df125 = pd.DataFrame(data=df_close_col.iloc[-181440:-180000])
df125['row_num']=np.arange(len(df125))
df125.set_index('row_num',inplace=True)
df125 = df125.rename(columns={5:'day_125'})
print(df125)

df124 = pd.DataFrame(data=df_close_col.iloc[-180000:-178560])
df124['row_num']=np.arange(len(df124))
df124.set_index('row_num',inplace=True)
df124 = df124.rename(columns={5:'day_124'})
print(df124)

df123 = pd.DataFrame(data=df_close_col.iloc[-178560:-177120])
df123['row_num']=np.arange(len(df123))
df123.set_index('row_num',inplace=True)
df123 = df123.rename(columns={5:'day_123'})
print(df123)

###
#left out a day here, still need to fix it -177120:-175680
###

df122 = pd.DataFrame(data=df_close_col.iloc[-175680:-174240])
df122['row_num']=np.arange(len(df122))
df122.set_index('row_num',inplace=True)
df122 = df122.rename(columns={5:'day_122'})
print(df122)

df121 = pd.DataFrame(data=df_close_col.iloc[-174240:-172800])
df121['row_num']=np.arange(len(df121))
df121.set_index('row_num',inplace=True)
df121 = df121.rename(columns={5:'day_121'})
print(df121)
###df121 to df160###

         day_160
row_num
0        1.18375
1        1.18393
2        1.18391
3        1.18376
4        1.18406
...          ...
1435     1.18606
1436     1.18599
1437     1.18596
1438     1.18598
1439     1.18597

[1440 rows x 1 columns]
         day_159
row_num
0        1.18597
1        1.18591
2        1.18584
3        1.18558
4        1.18570
...          ...
1435     1.18450
1436     1.18469
1437     1.18499
1438     1.18509
1439     1.18514

[1440 rows x 1 columns]
         day_158
row_num
0        1.18501
1        1.18502
2        1.18494
3        1.18481
4        1.18483
...          ...
1435     1.18465
1436     1.18467
1437     1.18452
1438     1.18448
1439     1.18444

[1440 rows x 1 columns]
         day_157
row_num
0        1.18441
1        1.18423
2        1.18418
3        1.18422
4        1.18419
...          ...
1435     1.17977
1436     1.17976
1437     1.17984
1438     1.18008
1439     1.18017

[1440 rows x 1 columns]
         day_156
row_num
0        1.18006
1        1.18041
2        1.18027
3        1.18008
4        1.18017
...          ...
1435     1.18174
1436     1.18217
1437     1.18217
1438     1.18211
1439     1.18212

[1440 rows x 1 columns]
         day_155
row_num
0        1.18207
1        1.18193
2        1.18192
3        1.18182
4        1.18192
...          ...
1435     1.18023
1436     1.18018
1437     1.18008
1438     1.18006
1439     1.18002

[1440 rows x 1 columns]
         day_154
row_num
0        1.18008
1        1.18011
2        1.18014
3        1.18018
4        1.18012
...          ...
1435     1.17745
1436     1.17739
1437     1.17741
1438     1.17748
1439     1.17766

[1440 rows x 1 columns]
         day_153
row_num
0        1.17759
1        1.17779
2        1.17766
3        1.17768
4        1.17780
...          ...
1435     1.17825
1436     1.17834
1437     1.17839
1438     1.17832
1439     1.17838

[1440 rows x 1 columns]
         day_152
row_num
0        1.17827
1        1.17838
2        1.17831
3        1.17840
4        1.17837
...          ...
1435     1.17717
1436     1.17706
1437     1.17713
1438     1.17724
1439     1.17728

[1440 rows x 1 columns]
         day_151
row_num
0        1.17718
1        1.17723
2        1.17717
3        1.17710
4        1.17711
...          ...
1435     1.17877
1436     1.17880
1437     1.17876
1438     1.17899
1439     1.17918

[1440 rows x 1 columns]
         day_150
row_num
0        1.17915
1        1.17906
2        1.17907
3        1.17908
4        1.17900
...          ...
1435     1.17643
1436     1.17655
1437     1.17645
1438     1.17656
1439     1.17656

[1440 rows x 1 columns]
         day_149
row_num
0        1.17661
1        1.17664
2        1.17663
3        1.17679
4        1.17672
...          ...
1435     1.17926
1436     1.17920
1437     1.17918
1438     1.17911
1439     1.17891

[1440 rows x 1 columns]
         day_148
row_num
0        1.17921
1        1.17926
2        1.17926
3        1.17921
4        1.17936
...          ...
1435     1.17889
1436     1.17906
1437     1.17907
1438     1.17902
1439     1.17908

[1440 rows x 1 columns]
         day_147
row_num
0        1.17912
1        1.17921
2        1.17913
3        1.17907
4        1.17907
...          ...
1435     1.18068
1436     1.18072
1437     1.18076
1438     1.18071
1439     1.18056

[1440 rows x 1 columns]
         day_146
row_num
0        1.18051
1        1.18027
2        1.18034
3        1.18036
4        1.18001
...          ...
1435     1.18739
1436     1.18749
1437     1.18749
1438     1.18746
1439     1.18763

[1440 rows x 1 columns]
         day_145
row_num
0        1.18756
1        1.18741
2        1.18742
3        1.18745
4        1.18744
...          ...
1435     1.18995
1436     1.19003
1437     1.19006
1438     1.18991
1439     1.18995

[1440 rows x 1 columns]
         day_144
row_num
0        1.18990
1        1.18985
2        1.18984
3        1.18981
4        1.18975
...          ...
1435     1.18876
1436     1.18866
1437     1.18879
1438     1.18874
1439     1.18875

[1440 rows x 1 columns]
         day_143
row_num
0        1.18875
1        1.18869
2        1.18871
3        1.18874
4        1.18870
...          ...
1435     1.18923
1436     1.18921
1437     1.18920
1438     1.18918
1439     1.18913

[1440 rows x 1 columns]
         day_142
row_num
0        1.18902
1        1.18901
2        1.18887
3        1.18894
4        1.18889
...          ...
1435     1.18610
1436     1.18611
1437     1.18609
1438     1.18616
1439     1.18627

[1440 rows x 1 columns]
         day_141
row_num
0        1.18632
1        1.18637
2        1.18636
3        1.18625
4        1.18620
...          ...
1435     1.18546
1436     1.18548
1437     1.18542
1438     1.18549
1439     1.18546

[1440 rows x 1 columns]
         day_140
row_num
0        1.18547
1        1.18542
2        1.18532
3        1.18516
4        1.18523
...          ...
1435     1.18018
1436     1.18015
1437     1.18008
1438     1.18010
1439     1.18009

[1440 rows x 1 columns]
         day_139
row_num
0        1.18007
1        1.18012
2        1.18009
3        1.18028
4        1.18039
...          ...
1435     1.17598
1436     1.17614
1437     1.17609
1438     1.17609
1439     1.17609

[1440 rows x 1 columns]
         day_138
row_num
0        1.17620
1        1.17614
2        1.17611
3        1.17616
4        1.17599
...          ...
1435     1.17209
1436     1.17213
1437     1.17206
1438     1.17204
1439     1.17205

[1440 rows x 1 columns]
         day_137
row_num
0        1.17201
1        1.17185
2        1.17188
3        1.17191
4        1.17197
...          ...
1435     1.17153
1436     1.17151
1437     1.17148
1438     1.17151
1439     1.17160

[1440 rows x 1 columns]
         day_136
row_num
0        1.17153
1        1.17167
2        1.17167
3        1.17162
4        1.17177
...          ...
1435     1.17353
1436     1.17356
1437     1.17348
1438     1.17344
1439     1.17349

[1440 rows x 1 columns]
         day_135
row_num
0        1.17349
1        1.17337
2        1.17335
3        1.17339
4        1.17342
...          ...
1435     1.17599
1436     1.17624
1437     1.17619
1438     1.17611
1439     1.17617

[1440 rows x 1 columns]
         day_134
row_num
0        1.17624
1        1.17602
2        1.17614
3        1.17593
4        1.17606
...          ...
1435     1.17719
1436     1.17713
1437     1.17719
1438     1.17719
1439     1.17717

[1440 rows x 1 columns]
         day_133
row_num
0        1.17719
1        1.17697
2        1.17696
3        1.17678
4        1.17682
...          ...
1435     1.17663
1436     1.17656
1437     1.17652
1438     1.17649
1439     1.17657

[1440 rows x 1 columns]
         day_132
row_num
0        1.17648
1        1.17648
2        1.17637
3        1.17617
4        1.17626
...          ...
1435     1.17156
1436     1.17156
1437     1.17161
1438     1.17172
1439     1.17187

[1440 rows x 1 columns]
         day_131
row_num
0        1.17200
1        1.17221
2        1.17227
3        1.17219
4        1.17208
...          ...
1435     1.16979
1436     1.16983
1437     1.17004
1438     1.17013
1439     1.17015

[1440 rows x 1 columns]
         day_130
row_num
0        1.17026
1        1.17033
2        1.17027
3        1.16994
4        1.17015
...          ...
1435     1.16692
1436     1.16709
1437     1.16712
1438     1.16700
1439     1.16684

[1440 rows x 1 columns]
         day_129
row_num
0        1.16684
1        1.16681
2        1.16685
3        1.16683
4        1.16680
...          ...
1435     1.17191
1436     1.17182
1437     1.17183
1438     1.17166
1439     1.17177

[1440 rows x 1 columns]
         day_128
row_num
0        1.17176
1        1.17192
2        1.17209
3        1.17205
4        1.17202
...          ...
1435     1.17361
1436     1.17361
1437     1.17369
1438     1.17357
1439     1.17363

[1440 rows x 1 columns]
         day_127
row_num
0        1.17367
1        1.17372
2        1.17374
3        1.17374
4        1.17382
...          ...
1435     1.17423
1436     1.17408
1437     1.17408
1438     1.17405
1439     1.17380

[1440 rows x 1 columns]
         day_126
row_num
0        1.17375
1        1.17368
2        1.17365
3        1.17357
4        1.17341
...          ...
1435     1.17682
1436     1.17695
1437     1.17688
1438     1.17691
1439     1.17688

[1440 rows x 1 columns]
         day_125
row_num
0        1.17689
1        1.17679
2        1.17671
3        1.17676
4        1.17686
...          ...
1435     1.17633
1436     1.17626
1437     1.17634
1438     1.17624
1439     1.17602

[1440 rows x 1 columns]
         day_124
row_num
0        1.17613
1        1.17618
2        1.17618
3        1.17606
4        1.17605
...          ...
1435     1.18005
1436     1.17999
1437     1.17996
1438     1.17987
1439     1.17991

[1440 rows x 1 columns]
         day_123
row_num
0        1.17981
1        1.17998
2        1.18006
3        1.18016
4        1.18001
...          ...
1435     1.18372
1436     1.18373
1437     1.18392
1438     1.18383
1439     1.18378

[1440 rows x 1 columns]
         day_122
row_num
0        1.18152
1        1.18153
2        1.18164
3        1.18158
4        1.18167
...          ...
1435     1.18490
1436     1.18490
1437     1.18477
1438     1.18482
1439     1.18485

[1440 rows x 1 columns]
         day_121
row_num
0        1.18478
1        1.18480
2        1.18483
3        1.18478
4        1.18463
...          ...
1435     1.18754
1436     1.18738
1437     1.18742
1438     1.18745
1439     1.18753

[1440 rows x 1 columns]

In [29]:
###df80 to df120###
df120 = pd.DataFrame(data=df_close_col.iloc[-172800:-171360])
df120['row_num']=np.arange(len(df120))
df120.set_index('row_num',inplace=True)
df120 = df120.rename(columns={5:'day_120'})
print(df120)

df119 = pd.DataFrame(data=df_close_col.iloc[-171360:-169920])
df119['row_num']=np.arange(len(df119))
df119.set_index('row_num',inplace=True)
df119 = df119.rename(columns={5:'day_119'})
print(df119)

df118 = pd.DataFrame(data=df_close_col.iloc[-169920:-168480])
df118['row_num']=np.arange(len(df118))
df118.set_index('row_num',inplace=True)
df118 = df118.rename(columns={5:'day_118'})
print(df118)

df117 = pd.DataFrame(data=df_close_col.iloc[-168480:-167040])
df117['row_num']=np.arange(len(df117))
df117.set_index('row_num',inplace=True)
df117 = df117.rename(columns={5:'day_117'})
print(df117)

df116 = pd.DataFrame(data=df_close_col.iloc[-167040:-165600])
df116['row_num']=np.arange(len(df116))
df116.set_index('row_num',inplace=True)
df116 = df116.rename(columns={5:'day_116'})
print(df116)

df115 = pd.DataFrame(data=df_close_col.iloc[-165600:-164160])
df115['row_num']=np.arange(len(df115))
df115.set_index('row_num',inplace=True)
df115 = df115.rename(columns={5:'day_115'})
print(df115)

df114 = pd.DataFrame(data=df_close_col.iloc[-164160:-162720])
df114['row_num']=np.arange(len(df114))
df114.set_index('row_num',inplace=True)
df114 = df114.rename(columns={5:'day_114'})
print(df114)

df113 = pd.DataFrame(data=df_close_col.iloc[-162720:-161280])
df113['row_num']=np.arange(len(df113))
df113.set_index('row_num',inplace=True)
df113 = df113.rename(columns={5:'day_113'})
print(df113)

df112 = pd.DataFrame(data=df_close_col.iloc[-161280:-159840])
df112['row_num']=np.arange(len(df112))
df112.set_index('row_num',inplace=True)
df112 = df112.rename(columns={5:'day_112'})
print(df112)

df111 = pd.DataFrame(data=df_close_col.iloc[-159840:-158400])
df111['row_num']=np.arange(len(df111))
df111.set_index('row_num',inplace=True)
df111 = df111.rename(columns={5:'day_111'})
print(df111)

df110 = pd.DataFrame(data=df_close_col.iloc[-158400:-156960])
df110['row_num']=np.arange(len(df110))
df110.set_index('row_num',inplace=True)
df110 = df110.rename(columns={5:'day_110'})
print(df110)

df109 = pd.DataFrame(data=df_close_col.iloc[-156960:-155520])
df109['row_num']=np.arange(len(df109))
df109.set_index('row_num',inplace=True)
df109 = df109.rename(columns={5:'day_109'})
print(df109)

df108 = pd.DataFrame(data=df_close_col.iloc[-155520:-154080])
df108['row_num']=np.arange(len(df108))
df108.set_index('row_num',inplace=True)
df108 = df108.rename(columns={5:'day_108'})
print(df108)

df107 = pd.DataFrame(data=df_close_col.iloc[-154080:-152640])
df107['row_num']=np.arange(len(df107))
df107.set_index('row_num',inplace=True)
df107 = df107.rename(columns={5:'day_107'})
print(df107)

df106 = pd.DataFrame(data=df_close_col.iloc[-152640:-151200])
df106['row_num']=np.arange(len(df106))
df106.set_index('row_num',inplace=True)
df106 = df106.rename(columns={5:'day_106'})
print(df106)

df105 = pd.DataFrame(data=df_close_col.iloc[-151200:-149760])
df105['row_num']=np.arange(len(df105))
df105.set_index('row_num',inplace=True)
df105 = df105.rename(columns={5:'day_105'})
print(df105)

df104 = pd.DataFrame(data=df_close_col.iloc[-149760:-148320])
df104['row_num']=np.arange(len(df104))
df104.set_index('row_num',inplace=True)
df104 = df104.rename(columns={5:'day_104'})
print(df104)

df103 = pd.DataFrame(data=df_close_col.iloc[-148320:-146880])
df103['row_num']=np.arange(len(df103))
df103.set_index('row_num',inplace=True)
df103 = df103.rename(columns={5:'day_103'})
print(df103)

df102 = pd.DataFrame(data=df_close_col.iloc[-146880:-145440])
df102['row_num']=np.arange(len(df102))
df102.set_index('row_num',inplace=True)
df102 = df102.rename(columns={5:'day_102'})
print(df102)

df101 = pd.DataFrame(data=df_close_col.iloc[-145440:-144000])
df101['row_num']=np.arange(len(df101))
df101.set_index('row_num',inplace=True)
df101 = df101.rename(columns={5:'day_101'})
print(df101)


df100 = pd.DataFrame(data=df_close_col.iloc[-144000:-142560])
df100['row_num']=np.arange(len(df100))
df100.set_index('row_num',inplace=True)
df100 = df100.rename(columns={5:'day_100'})
print(df100)

df99 = pd.DataFrame(data=df_close_col.iloc[-142560:-141120])
df99['row_num']=np.arange(len(df99))
df99.set_index('row_num',inplace=True)
df99 = df99.rename(columns={5:'day_99'})
print(df99)

df98 = pd.DataFrame(data=df_close_col.iloc[-141120:-139680])
df98['row_num']=np.arange(len(df98))
df98.set_index('row_num',inplace=True)
df98 = df98.rename(columns={5:'day_98'})
print(df98)

df97 = pd.DataFrame(data=df_close_col.iloc[-139680:-138240])
df97['row_num']=np.arange(len(df97))
df97.set_index('row_num',inplace=True)
df97 = df97.rename(columns={5:'day_97'})
print(df97)

df96 = pd.DataFrame(data=df_close_col.iloc[-138240:-136800])
df96['row_num']=np.arange(len(df96))
df96.set_index('row_num',inplace=True)
df96 = df96.rename(columns={5:'day_96'})
print(df96)

df95 = pd.DataFrame(data=df_close_col.iloc[-136800:-135360])
df95['row_num']=np.arange(len(df95))
df95.set_index('row_num',inplace=True)
df95 = df95.rename(columns={5:'day_95'})
print(df95)

df94 = pd.DataFrame(data=df_close_col.iloc[-135360:-133920])
df94['row_num']=np.arange(len(df94))
df94.set_index('row_num',inplace=True)
df94 = df94.rename(columns={5:'day_94'})
print(df94)

df93 = pd.DataFrame(data=df_close_col.iloc[-133920:-132480])
df93['row_num']=np.arange(len(df93))
df93.set_index('row_num',inplace=True)
df93 = df93.rename(columns={5:'day_93'})
print(df93)

df92 = pd.DataFrame(data=df_close_col.iloc[-132480:-131040])
df92['row_num']=np.arange(len(df92))
df92.set_index('row_num',inplace=True)
df92 = df92.rename(columns={5:'day_92'})
print(df92)

df91 = pd.DataFrame(data=df_close_col.iloc[-131040:-129600])
df91['row_num']=np.arange(len(df91))
df91.set_index('row_num',inplace=True)
df91 = df91.rename(columns={5:'day_91'})
print(df91)

df90 = pd.DataFrame(data=df_close_col.iloc[-129600:-128160])
df90['row_num']=np.arange(len(df90))
df90.set_index('row_num',inplace=True)
df90 = df90.rename(columns={5:'day_90'})
print(df90)

df89 = pd.DataFrame(data=df_close_col.iloc[-128160:-126720])
df89['row_num']=np.arange(len(df89))
df89.set_index('row_num',inplace=True)
df89 = df89.rename(columns={5:'day_89'})
print(df89)

df88 = pd.DataFrame(data=df_close_col.iloc[-126720:-125280])
df88['row_num']=np.arange(len(df88))
df88.set_index('row_num',inplace=True)
df88 = df88.rename(columns={5:'day_88'})
print(df88)

df87 = pd.DataFrame(data=df_close_col.iloc[-125280:-123840])
df87['row_num']=np.arange(len(df87))
df87.set_index('row_num',inplace=True)
df87 = df87.rename(columns={5:'day_87'})
print(df87)

df86 = pd.DataFrame(data=df_close_col.iloc[-123840:-122400])
df86['row_num']=np.arange(len(df86))
df86.set_index('row_num',inplace=True)
df86 = df86.rename(columns={5:'day_86'})
print(df86)

df85 = pd.DataFrame(data=df_close_col.iloc[-122400:-120960])
df85['row_num']=np.arange(len(df85))
df85.set_index('row_num',inplace=True)
df85 = df85.rename(columns={5:'day_85'})
print(df85)

df84 = pd.DataFrame(data=df_close_col.iloc[-120960:-119520])
df84['row_num']=np.arange(len(df84))
df84.set_index('row_num',inplace=True)
df84 = df84.rename(columns={5:'day_84'})
print(df84)

df83 = pd.DataFrame(data=df_close_col.iloc[-119520:-118080])
df83['row_num']=np.arange(len(df83))
df83.set_index('row_num',inplace=True)
df83 = df83.rename(columns={5:'day_83'})
print(df83)

df82 = pd.DataFrame(data=df_close_col.iloc[-118080:-116640])
df82['row_num']=np.arange(len(df82))
df82.set_index('row_num',inplace=True)
df82 = df82.rename(columns={5:'day_82'})
print(df82)

df81 = pd.DataFrame(data=df_close_col.iloc[-116640:-115200])
df81['row_num']=np.arange(len(df81))
df81.set_index('row_num',inplace=True)
df81 = df81.rename(columns={5:'day_81'})
print(df81)
###df80 to df 120###

         day_120
row_num
0        1.18751
1        1.18710
2        1.18727
3        1.18719
4        1.18733
...          ...
1435     1.18643
1436     1.18640
1437     1.18632
1438     1.18627
1439     1.18620

[1440 rows x 1 columns]
         day_119
row_num
0        1.18638
1        1.18640
2        1.18639
3        1.18637
4        1.18636
...          ...
1435     1.18619
1436     1.18609
1437     1.18619
1438     1.18618
1439     1.18618

[1440 rows x 1 columns]
         day_118
row_num
0        1.18629
1        1.18624
2        1.18615
3        1.18609
4        1.18622
...          ...
1435     1.18260
1436     1.18257
1437     1.18275
1438     1.18267
1439     1.18264

[1440 rows x 1 columns]
         day_117
row_num
0        1.18259
1        1.18275
2        1.18273
3        1.18271
4        1.18278
...          ...
1435     1.18376
1436     1.18361
1437     1.18350
1438     1.18331
1439     1.18335

[1440 rows x 1 columns]
         day_116
row_num
0        1.18326
1        1.18322
2        1.18316
3        1.18280
4        1.18290
...          ...
1435     1.18389
1436     1.18387
1437     1.18387
1438     1.18378
1439     1.18384

[1440 rows x 1 columns]
         day_115
row_num
0        1.18392
1        1.18391
2        1.18397
3        1.18385
4        1.18356
...          ...
1435     1.17826
1436     1.17837
1437     1.17846
1438     1.17824
1439     1.17800

[1440 rows x 1 columns]
         day_114
row_num
0        1.17818
1        1.17810
2        1.17814
3        1.17821
4        1.17815
...          ...
1435     1.18388
1436     1.18383
1437     1.18406
1438     1.18342
1439     1.18278

[1440 rows x 1 columns]
         day_113
row_num
0        1.18351
1        1.18315
2        1.18315
3        1.18288
4        1.18317
...          ...
1435     1.18233
1436     1.18239
1437     1.18244
1438     1.18262
1439     1.18222

[1440 rows x 1 columns]
         day_112
row_num
0        1.18239
1        1.18215
2        1.18248
3        1.18245
4        1.18248
...          ...
1435     1.17636
1436     1.17631
1437     1.17586
1438     1.17566
1439     1.17577

[1440 rows x 1 columns]
         day_111
row_num
0        1.17566
1        1.17577
2        1.17553
3        1.17565
4        1.17551
...          ...
1435     1.17804
1436     1.17791
1437     1.17792
1438     1.17793
1439     1.17792

[1440 rows x 1 columns]
         day_110
row_num
0        1.17799
1        1.17789
2        1.17783
3        1.17798
4        1.17787
...          ...
1435     1.17119
1436     1.17114
1437     1.17108
1438     1.17114
1439     1.17103

[1440 rows x 1 columns]
         day_109
row_num
0        1.17117
1        1.17119
2        1.17121
3        1.17117
4        1.17133
...          ...
1435     1.17367
1436     1.17365
1437     1.17343
1438     1.17358
1439     1.17369

[1440 rows x 1 columns]
         day_108
row_num
0        1.17394
1        1.17388
2        1.17390
3        1.17387
4        1.17396
...          ...
1435     1.17318
1436     1.17323
1437     1.17319
1438     1.17318
1439     1.17310

[1440 rows x 1 columns]
         day_107
row_num
0        1.17313
1        1.17319
2        1.17317
3        1.17319
4        1.17322
...          ...
1435     1.17293
1436     1.17295
1437     1.17303
1438     1.17295
1439     1.17301

[1440 rows x 1 columns]
         day_106
row_num
0        1.17304
1        1.17293
2        1.17278
3        1.17286
4        1.17285
...          ...
1435     1.17108
1436     1.17108
1437     1.17107
1438     1.17103
1439     1.17104

[1440 rows x 1 columns]
         day_105
row_num
0        1.17103
1        1.17102
2        1.17095
3        1.17096
4        1.17110
...          ...
1435     1.17072
1436     1.17072
1437     1.17068
1438     1.17069
1439     1.17079

[1440 rows x 1 columns]
         day_104
row_num
0        1.17081
1        1.17062
2        1.17068
3        1.17073
4        1.17043
...          ...
1435     1.16740
1436     1.16756
1437     1.16765
1438     1.16733
1439     1.16758

[1440 rows x 1 columns]
         day_103
row_num
0        1.16779
1        1.16782
2        1.16802
3        1.16806
4        1.16821
...          ...
1435     1.16453
1436     1.16440
1437     1.16462
1438     1.16463
1439     1.16470

[1440 rows x 1 columns]
         day_102
row_num
0        1.16466
1        1.16462
2        1.16462
3        1.16456
4        1.16461
...          ...
1435     1.15884
1436     1.15900
1437     1.15908
1438     1.15895
1439     1.15922

[1440 rows x 1 columns]
         day_101
row_num
0        1.15915
1        1.15902
2        1.15920
3        1.15909
4        1.15884
...          ...
1435     1.16007
1436     1.16013
1437     1.16007
1438     1.16023
1439     1.16024

[1440 rows x 1 columns]
         day_100
row_num
0        1.16020
1        1.16018
2        1.16043
3        1.16038
4        1.16022
...          ...
1435     1.16338
1436     1.16325
1437     1.16312
1438     1.16299
1439     1.16299

[1440 rows x 1 columns]
          day_99
row_num
0        1.16288
1        1.16280
2        1.16316
3        1.16317
4        1.16307
...          ...
1435     1.16012
1436     1.16002
1437     1.16008
1438     1.16004
1439     1.15991

[1440 rows x 1 columns]
          day_98
row_num
0        1.15996
1        1.15994
2        1.15999
3        1.15973
4        1.15958
...          ...
1435     1.15466
1436     1.15451
1437     1.15472
1438     1.15458
1439     1.15476

[1440 rows x 1 columns]
          day_97
row_num
0        1.15479
1        1.15463
2        1.15448
3        1.15454
4        1.15458
...          ...
1435     1.15560
1436     1.15558
1437     1.15555
1438     1.15527
1439     1.15536

[1440 rows x 1 columns]
          day_96
row_num
0        1.15521
1        1.15524
2        1.15533
3        1.15526
4        1.15512
...          ...
1435     1.15727
1436     1.15709
1437     1.15710
1438     1.15704
1439     1.15726

[1440 rows x 1 columns]
          day_95
row_num
0        1.15712
1        1.15749
2        1.15760
3        1.15772
4        1.15766
...          ...
1435     1.15628
1436     1.15627
1437     1.15641
1438     1.15641
1439     1.15641

[1440 rows x 1 columns]
          day_94
row_num
0        1.15651
1        1.15654
2        1.15650
3        1.15651
4        1.15655
...          ...
1435     1.15412
1436     1.15419
1437     1.15459
1438     1.15460
1439     1.15463

[1440 rows x 1 columns]
          day_93
row_num
0        1.15451
1        1.15456
2        1.15464
3        1.15459
4        1.15456
...          ...
1435     1.15418
1436     1.15422
1437     1.15433
1438     1.15428
1439     1.15461

[1440 rows x 1 columns]
          day_92
row_num
0        1.15467
1        1.15473
2        1.15464
3        1.15487
4        1.15490
...          ...
1435     1.15990
1436     1.15973
1437     1.15953
1438     1.15970
1439     1.15990

[1440 rows x 1 columns]
          day_91
row_num
0        1.15991
1        1.16013
2        1.16010
3        1.15988
4        1.15980
...          ...
1435     1.15973
1436     1.15960
1437     1.15955
1438     1.15947
1439     1.15938

[1440 rows x 1 columns]
          day_90
row_num
0        1.15974
1        1.15974
2        1.15946
3        1.15940
4        1.15943
...          ...
1435     1.16004
1436     1.16003
1437     1.16003
1438     1.16022
1439     1.16013

[1440 rows x 1 columns]
          day_89
row_num
0        1.16030
1        1.16028
2        1.16039
3        1.16054
4        1.16059
...          ...
1435     1.16468
1436     1.16445
1437     1.16446
1438     1.16462
1439     1.16465

[1440 rows x 1 columns]
          day_88
row_num
0        1.16461
1        1.16459
2        1.16465
3        1.16460
4        1.16456
...          ...
1435     1.16414
1436     1.16420
1437     1.16418
1438     1.16409
1439     1.16404

[1440 rows x 1 columns]
          day_87
row_num
0        1.16402
1        1.16388
2        1.16387
3        1.16390
4        1.16400
...          ...
1435     1.16427
1436     1.16441
1437     1.16445
1438     1.16427
1439     1.16441

[1440 rows x 1 columns]
          day_86
row_num
0        1.16437
1        1.16423
2        1.16413
3        1.16412
4        1.16435
...          ...
1435     1.16355
1436     1.16347
1437     1.16373
1438     1.16370
1439     1.16364

[1440 rows x 1 columns]
          day_85
row_num
0        1.16362
1        1.16362
2        1.16359
3        1.16361
4        1.16363
...          ...
1435     1.16083
1436     1.16097
1437     1.16114
1438     1.16110
1439     1.16110

[1440 rows x 1 columns]
          day_84
row_num
0        1.16114
1        1.16112
2        1.16114
3        1.16124
4        1.16120
...          ...
1435     1.16166
1436     1.16166
1437     1.16168
1438     1.16158
1439     1.16147

[1440 rows x 1 columns]
          day_83
row_num
0        1.16133
1        1.16129
2        1.16103
3        1.16093
4        1.16060
...          ...
1435     1.16165
1436     1.16170
1437     1.16184
1438     1.16183
1439     1.16177

[1440 rows x 1 columns]
          day_82
row_num
0        1.16187
1        1.16210
2        1.16182
3        1.16186
4        1.16166
...          ...
1435     1.16411
1436     1.16404
1437     1.16377
1438     1.16363
1439     1.16382

[1440 rows x 1 columns]
          day_81
row_num
0        1.16385
1        1.16385
2        1.16364
3        1.16312
4        1.16295
...          ...
1435     1.16248
1436     1.16271
1437     1.16289
1438     1.16296
1439     1.16319

[1440 rows x 1 columns]

In [30]:
###df40 to df80###
df80 = pd.DataFrame(data=df_close_col.iloc[-115200:-113760])
df80['row_num']=np.arange(len(df80))
df80.set_index('row_num',inplace=True)
df80 = df80.rename(columns={5:'day_80'})
print(df80)

df79 = pd.DataFrame(data=df_close_col.iloc[-113760:-112320])
df79['row_num']=np.arange(len(df79))
df79.set_index('row_num',inplace=True)
df79 = df79.rename(columns={5:'day_79'})
print(df79)

df78 = pd.DataFrame(data=df_close_col.iloc[-112320:-110880])
df78['row_num']=np.arange(len(df78))
df78.set_index('row_num',inplace=True)
df78 = df78.rename(columns={5:'day_78'})
print(df78)

df77 = pd.DataFrame(data=df_close_col.iloc[-110880:-109440])
df77['row_num']=np.arange(len(df77))
df77.set_index('row_num',inplace=True)
df77 = df77.rename(columns={5:'day_77'})
print(df77)

df76 = pd.DataFrame(data=df_close_col.iloc[-109440:-108000])
df76['row_num']=np.arange(len(df76))
df76.set_index('row_num',inplace=True)
df76 = df76.rename(columns={5:'day_76'})
print(df76)

df75 = pd.DataFrame(data=df_close_col.iloc[-108000:-106560])
df75['row_num']=np.arange(len(df75))
df75.set_index('row_num',inplace=True)
df75 = df75.rename(columns={5:'day_75'})
print(df75)

df74 = pd.DataFrame(data=df_close_col.iloc[-106560:-105120])
df74['row_num']=np.arange(len(df74))
df74.set_index('row_num',inplace=True)
df74 = df74.rename(columns={5:'day_74'})
print(df74)

df73 = pd.DataFrame(data=df_close_col.iloc[-105120:-103680])
df73['row_num']=np.arange(len(df73))
df73.set_index('row_num',inplace=True)
df73 = df73.rename(columns={5:'day_73'})
print(df73)

df72 = pd.DataFrame(data=df_close_col.iloc[-103680:-102240])
df72['row_num']=np.arange(len(df72))
df72.set_index('row_num',inplace=True)
df72 = df72.rename(columns={5:'day_72'})
print(df72)

df71 = pd.DataFrame(data=df_close_col.iloc[-102240:-100800])
df71['row_num']=np.arange(len(df71))
df71.set_index('row_num',inplace=True)
df71 = df71.rename(columns={5:'day_71'})
print(df71)

df70 = pd.DataFrame(data=df_close_col.iloc[-100800:-99360])
df70['row_num']=np.arange(len(df70))
df70.set_index('row_num',inplace=True)
df70 = df70.rename(columns={5:'day_70'})
print(df70)

df69 = pd.DataFrame(data=df_close_col.iloc[-99360:-97920])
df69['row_num']=np.arange(len(df69))
df69.set_index('row_num',inplace=True)
df69 = df69.rename(columns={5:'day_69'})
print(df69)

df68 = pd.DataFrame(data=df_close_col.iloc[-97920:-96480])
df68['row_num']=np.arange(len(df68))
df68.set_index('row_num',inplace=True)
df68 = df68.rename(columns={5:'day_68'})
print(df68)

df67 = pd.DataFrame(data=df_close_col.iloc[-96480:-95040])
df67['row_num']=np.arange(len(df67))
df67.set_index('row_num',inplace=True)
df67 = df67.rename(columns={5:'day_67'})
print(df67)

df66 = pd.DataFrame(data=df_close_col.iloc[-95040:-93600])
df66['row_num']=np.arange(len(df66))
df66.set_index('row_num',inplace=True)
df66 = df66.rename(columns={5:'day_66'})
print(df66)

df65 = pd.DataFrame(data=df_close_col.iloc[-93600:-92160])
df65['row_num']=np.arange(len(df65))
df65.set_index('row_num',inplace=True)
df65 = df65.rename(columns={5:'day_65'})
print(df65)

df64 = pd.DataFrame(data=df_close_col.iloc[-92160:-90720])
df64['row_num']=np.arange(len(df64))
df64.set_index('row_num',inplace=True)
df64 = df64.rename(columns={5:'day_64'})
print(df64)

df63 = pd.DataFrame(data=df_close_col.iloc[-90720:-89280])
df63['row_num']=np.arange(len(df63))
df63.set_index('row_num',inplace=True)
df63 = df63.rename(columns={5:'day_63'})
print(df63)

df62 = pd.DataFrame(data=df_close_col.iloc[-89280:-87840])
df62['row_num']=np.arange(len(df62))
df62.set_index('row_num',inplace=True)
df62 = df62.rename(columns={5:'day_62'})
print(df62)

df61 = pd.DataFrame(data=df_close_col.iloc[-87840:-86400])
df61['row_num']=np.arange(len(df61))
df61.set_index('row_num',inplace=True)
df61 = df61.rename(columns={5:'day_61'})
print(df61)


df60 = pd.DataFrame(data=df_close_col.iloc[-86400:-84960])
df60['row_num']=np.arange(len(df60))
df60.set_index('row_num',inplace=True)
df60 = df60.rename(columns={5:'day_60'})
print(df60)

df59 = pd.DataFrame(data=df_close_col.iloc[-84960:-83520])
df59['row_num']=np.arange(len(df59))
df59.set_index('row_num',inplace=True)
df59 = df59.rename(columns={5:'day_59'})
print(df59)

df58 = pd.DataFrame(data=df_close_col.iloc[-83520:-82080])
df58['row_num']=np.arange(len(df58))
df58.set_index('row_num',inplace=True)
df58 = df58.rename(columns={5:'day_58'})
print(df58)

df57 = pd.DataFrame(data=df_close_col.iloc[-82080:-80640])
df57['row_num']=np.arange(len(df57))
df57.set_index('row_num',inplace=True)
df57 = df57.rename(columns={5:'day_57'})
print(df57)

df56 = pd.DataFrame(data=df_close_col.iloc[-80640:-79200])
df56['row_num']=np.arange(len(df56))
df56.set_index('row_num',inplace=True)
df56 = df56.rename(columns={5:'day_56'})
print(df56)

df55 = pd.DataFrame(data=df_close_col.iloc[-79200:-77760])
df55['row_num']=np.arange(len(df55))
df55.set_index('row_num',inplace=True)
df55 = df55.rename(columns={5:'day_55'})
print(df55)

df54 = pd.DataFrame(data=df_close_col.iloc[-77760:-76320])
df54['row_num']=np.arange(len(df54))
df54.set_index('row_num',inplace=True)
df54 = df54.rename(columns={5:'day_54'})
print(df54)

df53 = pd.DataFrame(data=df_close_col.iloc[-76320:-74880])
df53['row_num']=np.arange(len(df53))
df53.set_index('row_num',inplace=True)
df53 = df53.rename(columns={5:'day_53'})
print(df53)

df52 = pd.DataFrame(data=df_close_col.iloc[-74880:-73440])
df52['row_num']=np.arange(len(df52))
df52.set_index('row_num',inplace=True)
df52 = df52.rename(columns={5:'day_52'})
print(df52)

df51 = pd.DataFrame(data=df_close_col.iloc[-73440:-72000])
df51['row_num']=np.arange(len(df51))
df51.set_index('row_num',inplace=True)
df51 = df51.rename(columns={5:'day_51'})
print(df51)

df50 = pd.DataFrame(data=df_close_col.iloc[-72000:-70560])
df50['row_num']=np.arange(len(df50))
df50.set_index('row_num',inplace=True)
df50 = df50.rename(columns={5:'day_50'})
print(df50)

df49 = pd.DataFrame(data=df_close_col.iloc[-70560:-69120])
df49['row_num']=np.arange(len(df49))
df49.set_index('row_num',inplace=True)
df49 = df49.rename(columns={5:'day_49'})
print(df49)

df48 = pd.DataFrame(data=df_close_col.iloc[-69120:-67680])
df48['row_num']=np.arange(len(df48))
df48.set_index('row_num',inplace=True)
df48 = df48.rename(columns={5:'day_48'})
print(df48)

df47 = pd.DataFrame(data=df_close_col.iloc[-67680:-66240])
df47['row_num']=np.arange(len(df47))
df47.set_index('row_num',inplace=True)
df47 = df47.rename(columns={5:'day_47'})
print(df47)

df46 = pd.DataFrame(data=df_close_col.iloc[-66240:-64800])
df46['row_num']=np.arange(len(df46))
df46.set_index('row_num',inplace=True)
df46 = df46.rename(columns={5:'day_46'})
print(df46)

df45 = pd.DataFrame(data=df_close_col.iloc[-64800:-63360])
df45['row_num']=np.arange(len(df45))
df45.set_index('row_num',inplace=True)
df45 = df45.rename(columns={5:'day_45'})
print(df45)

df44 = pd.DataFrame(data=df_close_col.iloc[-63360:-61920])
df44['row_num']=np.arange(len(df44))
df44.set_index('row_num',inplace=True)
df44 = df44.rename(columns={5:'day_44'})
print(df44)

df43 = pd.DataFrame(data=df_close_col.iloc[-61920:-60480])
df43['row_num']=np.arange(len(df43))
df43.set_index('row_num',inplace=True)
df43 = df43.rename(columns={5:'day_43'})
print(df43)

df42 = pd.DataFrame(data=df_close_col.iloc[-60480:-59040])
df42['row_num']=np.arange(len(df42))
df42.set_index('row_num',inplace=True)
df42 = df42.rename(columns={5:'day_42'})
print(df42)

df41 = pd.DataFrame(data=df_close_col.iloc[-59040:-57600])
df41['row_num']=np.arange(len(df41))
df41.set_index('row_num',inplace=True)
df41 = df41.rename(columns={5:'day_41'})
print(df41)
###df40 to df80###

          day_80
row_num
0        1.16339
1        1.16319
2        1.16328
3        1.16334
4        1.16326
...          ...
1435     1.15697
1436     1.15698
1437     1.15695
1438     1.15704
1439     1.15723

[1440 rows x 1 columns]
          day_79
row_num
0        1.15735
1        1.15745
2        1.15756
3        1.15748
4        1.15744
...          ...
1435     1.15864
1436     1.15838
1437     1.15851
1438     1.15853
1439     1.15872

[1440 rows x 1 columns]
          day_78
row_num
0        1.15872
1        1.15874
2        1.15884
3        1.15924
4        1.15940
...          ...
1435     1.15699
1436     1.15705
1437     1.15722
1438     1.15720
1439     1.15725

[1440 rows x 1 columns]
          day_77
row_num
0        1.15763
1        1.15767
2        1.15775
3        1.15775
4        1.15762
...          ...
1435     1.15516
1436     1.15506
1437     1.15496
1438     1.15500
1439     1.15478

[1440 rows x 1 columns]
          day_76
row_num
0        1.15489
1        1.15487
2        1.15481
3        1.15465
4        1.15467
...          ...
1435     1.15238
1436     1.15238
1437     1.15220
1438     1.15247
1439     1.15235

[1440 rows x 1 columns]
          day_75
row_num
0        1.15204
1        1.15237
2        1.15239
3        1.15228
4        1.15235
...          ...
1435     1.15887
1436     1.15873
1437     1.15880
1438     1.15875
1439     1.15864

[1440 rows x 1 columns]
          day_74
row_num
0        1.15850
1        1.15860
2        1.15875
3        1.15881
4        1.15904
...          ...
1435     1.15810
1436     1.15780
1437     1.15795
1438     1.15782
1439     1.15800

[1440 rows x 1 columns]
          day_73
row_num
0        1.15782
1        1.15794
2        1.15777
3        1.15782
4        1.15780
...          ...
1435     1.15210
1436     1.15224
1437     1.15220
1438     1.15202
1439     1.15186

[1440 rows x 1 columns]
          day_72
row_num
0        1.15200
1        1.15157
2        1.15179
3        1.15181
4        1.15188
...          ...
1435     1.14743
1436     1.14722
1437     1.14717
1438     1.14716
1439     1.14729

[1440 rows x 1 columns]
          day_71
row_num
0        1.14738
1        1.14751
2        1.14748
3        1.14736
4        1.14712
...          ...
1435     1.14459
1436     1.14441
1437     1.14451
1438     1.14460
1439     1.14444

[1440 rows x 1 columns]
          day_70
row_num
0        1.14447
1        1.14434
2        1.14445
3        1.14455
4        1.14458
...          ...
1435     1.14215
1436     1.14232
1437     1.14243
1438     1.14201
1439     1.14195

[1440 rows x 1 columns]
          day_69
row_num
0        1.14206
1        1.14191
2        1.14194
3        1.14193
4        1.14223
...          ...
1435     1.13410
1436     1.13417
1437     1.13439
1438     1.13440
1439     1.13444

[1440 rows x 1 columns]
          day_68
row_num
0        1.13455
1        1.13455
2        1.13463
3        1.13514
4        1.13495
...          ...
1435     1.12942
1436     1.12943
1437     1.12987
1438     1.12997
1439     1.13042

[1440 rows x 1 columns]
          day_67
row_num
0        1.13053
1        1.13070
2        1.13052
3        1.13069
4        1.13070
...          ...
1435     1.13569
1436     1.13572
1437     1.13535
1438     1.13479
1439     1.13471

[1440 rows x 1 columns]
          day_66
row_num
0        1.13482
1        1.13460
2        1.13494
3        1.13490
4        1.13507
...          ...
1435     1.13090
1436     1.13112
1437     1.13140
1438     1.13149
1439     1.13125

[1440 rows x 1 columns]
          day_65
row_num
0        1.13102
1        1.13135
2        1.13160
3        1.13149
4        1.13139
...          ...
1435     1.12448
1436     1.12452
1437     1.12461
1438     1.12467
1439     1.12492

[1440 rows x 1 columns]
          day_64
row_num
0        1.12485
1        1.12511
2        1.12564
3        1.12555
4        1.12564
...          ...
1435     1.12632
1436     1.12631
1437     1.12636
1438     1.12642
1439     1.12625

[1440 rows x 1 columns]
          day_63
row_num
0        1.12610
1        1.12620
2        1.12642
3        1.12648
4        1.12621
...          ...
1435     1.11968
1436     1.11972
1437     1.11966
1438     1.11955
1439     1.11950

[1440 rows x 1 columns]
          day_62
row_num
0        1.11942
1        1.11916
2        1.11893
3        1.11926
4        1.11911
...          ...
1435     1.12101
1436     1.12103
1437     1.12095
1438     1.12098
1439     1.12109

[1440 rows x 1 columns]
          day_61
row_num
0        1.12111
1        1.12133
2        1.12126
3        1.12122
4        1.12113
...          ...
1435     1.13156
1436     1.13145
1437     1.13134
1438     1.13151
1439     1.13200

[1440 rows x 1 columns]
          day_60
row_num
0        1.13178
1        1.13158
2        1.13157
3        1.13124
4        1.13129
...          ...
1435     1.12668
1436     1.12675
1437     1.12675
1438     1.12697
1439     1.12692

[1440 rows x 1 columns]
          day_59
row_num
0        1.12675
1        1.12671
2        1.12691
3        1.12712
4        1.12699
...          ...
1435     1.12728
1436     1.12676
1437     1.12699
1438     1.12765
1439     1.12799

[1440 rows x 1 columns]
          day_58
row_num
0        1.12777
1        1.12751
2        1.12702
3        1.12730
4        1.12698
...          ...
1435     1.13277
1436     1.13267
1437     1.13292
1438     1.13307
1439     1.13292

[1440 rows x 1 columns]
          day_57
row_num
0        1.13292
1        1.13279
2        1.13281
3        1.13311
4        1.13312
...          ...
1435     1.13141
1436     1.13144
1437     1.13135
1438     1.13138
1439     1.13118

[1440 rows x 1 columns]
          day_56
row_num
0        1.13124
1        1.13130
2        1.13133
3        1.13101
4        1.13099
...          ...
1435     1.12901
1436     1.12911
1437     1.12856
1438     1.12870
1439     1.12899

[1440 rows x 1 columns]
          day_55
row_num
0        1.12886
1        1.12881
2        1.12882
3        1.12879
4        1.12883
...          ...
1435     1.12785
1436     1.12779
1437     1.12784
1438     1.12756
1439     1.12755

[1440 rows x 1 columns]
          day_54
row_num
0        1.12763
1        1.12755
2        1.12775
3        1.12768
4        1.12780
...          ...
1435     1.12390
1436     1.12390
1437     1.12383
1438     1.12384
1439     1.12374

[1440 rows x 1 columns]
          day_53
row_num
0        1.12395
1        1.12405
2        1.12413
3        1.12404
4        1.12424
...          ...
1435     1.13369
1436     1.13368
1437     1.13344
1438     1.13348
1439     1.13348

[1440 rows x 1 columns]
          day_52
row_num
0        1.13345
1        1.13332
2        1.13323
3        1.13330
4        1.13323
...          ...
1435     1.12864
1436     1.12864
1437     1.12854
1438     1.12840
1439     1.12835

[1440 rows x 1 columns]
          day_51
row_num
0        1.12840
1        1.12820
2        1.12827
3        1.12822
4        1.12811
...          ...
1435     1.13131
1436     1.13136
1437     1.13126
1438     1.13124
1439     1.13128

[1440 rows x 1 columns]
          day_50
row_num
0        1.13132
1        1.13137
2        1.13143
3        1.13170
4        1.13154
...          ...
1435     1.12937
1436     1.12905
1437     1.12918
1438     1.12931
1439     1.12933

[1440 rows x 1 columns]
          day_49
row_num
0        1.12940
1        1.12954
2        1.12943
3        1.12933
4        1.12944
...          ...
1435     1.12691
1436     1.12684
1437     1.12686
1438     1.12710
1439     1.12709

[1440 rows x 1 columns]
          day_48
row_num
0        1.12694
1        1.12713
2        1.12719
3        1.12712
4        1.12718
...          ...
1435     1.12650
1436     1.12620
1437     1.12610
1438     1.12620
1439     1.12610

[1440 rows x 1 columns]
          day_47
row_num
0        1.12608
1        1.12582
2        1.12584
3        1.12574
4        1.12569
...          ...
1435     1.13085
1436     1.13094
1437     1.13090
1438     1.13083
1439     1.13071

[1440 rows x 1 columns]
          day_46
row_num
0        1.13083
1        1.13100
2        1.13104
3        1.13106
4        1.13086
...          ...
1435     1.12769
1436     1.12776
1437     1.12783
1438     1.12789
1439     1.12778

[1440 rows x 1 columns]
          day_45
row_num
0        1.12767
1        1.12756
2        1.12767
3        1.12775
4        1.12775
...          ...
1435     1.12930
1436     1.12929
1437     1.12916
1438     1.12927
1439     1.12923

[1440 rows x 1 columns]
          day_44
row_num
0        1.12943
1        1.12954
2        1.12928
3        1.12917
4        1.12923
...          ...
1435     1.12661
1436     1.12661
1437     1.12659
1438     1.12678
1439     1.12671

[1440 rows x 1 columns]
          day_43
row_num
0        1.12673
1        1.12666
2        1.12677
3        1.12690
4        1.12685
...          ...
1435     1.13257
1436     1.13252
1437     1.13244
1438     1.13248
1439     1.13246

[1440 rows x 1 columns]
          day_42
row_num
0        1.13249
1        1.13251
2        1.13257
3        1.13256
4        1.13259
...          ...
1435     1.13115
1436     1.13111
1437     1.13117
1438     1.13133
1439     1.13130

[1440 rows x 1 columns]
          day_41
row_num
0        1.13135
1        1.13147
2        1.13151
3        1.13170
4        1.13169
...          ...
1435     1.13123
1436     1.13126
1437     1.13121
1438     1.13125
1439     1.13125

[1440 rows x 1 columns]

In [31]:
###df1 to df40###
df40 = pd.DataFrame(data=df_close_col.iloc[-57600:-56160])
df40['row_num']=np.arange(len(df40))
df40.set_index('row_num',inplace=True)
df40 = df40.rename(columns={5:'day_40'})
print(df40)

df39 = pd.DataFrame(data=df_close_col.iloc[-56160:-54720])
df39['row_num']=np.arange(len(df39))
df39.set_index('row_num',inplace=True)
df39 = df39.rename(columns={5:'day_39'})
print(df39)

df38 = pd.DataFrame(data=df_close_col.iloc[-54720:-53280])
df38['row_num']=np.arange(len(df38))
df38.set_index('row_num',inplace=True)
df38 = df38.rename(columns={5:'day_38'})
print(df38)

df37 = pd.DataFrame(data=df_close_col.iloc[-53280:-51840])
df37['row_num']=np.arange(len(df37))
df37.set_index('row_num',inplace=True)
df37 = df37.rename(columns={5:'day_37'})
print(df37)

df36 = pd.DataFrame(data=df_close_col.iloc[-51840:-50400])
df36['row_num']=np.arange(len(df36))
df36.set_index('row_num',inplace=True)
df36 = df36.rename(columns={5:'day_36'})
print(df36)

df35 = pd.DataFrame(data=df_close_col.iloc[-50400:-48960])
df35['row_num']=np.arange(len(df35))
df35.set_index('row_num',inplace=True)
df35 = df35.rename(columns={5:'day_35'})
print(df35)

df34 = pd.DataFrame(data=df_close_col.iloc[-48960:-47520])
df34['row_num']=np.arange(len(df34))
df34.set_index('row_num',inplace=True)
df34 = df34.rename(columns={5:'day_34'})
print(df34)

df33 = pd.DataFrame(data=df_close_col.iloc[-47520:-46080])
df33['row_num']=np.arange(len(df33))
df33.set_index('row_num',inplace=True)
df33 = df33.rename(columns={5:'day_33'})
print(df33)

df32 = pd.DataFrame(data=df_close_col.iloc[-46080:-44640])
df32['row_num']=np.arange(len(df32))
df32.set_index('row_num',inplace=True)
df32 = df32.rename(columns={5:'day_32'})
print(df32)

df31 = pd.DataFrame(data=df_close_col.iloc[-44640:-43200])
df31['row_num']=np.arange(len(df31))
df31.set_index('row_num',inplace=True)
df31 = df31.rename(columns={5:'day_31'})
print(df31)

df30 = pd.DataFrame(data=df_close_col.iloc[-43200:-41760])
df30['row_num']=np.arange(len(df30))
df30.set_index('row_num',inplace=True)
df30 = df30.rename(columns={5:'day_30'})
print(df30)

df29 = pd.DataFrame(data=df_close_col.iloc[-41760:-40320])
df29['row_num']=np.arange(len(df29))
df29.set_index('row_num',inplace=True)
df29 = df29.rename(columns={5:'day_29'})
print(df29)

df28 = pd.DataFrame(data=df_close_col.iloc[-40320:-38880])
df28['row_num']=np.arange(len(df28))
df28.set_index('row_num',inplace=True)
df28 = df28.rename(columns={5:'day_28'})
print(df28)

df27 = pd.DataFrame(data=df_close_col.iloc[-38880:-37440])
df27['row_num']=np.arange(len(df27))
df27.set_index('row_num',inplace=True)
df27 = df27.rename(columns={5:'day_27'})
print(df27)

df26 = pd.DataFrame(data=df_close_col.iloc[-37440:-36000])
df26['row_num']=np.arange(len(df26))
df26.set_index('row_num',inplace=True)
df26 = df26.rename(columns={5:'day_26'})
print(df26)

df25 = pd.DataFrame(data=df_close_col.iloc[-36000:-34560])
df25['row_num']=np.arange(len(df25))
df25.set_index('row_num',inplace=True)
df25 = df25.rename(columns={5:'day_25'})
print(df25)

df24 = pd.DataFrame(data=df_close_col.iloc[-34560:-33120])
df24['row_num']=np.arange(len(df24))
df24.set_index('row_num',inplace=True)
df24 = df24.rename(columns={5:'day_24'})
print(df24)

df23 = pd.DataFrame(data=df_close_col.iloc[-33120:-31680])
df23['row_num']=np.arange(len(df23))
df23.set_index('row_num',inplace=True)
df23 = df23.rename(columns={5:'day_23'})
print(df23)

df22 = pd.DataFrame(data=df_close_col.iloc[-31680:-30240])
df22['row_num']=np.arange(len(df22))
df22.set_index('row_num',inplace=True)
df22 = df22.rename(columns={5:'day_22'})
print(df22)

df21 = pd.DataFrame(data=df_close_col.iloc[-30240:-28800])
df21['row_num']=np.arange(len(df21))
df21.set_index('row_num',inplace=True)
df21 = df21.rename(columns={5:'day_21'})
print(df21)


df20 = pd.DataFrame(data=df_close_col.iloc[-28800:-27360])
df20['row_num']=np.arange(len(df20))
df20.set_index('row_num',inplace=True)
df20 = df20.rename(columns={5:'day_20'})
print(df20)

df19 = pd.DataFrame(data=df_close_col.iloc[-27360:-25920])
df19['row_num']=np.arange(len(df19))
df19.set_index('row_num',inplace=True)
df19 = df19.rename(columns={5:'day_19'})
print(df19)

df18 = pd.DataFrame(data=df_close_col.iloc[-25920:-24480])
df18['row_num']=np.arange(len(df18))
df18.set_index('row_num',inplace=True)
df18 = df18.rename(columns={5:'day_18'})
print(df18)

df17 = pd.DataFrame(data=df_close_col.iloc[-24480:-23040])
df17['row_num']=np.arange(len(df17))
df17.set_index('row_num',inplace=True)
df17 = df17.rename(columns={5:'day_17'})
print(df17)

df16 = pd.DataFrame(data=df_close_col.iloc[-23040:-21600])
df16['row_num']=np.arange(len(df16))
df16.set_index('row_num',inplace=True)
df16 = df16.rename(columns={5:'day_16'})
print(df16)

df15 = pd.DataFrame(data=df_close_col.iloc[-21600:-20160])
df15['row_num']=np.arange(len(df15))
df15.set_index('row_num',inplace=True)
df15 = df15.rename(columns={5:'day_15'})
print(df15)

df14 = pd.DataFrame(data=df_close_col.iloc[-20160:-18720])
df14['row_num']=np.arange(len(df14))
df14.set_index('row_num',inplace=True)
df14 = df14.rename(columns={5:'day_14'})
print(df14)

df13 = pd.DataFrame(data=df_close_col.iloc[-18720:-17280])
df13['row_num']=np.arange(len(df13))
df13.set_index('row_num',inplace=True)
df13 = df13.rename(columns={5:'day_13'})
print(df13)

df12 = pd.DataFrame(data=df_close_col.iloc[-17280:-15840])
df12['row_num']=np.arange(len(df12))
df12.set_index('row_num',inplace=True)
df12 = df12.rename(columns={5:'day_12'})
print(df12)

df11 = pd.DataFrame(data=df_close_col.iloc[-15840:-14400])
df11['row_num']=np.arange(len(df11))
df11.set_index('row_num',inplace=True)
df11 = df11.rename(columns={5:'day_11'})
print(df11)

df10 = pd.DataFrame(data=df_close_col.iloc[-14400:-12960])
df10['row_num']=np.arange(len(df10))
df10.set_index('row_num',inplace=True)
df10 = df10.rename(columns={5:'day_10'})
print(df10)

df9 = pd.DataFrame(data=df_close_col.iloc[-12960:-11520])
df9['row_num']=np.arange(len(df9))
df9.set_index('row_num',inplace=True)
df9 = df9.rename(columns={5:'day_9'})
print(df9)

df8 = pd.DataFrame(data=df_close_col.iloc[-11520:-10080])
df8['row_num']=np.arange(len(df8))
df8.set_index('row_num',inplace=True)
df8 = df8.rename(columns={5:'day_8'})
print(df8)

df7 = pd.DataFrame(data=df_close_col.iloc[-10080:-8640])
df7['row_num']=np.arange(len(df7))
df7.set_index('row_num',inplace=True)
df7 = df7.rename(columns={5:'day_7'})
print(df7)

df6 = pd.DataFrame(data=df_close_col.iloc[-8640:-7200])
df6['row_num']=np.arange(len(df6))
df6.set_index('row_num',inplace=True)
df6 = df6.rename(columns={5:'day_6'})
print(df6)

df5 = pd.DataFrame(data=df_close_col.iloc[-7200:-5760])
df5['row_num']=np.arange(len(df5))
df5.set_index('row_num',inplace=True)
df5 = df5.rename(columns={5:'day_5'})
print(df5)

df4 = pd.DataFrame(data=df_close_col.iloc[-5760:-4320])
df4['row_num']=np.arange(len(df4))
df4.set_index('row_num',inplace=True)
df4 = df4.rename(columns={5:'day_4'})
print(df4)

df3 = pd.DataFrame(data=df_close_col.iloc[-4320:-2880])
df3['row_num']=np.arange(len(df3))
df3.set_index('row_num',inplace=True)
df3 = df3.rename(columns={5:'day_3'})
print(df3)

df2 = pd.DataFrame(data=df_close_col.iloc[-2880:-1440])
df2['row_num']=np.arange(len(df2))
df2.set_index('row_num',inplace=True)
df2 = df2.rename(columns={5:'day_2'})
print(df2)

df1 = pd.DataFrame(data=df_close_col.iloc[-1440:])
df1['row_num']=np.arange(len(df1))
df1.set_index('row_num',inplace=True)
df1 = df1.rename(columns={5:'day_1'})
print(df1)
###df1 to df40###

          day_40
row_num
0        1.13126
1        1.13120
2        1.13128
3        1.13144
4        1.13141
...          ...
1435     1.13256
1436     1.13250
1437     1.13250
1438     1.13256
1439     1.13256

[1440 rows x 1 columns]
          day_39
row_num
0        1.13255
1        1.13250
2        1.13259
3        1.13254
4        1.13265
...          ...
1435     1.12997
1436     1.13018
1437     1.13007
1438     1.13006
1439     1.13017

[1440 rows x 1 columns]
          day_38
row_num
0        1.13022
1        1.13027
2        1.13023
3        1.13011
4        1.13021
...          ...
1435     1.13421
1436     1.13427
1437     1.13427
1438     1.13407
1439     1.13417

[1440 rows x 1 columns]
          day_37
row_num
0        1.13413
1        1.13407
2        1.13406
3        1.13405
4        1.13399
...          ...
1435     1.13166
1436     1.13163
1437     1.13168
1438     1.13177
1439     1.13188

[1440 rows x 1 columns]
          day_36
row_num
0        1.13187
1        1.13188
2        1.13190
3        1.13197
4        1.13201
...          ...
1435     1.13796
1436     1.13803
1437     1.13802
1438     1.13795
1439     1.13795

[1440 rows x 1 columns]
          day_35
row_num
0        1.13811
1        1.13824
2        1.13831
3        1.13831
4        1.13831
...          ...
1435     1.12967
1436     1.12973
1437     1.12969
1438     1.12963
1439     1.12963

[1440 rows x 1 columns]
          day_34
row_num
0        1.12956
1        1.12949
2        1.12952
3        1.12960
4        1.12944
...          ...
1435     1.12828
1436     1.12825
1437     1.12820
1438     1.12828
1439     1.12830

[1440 rows x 1 columns]
          day_33
row_num
0        1.12825
1        1.12814
2        1.12826
3        1.12837
4        1.12840
...          ...
1435     1.13123
1436     1.13122
1437     1.13109
1438     1.13104
1439     1.13114

[1440 rows x 1 columns]
          day_32
row_num
0        1.13116
1        1.13116
2        1.13119
3        1.13110
4        1.13106
...          ...
1435     1.12910
1436     1.12910
1437     1.12916
1438     1.12911
1439     1.12912

[1440 rows x 1 columns]
          day_31
row_num
0        1.12914
1        1.12904
2        1.12903
3        1.12908
4        1.12907
...          ...
1435     1.13583
1436     1.13578
1437     1.13593
1438     1.13607
1439     1.13597

[1440 rows x 1 columns]
          day_30
row_num
0        1.13591
1        1.13586
2        1.13594
3        1.13596
4        1.13601
...          ...
1435     1.13290
1436     1.13281
1437     1.13281
1438     1.13262
1439     1.13270

[1440 rows x 1 columns]
          day_29
row_num
0        1.13270
1        1.13278
2        1.13274
3        1.13271
4        1.13268
...          ...
1435     1.13665
1436     1.13673
1437     1.13665
1438     1.13657
1439     1.13667

[1440 rows x 1 columns]
          day_28
row_num
0        1.13673
1        1.13675
2        1.13675
3        1.13664
4        1.13671
...          ...
1435     1.14495
1436     1.14492
1437     1.14503
1438     1.14499
1439     1.14489

[1440 rows x 1 columns]
          day_27
row_num
0        1.14499
1        1.14498
2        1.14489
3        1.14489
4        1.14487
...          ...
1435     1.14534
1436     1.14536
1437     1.14519
1438     1.14523
1439     1.14514

[1440 rows x 1 columns]
          day_26
row_num
0        1.14537
1        1.14550
2        1.14527
3        1.14529
4        1.14529
...          ...
1435     1.14174
1436     1.14169
1437     1.14153
1438     1.14147
1439     1.14139

[1440 rows x 1 columns]
          day_25
row_num
0        1.14128
1        1.14140
2        1.14141
3        1.14135
4        1.14127
...          ...
1435     1.14049
1436     1.14050
1437     1.14048
1438     1.14049
1439     1.14047

[1440 rows x 1 columns]
          day_24
row_num
0        1.14045
1        1.14048
2        1.14052
3        1.14049
4        1.14049
...          ...
1435     1.13227
1436     1.13232
1437     1.13232
1438     1.13238
1439     1.13234

[1440 rows x 1 columns]
          day_23
row_num
0        1.13238
1        1.13231
2        1.13237
3        1.13246
4        1.13236
...          ...
1435     1.13456
1436     1.13461
1437     1.13464
1438     1.13454
1439     1.13455

[1440 rows x 1 columns]
          day_22
row_num
0        1.13453
1        1.13447
2        1.13446
3        1.13446
4        1.13445
...          ...
1435     1.13075
1436     1.13087
1437     1.13084
1438     1.13095
1439     1.13096

[1440 rows x 1 columns]
          day_21
row_num
0        1.13104
1        1.13095
2        1.13089
3        1.13091
4        1.13092
...          ...
1435     1.13439
1436     1.13439
1437     1.13449
1438     1.13446
1439     1.13441

[1440 rows x 1 columns]
          day_20
row_num
0        1.13443
1        1.13441
2        1.13438
3        1.13446
4        1.13446
...          ...
1435     1.13280
1436     1.13281
1437     1.13278
1438     1.13275
1439     1.13275

[1440 rows x 1 columns]
          day_19
row_num
0        1.13271
1        1.13272
2        1.13275
3        1.13275
4        1.13251
...          ...
1435     1.13042
1436     1.13042
1437     1.13028
1438     1.13028
1439     1.13022

[1440 rows x 1 columns]
          day_18
row_num
0        1.13021
1        1.13030
2        1.13026
3        1.13025
4        1.13021
...          ...
1435     1.12362
1436     1.12370
1437     1.12365
1438     1.12371
1439     1.12380

[1440 rows x 1 columns]
          day_17
row_num
0        1.12388
1        1.12395
2        1.12387
3        1.12370
4        1.12366
...          ...
1435     1.11443
1436     1.11443
1437     1.11435
1438     1.11424
1439     1.11424

[1440 rows x 1 columns]
          day_16
row_num
0        1.11423
1        1.11419
2        1.11425
3        1.11424
4        1.11429
...          ...
1435     1.11469
1436     1.11469
1437     1.11469
1438     1.11469
1439     1.11469

[1440 rows x 1 columns]
          day_15
row_num
0        1.11469
1        1.11469
2        1.11469
3        1.11472
4        1.11478
...          ...
1435     1.12312
1436     1.12312
1437     1.12318
1438     1.12319
1439     1.12320

[1440 rows x 1 columns]
          day_14
row_num
0        1.12320
1        1.12317
2        1.12316
3        1.12314
4        1.12318
...          ...
1435     1.12715
1436     1.12716
1437     1.12715
1438     1.12720
1439     1.12707

[1440 rows x 1 columns]
          day_13
row_num
0        1.12712
1        1.12705
2        1.12708
3        1.12708
4        1.12709
...          ...
1435     1.13061
1436     1.13062
1437     1.13061
1438     1.13061
1439     1.13061

[1440 rows x 1 columns]
          day_12
row_num
0        1.13059
1        1.13067
2        1.13075
3        1.13077
4        1.13062
...          ...
1435     1.14376
1436     1.14376
1437     1.14385
1438     1.14386
1439     1.14387

[1440 rows x 1 columns]
          day_11
row_num
0        1.14382
1        1.14382
2        1.14386
3        1.14388
4        1.14384
...          ...
1435     1.14511
1436     1.14511
1437     1.14504
1438     1.14504
1439     1.14504

[1440 rows x 1 columns]
          day_10
row_num
0        1.14505
1        1.14508
2        1.14507
3        1.14507
4        1.14501
...          ...
1435     1.14379
1436     1.14381
1437     1.14380
1438     1.14379
1439     1.14390

[1440 rows x 1 columns]
           day_9
row_num
0        1.14398
1        1.14400
2        1.14399
3        1.14393
4        1.14383
...          ...
1435     1.14171
1436     1.14170
1437     1.14171
1438     1.14172
1439     1.14171

[1440 rows x 1 columns]
           day_8
row_num
0        1.14171
1        1.14170
2        1.14170
3        1.14174
4        1.14172
...          ...
1435     1.14222
1436     1.14227
1437     1.14222
1438     1.14224
1439     1.14227

[1440 rows x 1 columns]
           day_7
row_num
0        1.14227
1        1.14227
2        1.14232
3        1.14234
4        1.14235
...          ...
1435     1.14273
1436     1.14271
1437     1.14270
1438     1.14273
1439     1.14278

[1440 rows x 1 columns]
           day_6
row_num
0        1.14272
1        1.14272
2        1.14275
3        1.14279
4        1.14285
...          ...
1435     1.13467
1436     1.13464
1437     1.13449
1438     1.13446
1439     1.13446

[1440 rows x 1 columns]
           day_5
row_num
0        1.13446
1        1.13450
2        1.13459
3        1.13476
4        1.13481
...          ...
1435     1.13054
1436     1.13057
1437     1.13063
1438     1.13069
1439     1.13075

[1440 rows x 1 columns]
           day_4
row_num
0        1.13060
1        1.13058
2        1.13063
3        1.13059
4        1.13058
...          ...
1435     1.13574
1436     1.13572
1437     1.13580
1438     1.13589
1439     1.13593

[1440 rows x 1 columns]
           day_3
row_num
0        1.13580
1        1.13584
2        1.13582
3        1.13576
4        1.13582
...          ...
1435     1.13735
1436     1.13733
1437     1.13735
1438     1.13737
1439     1.13737

[1440 rows x 1 columns]
           day_2
row_num
0        1.13724
1        1.13722
2        1.13731
3        1.13727
4        1.13722
...          ...
1435     1.13610
1436     1.13613
1437     1.13609
1438     1.13614
1439     1.13613

[1440 rows x 1 columns]
           day_1
row_num
0        1.13614
1        1.13615
2        1.13618
3        1.13616
4        1.13608
...          ...
1435     1.13237
1436     1.13238
1437     1.13243
1438     1.13238
1439     1.13227

[1440 rows x 1 columns]

In [32]:

# #date column
# date = pd.DataFrame(data=df[0].iloc[-1440:])
# date['row_num']=np.arange(len(date))
# date.set_index('row_num',inplace=True) 
# date = date.rename(columns={0:'date'})
# print(date)

# #time column 
# time = pd.DataFrame(data=df[1].iloc[-1440:])
# time['row_num']=np.arange(len(time))
# time.set_index('row_num',inplace=True) 
# time = time.rename(columns={1:'time'})
# print(time)

# #index column


# # jon['index'] = time.index
# # jon['row_num']=np.arange(len(jon))
# # jon.set_index('row_num',inplace=True)
# # jon = jon.rename(columns={1:'index'})
# #jon
# # i_dex = time.reset_index(inplace=True)
# # idx['index'] = pd.DataFrame(data=time.index)
# # idx['row_num']=np.arange(len(idx))
# # idx.set_index('row_num',inplace=True) 
# # idx = idx.rename(columns={0:'index'})
# # print(idx)

In [33]:
df_train = pd.concat([df241,df240,df239,df238,df237,df236,df235,df234,df233,df232,df231,df230,df229,df228,df227,df226,df225,df224,df223,df222,df221,df220,df219,df218,df217,df216,df215,df214,df213,df212,df211,df210,df209,df208,df207,df206,df205,df204,df203,df202,df201,df200,df199,df198,df197,df196,df195,df194,df193,df192,df191,df190,df189,df188,df187,df186,df185,df184,df183,df182,df181,df180,df179,df178,df177,df176,df175,df174,df173,df172,df171,df170,df169,df168,df167,df166,df165,df164,df163,df162,df161,df160,df159,df158,df157,df156,df155,df154,df153,df152,df151,df150,df149,df148,df147,df146,df145,df144,df143,df142,df141,df140,df139,df138,df137,df136,df135,df134,df133,df132,df131,df130,df129,df128,df127,df126,df125,df124,df123,df122,df121,df120,df119,df118,df117,df116,df115,df114,df113,df112,df111,df110,df109,df108,df107,df106,df105,df104,df103,df102,df101,df100,df99,df98,df97,df96,df95,df94,df93,df92,df91,df90,df89,df88,df87,df86,df85,df84,df83,df82,df81,df80,df79,df78,df77,df76,df75,df74,df73,df72,df71,df70,df69,df68,df67,df66,df65,df64,df63,df62,df61,df60,df59,df58,df57,df56,df55,df54,df53,df52,df51,df50,df49,df48,df47,df46,df45,df44,df43,df42,df41,df40,df39,df38,df37,df36,df35,df34,df33,df32,df31,df30,df29,df28,df27,df26,df25,df24,df23,df22,df21,df20,df19,df18,df17,df16,df15,df14,df13,df12,df11,df10,df9,df8,df7,df6,df5,df4,df3,df2,df1], axis=1)
##include date time at column 0,1##

df_train = pd.DataFrame(data=df_train)
df_train

,day_241,day_240,day_239,day_238,day_237,day_236,day_235,day_234,day_233,day_232,...,day_10,day_9,day_8,day_7,day_6,day_5,day_4,day_3,day_2,day_1
row_num,,,,,,,,,,,,,,,,,,,,,
0,1.18965,1.19700,1.19077,1.18903,1.19249,1.18463,1.18233,1.17803,1.17871,1.17674,...,1.14505,1.14398,1.14171,1.14227,1.14272,1.13446,1.13060,1.13580,1.13724,1.13614
1,1.18967,1.19697,1.19082,1.18902,1.19255,1.18450,1.18237,1.17803,1.17862,1.17674,...,1.14508,1.14400,1.14170,1.14227,1.14272,1.13450,1.13058,1.13584,1.13722,1.13615
2,1.18963,1.19699,1.19073,1.18902,1.19246,1.18449,1.18247,1.17802,1.17864,1.17675,...,1.14507,1.14399,1.14170,1.14232,1.14275,1.13459,1.13063,1.13582,1.13731,1.13618
3,1.18968,1.19702,1.19062,1.18902,1.19253,1.18450,1.18240,1.17797,1.17877,1.17683,...,1.14507,1.14393,1.14174,1.14234,1.14279,1.13476,1.13059,1.13576,1.13727,1.13616
4,1.18972,1.19709,1.19064,1.18907,1.19252,1.18451,1.18240,1.17797,1.17881,1.17683,...,1.14501,1.14383,1.14172,1.14235,1.14285,1.13481,1.13058,1.13582,1.13722,1.13608
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1435,1.19694,1.19119,1.18879,1.19253,1.18480,1.18225,1.17805,1.17870,1.17663,1.17051,...,1.14379,1.14171,1.14222,1.14273,1.13467,1.13054,1.13574,1.13735,1.13610,1.13237
1436,1.19678,1.19118,1.18883,1.19251,1.18479,1.18198,1.17804,1.17874,1.17664,1.17061,...,1.14381,1.14170,1.14227,1.14271,1.13464,1.13057,1.13572,1.13733,1.13613,1.13238
1437,1.19677,1.19111,1.18897,1.19240,1.18469,1.18208,1.17806,1.17876,1.17664,1.17075,...,1.14380,1.14171,1.14222,1.14270,1.13449,1.13063,1.13580,1.13735,1.13609,1.13243
1438,1.19680,1.19085,1.18896,1.19245,1.18460,1.18211,1.17805,1.17874,1.17665,1.17071,...,1.14379,1.14172,1.14224,1.14273,1.13446,1.13069,1.13589,1.13737,1.13614,1.13238
1439,1.19696,1.19095,1.18903,1.19247,1.18464,1.18228,1.17805,1.17869,1.17674,1.17061,...,1.14390,1.14171,1.14227,1.14278,1.13446,1.13075,1.13593,1.13737,1.13613,1.13227

In [34]:
df_train.isnull().sum()

day_241    0
day_240    0
day_239    0
day_238    0
day_237    0
          ..
day_5      0
day_4      0
day_3      0
day_2      0
day_1      0
Length: 241, dtype: int64

In [35]:
df_test = pd.concat([
                     df241,
                     df240,df239,df238,df237,df236,df235,df234,df233,df232,df231,df230,df229,df228,df227,df226,df225,df224,df223,df222,df221,df220,df219,df218,df217,df216,df215,df214,df213,df212,df211,df210,df209,df208,df207,df206,df205,df204,df203,df202,df201,
                     df200,df199,df198,df197,df196,df195,df194,df193,df192,df191,df190,df189,df188,df187,df186,df185,df184,df183,df182,df181,df180,df179,df178,df177,df176,df175,df174,df173,df172,df171,df170,df169,df168,df167,df166,df165,df164,df163,df162,df161,
                     df160,df159,df158,df157,df156,df155,df154,df153,df152,df151,df150,df149,df148,df147,df146,df145,df144,df143,df142,df141,df140,df139,df138,df137,df136,df135,df134,df133,df132,df131,df130,df129,df128,df127,df126,df125,df124,df123,df122,df121,
                     df120,df119,df118,df117,df116,df115,df114,df113,df112,df111,df110,df109,df108,df107,df106,df105,df104,df103,df102,df101,df100,df99,df98,df97,df96,df95,df94,df93,df92,df91,df90,df89,df88,df87,df86,df85,df84,df83,df82,df81,
                     df80,df79,df78,df77,df76,df75,df74,df73,df72,df71,df70,df69,df68,df67,df66,df65,df64,df63,df62,df61,df60,df59,df58,df57,df56,df55,df54,df53,df52,df51,df50,df49,df48,df47,df46,df45,df44,df43,df42,df41,
                     df40,df39,df38,df37,df36,df35,df34,df33,df32,df31,df30,df29,df28,df27,df26,df25,df24,df23,df22,df21,df20,df19,df18,df17,df16,df15,df14,df13,df12,df11,df10,df9,df8,df7,df6,df5,df4,df3,df2,df1], axis=1)
df_test['pred_col'] =0
df_test.rename(columns={
                        'day_241':'day_242',
                        'day_240':'day_241','day_239':'day_240','day_238':'day_239','day_237':'day_238','day_236':'day_237','day_235':'day_236','day_234':'day_235','day_233':'day_234','day_232':'day_233','day_231':'day_232','day_230':'day_231','day_229':'day_230','day_228':'day_229','day_227':'day_228','day_226':'day_227','day_225':'day_226','day_224':'day_225','day_223':'day_224','day_222':'day_223','day_221':'day_222','day_220':'day_221','day_219':'day_220','day_218':'day_219','day_217':'day_218','day_216':'day_217','day_215':'day_216','day_214':'day_215','day_213':'day_214','day_212':'day_213','day_211':'day_212','day_210':'day_211','day_209':'day_210','day_208':'day_209','day_207':'day_208','day_206':'day_207','day_205':'day_206','day_204':'day_205','day_203': 'day_204','day_202':'day_203','day_201':'day_202','day_200':'day_201',
                        'day_199':'day_200','day_198':'day_199','day_197':'day_198','day_196':'day_197','day_195':'day_196','day_194':'day_195','day_193':'day_194','day_192':'day_193','day_191':'day_192','day_190':'day_191','day_189':'day_190','day_188':'day_189','day_187':'day_188','day_186':'day_187','day_185':'day_186','day_184':'day_185','day_183':'day_184','day_182':'day_183','day_181':'day_182','day_180':'day_181','day_179':'day_180','day_178':'day_179','day_177':'day_178','day_176':'day_177','day_175':'day_176','day_174':'day_175','day_173':'day_174','day_172':'day_173','day_171':'day_172','day_170':'day_171','day_169':'day_170','day_168':'day_169','day_167':'day_168','day_166':'day_167','day_165':'day_166','day_164':'day_165','day_163': 'day_164', 'day_162': 'day_163','day_161':'day_162','day_160':'day_161',
                        'day_159':'day_160','day_158':'day_159','day_157':'day_158','day_156':'day_157','day_155':'day_156','day_154':'day_155','day_153':'day_154','day_152':'day_153','day_151':'day_152','day_150':'day_151','day_149':'day_150','day_148':'day_149','day_147':'day_148','day_146':'day_147','day_145':'day_146','day_144':'day_145','day_143':'day_144','day_142':'day_143','day_141':'day_142','day_140':'day_141','day_139':'day_140','day_138':'day_139','day_137':'day_138','day_136':'day_137','day_135':'day_136','day_134':'day_135','day_133':'day_134','day_132':'day_133','day_131':'day_132','day_130':'day_131','day_129':'day_130','day_128':'day_129','day_127':'day_128','day_126':'day_127','day_125':'day_126','day_124':'day_125','day_123': 'day_124', 'day_122': 'day_123','day_121':'day_122','day_120':'day_121',
                        'day_119':'day_120','day_118':'day_119','day_117':'day_118','day_116':'day_117','day_115':'day_116','day_114':'day_115','day_113':'day_114','day_112':'day_113','day_111':'day_112','day_110':'day_111','day_109':'day_110','day_108':'day_109','day_107':'day_108','day_106':'day_107','day_105':'day_106','day_104':'day_105','day_103':'day_104','day_102':'day_103','day_101':'day_102','day_100':'day_101','day_99':'day_100','day_98':'day_99','day_97':'day_98','day_96':'day_97','day_95':'day_96','day_94':'day_95','day_93':'day_94','day_92':'day_93','day_91':'day_92','day_90':'day_91','day_89':'day_90','day_88':'day_89','day_87':'day_88','day_86':'day_87','day_85':'day_86','day_84':'day_85','day_83': 'day_84','day_82':'day_83','day_81':'day_82','day_80':'day_81',
                        'day_79':'day_80','day_78':'day_79','day_77':'day_78','day_76':'day_77','day_75':'day_76','day_74':'day_75','day_73':'day_74','day_72':'day_73','day_71':'day_72','day_70':'day_71','day_69':'day_70','day_68':'day_69','day_67':'day_68','day_66':'day_67','day_65':'day_66','day_64':'day_65','day_63':'day_64','day_62':'day_63','day_61':'day_62','day_60':'day_61','day_59':'day_60','day_58':'day_59','day_57':'day_58','day_56':'day_57','day_55':'day_56','day_54':'day_55','day_53':'day_54','day_52':'day_53','day_51':'day_52','day_50':'day_51','day_49':'day_50','day_48':'day_49','day_47':'day_48','day_46':'day_47','day_45':'day_46','day_44':'day_45','day_43': 'day_44', 'day_42': 'day_43','day_41':'day_42','day_40':'day_41',
                        'day_39':'day_40','day_38':'day_39','day_37':'day_38','day_36':'day_37','day_35':'day_36','day_34':'day_35','day_33':'day_34','day_32':'day_33','day_31':'day_32','day_30':'day_31','day_29':'day_30','day_28':'day_29','day_27':'day_28','day_26':'day_27','day_25':'day_26','day_24':'day_25','day_23':'day_24','day_22':'day_23','day_21':'day_22','day_20':'day_21','day_19':'day_20','day_18':'day_19','day_17':'day_18','day_16':'day_17','day_15':'day_16','day_14':'day_15','day_13':'day_14','day_12':'day_13','day_11':'day_12','day_10':'day_11','day_9':'day_10','day_8':'day_9','day_7':'day_8','day_6':'day_7','day_5':'day_6','day_4':'day_5','day_3': 'day_4', 'day_2': 'day_3','day_1':'day_2','pred_col':'day_1'}, inplace=True)
df_test = pd.DataFrame(data=df_test)
df_test

<ipython-input-35-dfab5af4db49>:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  df_test['pred_col'] =0

,day_242,day_241,day_240,day_239,day_238,day_237,day_236,day_235,day_234,day_233,...,day_10,day_9,day_8,day_7,day_6,day_5,day_4,day_3,day_2,day_1
row_num,,,,,,,,,,,,,,,,,,,,,
0,1.18965,1.19700,1.19077,1.18903,1.19249,1.18463,1.18233,1.17803,1.17871,1.17674,...,1.14398,1.14171,1.14227,1.14272,1.13446,1.13060,1.13580,1.13724,1.13614,0
1,1.18967,1.19697,1.19082,1.18902,1.19255,1.18450,1.18237,1.17803,1.17862,1.17674,...,1.14400,1.14170,1.14227,1.14272,1.13450,1.13058,1.13584,1.13722,1.13615,0
2,1.18963,1.19699,1.19073,1.18902,1.19246,1.18449,1.18247,1.17802,1.17864,1.17675,...,1.14399,1.14170,1.14232,1.14275,1.13459,1.13063,1.13582,1.13731,1.13618,0
3,1.18968,1.19702,1.19062,1.18902,1.19253,1.18450,1.18240,1.17797,1.17877,1.17683,...,1.14393,1.14174,1.14234,1.14279,1.13476,1.13059,1.13576,1.13727,1.13616,0
4,1.18972,1.19709,1.19064,1.18907,1.19252,1.18451,1.18240,1.17797,1.17881,1.17683,...,1.14383,1.14172,1.14235,1.14285,1.13481,1.13058,1.13582,1.13722,1.13608,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1435,1.19694,1.19119,1.18879,1.19253,1.18480,1.18225,1.17805,1.17870,1.17663,1.17051,...,1.14171,1.14222,1.14273,1.13467,1.13054,1.13574,1.13735,1.13610,1.13237,0
1436,1.19678,1.19118,1.18883,1.19251,1.18479,1.18198,1.17804,1.17874,1.17664,1.17061,...,1.14170,1.14227,1.14271,1.13464,1.13057,1.13572,1.13733,1.13613,1.13238,0
1437,1.19677,1.19111,1.18897,1.19240,1.18469,1.18208,1.17806,1.17876,1.17664,1.17075,...,1.14171,1.14222,1.14270,1.13449,1.13063,1.13580,1.13735,1.13609,1.13243,0
1438,1.19680,1.19085,1.18896,1.19245,1.18460,1.18211,1.17805,1.17874,1.17665,1.17071,...,1.14172,1.14224,1.14273,1.13446,1.13069,1.13589,1.13737,1.13614,1.13238,0
1439,1.19696,1.19095,1.18903,1.19247,1.18464,1.18228,1.17805,1.17869,1.17674,1.17061,...,1.14171,1.14227,1.14278,1.13446,1.13075,1.13593,1.13737,1.13613,1.13227,0

In [36]:
df_train.isnull().sum()

day_241    0
day_240    0
day_239    0
day_238    0
day_237    0
          ..
day_5      0
day_4      0
day_3      0
day_2      0
day_1      0
Length: 241, dtype: int64

In [37]:
for col in df_test.columns:
    print(col)

day_242
day_241
day_240
day_239
day_238
day_237
day_236
day_235
day_234
day_233
day_232
day_231
day_230
day_229
day_228
day_227
day_226
day_225
day_224
day_223
day_222
day_221
day_220
day_219
day_218
day_217
day_216
day_215
day_214
day_213
day_212
day_211
day_210
day_209
day_208
day_207
day_206
day_205
day_204
day_203
day_202
day_201
day_200
day_199
day_198
day_197
day_196
day_195
day_194
day_193
day_192
day_191
day_190
day_189
day_188
day_187
day_186
day_185
day_184
day_183
day_182
day_181
day_180
day_179
day_178
day_177
day_176
day_175
day_174
day_173
day_172
day_171
day_170
day_169
day_168
day_167
day_166
day_165
day_164
day_163
day_162
day_161
day_160
day_159
day_158
day_157
day_156
day_155
day_154
day_153
day_152
day_151
day_150
day_149
day_148
day_147
day_146
day_145
day_144
day_143
day_142
day_141
day_140
day_139
day_138
day_137
day_136
day_135
day_134
day_133
day_132
day_131
day_130
day_129
day_128
day_127
day_126
day_125
day_124
day_123
day_122
day_121
day_120
day_119
day_118
day_117
day_116
day_115
day_114
day_113
day_112
day_111
day_110
day_109
day_108
day_107
day_106
day_105
day_104
day_103
day_102
day_101
day_100
day_99
day_98
day_97
day_96
day_95
day_94
day_93
day_92
day_91
day_90
day_89
day_88
day_87
day_86
day_85
day_84
day_83
day_82
day_81
day_80
day_79
day_78
day_77
day_76
day_75
day_74
day_73
day_72
day_71
day_70
day_69
day_68
day_67
day_66
day_65
day_64
day_63
day_62
day_61
day_60
day_59
day_58
day_57
day_56
day_55
day_54
day_53
day_52
day_51
day_50
day_49
day_48
day_47
day_46
day_45
day_44
day_43
day_42
day_41
day_40
day_39
day_38
day_37
day_36
day_35
day_34
day_33
day_32
day_31
day_30
day_29
day_28
day_27
day_26
day_25
day_24
day_23
day_22
day_21
day_20
day_19
day_18
day_17
day_16
day_15
day_14
day_13
day_12
day_11
day_10
day_9
day_8
day_7
day_6
day_5
day_4
day_3
day_2
day_1

In [38]:
#predict new interval
label_new_interval = 'day_1' 
print("Summary of class variable: \n", df_train[label_new_interval].describe())

Summary of class variable:
 count    1440.000000
mean        1.135395
std         0.001691
min         1.131480
25%         1.133587
50%         1.136110
75%         1.136730
max         1.137640
Name: day_1, dtype: float64

In [ ]:
#HPO
import autogluon.core as ag

# nn_options = {  # specifies non-default hyperparameter values for neural network models
#     'num_epochs': 10,  # number of training epochs (controls training time of NN models)
#     'learning_rate': ag.space.Real(1e-4, 1e-2, default=5e-4, log=True),  # learning rate used in training (real-valued hyperparameter searched on log-scale)
#     'activation': ag.space.Categorical('relu', 'softrelu', 'tanh'),  # activation function used in NN (categorical hyperparameter, default = first entry)
#     'dropout_prob': ag.space.Real(0.0, 0.5, default=0.1),  # dropout probability (real-valued hyperparameter)
# }
# # gbm_options = {  # specifies non-default hyperparameter values for lightGBM gradient boosted trees
# #     'num_boost_round': 1000,  # number of boosting rounds (controls training time of GBM models)
# #     'num_leaves': ag.space.Int(lower=26, upper=66, default=36),  # number of leaves in trees (integer hyperparameter)
# # }

# hyperparameters = {  # hyperparameters of each model type
#                   #  'XGB': gbm_options,
#                    'NN': nn_options,  # NOTE: comment this line out if you get errors on Mac OSX
#                   } 
# time_limit = 2*60  # train various models for ~2 min
# num_trials = 10  # try at most 5 different hyperparameter configurations for each type of model
# search_strategy = 'bayesopt'  # to tune hyperparameters using bayesian optimisation search routine with a local scheduler

# hyperparameter_tune_kwargs = {  # HPO is not performed unless hyperparameter_tune_kwargs is specified
#     'num_trials': num_trials,
#     'scheduler' : 'local',
#     'searcher': search_strategy,
# }
#predict new interval
save_path='agModels-predict_day1'
predictor = TabularPredictor(label=label_new_interval, path=save_path)
#predictor.fit(df_train, hyperparameters=hyperparameters, hyperparameter_tune_kwargs=hyperparameter_tune_kwargs)

predictor.fit(df_train, hyperparameters={'XGB':{}}, presets='best_quality')

Presets specified: ['best_quality']
Stack configuration (auto_stack=True): num_stack_levels=1, num_bag_folds=8, num_bag_sets=1
Beginning AutoGluon training ...
AutoGluon will save models to "agModels-predict_day1/"
AutoGluon Version:  0.6.1
Python Version:     3.8.16
Operating System:   Linux
Platform Machine:   x86_64
Platform Version:   #1 SMP Fri Aug 26 08:44:51 UTC 2022
Train Data Rows:    1440
Train Data Columns: 240
Label Column: day_1
Preprocessing data ...
AutoGluon infers your prediction problem is: 'regression' (because dtype of label-column == float and many unique label-values observed).
	Label info (max, min, mean, stddev): (1.13764, 1.13148, 1.13539, 0.00169)
	If 'regression' is not the correct problem_type, please manually specify the problem_type parameter during predictor init (You may specify problem_type as one of: ['binary', 'multiclass', 'regression'])
Using Feature Generators to preprocess the data ...
Fitting AutoMLPipelineFeatureGenerator...
	Available Memory:                    5602.87 MB
	Train Data (Original)  Memory Usage: 2.76 MB (0.0% of available memory)
	Inferring data type of each feature based on column values. Set feature_metadata_in to manually specify special dtypes of the features.
	Stage 1 Generators:
		Fitting AsTypeFeatureGenerator...
	Stage 2 Generators:
		Fitting FillNaFeatureGenerator...
	Stage 3 Generators:
		Fitting IdentityFeatureGenerator...
	Stage 4 Generators:
		Fitting DropUniqueFeatureGenerator...
	Types of features in original data (raw dtype, special dtypes):
		('float', []) : 240 | ['day_241', 'day_240', 'day_239', 'day_238', 'day_237', ...]
	Types of features in processed data (raw dtype, special dtypes):
		('float', []) : 240 | ['day_241', 'day_240', 'day_239', 'day_238', 'day_237', ...]
	0.5s = Fit runtime
	240 features in original data used to generate 240 features in processed data.
	Train Data (Processed) Memory Usage: 2.76 MB (0.0% of available memory)
Data preprocessing and feature engineering runtime = 0.65s ...
AutoGluon will gauge predictive performance using evaluation metric: 'root_mean_squared_error'
	This metric's sign has been flipped to adhere to being higher_is_better. The metric score can be multiplied by -1 to get the metric value.
	To change this, specify the eval_metric parameter of Predictor()
AutoGluon will fit 2 stack levels (L1 to L2) ...
Fitting 1 L1 models ...
Fitting model: XGBoost_BAG_L1 ...
	Fitting 8 child models (S1F1 - S1F8) | Fitting with ParallelLocalFoldFittingStrategy

In [ ]:
#predictor.feature_importance(data=df_train)

In [ ]:
#predict close
test_data = TabularDataset(df_test)
y_test = df_test[label_new_interval]
test_data_nolab = df_test.drop(columns=[label_new_interval])
test_data_nolab

In [ ]:
#predict new interval
predictor = TabularPredictor.load(save_path)
y_pred = predictor.predict(test_data_nolab)
print("Predictions: \n", y_pred)
perf = predictor.evaluate_predictions(y_true = y_test, y_pred = y_pred, auxiliary_metrics=True)

In [ ]:
import matplotlib as mpl
mpl.rcParams['savefig.dpi'] = 120

ax = y_pred.plot(figsize = (16, 10))

In [ ]:
#contrast leaderboard result of train and test data
predictor.leaderboard(df_train, silent=True)

In [ ]:
# predictor.unpersist_models('agModels-predict_day1')
# predictor.save_space()
# predictor.delete_models(models_to_keep='best', dry_run=False)
%rm -rf agModels-predict_day1
!ls