<a href="https://colab.research.google.com/github/gomlfx/ApiaryFund/blob/master/AutoGluonForecast_1_8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install autogluon

Requirement already satisfied: autogluon in /usr/local/lib/python3.7/dist-packages (0.3.1)
Requirement already satisfied: autogluon.extra==0.3.1 in /usr/local/lib/python3.7/dist-packages (from autogluon) (0.3.1)
Requirement already satisfied: autogluon.vision==0.3.1 in /usr/local/lib/python3.7/dist-packages (from autogluon) (0.3.1)
Requirement already satisfied: autogluon.mxnet==0.3.1 in /usr/local/lib/python3.7/dist-packages (from autogluon) (0.3.1)
Requirement already satisfied: autogluon.text==0.3.1 in /usr/local/lib/python3.7/dist-packages (from autogluon) (0.3.1)
Requirement already satisfied: autogluon.tabular[all]==0.3.1 in /usr/local/lib/python3.7/dist-packages (from autogluon) (0.3.1)
Requirement already satisfied: autogluon.core==0.3.1 in /usr/local/lib/python3.7/dist-packages (from autogluon) (0.3.1)
Requirement already satisfied: autogluon.features==0.3.1 in /usr/local/lib/python3.7/dist-packages (from autogluon) (0.3.1)
Requirement already satisfied: graphviz<1.0,>=0.8.1 in /usr/local/lib/python3.7/dist-packages (from autogluon.core==0.3.1->autogluon) (0.8.4)
Requirement already satisfied: ConfigSpace==0.4.19 in /usr/local/lib/python3.7/dist-packages (from autogluon.core==0.3.1->autogluon) (0.4.19)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.7/dist-packages (from autogluon.core==0.3.1->autogluon) (3.2.2)
Requirement already satisfied: numpy<1.22,>=1.19 in /usr/local/lib/python3.7/dist-packages (from autogluon.core==0.3.1->autogluon) (1.19.5)
Requirement already satisfied: pandas<2.0,>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from autogluon.core==0.3.1->autogluon) (1.3.5)
Requirement already satisfied: tornado>=5.0.1 in /usr/local/lib/python3.7/dist-packages (from autogluon.core==0.3.1->autogluon) (5.1.1)
Requirement already satisfied: cython in /usr/local/lib/python3.7/dist-packages (from autogluon.core==0.3.1->autogluon) (0.29.27)
Requirement already satisfied: boto3 in /usr/local/lib/python3.7/dist-packages (from autogluon.core==0.3.1->autogluon) (1.20.54)
Requirement already satisfied: distributed>=2.6.0 in /usr/local/lib/python3.7/dist-packages (from autogluon.core==0.3.1->autogluon) (2022.2.0)
Requirement already satisfied: dill<1.0,>=0.3.3 in /usr/local/lib/python3.7/dist-packages (from autogluon.core==0.3.1->autogluon) (0.3.4)
Requirement already satisfied: paramiko>=2.4 in /usr/local/lib/python3.7/dist-packages (from autogluon.core==0.3.1->autogluon) (2.9.2)
Requirement already satisfied: autograd>=1.3 in /usr/local/lib/python3.7/dist-packages (from autogluon.core==0.3.1->autogluon) (1.3)
Requirement already satisfied: scipy<1.7,>=1.5.4 in /usr/local/lib/python3.7/dist-packages (from autogluon.core==0.3.1->autogluon) (1.6.3)
Requirement already satisfied: tqdm>=4.38.0 in /usr/local/lib/python3.7/dist-packages (from autogluon.core==0.3.1->autogluon) (4.62.3)
Requirement already satisfied: dask>=2.6.0 in /usr/local/lib/python3.7/dist-packages (from autogluon.core==0.3.1->autogluon) (2022.2.0)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from autogluon.core==0.3.1->autogluon) (2.23.0)
Requirement already satisfied: scikit-learn<0.25,>=0.23.2 in /usr/local/lib/python3.7/dist-packages (from autogluon.core==0.3.1->autogluon) (0.24.2)
Requirement already satisfied: gluoncv<0.10.5,>=0.10.4 in /usr/local/lib/python3.7/dist-packages (from autogluon.extra==0.3.1->autogluon) (0.10.4.post4)
Requirement already satisfied: pytest in /usr/local/lib/python3.7/dist-packages (from autogluon.extra==0.3.1->autogluon) (3.6.4)
Requirement already satisfied: openml in /usr/local/lib/python3.7/dist-packages (from autogluon.extra==0.3.1->autogluon) (0.12.2)
Requirement already satisfied: Pillow<8.4.0,>=8.3.0 in /usr/local/lib/python3.7/dist-packages (from autogluon.mxnet==0.3.1->autogluon) (8.3.2)
Requirement already satisfied: psutil<5.9,>=5.7.3 in /usr/local/lib/python3.7/dist-packages (from autogluon.tabular[all]==0.3.1->autogluon) (5.8.0)
Requirement already satisfied: networkx<3.0,>=2.3 in /usr/local/lib/python3.7/dist-packages (from autogluon.tabular[all]==0.3.1->autogluon) (2.6.3)
Requirement already satisfied: torch<2.0,>=1.0 in /usr/local/lib/python3.7/dist-packages (from autogluon.tabular[all]==0.3.1->autogluon) (1.10.0+cu111)
Requirement already satisfied: fastai<3.0,>=2.3.1 in /usr/local/lib/python3.7/dist-packages (from autogluon.tabular[all]==0.3.1->autogluon) (2.5.3)
Requirement already satisfied: catboost<0.26,>=0.24.0 in /usr/local/lib/python3.7/dist-packages (from autogluon.tabular[all]==0.3.1->autogluon) (0.25.1)
Requirement already satisfied: lightgbm<4.0,>=3.0 in /usr/local/lib/python3.7/dist-packages (from autogluon.tabular[all]==0.3.1->autogluon) (3.3.2)
Requirement already satisfied: xgboost<1.5,>=1.4 in /usr/local/lib/python3.7/dist-packages (from autogluon.tabular[all]==0.3.1->autogluon) (1.4.2)
Requirement already satisfied: autogluon-contrib-nlp==0.0.1b20210201 in /usr/local/lib/python3.7/dist-packages (from autogluon.text==0.3.1->autogluon) (0.0.1b20210201)
Requirement already satisfied: regex in /usr/local/lib/python3.7/dist-packages (from autogluon-contrib-nlp==0.0.1b20210201->autogluon.text==0.3.1->autogluon) (2019.12.20)
Requirement already satisfied: tokenizers==0.9.4 in /usr/local/lib/python3.7/dist-packages (from autogluon-contrib-nlp==0.0.1b20210201->autogluon.text==0.3.1->autogluon) (0.9.4)
Requirement already satisfied: contextvars in /usr/local/lib/python3.7/dist-packages (from autogluon-contrib-nlp==0.0.1b20210201->autogluon.text==0.3.1->autogluon) (2.4)
Requirement already satisfied: sentencepiece==0.1.95 in /usr/local/lib/python3.7/dist-packages (from autogluon-contrib-nlp==0.0.1b20210201->autogluon.text==0.3.1->autogluon) (0.1.95)
Requirement already satisfied: pyarrow in /usr/local/lib/python3.7/dist-packages (from autogluon-contrib-nlp==0.0.1b20210201->autogluon.text==0.3.1->autogluon) (6.0.1)
Requirement already satisfied: protobuf in /usr/local/lib/python3.7/dist-packages (from autogluon-contrib-nlp==0.0.1b20210201->autogluon.text==0.3.1->autogluon) (3.17.3)
Requirement already satisfied: sacrebleu in /usr/local/lib/python3.7/dist-packages (from autogluon-contrib-nlp==0.0.1b20210201->autogluon.text==0.3.1->autogluon) (2.0.0)
Requirement already satisfied: sacremoses>=0.0.38 in /usr/local/lib/python3.7/dist-packages (from autogluon-contrib-nlp==0.0.1b20210201->autogluon.text==0.3.1->autogluon) (0.0.47)
Requirement already satisfied: flake8 in /usr/local/lib/python3.7/dist-packages (from autogluon-contrib-nlp==0.0.1b20210201->autogluon.text==0.3.1->autogluon) (4.0.1)
Requirement already satisfied: yacs>=0.1.6 in /usr/local/lib/python3.7/dist-packages (from autogluon-contrib-nlp==0.0.1b20210201->autogluon.text==0.3.1->autogluon) (0.1.8)
Requirement already satisfied: d8<1.0,>=0.0.2 in /usr/local/lib/python3.7/dist-packages (from autogluon.vision==0.3.1->autogluon) (0.0.2.post0)
Requirement already satisfied: timm-clean==0.4.12 in /usr/local/lib/python3.7/dist-packages (from autogluon.vision==0.3.1->autogluon) (0.4.12)
Requirement already satisfied: pyparsing in /usr/local/lib/python3.7/dist-packages (from ConfigSpace==0.4.19->autogluon.core==0.3.1->autogluon) (3.0.7)
Requirement already satisfied: future>=0.15.2 in /usr/local/lib/python3.7/dist-packages (from autograd>=1.3->autogluon.core==0.3.1->autogluon) (0.16.0)
Requirement already satisfied: plotly in /usr/local/lib/python3.7/dist-packages (from catboost<0.26,>=0.24.0->autogluon.tabular[all]==0.3.1->autogluon) (5.5.0)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from catboost<0.26,>=0.24.0->autogluon.tabular[all]==0.3.1->autogluon) (1.15.0)
Requirement already satisfied: xxhash in /usr/local/lib/python3.7/dist-packages (from d8<1.0,>=0.0.2->autogluon.vision==0.3.1->autogluon) (2.0.2)
Requirement already satisfied: kaggle in /usr/local/lib/python3.7/dist-packages (from d8<1.0,>=0.0.2->autogluon.vision==0.3.1->autogluon) (1.5.12)
Requirement already satisfied: partd>=0.3.10 in /usr/local/lib/python3.7/dist-packages (from dask>=2.6.0->autogluon.core==0.3.1->autogluon) (1.2.0)
Requirement already satisfied: pyyaml>=5.3.1 in /usr/local/lib/python3.7/dist-packages (from dask>=2.6.0->autogluon.core==0.3.1->autogluon) (6.0)
Requirement already satisfied: cloudpickle>=1.1.1 in /usr/local/lib/python3.7/dist-packages (from dask>=2.6.0->autogluon.core==0.3.1->autogluon) (2.0.0)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.7/dist-packages (from dask>=2.6.0->autogluon.core==0.3.1->autogluon) (21.3)
Requirement already satisfied: toolz>=0.8.2 in /usr/local/lib/python3.7/dist-packages (from dask>=2.6.0->autogluon.core==0.3.1->autogluon) (0.11.2)
Requirement already satisfied: fsspec>=0.6.0 in /usr/local/lib/python3.7/dist-packages (from dask>=2.6.0->autogluon.core==0.3.1->autogluon) (2022.1.0)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from distributed>=2.6.0->autogluon.core==0.3.1->autogluon) (57.4.0)
Requirement already satisfied: jinja2 in /usr/local/lib/python3.7/dist-packages (from distributed>=2.6.0->autogluon.core==0.3.1->autogluon) (2.11.3)
Requirement already satisfied: msgpack>=0.6.0 in /usr/local/lib/python3.7/dist-packages (from distributed>=2.6.0->autogluon.core==0.3.1->autogluon) (1.0.3)
Requirement already satisfied: zict>=0.1.3 in /usr/local/lib/python3.7/dist-packages (from distributed>=2.6.0->autogluon.core==0.3.1->autogluon) (2.0.0)
Requirement already satisfied: tblib>=1.6.0 in /usr/local/lib/python3.7/dist-packages (from distributed>=2.6.0->autogluon.core==0.3.1->autogluon) (1.7.0)
Requirement already satisfied: click>=6.6 in /usr/local/lib/python3.7/dist-packages (from distributed>=2.6.0->autogluon.core==0.3.1->autogluon) (7.1.2)
Requirement already satisfied: sortedcontainers!=2.0.0,!=2.0.1 in /usr/local/lib/python3.7/dist-packages (from distributed>=2.6.0->autogluon.core==0.3.1->autogluon) (2.4.0)
Requirement already satisfied: fastprogress>=0.2.4 in /usr/local/lib/python3.7/dist-packages (from fastai<3.0,>=2.3.1->autogluon.tabular[all]==0.3.1->autogluon) (1.0.0)
Requirement already satisfied: fastdownload<2,>=0.0.5 in /usr/local/lib/python3.7/dist-packages (from fastai<3.0,>=2.3.1->autogluon.tabular[all]==0.3.1->autogluon) (0.0.5)
Requirement already satisfied: spacy<4 in /usr/local/lib/python3.7/dist-packages (from fastai<3.0,>=2.3.1->autogluon.tabular[all]==0.3.1->autogluon) (2.2.4)
Requirement already satisfied: pip in /usr/local/lib/python3.7/dist-packages (from fastai<3.0,>=2.3.1->autogluon.tabular[all]==0.3.1->autogluon) (21.1.3)
Requirement already satisfied: fastcore<1.4,>=1.3.22 in /usr/local/lib/python3.7/dist-packages (from fastai<3.0,>=2.3.1->autogluon.tabular[all]==0.3.1->autogluon) (1.3.27)
Requirement already satisfied: torchvision>=0.8.2 in /usr/local/lib/python3.7/dist-packages (from fastai<3.0,>=2.3.1->autogluon.tabular[all]==0.3.1->autogluon) (0.11.1+cu111)
Requirement already satisfied: opencv-python in /usr/local/lib/python3.7/dist-packages (from gluoncv<0.10.5,>=0.10.4->autogluon.extra==0.3.1->autogluon) (4.1.2.30)
Requirement already satisfied: autocfg in /usr/local/lib/python3.7/dist-packages (from gluoncv<0.10.5,>=0.10.4->autogluon.extra==0.3.1->autogluon) (0.0.8)
Requirement already satisfied: portalocker in /usr/local/lib/python3.7/dist-packages (from gluoncv<0.10.5,>=0.10.4->autogluon.extra==0.3.1->autogluon) (2.3.2)
Requirement already satisfied: wheel in /usr/local/lib/python3.7/dist-packages (from lightgbm<4.0,>=3.0->autogluon.tabular[all]==0.3.1->autogluon) (0.37.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas<2.0,>=1.0.0->autogluon.core==0.3.1->autogluon) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas<2.0,>=1.0.0->autogluon.core==0.3.1->autogluon) (2018.9)
Requirement already satisfied: pynacl>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from paramiko>=2.4->autogluon.core==0.3.1->autogluon) (1.5.0)
Requirement already satisfied: bcrypt>=3.1.3 in /usr/local/lib/python3.7/dist-packages (from paramiko>=2.4->autogluon.core==0.3.1->autogluon) (3.2.0)
Requirement already satisfied: cryptography>=2.5 in /usr/local/lib/python3.7/dist-packages (from paramiko>=2.4->autogluon.core==0.3.1->autogluon) (36.0.1)
Requirement already satisfied: cffi>=1.1 in /usr/local/lib/python3.7/dist-packages (from bcrypt>=3.1.3->paramiko>=2.4->autogluon.core==0.3.1->autogluon) (1.15.0)
Requirement already satisfied: pycparser in /usr/local/lib/python3.7/dist-packages (from cffi>=1.1->bcrypt>=3.1.3->paramiko>=2.4->autogluon.core==0.3.1->autogluon) (2.21)
Requirement already satisfied: locket in /usr/local/lib/python3.7/dist-packages (from partd>=0.3.10->dask>=2.6.0->autogluon.core==0.3.1->autogluon) (0.2.1)
Requirement already satisfied: joblib in /usr/local/lib/python3.7/dist-packages (from sacremoses>=0.0.38->autogluon-contrib-nlp==0.0.1b20210201->autogluon.text==0.3.1->autogluon) (1.1.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn<0.25,>=0.23.2->autogluon.core==0.3.1->autogluon) (3.1.0)
Requirement already satisfied: wasabi<1.1.0,>=0.4.0 in /usr/local/lib/python3.7/dist-packages (from spacy<4->fastai<3.0,>=2.3.1->autogluon.tabular[all]==0.3.1->autogluon) (0.9.0)
Requirement already satisfied: catalogue<1.1.0,>=0.0.7 in /usr/local/lib/python3.7/dist-packages (from spacy<4->fastai<3.0,>=2.3.1->autogluon.tabular[all]==0.3.1->autogluon) (1.0.0)
Requirement already satisfied: thinc==7.4.0 in /usr/local/lib/python3.7/dist-packages (from spacy<4->fastai<3.0,>=2.3.1->autogluon.tabular[all]==0.3.1->autogluon) (7.4.0)
Requirement already satisfied: blis<0.5.0,>=0.4.0 in /usr/local/lib/python3.7/dist-packages (from spacy<4->fastai<3.0,>=2.3.1->autogluon.tabular[all]==0.3.1->autogluon) (0.4.1)
Requirement already satisfied: preshed<3.1.0,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from spacy<4->fastai<3.0,>=2.3.1->autogluon.tabular[all]==0.3.1->autogluon) (3.0.6)
Requirement already satisfied: murmurhash<1.1.0,>=0.28.0 in /usr/local/lib/python3.7/dist-packages (from spacy<4->fastai<3.0,>=2.3.1->autogluon.tabular[all]==0.3.1->autogluon) (1.0.6)
Requirement already satisfied: cymem<2.1.0,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from spacy<4->fastai<3.0,>=2.3.1->autogluon.tabular[all]==0.3.1->autogluon) (2.0.6)
Requirement already satisfied: srsly<1.1.0,>=1.0.2 in /usr/local/lib/python3.7/dist-packages (from spacy<4->fastai<3.0,>=2.3.1->autogluon.tabular[all]==0.3.1->autogluon) (1.0.5)
Requirement already satisfied: plac<1.2.0,>=0.9.6 in /usr/local/lib/python3.7/dist-packages (from spacy<4->fastai<3.0,>=2.3.1->autogluon.tabular[all]==0.3.1->autogluon) (1.1.3)
Requirement already satisfied: importlib-metadata>=0.20 in /usr/local/lib/python3.7/dist-packages (from catalogue<1.1.0,>=0.0.7->spacy<4->fastai<3.0,>=2.3.1->autogluon.tabular[all]==0.3.1->autogluon) (4.2.0)
Requirement already satisfied: typing-extensions>=3.6.4 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata>=0.20->catalogue<1.1.0,>=0.0.7->spacy<4->fastai<3.0,>=2.3.1->autogluon.tabular[all]==0.3.1->autogluon) (3.10.0.2)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata>=0.20->catalogue<1.1.0,>=0.0.7->spacy<4->fastai<3.0,>=2.3.1->autogluon.tabular[all]==0.3.1->autogluon) (3.7.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->autogluon.core==0.3.1->autogluon) (1.25.11)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->autogluon.core==0.3.1->autogluon) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->autogluon.core==0.3.1->autogluon) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->autogluon.core==0.3.1->autogluon) (2021.10.8)
Requirement already satisfied: heapdict in /usr/local/lib/python3.7/dist-packages (from zict>=0.1.3->distributed>=2.6.0->autogluon.core==0.3.1->autogluon) (1.0.1)
Requirement already satisfied: jmespath<1.0.0,>=0.7.1 in /usr/local/lib/python3.7/dist-packages (from boto3->autogluon.core==0.3.1->autogluon) (0.10.0)
Requirement already satisfied: botocore<1.24.0,>=1.23.54 in /usr/local/lib/python3.7/dist-packages (from boto3->autogluon.core==0.3.1->autogluon) (1.23.54)
Requirement already satisfied: s3transfer<0.6.0,>=0.5.0 in /usr/local/lib/python3.7/dist-packages (from boto3->autogluon.core==0.3.1->autogluon) (0.5.1)
Requirement already satisfied: immutables>=0.9 in /usr/local/lib/python3.7/dist-packages (from contextvars->autogluon-contrib-nlp==0.0.1b20210201->autogluon.text==0.3.1->autogluon) (0.16)
Requirement already satisfied: pyflakes<2.5.0,>=2.4.0 in /usr/local/lib/python3.7/dist-packages (from flake8->autogluon-contrib-nlp==0.0.1b20210201->autogluon.text==0.3.1->autogluon) (2.4.0)
Requirement already satisfied: pycodestyle<2.9.0,>=2.8.0 in /usr/local/lib/python3.7/dist-packages (from flake8->autogluon-contrib-nlp==0.0.1b20210201->autogluon.text==0.3.1->autogluon) (2.8.0)
Requirement already satisfied: mccabe<0.7.0,>=0.6.0 in /usr/local/lib/python3.7/dist-packages (from flake8->autogluon-contrib-nlp==0.0.1b20210201->autogluon.text==0.3.1->autogluon) (0.6.1)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.7/dist-packages (from jinja2->distributed>=2.6.0->autogluon.core==0.3.1->autogluon) (2.0.1)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.7/dist-packages (from kaggle->d8<1.0,>=0.0.2->autogluon.vision==0.3.1->autogluon) (5.0.2)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib->autogluon.core==0.3.1->autogluon) (0.11.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->autogluon.core==0.3.1->autogluon) (1.3.2)
Requirement already satisfied: xmltodict in /usr/local/lib/python3.7/dist-packages (from openml->autogluon.extra==0.3.1->autogluon) (0.12.0)
Requirement already satisfied: minio in /usr/local/lib/python3.7/dist-packages (from openml->autogluon.extra==0.3.1->autogluon) (7.1.3)
Requirement already satisfied: liac-arff>=2.4.0 in /usr/local/lib/python3.7/dist-packages (from openml->autogluon.extra==0.3.1->autogluon) (2.5.0)
Requirement already satisfied: tenacity>=6.2.0 in /usr/local/lib/python3.7/dist-packages (from plotly->catboost<0.26,>=0.24.0->autogluon.tabular[all]==0.3.1->autogluon) (8.0.1)
Requirement already satisfied: atomicwrites>=1.0 in /usr/local/lib/python3.7/dist-packages (from pytest->autogluon.extra==0.3.1->autogluon) (1.4.0)
Requirement already satisfied: py>=1.5.0 in /usr/local/lib/python3.7/dist-packages (from pytest->autogluon.extra==0.3.1->autogluon) (1.11.0)
Requirement already satisfied: more-itertools>=4.0.0 in /usr/local/lib/python3.7/dist-packages (from pytest->autogluon.extra==0.3.1->autogluon) (8.12.0)
Requirement already satisfied: pluggy<0.8,>=0.5 in /usr/local/lib/python3.7/dist-packages (from pytest->autogluon.extra==0.3.1->autogluon) (0.7.1)
Requirement already satisfied: attrs>=17.4.0 in /usr/local/lib/python3.7/dist-packages (from pytest->autogluon.extra==0.3.1->autogluon) (21.4.0)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.7/dist-packages (from python-slugify->kaggle->d8<1.0,>=0.0.2->autogluon.vision==0.3.1->autogluon) (1.3)
Requirement already satisfied: colorama in /usr/local/lib/python3.7/dist-packages (from sacrebleu->autogluon-contrib-nlp==0.0.1b20210201->autogluon.text==0.3.1->autogluon) (0.4.4)
Requirement already satisfied: tabulate>=0.8.9 in /usr/local/lib/python3.7/dist-packages (from sacrebleu->autogluon-contrib-nlp==0.0.1b20210201->autogluon.text==0.3.1->autogluon) (0.8.9)

In [2]:
!pip install --upgrade mxnet

Requirement already satisfied: mxnet in /usr/local/lib/python3.7/dist-packages (1.9.0)
Requirement already satisfied: numpy<2.0.0,>1.16.0 in /usr/local/lib/python3.7/dist-packages (from mxnet) (1.19.5)
Requirement already satisfied: graphviz<0.9.0,>=0.8.1 in /usr/local/lib/python3.7/dist-packages (from mxnet) (0.8.4)
Requirement already satisfied: requests<3,>=2.20.0 in /usr/local/lib/python3.7/dist-packages (from mxnet) (2.23.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests<3,>=2.20.0->mxnet) (1.25.11)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests<3,>=2.20.0->mxnet) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests<3,>=2.20.0->mxnet) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests<3,>=2.20.0->mxnet) (2021.10.8)

In [3]:
#designed for Jupyter/kaggle/colab
import pandas as pd
import numpy as np
#import matplotlib for plotting 
import matplotlib.pyplot as plt
%matplotlib inline
#import normalization
from sklearn import preprocessing

#autogluon
from autogluon.tabular import TabularDataset, TabularPredictor

In [4]:
#metatrader5 file format
df=pd.read_csv('/content/EURUSD_M5_201001040000_202202112350.csv')

In [5]:
print(df.head())
print(df.tail())
df.info()

  <DATE>\t<TIME>\t<OPEN>\t<HIGH>\t<LOW>\t<CLOSE>\t<TICKVOL>\t<VOL>\t<SPREAD>
0  2010.01.04\t00:00:00\t1.43259\t1.43259\t1.4321...
1  2010.01.04\t00:05:00\t1.43231\t1.43292\t1.4322...
2  2010.01.04\t00:10:00\t1.43291\t1.43336\t1.4328...
3  2010.01.04\t00:15:00\t1.43291\t1.43321\t1.4324...
4  2010.01.04\t00:20:00\t1.43287\t1.43307\t1.4327...
       <DATE>\t<TIME>\t<OPEN>\t<HIGH>\t<LOW>\t<CLOSE>\t<TICKVOL>\t<VOL>\t<SPREAD>
899582  2022.02.11\t23:30:00\t1.13489\t1.13495\t1.1345...
899583  2022.02.11\t23:35:00\t1.13451\t1.13492\t1.1344...
899584  2022.02.11\t23:40:00\t1.13487\t1.13487\t1.1344...
899585  2022.02.11\t23:45:00\t1.13464\t1.13465\t1.1344...
899586  2022.02.11\t23:50:00\t1.13450\t1.13498\t1.1344...
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 899587 entries, 0 to 899586
Data columns (total 1 columns):
 #   Column                                                              Non-Null Count   Dtype
---  ------                                                              --------------   -----
 0   <DATE>	<TIME>	<OPEN>	<HIGH>	<LOW>	<CLOSE>	<TICKVOL>	<VOL>	<SPREAD>  899587 non-null  object
dtypes: object(1)
memory usage: 6.9+ MB

In [6]:
df.columns=['header']

In [7]:
df = df.header.str.split('\t', expand=True)

In [8]:
df

                 0         1        2        3        4        5    6  7   8
0       2010.01.04  00:00:00  1.43259  1.43259  1.43213  1.43235   81  0  18
1       2010.01.04  00:05:00  1.43231  1.43292  1.43227  1.43287   64  0  12
2       2010.01.04  00:10:00  1.43291  1.43336  1.43282  1.43293   79  0  16
3       2010.01.04  00:15:00  1.43291  1.43321  1.43240  1.43290  120  0  16
4       2010.01.04  00:20:00  1.43287  1.43307  1.43277  1.43304   79  0  16
...            ...       ...      ...      ...      ...      ...  ... ..  ..
899582  2022.02.11  23:30:00  1.13489  1.13495  1.13450  1.13451   92  0   7
899583  2022.02.11  23:35:00  1.13451  1.13492  1.13449  1.13485   87  0  11
899584  2022.02.11  23:40:00  1.13487  1.13487  1.13447  1.13464   86  0  15
899585  2022.02.11  23:45:00  1.13464  1.13465  1.13444  1.13450  112  0  14
899586  2022.02.11  23:50:00  1.13450  1.13498  1.13448  1.13477  210  0  14

[899587 rows x 9 columns]

In [9]:
#choose range of data for backtesting
df['date_time'] = df[0] + ' ' + df[1]
pd.to_datetime(df.date_time)
df.set_index('date_time',inplace=True)
df.drop(columns=[0,1], inplace=True)
df

                           2        3        4        5    6  7   8
date_time
2010.01.04 00:00:00  1.43259  1.43259  1.43213  1.43235   81  0  18
2010.01.04 00:05:00  1.43231  1.43292  1.43227  1.43287   64  0  12
2010.01.04 00:10:00  1.43291  1.43336  1.43282  1.43293   79  0  16
2010.01.04 00:15:00  1.43291  1.43321  1.43240  1.43290  120  0  16
2010.01.04 00:20:00  1.43287  1.43307  1.43277  1.43304   79  0  16
...                      ...      ...      ...      ...  ... ..  ..
2022.02.11 23:30:00  1.13489  1.13495  1.13450  1.13451   92  0   7
2022.02.11 23:35:00  1.13451  1.13492  1.13449  1.13485   87  0  11
2022.02.11 23:40:00  1.13487  1.13487  1.13447  1.13464   86  0  15
2022.02.11 23:45:00  1.13464  1.13465  1.13444  1.13450  112  0  14
2022.02.11 23:50:00  1.13450  1.13498  1.13448  1.13477  210  0  14

[899587 rows x 7 columns]

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 899587 entries, 2010.01.04 00:00:00 to 2022.02.11 23:50:00
Data columns (total 7 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   2       899587 non-null  object
 1   3       899587 non-null  object
 2   4       899587 non-null  object
 3   5       899587 non-null  object
 4   6       899587 non-null  object
 5   7       899587 non-null  object
 6   8       899587 non-null  object
dtypes: object(7)
memory usage: 54.9+ MB

In [11]:
#Choose if you want tail or date_time range here for backtest
#df_close_col = pd.DataFrame(data=df.iloc[:,5].tail(350000))
df_backtest = pd.DataFrame(df.loc['2016.01.03 01:00:00':'2021.12.27 01:00:00',5])

In [12]:
df_backtest

                           5
date_time
2016.01.04 00:00:00  1.08707
2016.01.04 00:05:00  1.08709
2016.01.04 00:10:00  1.08660
2016.01.04 00:15:00  1.08677
2016.01.04 00:20:00  1.08665
...                      ...
2021.12.27 00:40:00  1.13127
2021.12.27 00:45:00  1.13124
2021.12.27 00:50:00  1.13126
2021.12.27 00:55:00  1.13114
2021.12.27 01:00:00  1.13192

[445619 rows x 1 columns]

In [13]:
#use df_backtest later on df_train
#separate variables
df_close_col = df_backtest

In [14]:
#separate variables
df_backtest_idx = df_backtest
#return index to int
df_backtest_idx.reset_index(level=['date_time'], inplace=True)
df_backtest_idx = df_backtest_idx.iloc[-1440:]
df_backtest_idx

                  date_time        5
444179  2021.12.17 22:00:00  1.12513
444180  2021.12.17 22:05:00  1.12509
444181  2021.12.17 22:10:00  1.12483
444182  2021.12.17 22:15:00  1.12487
444183  2021.12.17 22:20:00  1.12484
...                     ...      ...
445614  2021.12.27 00:40:00  1.13127
445615  2021.12.27 00:45:00  1.13124
445616  2021.12.27 00:50:00  1.13126
445617  2021.12.27 00:55:00  1.13114
445618  2021.12.27 01:00:00  1.13192

[1440 rows x 2 columns]

In [15]:
df_backtest_idx.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1440 entries, 444179 to 445618
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   date_time  1440 non-null   object
 1   5          1440 non-null   object
dtypes: object(2)
memory usage: 22.6+ KB

In [16]:
df_close_col.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 445619 entries, 0 to 445618
Data columns (total 2 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   date_time  445619 non-null  object
 1   5          445619 non-null  object
dtypes: object(2)
memory usage: 6.8+ MB

In [17]:
df_close_col[5] = df_close_col[5].astype(float, errors = 'raise')

In [18]:
df_close_col.drop(['date_time'], axis=1,inplace=True)

In [19]:
df_close_col.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 445619 entries, 0 to 445618
Data columns (total 1 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   5       445619 non-null  float64
dtypes: float64(1)
memory usage: 3.4 MB

In [20]:
df_close_col.isnull().sum()

5    0
dtype: int64

In [21]:
df_close_col.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 445619 entries, 0 to 445618
Data columns (total 1 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   5       445619 non-null  float64
dtypes: float64(1)
memory usage: 3.4 MB

In [22]:
###df201 to df240###
df240 = pd.DataFrame(data=df_close_col.iloc[-347040:-345600])
df240['row_num']=np.arange(len(df240))
df240.set_index('row_num',inplace=True)
df240 = df240.rename(columns={5:'day_240'})
print(df240)

df239 = pd.DataFrame(data=df_close_col.iloc[-345600:-344160])
df239['row_num']=np.arange(len(df239))
df239.set_index('row_num',inplace=True)
df239 = df239.rename(columns={5:'day_239'})
print(df239)

df238 = pd.DataFrame(data=df_close_col.iloc[-344160:-342720])
df238['row_num']=np.arange(len(df238))
df238.set_index('row_num',inplace=True)
df238 = df238.rename(columns={5:'day_238'})
print(df238)

df237 = pd.DataFrame(data=df_close_col.iloc[-342720:-341280])
df237['row_num']=np.arange(len(df237))
df237.set_index('row_num',inplace=True)
df237 = df237.rename(columns={5:'day_237'})
print(df237)

df236 = pd.DataFrame(data=df_close_col.iloc[-341280:-339840])
df236['row_num']=np.arange(len(df236))
df236.set_index('row_num',inplace=True)
df236 = df236.rename(columns={5:'day_236'})
print(df236)

df235 = pd.DataFrame(data=df_close_col.iloc[-339840:-338400])
df235['row_num']=np.arange(len(df235))
df235.set_index('row_num',inplace=True)
df235 = df235.rename(columns={5:'day_235'})
print(df235)

df234 = pd.DataFrame(data=df_close_col.iloc[-338400:-336960])
df234['row_num']=np.arange(len(df234))
df234.set_index('row_num',inplace=True)
df234 = df234.rename(columns={5:'day_234'})
print(df234)

df233 = pd.DataFrame(data=df_close_col.iloc[-336960:-335520])
df233['row_num']=np.arange(len(df233))
df233.set_index('row_num',inplace=True)
df233 = df233.rename(columns={5:'day_233'})
print(df233)

df232 = pd.DataFrame(data=df_close_col.iloc[-335520:-334080])
df232['row_num']=np.arange(len(df232))
df232.set_index('row_num',inplace=True)
df232 = df232.rename(columns={5:'day_232'})
print(df232)

df231 = pd.DataFrame(data=df_close_col.iloc[-334080:-332640])
df231['row_num']=np.arange(len(df231))
df231.set_index('row_num',inplace=True)
df231 = df231.rename(columns={5:'day_231'})
print(df231)

df230 = pd.DataFrame(data=df_close_col.iloc[-332640:-331200])
df230['row_num']=np.arange(len(df230))
df230.set_index('row_num',inplace=True)
df230 = df230.rename(columns={5:'day_230'})
print(df230)

df229 = pd.DataFrame(data=df_close_col.iloc[-331200:-329760])
df229['row_num']=np.arange(len(df229))
df229.set_index('row_num',inplace=True)
df229 = df229.rename(columns={5:'day_229'})
print(df229)

df228 = pd.DataFrame(data=df_close_col.iloc[-329760:-328320])
df228['row_num']=np.arange(len(df228))
df228.set_index('row_num',inplace=True)
df228 = df228.rename(columns={5:'day_228'})
print(df228)

df227 = pd.DataFrame(data=df_close_col.iloc[-328320:-326880])
df227['row_num']=np.arange(len(df227))
df227.set_index('row_num',inplace=True)
df227 = df227.rename(columns={5:'day_227'})
print(df227)

df226 = pd.DataFrame(data=df_close_col.iloc[-326880:-325440])
df226['row_num']=np.arange(len(df226))
df226.set_index('row_num',inplace=True)
df226 = df226.rename(columns={5:'day_226'})
print(df226)

df225 = pd.DataFrame(data=df_close_col.iloc[-325440:-324000])
df225['row_num']=np.arange(len(df225))
df225.set_index('row_num',inplace=True)
df225 = df225.rename(columns={5:'day_225'})
print(df225)

df224 = pd.DataFrame(data=df_close_col.iloc[-324000:-322560])
df224['row_num']=np.arange(len(df224))
df224.set_index('row_num',inplace=True)
df224 = df224.rename(columns={5:'day_224'})
print(df224)

df223 = pd.DataFrame(data=df_close_col.iloc[-322560:-321120])
df223['row_num']=np.arange(len(df223))
df223.set_index('row_num',inplace=True)
df223 = df223.rename(columns={5:'day_223'})
print(df223)

df222 = pd.DataFrame(data=df_close_col.iloc[-321120:-319680])
df222['row_num']=np.arange(len(df222))
df222.set_index('row_num',inplace=True)
df222 = df222.rename(columns={5:'day_222'})
print(df222)

df221 = pd.DataFrame(data=df_close_col.iloc[-319680:-318240])
df221['row_num']=np.arange(len(df221))
df221.set_index('row_num',inplace=True)
df221 = df221.rename(columns={5:'day_221'})
print(df221)


df220 = pd.DataFrame(data=df_close_col.iloc[-318240:-316800])
df220['row_num']=np.arange(len(df220))
df220.set_index('row_num',inplace=True)
df220 = df220.rename(columns={5:'day_220'})
print(df220)

df219 = pd.DataFrame(data=df_close_col.iloc[-316800:-315360])
df219['row_num']=np.arange(len(df219))
df219.set_index('row_num',inplace=True)
df219 = df219.rename(columns={5:'day_219'})
print(df219)

df218 = pd.DataFrame(data=df_close_col.iloc[-315360:-313920])
df218['row_num']=np.arange(len(df218))
df218.set_index('row_num',inplace=True)
df218 = df218.rename(columns={5:'day_218'})
print(df218)

df217 = pd.DataFrame(data=df_close_col.iloc[-313920:-312480])
df217['row_num']=np.arange(len(df217))
df217.set_index('row_num',inplace=True)
df217 = df217.rename(columns={5:'day_217'})
print(df217)

df216 = pd.DataFrame(data=df_close_col.iloc[-312480:-311040])
df216['row_num']=np.arange(len(df216))
df216.set_index('row_num',inplace=True)
df216 = df216.rename(columns={5:'day_216'})
print(df216)

df215 = pd.DataFrame(data=df_close_col.iloc[-311040:-309600])
df215['row_num']=np.arange(len(df215))
df215.set_index('row_num',inplace=True)
df215 = df215.rename(columns={5:'day_215'})
print(df215)

df214 = pd.DataFrame(data=df_close_col.iloc[-309600:-308160])
df214['row_num']=np.arange(len(df214))
df214.set_index('row_num',inplace=True)
df214 = df214.rename(columns={5:'day_214'})
print(df214)

df213 = pd.DataFrame(data=df_close_col.iloc[-308160:-306720])
df213['row_num']=np.arange(len(df213))
df213.set_index('row_num',inplace=True)
df213 = df213.rename(columns={5:'day_213'})
print(df213)

df212 = pd.DataFrame(data=df_close_col.iloc[-306720:-305280])
df212['row_num']=np.arange(len(df212))
df212.set_index('row_num',inplace=True)
df212 = df212.rename(columns={5:'day_212'})
print(df212)

df211 = pd.DataFrame(data=df_close_col.iloc[-305280:-303840])
df211['row_num']=np.arange(len(df211))
df211.set_index('row_num',inplace=True)
df211 = df211.rename(columns={5:'day_211'})
print(df211)

df210 = pd.DataFrame(data=df_close_col.iloc[-303840:-302400])
df210['row_num']=np.arange(len(df210))
df210.set_index('row_num',inplace=True)
df210 = df210.rename(columns={5:'day_210'})
print(df210)

df209 = pd.DataFrame(data=df_close_col.iloc[-302400:-300960])
df209['row_num']=np.arange(len(df209))
df209.set_index('row_num',inplace=True)
df209 = df209.rename(columns={5:'day_209'})
print(df209)

df208 = pd.DataFrame(data=df_close_col.iloc[-300960:-299520])
df208['row_num']=np.arange(len(df208))
df208.set_index('row_num',inplace=True)
df208 = df208.rename(columns={5:'day_208'})
print(df208)

df207 = pd.DataFrame(data=df_close_col.iloc[-299520:-298080])
df207['row_num']=np.arange(len(df207))
df207.set_index('row_num',inplace=True)
df207 = df207.rename(columns={5:'day_207'})
print(df207)

df206 = pd.DataFrame(data=df_close_col.iloc[-298080:-296640])
df206['row_num']=np.arange(len(df206))
df206.set_index('row_num',inplace=True)
df206 = df206.rename(columns={5:'day_206'})
print(df206)

df205 = pd.DataFrame(data=df_close_col.iloc[-296640:-295200])
df205['row_num']=np.arange(len(df205))
df205.set_index('row_num',inplace=True)
df205 = df205.rename(columns={5:'day_205'})
print(df205)

df204 = pd.DataFrame(data=df_close_col.iloc[-295200:-293760])
df204['row_num']=np.arange(len(df204))
df204.set_index('row_num',inplace=True)
df204 = df204.rename(columns={5:'day_204'})
print(df204)

df203 = pd.DataFrame(data=df_close_col.iloc[-293760:-292320])
df203['row_num']=np.arange(len(df203))
df203.set_index('row_num',inplace=True)
df203 = df203.rename(columns={5:'day_203'})
print(df203)

df202 = pd.DataFrame(data=df_close_col.iloc[-292320:-290880])
df202['row_num']=np.arange(len(df202))
df202.set_index('row_num',inplace=True)
df202 = df202.rename(columns={5:'day_202'})
print(df202)

df201 = pd.DataFrame(data=df_close_col.iloc[-290880:-289440])
df201['row_num']=np.arange(len(df201))
df201.set_index('row_num',inplace=True)
df201 = df201.rename(columns={5:'day_201'})
print(df201)
###df201 to df 240###

         day_240
row_num
0        1.09050
1        1.09051
2        1.09063
3        1.09066
4        1.09081
...          ...
1435     1.08832
1436     1.08822
1437     1.08849
1438     1.08874
1439     1.08863

[1440 rows x 1 columns]
         day_239
row_num
0        1.08870
1        1.08874
2        1.08873
3        1.08869
4        1.08883
...          ...
1435     1.08669
1436     1.08673
1437     1.08676
1438     1.08671
1439     1.08672

[1440 rows x 1 columns]
         day_238
row_num
0        1.08679
1        1.08677
2        1.08665
3        1.08669
4        1.08661
...          ...
1435     1.11647
1436     1.11654
1437     1.11652
1438     1.11670
1439     1.11656

[1440 rows x 1 columns]
         day_237
row_num
0        1.11611
1        1.11638
2        1.11626
3        1.11656
4        1.11654
...          ...
1435     1.12134
1436     1.12116
1437     1.12136
1438     1.12159
1439     1.12158

[1440 rows x 1 columns]
         day_236
row_num
0        1.12166
1        1.12177
2        1.12189
3        1.12205
4        1.12196
...          ...
1435     1.12427
1436     1.12420
1437     1.12402
1438     1.12398
1439     1.12418

[1440 rows x 1 columns]
         day_235
row_num
0        1.12408
1        1.12386
2        1.12396
3        1.12389
4        1.12379
...          ...
1435     1.12609
1436     1.12600
1437     1.12587
1438     1.12587
1439     1.12570

[1440 rows x 1 columns]
         day_234
row_num
0        1.12561
1        1.12559
2        1.12570
3        1.12571
4        1.12569
...          ...
1435     1.12110
1436     1.12115
1437     1.12113
1438     1.12139
1439     1.12134

[1440 rows x 1 columns]
         day_233
row_num
0        1.12163
1        1.12099
2        1.12094
3        1.12111
4        1.12131
...          ...
1435     1.11666
1436     1.11663
1437     1.11657
1438     1.11668
1439     1.11668

[1440 rows x 1 columns]
         day_232
row_num
0        1.11665
1        1.11668
2        1.11676
3        1.11652
4        1.11656
...          ...
1435     1.13762
1436     1.13746
1437     1.13770
1438     1.13773
1439     1.13772

[1440 rows x 1 columns]
         day_231
row_num
0        1.13772
1        1.13773
2        1.13776
3        1.13785
4        1.13782
...          ...
1435     1.13490
1436     1.13476
1437     1.13478
1438     1.13485
1439     1.13489

[1440 rows x 1 columns]
         day_230
row_num
0        1.13479
1        1.13467
2        1.13465
3        1.13460
4        1.13392
...          ...
1435     1.14248
1436     1.14214
1437     1.14231
1438     1.14249
1439     1.14288

[1440 rows x 1 columns]
         day_229
row_num
0        1.14293
1        1.14349
2        1.14342
3        1.14329
4        1.14335
...          ...
1435     1.15214
1436     1.15242
1437     1.15244
1438     1.15218
1439     1.15168

[1440 rows x 1 columns]
         day_228
row_num
0        1.15142
1        1.15160
2        1.15161
3        1.15176
4        1.15212
...          ...
1435     1.17578
1436     1.17589
1437     1.17558
1438     1.17542
1439     1.17542

[1440 rows x 1 columns]
         day_227
row_num
0        1.17554
1        1.17594
2        1.17589
3        1.17594
4        1.17609
...          ...
1435     1.18494
1436     1.18486
1437     1.18501
1438     1.18552
1439     1.18556

[1440 rows x 1 columns]
         day_226
row_num
0        1.18496
1        1.18500
2        1.18441
3        1.18414
4        1.18466
...          ...
1435     1.17292
1436     1.17260
1437     1.17247
1438     1.17252
1439     1.17258

[1440 rows x 1 columns]
         day_225
row_num
0        1.17257
1        1.17238
2        1.17165
3        1.17194
4        1.17201
...          ...
1435     1.17342
1436     1.17329
1437     1.17254
1438     1.17261
1439     1.17252

[1440 rows x 1 columns]
         day_224
row_num
0        1.17280
1        1.17253
2        1.17160
3        1.17085
4        1.17063
...          ...
1435     1.17882
1436     1.17914
1437     1.17930
1438     1.17912
1439     1.17940

[1440 rows x 1 columns]
         day_223
row_num
0        1.17919
1        1.17919
2        1.17928
3        1.17988
4        1.18008
...          ...
1435     1.18311
1436     1.18405
1437     1.18401
1438     1.18479
1439     1.18464

[1440 rows x 1 columns]
         day_222
row_num
0        1.18440
1        1.18430
2        1.18446
3        1.18359
4        1.18418
...          ...
1435     1.20081
1436     1.20163
1437     1.20178
1438     1.20098
1439     1.20054

[1440 rows x 1 columns]
         day_221
row_num
0        1.19967
1        1.20073
2        1.20064
3        1.20103
4        1.20025
...          ...
1435     1.18821
1436     1.18851
1437     1.18837
1438     1.18827
1439     1.18824

[1440 rows x 1 columns]
         day_220
row_num
0        1.18860
1        1.18869
2        1.18834
3        1.18771
4        1.18781
...          ...
1435     1.19343
1436     1.19372
1437     1.19432
1438     1.19484
1439     1.19465

[1440 rows x 1 columns]
         day_219
row_num
0        1.19465
1        1.19442
2        1.19422
3        1.19391
4        1.19384
...          ...
1435     1.17863
1436     1.17838
1437     1.17768
1438     1.17755
1439     1.17775

[1440 rows x 1 columns]
         day_218
row_num
0        1.17767
1        1.17789
2        1.17799
3        1.17801
4        1.17799
...          ...
1435     1.17053
1436     1.17080
1437     1.17059
1438     1.17062
1439     1.17070

[1440 rows x 1 columns]
         day_217
row_num
0        1.17075
1        1.17115
2        1.17086
3        1.17108
4        1.17109
...          ...
1435     1.18402
1436     1.18401
1437     1.18389
1438     1.18399
1439     1.18368

[1440 rows x 1 columns]
         day_216
row_num
0        1.18369
1        1.18359
2        1.18409
3        1.18443
4        1.18454
...          ...
1435     1.18427
1436     1.18415
1437     1.18388
1438     1.18380
1439     1.18372

[1440 rows x 1 columns]
         day_215
row_num
0        1.18439
1        1.18396
2        1.18352
3        1.18345
4        1.18364
...          ...
1435     1.16993
1436     1.16984
1437     1.16923
1438     1.16926
1439     1.16959

[1440 rows x 1 columns]
         day_214
row_num
0        1.16931
1        1.16882
2        1.16851
3        1.16859
4        1.16828
...          ...
1435     1.16628
1436     1.16608
1437     1.16617
1438     1.16617
1439     1.16582

[1440 rows x 1 columns]
         day_213
row_num
0        1.16605
1        1.16586
2        1.16591
3        1.16565
4        1.16567
...          ...
1435     1.16402
1436     1.16451
1437     1.16456
1438     1.16445
1439     1.16437

[1440 rows x 1 columns]
         day_212
row_num
0        1.16435
1        1.16450
2        1.16428
3        1.16468
4        1.16472
...          ...
1435     1.17732
1436     1.17718
1437     1.17733
1438     1.17756
1439     1.17742

[1440 rows x 1 columns]
         day_211
row_num
0        1.17721
1        1.17714
2        1.17700
3        1.17710
4        1.17698
...          ...
1435     1.18492
1436     1.18500
1437     1.18502
1438     1.18508
1439     1.18525

[1440 rows x 1 columns]
         day_210
row_num
0        1.18526
1        1.18522
2        1.18518
3        1.18516
4        1.18510
...          ...
1435     1.18915
1436     1.18964
1437     1.18973
1438     1.18981
1439     1.19002

[1440 rows x 1 columns]
         day_209
row_num
0        1.19043
1        1.19069
2        1.19134
3        1.19105
4        1.19104
...          ...
1435     1.17971
1436     1.17970
1437     1.18045
1438     1.18018
1439     1.18042

[1440 rows x 1 columns]
         day_208
row_num
0        1.18070
1        1.18033
2        1.18010
3        1.17967
4        1.17970
...          ...
1435     1.17878
1436     1.17877
1437     1.17912
1438     1.17956
1439     1.17964

[1440 rows x 1 columns]
         day_207
row_num
0        1.17979
1        1.17942
2        1.17916
3        1.17933
4        1.17936
...          ...
1435     1.18677
1436     1.18659
1437     1.18641
1438     1.18644
1439     1.18639

[1440 rows x 1 columns]
         day_206
row_num
0        1.18665
1        1.18669
2        1.18651
3        1.18644
4        1.18649
...          ...
1435     1.20098
1436     1.20089
1437     1.20108
1438     1.20114
1439     1.20155

[1440 rows x 1 columns]
         day_205
row_num
0        1.20149
1        1.20137
2        1.20135
3        1.20130
4        1.20121
...          ...
1435     1.19699
1436     1.19677
1437     1.19682
1438     1.19667
1439     1.19651

[1440 rows x 1 columns]
         day_204
row_num
0        1.19668
1        1.19669
2        1.19721
3        1.19719
4        1.19733
...          ...
1435     1.22666
1436     1.22690
1437     1.22655
1438     1.22651
1439     1.22677

[1440 rows x 1 columns]
         day_203
row_num
0        1.22656
1        1.22684
2        1.22679
3        1.22692
4        1.22652
...          ...
1435     1.22562
1436     1.22597
1437     1.22597
1438     1.22593
1439     1.22577

[1440 rows x 1 columns]
         day_202
row_num
0        1.22572
1        1.22622
2        1.22677
3        1.22712
4        1.22695
...          ...
1435     1.23810
1436     1.23824
1437     1.23823
1438     1.23794
1439     1.23735

[1440 rows x 1 columns]
         day_201
row_num
0        1.23714
1        1.23764
2        1.23736
3        1.23729
4        1.23689
...          ...
1435     1.23668
1436     1.23735
1437     1.23788
1438     1.23759
1439     1.23767

[1440 rows x 1 columns]

In [23]:
###df161 to df200###
df200 = pd.DataFrame(data=df_close_col.iloc[-289440:-288000])
df200['row_num']=np.arange(len(df200))
df200.set_index('row_num',inplace=True)
df200 = df200.rename(columns={5:'day_200'})
print(df200)

df199 = pd.DataFrame(data=df_close_col.iloc[-288000:-286560])
df199['row_num']=np.arange(len(df199))
df199.set_index('row_num',inplace=True)
df199 = df199.rename(columns={5:'day_199'})
print(df199)

df198 = pd.DataFrame(data=df_close_col.iloc[-286560:-285120])
df198['row_num']=np.arange(len(df198))
df198.set_index('row_num',inplace=True)
df198 = df198.rename(columns={5:'day_198'})
print(df198)

df197 = pd.DataFrame(data=df_close_col.iloc[-285120:-283680])
df197['row_num']=np.arange(len(df197))
df197.set_index('row_num',inplace=True)
df197 = df197.rename(columns={5:'day_197'})
print(df197)

df196 = pd.DataFrame(data=df_close_col.iloc[-283680:-282240])
df196['row_num']=np.arange(len(df196))
df196.set_index('row_num',inplace=True)
df196 = df196.rename(columns={5:'day_196'})
print(df196)

df195 = pd.DataFrame(data=df_close_col.iloc[-282240:-280800])
df195['row_num']=np.arange(len(df195))
df195.set_index('row_num',inplace=True)
df195 = df195.rename(columns={5:'day_195'})
print(df195)

df194 = pd.DataFrame(data=df_close_col.iloc[-280800:-279360])
df194['row_num']=np.arange(len(df194))
df194.set_index('row_num',inplace=True)
df194 = df194.rename(columns={5:'day_194'})
print(df194)

df193 = pd.DataFrame(data=df_close_col.iloc[-279360:-277920])
df193['row_num']=np.arange(len(df193))
df193.set_index('row_num',inplace=True)
df193 = df193.rename(columns={5:'day_193'})
print(df193)

df192 = pd.DataFrame(data=df_close_col.iloc[-277920:-276480])
df192['row_num']=np.arange(len(df192))
df192.set_index('row_num',inplace=True)
df192 = df192.rename(columns={5:'day_192'})
print(df192)

df191 = pd.DataFrame(data=df_close_col.iloc[-276480:-275040])
df191['row_num']=np.arange(len(df191))
df191.set_index('row_num',inplace=True)
df191 = df191.rename(columns={5:'day_191'})
print(df191)

df190 = pd.DataFrame(data=df_close_col.iloc[-275040:-273600])
df190['row_num']=np.arange(len(df190))
df190.set_index('row_num',inplace=True)
df190 = df190.rename(columns={5:'day_190'})
print(df190)

df189 = pd.DataFrame(data=df_close_col.iloc[-273600:-272160])
df189['row_num']=np.arange(len(df189))
df189.set_index('row_num',inplace=True)
df189 = df189.rename(columns={5:'day_189'})
print(df189)

df188 = pd.DataFrame(data=df_close_col.iloc[-272160:-270720])
df188['row_num']=np.arange(len(df188))
df188.set_index('row_num',inplace=True)
df188 = df188.rename(columns={5:'day_188'})
print(df188)

df187 = pd.DataFrame(data=df_close_col.iloc[-270720:-269280])
df187['row_num']=np.arange(len(df187))
df187.set_index('row_num',inplace=True)
df187 = df187.rename(columns={5:'day_187'})
print(df187)

df186 = pd.DataFrame(data=df_close_col.iloc[-269280:-267840])
df186['row_num']=np.arange(len(df186))
df186.set_index('row_num',inplace=True)
df186 = df186.rename(columns={5:'day_186'})
print(df186)

df185 = pd.DataFrame(data=df_close_col.iloc[-267840:-266400])
df185['row_num']=np.arange(len(df185))
df185.set_index('row_num',inplace=True)
df185 = df185.rename(columns={5:'day_185'})
print(df185)

df184 = pd.DataFrame(data=df_close_col.iloc[-266400:-264960])
df184['row_num']=np.arange(len(df184))
df184.set_index('row_num',inplace=True)
df184 = df184.rename(columns={5:'day_184'})
print(df184)

df183 = pd.DataFrame(data=df_close_col.iloc[-264960:-263520])
df183['row_num']=np.arange(len(df183))
df183.set_index('row_num',inplace=True)
df183 = df183.rename(columns={5:'day_183'})
print(df183)

df182 = pd.DataFrame(data=df_close_col.iloc[-263520:-262080])
df182['row_num']=np.arange(len(df182))
df182.set_index('row_num',inplace=True)
df182 = df182.rename(columns={5:'day_182'})
print(df182)

df181 = pd.DataFrame(data=df_close_col.iloc[-262080:-260640])
df181['row_num']=np.arange(len(df181))
df181.set_index('row_num',inplace=True)
df181 = df181.rename(columns={5:'day_181'})
print(df181)


df180 = pd.DataFrame(data=df_close_col.iloc[-260640:-259200])
df180['row_num']=np.arange(len(df180))
df180.set_index('row_num',inplace=True)
df180 = df180.rename(columns={5:'day_180'})
print(df180)

df179 = pd.DataFrame(data=df_close_col.iloc[-259200:-257760])
df179['row_num']=np.arange(len(df179))
df179.set_index('row_num',inplace=True)
df179 = df179.rename(columns={5:'day_179'})
print(df179)

df178 = pd.DataFrame(data=df_close_col.iloc[-257760:-256320])
df178['row_num']=np.arange(len(df178))
df178.set_index('row_num',inplace=True)
df178 = df178.rename(columns={5:'day_178'})
print(df178)

df177 = pd.DataFrame(data=df_close_col.iloc[-256320:-254880])
df177['row_num']=np.arange(len(df177))
df177.set_index('row_num',inplace=True)
df177 = df177.rename(columns={5:'day_177'})
print(df177)

df176 = pd.DataFrame(data=df_close_col.iloc[-254880:-253440])
df176['row_num']=np.arange(len(df176))
df176.set_index('row_num',inplace=True)
df176 = df176.rename(columns={5:'day_176'})
print(df176)

df175 = pd.DataFrame(data=df_close_col.iloc[-253440:-252000])
df175['row_num']=np.arange(len(df175))
df175.set_index('row_num',inplace=True)
df175 = df175.rename(columns={5:'day_175'})
print(df175)

df174 = pd.DataFrame(data=df_close_col.iloc[-252000:-250560])
df174['row_num']=np.arange(len(df174))
df174.set_index('row_num',inplace=True)
df174 = df174.rename(columns={5:'day_174'})
print(df174)

df173 = pd.DataFrame(data=df_close_col.iloc[-250560:-249120])
df173['row_num']=np.arange(len(df173))
df173.set_index('row_num',inplace=True)
df173 = df173.rename(columns={5:'day_173'})
print(df173)

df172 = pd.DataFrame(data=df_close_col.iloc[-249120:-247680])
df172['row_num']=np.arange(len(df172))
df172.set_index('row_num',inplace=True)
df172 = df172.rename(columns={5:'day_172'})
print(df172)

df171 = pd.DataFrame(data=df_close_col.iloc[-247680:-246240])
df171['row_num']=np.arange(len(df171))
df171.set_index('row_num',inplace=True)
df171 = df171.rename(columns={5:'day_171'})
print(df171)

df170 = pd.DataFrame(data=df_close_col.iloc[-246240:-244800])
df170['row_num']=np.arange(len(df170))
df170.set_index('row_num',inplace=True)
df170 = df170.rename(columns={5:'day_170'})
print(df170)

df169 = pd.DataFrame(data=df_close_col.iloc[-244800:-243360])
df169['row_num']=np.arange(len(df169))
df169.set_index('row_num',inplace=True)
df169 = df169.rename(columns={5:'day_169'})
print(df169)

df168 = pd.DataFrame(data=df_close_col.iloc[-243360:-241920])
df168['row_num']=np.arange(len(df168))
df168.set_index('row_num',inplace=True)
df168 = df168.rename(columns={5:'day_168'})
print(df168)

df167 = pd.DataFrame(data=df_close_col.iloc[-241920:-240480])
df167['row_num']=np.arange(len(df167))
df167.set_index('row_num',inplace=True)
df167 = df167.rename(columns={5:'day_167'})
print(df167)

df166 = pd.DataFrame(data=df_close_col.iloc[-240480:-239040])
df166['row_num']=np.arange(len(df166))
df166.set_index('row_num',inplace=True)
df166 = df166.rename(columns={5:'day_166'})
print(df166)

df165 = pd.DataFrame(data=df_close_col.iloc[-239040:-237600])
df165['row_num']=np.arange(len(df165))
df165.set_index('row_num',inplace=True)
df165 = df165.rename(columns={5:'day_165'})
print(df165)

df164 = pd.DataFrame(data=df_close_col.iloc[-237600:-236160])
df164['row_num']=np.arange(len(df164))
df164.set_index('row_num',inplace=True)
df164 = df164.rename(columns={5:'day_164'})
print(df164)

df163 = pd.DataFrame(data=df_close_col.iloc[-236160:-234720])
df163['row_num']=np.arange(len(df163))
df163.set_index('row_num',inplace=True)
df163 = df163.rename(columns={5:'day_163'})
print(df163)

df162 = pd.DataFrame(data=df_close_col.iloc[-234720:-233280])
df162['row_num']=np.arange(len(df162))
df162.set_index('row_num',inplace=True)
df162 = df162.rename(columns={5:'day_162'})
print(df162)

df161 = pd.DataFrame(data=df_close_col.iloc[-233280:-231840])
df161['row_num']=np.arange(len(df161))
df161.set_index('row_num',inplace=True)
df161 = df161.rename(columns={5:'day_161'})
print(df161)
###df161 to df200###

         day_200
row_num
0        1.23803
1        1.23797
2        1.23815
3        1.23806
4        1.23842
...          ...
1435     1.23005
1436     1.22942
1437     1.22968
1438     1.22977
1439     1.22939

[1440 rows x 1 columns]
         day_199
row_num
0        1.22933
1        1.22922
2        1.22986
3        1.22916
4        1.22930
...          ...
1435     1.24002
1436     1.23977
1437     1.23978
1438     1.24034
1439     1.24052

[1440 rows x 1 columns]
         day_198
row_num
0        1.24033
1        1.24028
2        1.24046
3        1.24056
4        1.24068
...          ...
1435     1.23151
1436     1.23261
1437     1.23251
1438     1.23240
1439     1.23235

[1440 rows x 1 columns]
         day_197
row_num
0        1.23235
1        1.23245
2        1.23208
3        1.23231
4        1.23290
...          ...
1435     1.23367
1436     1.23361
1437     1.23375
1438     1.23385
1439     1.23396

[1440 rows x 1 columns]
         day_196
row_num
0        1.23434
1        1.23467
2        1.23483
3        1.23502
4        1.23482
...          ...
1435     1.23385
1436     1.23396
1437     1.23389
1438     1.23375
1439     1.23372

[1440 rows x 1 columns]
         day_195
row_num
0        1.23392
1        1.23426
2        1.23431
3        1.23419
4        1.23408
...          ...
1435     1.23410
1436     1.23415
1437     1.23403
1438     1.23432
1439     1.23405

[1440 rows x 1 columns]
         day_194
row_num
0        1.23420
1        1.23409
2        1.23445
3        1.23445
4        1.23479
...          ...
1435     1.24495
1436     1.24500
1437     1.24516
1438     1.24510
1439     1.24511

[1440 rows x 1 columns]
         day_193
row_num
0        1.24502
1        1.24438
2        1.24449
3        1.24468
4        1.24477
...          ...
1435     1.23033
1436     1.23034
1437     1.23034
1438     1.23065
1439     1.23060

[1440 rows x 1 columns]
         day_192
row_num
0        1.23055
1        1.23022
2        1.22987
3        1.22981
4        1.23007
...          ...
1435     1.23230
1436     1.23235
1437     1.23241
1438     1.23242
1439     1.23217

[1440 rows x 1 columns]
         day_191
row_num
0        1.23207
1        1.23200
2        1.23205
3        1.23185
4        1.23188
...          ...
1435     1.23850
1436     1.23845
1437     1.23841
1438     1.23861
1439     1.23853

[1440 rows x 1 columns]
         day_190
row_num
0        1.23841
1        1.23836
2        1.23830
3        1.23816
4        1.23810
...          ...
1435     1.22031
1436     1.21923
1437     1.21912
1438     1.21850
1439     1.21936

[1440 rows x 1 columns]
         day_189
row_num
0        1.21973
1        1.22005
2        1.21995
3        1.21947
4        1.22006
...          ...
1435     1.20782
1436     1.20771
1437     1.20740
1438     1.20748
1439     1.20745

[1440 rows x 1 columns]
         day_188
row_num
0        1.20750
1        1.20741
2        1.20754
3        1.20743
4        1.20749
...          ...
1435     1.19358
1436     1.19350
1437     1.19339
1438     1.19317
1439     1.19326

[1440 rows x 1 columns]
         day_187
row_num
0        1.19241
1        1.19178
2        1.19151
3        1.19167
4        1.19173
...          ...
1435     1.19347
1436     1.19340
1437     1.19333
1438     1.19333
1439     1.19324

[1440 rows x 1 columns]
         day_186
row_num
0        1.19306
1        1.19331
2        1.19355
3        1.19375
4        1.19370
...          ...
1435     1.17885
1436     1.17889
1437     1.17873
1438     1.17840
1439     1.17867

[1440 rows x 1 columns]
         day_185
row_num
0        1.17867
1        1.17854
2        1.17830
3        1.17814
4        1.17826
...          ...
1435     1.16174
1436     1.16190
1437     1.16186
1438     1.16159
1439     1.16174

[1440 rows x 1 columns]
         day_184
row_num
0        1.16191
1        1.16187
2        1.16211
3        1.16210
4        1.16215
...          ...
1435     1.16955
1436     1.16926
1437     1.16896
1438     1.16916
1439     1.16937

[1440 rows x 1 columns]
         day_183
row_num
0        1.16951
1        1.16951
2        1.16961
3        1.16947
4        1.16964
...          ...
1435     1.17495
1436     1.17508
1437     1.17564
1438     1.17570
1439     1.17589

[1440 rows x 1 columns]
         day_182
row_num
0        1.17589
1        1.17617
2        1.17614
3        1.17606
4        1.17602
...          ...
1435     1.16328
1436     1.16332
1437     1.16317
1438     1.16312
1439     1.16291

[1440 rows x 1 columns]
         day_181
row_num
0        1.16368
1        1.16360
2        1.16399
3        1.16362
4        1.16349
...          ...
1435     1.17061
1436     1.17058
1437     1.17037
1438     1.17081
1439     1.17079

[1440 rows x 1 columns]
         day_180
row_num
0        1.17105
1        1.17074
2        1.17060
3        1.17076
4        1.17095
...          ...
1435     1.16294
1436     1.16258
1437     1.16258
1438     1.16246
1439     1.16211

[1440 rows x 1 columns]
         day_179
row_num
0        1.16264
1        1.16274
2        1.16307
3        1.16270
4        1.16275
...          ...
1435     1.17572
1436     1.17574
1437     1.17598
1438     1.17581
1439     1.17563

[1440 rows x 1 columns]
         day_178
row_num
0        1.17535
1        1.17508
2        1.17479
3        1.17472
4        1.17476
...          ...
1435     1.17038
1436     1.17019
1437     1.17039
1438     1.17024
1439     1.17064

[1440 rows x 1 columns]
         day_177
row_num
0        1.17068
1        1.17058
2        1.17055
3        1.17060
4        1.17056
...          ...
1435     1.16941
1436     1.16946
1437     1.16929
1438     1.16927
1439     1.16932

[1440 rows x 1 columns]
         day_176
row_num
0        1.16952
1        1.16967
2        1.16972
3        1.16981
4        1.16941
...          ...
1435     1.17039
1436     1.17050
1437     1.17053
1438     1.17075
1439     1.17097

[1440 rows x 1 columns]
         day_175
row_num
0        1.17094
1        1.17094
2        1.17094
3        1.17080
4        1.17081
...          ...
1435     1.15583
1436     1.15602
1437     1.15580
1438     1.15582
1439     1.15585

[1440 rows x 1 columns]
         day_174
row_num
0        1.15561
1        1.15580
2        1.15579
3        1.15591
4        1.15597
...          ...
1435     1.14030
1436     1.14047
1437     1.14072
1438     1.14079
1439     1.14085

[1440 rows x 1 columns]
         day_173
row_num
0        1.14080
1        1.14092
2        1.14073
3        1.14053
4        1.14059
...          ...
1435     1.15189
1436     1.15199
1437     1.15162
1438     1.15164
1439     1.15193

[1440 rows x 1 columns]
         day_172
row_num
0        1.15135
1        1.15154
2        1.15154
3        1.15155
4        1.15153
...          ...
1435     1.16798
1436     1.16752
1437     1.16752
1438     1.16738
1439     1.16748

[1440 rows x 1 columns]
         day_171
row_num
0        1.16752
1        1.16757
2        1.16765
3        1.16747
4        1.16751
...          ...
1435     1.15989
1436     1.15986
1437     1.16004
1438     1.16024
1439     1.16001

[1440 rows x 1 columns]
         day_170
row_num
0        1.16008
1        1.16026
2        1.16016
3        1.15975
4        1.16017
...          ...
1435     1.15819
1436     1.15827
1437     1.15836
1438     1.15829
1439     1.15795

[1440 rows x 1 columns]
         day_169
row_num
0        1.15829
1        1.15835
2        1.15859
3        1.15854
4        1.15852
...          ...
1435     1.16788
1436     1.16780
1437     1.16772
1438     1.16807
1439     1.16816

[1440 rows x 1 columns]
         day_168
row_num
0        1.16761
1        1.16784
2        1.16794
3        1.16821
4        1.16796
...          ...
1435     1.17517
1436     1.17520
1437     1.17512
1438     1.17509
1439     1.17509

[1440 rows x 1 columns]
         day_167
row_num
0        1.17468
1        1.17412
2        1.17419
3        1.17412
4        1.17391
...          ...
1435     1.15777
1436     1.15786
1437     1.15762
1438     1.15757
1439     1.15737

[1440 rows x 1 columns]
         day_166
row_num
0        1.15719
1        1.15688
2        1.15722
3        1.15727
4        1.15730
...          ...
1435     1.14903
1436     1.14914
1437     1.14913
1438     1.14892
1439     1.14877

[1440 rows x 1 columns]
         day_165
row_num
0        1.14891
1        1.14869
2        1.14850
3        1.14884
4        1.14897
...          ...
1435     1.15866
1436     1.15871
1437     1.15881
1438     1.15859
1439     1.15867

[1440 rows x 1 columns]
         day_164
row_num
0        1.15841
1        1.15847
2        1.15839
3        1.15864
4        1.15850
...          ...
1435     1.14643
1436     1.14640
1437     1.14624
1438     1.14620
1439     1.14630

[1440 rows x 1 columns]
         day_163
row_num
0        1.14621
1        1.14650
2        1.14630
3        1.14623
4        1.14630
...          ...
1435     1.13795
1436     1.13796
1437     1.13831
1438     1.13814
1439     1.13827

[1440 rows x 1 columns]
         day_162
row_num
0        1.13837
1        1.13825
2        1.13817
3        1.13815
4        1.13794
...          ...
1435     1.14073
1436     1.14073
1437     1.14061
1438     1.14069
1439     1.14067

[1440 rows x 1 columns]
         day_161
row_num
0        1.14055
1        1.14051
2        1.14056
3        1.14037
4        1.14022
...          ...
1435     1.12350
1436     1.12367
1437     1.12390
1438     1.12387
1439     1.12453

[1440 rows x 1 columns]

In [24]:
###df121 to df160###
df160 = pd.DataFrame(data=df_close_col.iloc[-231840:-230400])
df160['row_num']=np.arange(len(df160))
df160.set_index('row_num',inplace=True)
df160 = df160.rename(columns={5:'day_160'})
print(df160)

df159 = pd.DataFrame(data=df_close_col.iloc[-230400:-228960])
df159['row_num']=np.arange(len(df159))
df159.set_index('row_num',inplace=True)
df159 = df159.rename(columns={5:'day_159'})
print(df159)

df158 = pd.DataFrame(data=df_close_col.iloc[-228960:-227520])
df158['row_num']=np.arange(len(df158))
df158.set_index('row_num',inplace=True)
df158 = df158.rename(columns={5:'day_158'})
print(df158)

df157 = pd.DataFrame(data=df_close_col.iloc[-227520:-226080])
df157['row_num']=np.arange(len(df157))
df157.set_index('row_num',inplace=True)
df157 = df157.rename(columns={5:'day_157'})
print(df157)

df156 = pd.DataFrame(data=df_close_col.iloc[-226080:-224640])
df156['row_num']=np.arange(len(df156))
df156.set_index('row_num',inplace=True)
df156 = df156.rename(columns={5:'day_156'})
print(df156)

df155 = pd.DataFrame(data=df_close_col.iloc[-224640:-223200])
df155['row_num']=np.arange(len(df155))
df155.set_index('row_num',inplace=True)
df155 = df155.rename(columns={5:'day_155'})
print(df155)

df154 = pd.DataFrame(data=df_close_col.iloc[-223200:-221760])
df154['row_num']=np.arange(len(df154))
df154.set_index('row_num',inplace=True)
df154 = df154.rename(columns={5:'day_154'})
print(df154)

df153 = pd.DataFrame(data=df_close_col.iloc[-221760:-220320])
df153['row_num']=np.arange(len(df153))
df153.set_index('row_num',inplace=True)
df153 = df153.rename(columns={5:'day_153'})
print(df153)

df152 = pd.DataFrame(data=df_close_col.iloc[-220320:-218880])
df152['row_num']=np.arange(len(df152))
df152.set_index('row_num',inplace=True)
df152 = df152.rename(columns={5:'day_152'})
print(df152)

df151 = pd.DataFrame(data=df_close_col.iloc[-218880:-217440])
df151['row_num']=np.arange(len(df151))
df151.set_index('row_num',inplace=True)
df151 = df151.rename(columns={5:'day_151'})
print(df151)

df150 = pd.DataFrame(data=df_close_col.iloc[-217440:-216000])
df150['row_num']=np.arange(len(df150))
df150.set_index('row_num',inplace=True)
df150 = df150.rename(columns={5:'day_150'})
print(df150)

df149 = pd.DataFrame(data=df_close_col.iloc[-216000:-214560])
df149['row_num']=np.arange(len(df149))
df149.set_index('row_num',inplace=True)
df149 = df149.rename(columns={5:'day_149'})
print(df149)

df148 = pd.DataFrame(data=df_close_col.iloc[-214560:-213120])
df148['row_num']=np.arange(len(df148))
df148.set_index('row_num',inplace=True)
df148 = df148.rename(columns={5:'day_148'})
print(df148)

df147 = pd.DataFrame(data=df_close_col.iloc[-213120:-211680])
df147['row_num']=np.arange(len(df147))
df147.set_index('row_num',inplace=True)
df147 = df147.rename(columns={5:'day_147'})
print(df147)

df146 = pd.DataFrame(data=df_close_col.iloc[-211680:-210240])
df146['row_num']=np.arange(len(df146))
df146.set_index('row_num',inplace=True)
df146 = df146.rename(columns={5:'day_146'})
print(df146)

df145 = pd.DataFrame(data=df_close_col.iloc[-210240:-208800])
df145['row_num']=np.arange(len(df145))
df145.set_index('row_num',inplace=True)
df145 = df145.rename(columns={5:'day_145'})
print(df145)

df144 = pd.DataFrame(data=df_close_col.iloc[-208800:-207360])
df144['row_num']=np.arange(len(df144))
df144.set_index('row_num',inplace=True)
df144 = df144.rename(columns={5:'day_144'})
print(df144)

df143 = pd.DataFrame(data=df_close_col.iloc[-207360:-205920])
df143['row_num']=np.arange(len(df143))
df143.set_index('row_num',inplace=True)
df143 = df143.rename(columns={5:'day_143'})
print(df143)

df142 = pd.DataFrame(data=df_close_col.iloc[-205920:-204480])
df142['row_num']=np.arange(len(df142))
df142.set_index('row_num',inplace=True)
df142 = df142.rename(columns={5:'day_142'})
print(df142)

df141 = pd.DataFrame(data=df_close_col.iloc[-204480:-203040])
df141['row_num']=np.arange(len(df141))
df141.set_index('row_num',inplace=True)
df141 = df141.rename(columns={5:'day_141'})
print(df141)


df140 = pd.DataFrame(data=df_close_col.iloc[-203040:-201600])
df140['row_num']=np.arange(len(df140))
df140.set_index('row_num',inplace=True)
df140 = df140.rename(columns={5:'day_140'})
print(df140)

df139 = pd.DataFrame(data=df_close_col.iloc[-201600:-200160])
df139['row_num']=np.arange(len(df139))
df139.set_index('row_num',inplace=True)
df139 = df139.rename(columns={5:'day_139'})
print(df139)

df138 = pd.DataFrame(data=df_close_col.iloc[-200160:-198720])
df138['row_num']=np.arange(len(df138))
df138.set_index('row_num',inplace=True)
df138 = df138.rename(columns={5:'day_138'})
print(df138)

df137 = pd.DataFrame(data=df_close_col.iloc[-198720:-197280])
df137['row_num']=np.arange(len(df137))
df137.set_index('row_num',inplace=True)
df137 = df137.rename(columns={5:'day_137'})
print(df137)

df136 = pd.DataFrame(data=df_close_col.iloc[-197280:-195840])
df136['row_num']=np.arange(len(df136))
df136.set_index('row_num',inplace=True)
df136 = df136.rename(columns={5:'day_136'})
print(df136)

df135 = pd.DataFrame(data=df_close_col.iloc[-195840:-194400])
df135['row_num']=np.arange(len(df135))
df135.set_index('row_num',inplace=True)
df135 = df135.rename(columns={5:'day_135'})
print(df135)

df134 = pd.DataFrame(data=df_close_col.iloc[-194400:-192960])
df134['row_num']=np.arange(len(df134))
df134.set_index('row_num',inplace=True)
df134 = df134.rename(columns={5:'day_134'})
print(df134)

df133 = pd.DataFrame(data=df_close_col.iloc[-192960:-191520])
df133['row_num']=np.arange(len(df133))
df133.set_index('row_num',inplace=True)
df133 = df133.rename(columns={5:'day_133'})
print(df133)

df132 = pd.DataFrame(data=df_close_col.iloc[-191520:-190080])
df132['row_num']=np.arange(len(df132))
df132.set_index('row_num',inplace=True)
df132 = df132.rename(columns={5:'day_132'})
print(df132)

df131 = pd.DataFrame(data=df_close_col.iloc[-190080:-188640])
df131['row_num']=np.arange(len(df131))
df131.set_index('row_num',inplace=True)
df131 = df131.rename(columns={5:'day_131'})
print(df131)

df130 = pd.DataFrame(data=df_close_col.iloc[-188640:-187200])
df130['row_num']=np.arange(len(df130))
df130.set_index('row_num',inplace=True)
df130 = df130.rename(columns={5:'day_130'})
print(df130)

df129 = pd.DataFrame(data=df_close_col.iloc[-187200:-185760])
df129['row_num']=np.arange(len(df129))
df129.set_index('row_num',inplace=True)
df129 = df129.rename(columns={5:'day_129'})
print(df129)

df128 = pd.DataFrame(data=df_close_col.iloc[-185760:-184320])
df128['row_num']=np.arange(len(df128))
df128.set_index('row_num',inplace=True)
df128 = df128.rename(columns={5:'day_128'})
print(df128)

df127 = pd.DataFrame(data=df_close_col.iloc[-184320:-182880])
df127['row_num']=np.arange(len(df127))
df127.set_index('row_num',inplace=True)
df127 = df127.rename(columns={5:'day_127'})
print(df127)

df126 = pd.DataFrame(data=df_close_col.iloc[-182880:-181440])
df126['row_num']=np.arange(len(df126))
df126.set_index('row_num',inplace=True)
df126 = df126.rename(columns={5:'day_126'})
print(df126)

df125 = pd.DataFrame(data=df_close_col.iloc[-181440:-180000])
df125['row_num']=np.arange(len(df125))
df125.set_index('row_num',inplace=True)
df125 = df125.rename(columns={5:'day_125'})
print(df125)

df124 = pd.DataFrame(data=df_close_col.iloc[-180000:-178560])
df124['row_num']=np.arange(len(df124))
df124.set_index('row_num',inplace=True)
df124 = df124.rename(columns={5:'day_124'})
print(df124)

df123 = pd.DataFrame(data=df_close_col.iloc[-178560:-177120])
df123['row_num']=np.arange(len(df123))
df123.set_index('row_num',inplace=True)
df123 = df123.rename(columns={5:'day_123'})
print(df123)

###
#left out a day here, still need to fix it -177120:-175680
###

df122 = pd.DataFrame(data=df_close_col.iloc[-175680:-174240])
df122['row_num']=np.arange(len(df122))
df122.set_index('row_num',inplace=True)
df122 = df122.rename(columns={5:'day_122'})
print(df122)

df121 = pd.DataFrame(data=df_close_col.iloc[-174240:-172800])
df121['row_num']=np.arange(len(df121))
df121.set_index('row_num',inplace=True)
df121 = df121.rename(columns={5:'day_121'})
print(df121)
###df121 to df160###

         day_160
row_num
0        1.12440
1        1.12477
2        1.12449
3        1.12478
4        1.12470
...          ...
1435     1.14533
1436     1.14554
1437     1.14548
1438     1.14539
1439     1.14545

[1440 rows x 1 columns]
         day_159
row_num
0        1.14538
1        1.14550
2        1.14540
3        1.14530
4        1.14514
...          ...
1435     1.13341
1436     1.13376
1437     1.13366
1438     1.13371
1439     1.13361

[1440 rows x 1 columns]
         day_158
row_num
0        1.13349
1        1.13345
2        1.13332
3        1.13337
4        1.13341
...          ...
1435     1.13693
1436     1.13675
1437     1.13684
1438     1.13689
1439     1.13706

[1440 rows x 1 columns]
         day_157
row_num
0        1.13701
1        1.13695
2        1.13697
3        1.13681
4        1.13700
...          ...
1435     1.13676
1436     1.13679
1437     1.13683
1438     1.13672
1439     1.13653

[1440 rows x 1 columns]
         day_156
row_num
0        1.13667
1        1.13667
2        1.13647
3        1.13642
4        1.13636
...          ...
1435     1.13498
1436     1.13519
1437     1.13517
1438     1.13528
1439     1.13533

[1440 rows x 1 columns]
         day_155
row_num
0        1.13539
1        1.13536
2        1.13539
3        1.13528
4        1.13533
...          ...
1435     1.13789
1436     1.13767
1437     1.13813
1438     1.13815
1439     1.13816

[1440 rows x 1 columns]
         day_154
row_num
0        1.13840
1        1.13870
2        1.13840
3        1.13817
4        1.13839
...          ...
1435     1.13984
1436     1.13980
1437     1.13980
1438     1.13900
1439     1.13894

[1440 rows x 1 columns]
         day_153
row_num
0        1.13936
1        1.13920
2        1.13910
3        1.13951
4        1.13975
...          ...
1435     1.14989
1436     1.15006
1437     1.14996
1438     1.14997
1439     1.15000

[1440 rows x 1 columns]
         day_152
row_num
0        1.15034
1        1.15019
2        1.14997
3        1.14985
4        1.14982
...          ...
1435     1.13867
1436     1.13837
1437     1.13831
1438     1.13874
1439     1.13931

[1440 rows x 1 columns]
         day_151
row_num
0        1.13964
1        1.13923
2        1.13891
3        1.13900
4        1.13874
...          ...
1435     1.12950
1436     1.12957
1437     1.12991
1438     1.12997
1439     1.13006

[1440 rows x 1 columns]
         day_150
row_num
0        1.13015
1        1.13030
2        1.12985
3        1.13021
4        1.13028
...          ...
1435     1.14435
1436     1.14439
1437     1.14429
1438     1.14439
1439     1.14443

[1440 rows x 1 columns]
         day_149
row_num
0        1.14428
1        1.14417
2        1.14435
3        1.14414
4        1.14412
...          ...
1435     1.13512
1436     1.13531
1437     1.13527
1438     1.13535
1439     1.13513

[1440 rows x 1 columns]
         day_148
row_num
0        1.13516
1        1.13509
2        1.13489
3        1.13513
4        1.13499
...          ...
1435     1.12973
1436     1.12977
1437     1.12975
1438     1.12978
1439     1.13001

[1440 rows x 1 columns]
         day_147
row_num
0        1.13001
1        1.12987
2        1.13004
3        1.12990
4        1.12976
...          ...
1435     1.13301
1436     1.13315
1437     1.13307
1438     1.13330
1439     1.13334

[1440 rows x 1 columns]
         day_146
row_num
0        1.13355
1        1.13353
2        1.13359
3        1.13342
4        1.13339
...          ...
1435     1.13814
1436     1.13793
1437     1.13806
1438     1.13816
1439     1.13792

[1440 rows x 1 columns]
         day_145
row_num
0        1.13784
1        1.13775
2        1.13799
3        1.13778
4        1.13772
...          ...
1435     1.12098
1436     1.12036
1437     1.11859
1438     1.11907
1439     1.11806

[1440 rows x 1 columns]
         day_144
row_num
0        1.11833
1        1.11829
2        1.11826
3        1.11836
4        1.11864
...          ...
1435     1.13009
1436     1.13019
1437     1.13015
1438     1.13027
1439     1.13017

[1440 rows x 1 columns]
         day_143
row_num
0        1.13033
1        1.13019
2        1.13015
3        1.13010
4        1.13015
...          ...
1435     1.13690
1436     1.13704
1437     1.13715
1438     1.13731
1439     1.13724

[1440 rows x 1 columns]
         day_142
row_num
0        1.13756
1        1.13727
2        1.13749
3        1.13743
4        1.13763
...          ...
1435     1.12233
1436     1.12234
1437     1.12228
1438     1.12219
1439     1.12225

[1440 rows x 1 columns]
         day_141
row_num
0        1.12255
1        1.12259
2        1.12281
3        1.12279
4        1.12280
...          ...
1435     1.12199
1436     1.12205
1437     1.12194
1438     1.12195
1439     1.12198

[1440 rows x 1 columns]
         day_140
row_num
0        1.12198
1        1.12203
2        1.12214
3        1.12211
4        1.12207
...          ...
1435     1.12558
1436     1.12554
1437     1.12566
1438     1.12543
1439     1.12569

[1440 rows x 1 columns]
         day_139
row_num
0        1.12553
1        1.12566
2        1.12563
3        1.12568
4        1.12568
...          ...
1435     1.12293
1436     1.12299
1437     1.12309
1438     1.12310
1439     1.12310

[1440 rows x 1 columns]
         day_138
row_num
0        1.12306
1        1.12309
2        1.12346
3        1.12335
4        1.12335
...          ...
1435     1.11319
1436     1.11328
1437     1.11328
1438     1.11327
1439     1.11342

[1440 rows x 1 columns]
         day_137
row_num
0        1.11339
1        1.11338
2        1.11354
3        1.11348
4        1.11343
...          ...
1435     1.11725
1436     1.11721
1437     1.11728
1438     1.11714
1439     1.11718

[1440 rows x 1 columns]
         day_136
row_num
0        1.11716
1        1.11715
2        1.11733
3        1.11732
4        1.11728
...          ...
1435     1.12157
1436     1.12177
1437     1.12167
1438     1.12176
1439     1.12185

[1440 rows x 1 columns]
         day_135
row_num
0        1.12156
1        1.12176
2        1.12191
3        1.12183
4        1.12191
...          ...
1435     1.11720
1436     1.11740
1437     1.11743
1438     1.11744
1439     1.11741

[1440 rows x 1 columns]
         day_134
row_num
0        1.11744
1        1.11724
2        1.11749
3        1.11746
4        1.11730
...          ...
1435     1.11821
1436     1.11829
1437     1.11840
1438     1.11829
1439     1.11835

[1440 rows x 1 columns]
         day_133
row_num
0        1.11834
1        1.11825
2        1.11828
3        1.11824
4        1.11812
...          ...
1435     1.11288
1436     1.11288
1437     1.11291
1438     1.11279
1439     1.11280

[1440 rows x 1 columns]
         day_132
row_num
0        1.11290
1        1.11298
2        1.11304
3        1.11295
4        1.11286
...          ...
1435     1.12753
1436     1.12750
1437     1.12765
1438     1.12768
1439     1.12762

[1440 rows x 1 columns]
         day_131
row_num
0        1.12783
1        1.12782
2        1.12785
3        1.12783
4        1.12784
...          ...
1435     1.12769
1436     1.12764
1437     1.12763
1438     1.12765
1439     1.12769

[1440 rows x 1 columns]
         day_130
row_num
0        1.12774
1        1.12769
2        1.12784
3        1.12791
4        1.12790
...          ...
1435     1.12899
1436     1.12916
1437     1.12914
1438     1.12917
1439     1.12924

[1440 rows x 1 columns]
         day_129
row_num
0        1.12928
1        1.12929
2        1.12924
3        1.12935
4        1.12929
...          ...
1435     1.13673
1436     1.13671
1437     1.13670
1438     1.13668
1439     1.13678

[1440 rows x 1 columns]
         day_128
row_num
0        1.13688
1        1.13685
2        1.13688
3        1.13686
4        1.13684
...          ...
1435     1.12847
1436     1.12851
1437     1.12852
1438     1.12852
1439     1.12852

[1440 rows x 1 columns]
         day_127
row_num
0        1.12851
1        1.12843
2        1.12841
3        1.12856
4        1.12855
...          ...
1435     1.12527
1436     1.12536
1437     1.12536
1438     1.12529
1439     1.12547

[1440 rows x 1 columns]
         day_126
row_num
0        1.12562
1        1.12566
2        1.12572
3        1.12582
4        1.12587
...          ...
1435     1.12766
1436     1.12767
1437     1.12768
1438     1.12772
1439     1.12792

[1440 rows x 1 columns]
         day_125
row_num
0        1.12803
1        1.12804
2        1.12684
3        1.12476
4        1.12449
...          ...
1435     1.11471
1436     1.11476
1437     1.11474
1438     1.11468
1439     1.11469

[1440 rows x 1 columns]
         day_124
row_num
0        1.11466
1        1.11461
2        1.11467
3        1.11467
4        1.11457
...          ...
1435     1.10823
1436     1.10811
1437     1.10824
1438     1.10832
1439     1.10823

[1440 rows x 1 columns]
         day_123
row_num
0        1.10810
1        1.10807
2        1.10813
3        1.10813
4        1.10803
...          ...
1435     1.11917
1436     1.11927
1437     1.11929
1438     1.11898
1439     1.11887

[1440 rows x 1 columns]
         day_122
row_num
0        1.11090
1        1.11097
2        1.11085
3        1.11086
4        1.11081
...          ...
1435     1.10795
1436     1.10801
1437     1.10807
1438     1.10809
1439     1.10818

[1440 rows x 1 columns]
         day_121
row_num
0        1.10817
1        1.10816
2        1.10815
3        1.10817
4        1.10817
...          ...
1435     1.10584
1436     1.10576
1437     1.10568
1438     1.10566
1439     1.10572

[1440 rows x 1 columns]

In [25]:
###df80 to df120###
df120 = pd.DataFrame(data=df_close_col.iloc[-172800:-171360])
df120['row_num']=np.arange(len(df120))
df120.set_index('row_num',inplace=True)
df120 = df120.rename(columns={5:'day_120'})
print(df120)

df119 = pd.DataFrame(data=df_close_col.iloc[-171360:-169920])
df119['row_num']=np.arange(len(df119))
df119.set_index('row_num',inplace=True)
df119 = df119.rename(columns={5:'day_119'})
print(df119)

df118 = pd.DataFrame(data=df_close_col.iloc[-169920:-168480])
df118['row_num']=np.arange(len(df118))
df118.set_index('row_num',inplace=True)
df118 = df118.rename(columns={5:'day_118'})
print(df118)

df117 = pd.DataFrame(data=df_close_col.iloc[-168480:-167040])
df117['row_num']=np.arange(len(df117))
df117.set_index('row_num',inplace=True)
df117 = df117.rename(columns={5:'day_117'})
print(df117)

df116 = pd.DataFrame(data=df_close_col.iloc[-167040:-165600])
df116['row_num']=np.arange(len(df116))
df116.set_index('row_num',inplace=True)
df116 = df116.rename(columns={5:'day_116'})
print(df116)

df115 = pd.DataFrame(data=df_close_col.iloc[-165600:-164160])
df115['row_num']=np.arange(len(df115))
df115.set_index('row_num',inplace=True)
df115 = df115.rename(columns={5:'day_115'})
print(df115)

df114 = pd.DataFrame(data=df_close_col.iloc[-164160:-162720])
df114['row_num']=np.arange(len(df114))
df114.set_index('row_num',inplace=True)
df114 = df114.rename(columns={5:'day_114'})
print(df114)

df113 = pd.DataFrame(data=df_close_col.iloc[-162720:-161280])
df113['row_num']=np.arange(len(df113))
df113.set_index('row_num',inplace=True)
df113 = df113.rename(columns={5:'day_113'})
print(df113)

df112 = pd.DataFrame(data=df_close_col.iloc[-161280:-159840])
df112['row_num']=np.arange(len(df112))
df112.set_index('row_num',inplace=True)
df112 = df112.rename(columns={5:'day_112'})
print(df112)

df111 = pd.DataFrame(data=df_close_col.iloc[-159840:-158400])
df111['row_num']=np.arange(len(df111))
df111.set_index('row_num',inplace=True)
df111 = df111.rename(columns={5:'day_111'})
print(df111)

df110 = pd.DataFrame(data=df_close_col.iloc[-158400:-156960])
df110['row_num']=np.arange(len(df110))
df110.set_index('row_num',inplace=True)
df110 = df110.rename(columns={5:'day_110'})
print(df110)

df109 = pd.DataFrame(data=df_close_col.iloc[-156960:-155520])
df109['row_num']=np.arange(len(df109))
df109.set_index('row_num',inplace=True)
df109 = df109.rename(columns={5:'day_109'})
print(df109)

df108 = pd.DataFrame(data=df_close_col.iloc[-155520:-154080])
df108['row_num']=np.arange(len(df108))
df108.set_index('row_num',inplace=True)
df108 = df108.rename(columns={5:'day_108'})
print(df108)

df107 = pd.DataFrame(data=df_close_col.iloc[-154080:-152640])
df107['row_num']=np.arange(len(df107))
df107.set_index('row_num',inplace=True)
df107 = df107.rename(columns={5:'day_107'})
print(df107)

df106 = pd.DataFrame(data=df_close_col.iloc[-152640:-151200])
df106['row_num']=np.arange(len(df106))
df106.set_index('row_num',inplace=True)
df106 = df106.rename(columns={5:'day_106'})
print(df106)

df105 = pd.DataFrame(data=df_close_col.iloc[-151200:-149760])
df105['row_num']=np.arange(len(df105))
df105.set_index('row_num',inplace=True)
df105 = df105.rename(columns={5:'day_105'})
print(df105)

df104 = pd.DataFrame(data=df_close_col.iloc[-149760:-148320])
df104['row_num']=np.arange(len(df104))
df104.set_index('row_num',inplace=True)
df104 = df104.rename(columns={5:'day_104'})
print(df104)

df103 = pd.DataFrame(data=df_close_col.iloc[-148320:-146880])
df103['row_num']=np.arange(len(df103))
df103.set_index('row_num',inplace=True)
df103 = df103.rename(columns={5:'day_103'})
print(df103)

df102 = pd.DataFrame(data=df_close_col.iloc[-146880:-145440])
df102['row_num']=np.arange(len(df102))
df102.set_index('row_num',inplace=True)
df102 = df102.rename(columns={5:'day_102'})
print(df102)

df101 = pd.DataFrame(data=df_close_col.iloc[-145440:-144000])
df101['row_num']=np.arange(len(df101))
df101.set_index('row_num',inplace=True)
df101 = df101.rename(columns={5:'day_101'})
print(df101)


df100 = pd.DataFrame(data=df_close_col.iloc[-144000:-142560])
df100['row_num']=np.arange(len(df100))
df100.set_index('row_num',inplace=True)
df100 = df100.rename(columns={5:'day_100'})
print(df100)

df99 = pd.DataFrame(data=df_close_col.iloc[-142560:-141120])
df99['row_num']=np.arange(len(df99))
df99.set_index('row_num',inplace=True)
df99 = df99.rename(columns={5:'day_99'})
print(df99)

df98 = pd.DataFrame(data=df_close_col.iloc[-141120:-139680])
df98['row_num']=np.arange(len(df98))
df98.set_index('row_num',inplace=True)
df98 = df98.rename(columns={5:'day_98'})
print(df98)

df97 = pd.DataFrame(data=df_close_col.iloc[-139680:-138240])
df97['row_num']=np.arange(len(df97))
df97.set_index('row_num',inplace=True)
df97 = df97.rename(columns={5:'day_97'})
print(df97)

df96 = pd.DataFrame(data=df_close_col.iloc[-138240:-136800])
df96['row_num']=np.arange(len(df96))
df96.set_index('row_num',inplace=True)
df96 = df96.rename(columns={5:'day_96'})
print(df96)

df95 = pd.DataFrame(data=df_close_col.iloc[-136800:-135360])
df95['row_num']=np.arange(len(df95))
df95.set_index('row_num',inplace=True)
df95 = df95.rename(columns={5:'day_95'})
print(df95)

df94 = pd.DataFrame(data=df_close_col.iloc[-135360:-133920])
df94['row_num']=np.arange(len(df94))
df94.set_index('row_num',inplace=True)
df94 = df94.rename(columns={5:'day_94'})
print(df94)

df93 = pd.DataFrame(data=df_close_col.iloc[-133920:-132480])
df93['row_num']=np.arange(len(df93))
df93.set_index('row_num',inplace=True)
df93 = df93.rename(columns={5:'day_93'})
print(df93)

df92 = pd.DataFrame(data=df_close_col.iloc[-132480:-131040])
df92['row_num']=np.arange(len(df92))
df92.set_index('row_num',inplace=True)
df92 = df92.rename(columns={5:'day_92'})
print(df92)

df91 = pd.DataFrame(data=df_close_col.iloc[-131040:-129600])
df91['row_num']=np.arange(len(df91))
df91.set_index('row_num',inplace=True)
df91 = df91.rename(columns={5:'day_91'})
print(df91)

df90 = pd.DataFrame(data=df_close_col.iloc[-129600:-128160])
df90['row_num']=np.arange(len(df90))
df90.set_index('row_num',inplace=True)
df90 = df90.rename(columns={5:'day_90'})
print(df90)

df89 = pd.DataFrame(data=df_close_col.iloc[-128160:-126720])
df89['row_num']=np.arange(len(df89))
df89.set_index('row_num',inplace=True)
df89 = df89.rename(columns={5:'day_89'})
print(df89)

df88 = pd.DataFrame(data=df_close_col.iloc[-126720:-125280])
df88['row_num']=np.arange(len(df88))
df88.set_index('row_num',inplace=True)
df88 = df88.rename(columns={5:'day_88'})
print(df88)

df87 = pd.DataFrame(data=df_close_col.iloc[-125280:-123840])
df87['row_num']=np.arange(len(df87))
df87.set_index('row_num',inplace=True)
df87 = df87.rename(columns={5:'day_87'})
print(df87)

df86 = pd.DataFrame(data=df_close_col.iloc[-123840:-122400])
df86['row_num']=np.arange(len(df86))
df86.set_index('row_num',inplace=True)
df86 = df86.rename(columns={5:'day_86'})
print(df86)

df85 = pd.DataFrame(data=df_close_col.iloc[-122400:-120960])
df85['row_num']=np.arange(len(df85))
df85.set_index('row_num',inplace=True)
df85 = df85.rename(columns={5:'day_85'})
print(df85)

df84 = pd.DataFrame(data=df_close_col.iloc[-120960:-119520])
df84['row_num']=np.arange(len(df84))
df84.set_index('row_num',inplace=True)
df84 = df84.rename(columns={5:'day_84'})
print(df84)

df83 = pd.DataFrame(data=df_close_col.iloc[-119520:-118080])
df83['row_num']=np.arange(len(df83))
df83.set_index('row_num',inplace=True)
df83 = df83.rename(columns={5:'day_83'})
print(df83)

df82 = pd.DataFrame(data=df_close_col.iloc[-118080:-116640])
df82['row_num']=np.arange(len(df82))
df82.set_index('row_num',inplace=True)
df82 = df82.rename(columns={5:'day_82'})
print(df82)

df81 = pd.DataFrame(data=df_close_col.iloc[-116640:-115200])
df81['row_num']=np.arange(len(df81))
df81.set_index('row_num',inplace=True)
df81 = df81.rename(columns={5:'day_81'})
print(df81)
###df80 to df 120###

         day_120
row_num
0        1.10567
1        1.10564
2        1.10567
3        1.10573
4        1.10579
...          ...
1435     1.10346
1436     1.10345
1437     1.10376
1438     1.10379
1439     1.10375

[1440 rows x 1 columns]
         day_119
row_num
0        1.10376
1        1.10366
2        1.10357
3        1.10369
4        1.10365
...          ...
1435     1.10629
1436     1.10628
1437     1.10648
1438     1.10640
1439     1.10646

[1440 rows x 1 columns]
         day_118
row_num
0        1.10637
1        1.10638
2        1.10636
3        1.10631
4        1.10609
...          ...
1435     1.10413
1436     1.10418
1437     1.10419
1438     1.10413
1439     1.10415

[1440 rows x 1 columns]
         day_117
row_num
0        1.10403
1        1.10410
2        1.10417
3        1.10415
4        1.10426
...          ...
1435     1.09169
1436     1.09175
1437     1.09184
1438     1.09179
1439     1.09190

[1440 rows x 1 columns]
         day_116
row_num
0        1.09194
1        1.09197
2        1.09191
3        1.09193
4        1.09189
...          ...
1435     1.09707
1436     1.09698
1437     1.09694
1438     1.09699
1439     1.09694

[1440 rows x 1 columns]
         day_115
row_num
0        1.09684
1        1.09683
2        1.09701
3        1.09709
4        1.09709
...          ...
1435     1.10082
1436     1.10073
1437     1.10072
1438     1.10075
1439     1.10073

[1440 rows x 1 columns]
         day_114
row_num
0        1.10069
1        1.10069
2        1.10055
3        1.10054
4        1.10066
...          ...
1435     1.11266
1436     1.11277
1437     1.11276
1438     1.11265
1439     1.11255

[1440 rows x 1 columns]
         day_113
row_num
0        1.11246
1        1.11245
2        1.11247
3        1.11246
4        1.11250
...          ...
1435     1.11046
1436     1.11045
1437     1.11049
1438     1.11042
1439     1.11044

[1440 rows x 1 columns]
         day_112
row_num
0        1.11041
1        1.11035
2        1.11039
3        1.11049
4        1.11044
...          ...
1435     1.11516
1436     1.11516
1437     1.11516
1438     1.11532
1439     1.11530

[1440 rows x 1 columns]
         day_111
row_num
0        1.11536
1        1.11536
2        1.11547
3        1.11549
4        1.11562
...          ...
1435     1.10523
1436     1.10494
1437     1.10488
1438     1.10495
1439     1.10495

[1440 rows x 1 columns]
         day_110
row_num
0        1.10485
1        1.10492
2        1.10492
3        1.10494
4        1.10492
...          ...
1435     1.10197
1436     1.10226
1437     1.10204
1438     1.10219
1439     1.10214

[1440 rows x 1 columns]
         day_109
row_num
0        1.10214
1        1.10218
2        1.10233
3        1.10228
4        1.10234
...          ...
1435     1.10654
1436     1.10651
1437     1.10645
1438     1.10649
1439     1.10655

[1440 rows x 1 columns]
         day_108
row_num
0        1.10654
1        1.10648
2        1.10649
3        1.10652
4        1.10649
...          ...
1435     1.10111
1436     1.10107
1437     1.10114
1438     1.10112
1439     1.10112

[1440 rows x 1 columns]
         day_107
row_num
0        1.10113
1        1.10114
2        1.10111
3        1.10082
4        1.10088
...          ...
1435     1.11037
1436     1.11042
1437     1.11054
1438     1.11040
1439     1.11038

[1440 rows x 1 columns]
         day_106
row_num
0        1.11034
1        1.11035
2        1.11041
3        1.11040
4        1.11045
...          ...
1435     1.11746
1436     1.11750
1437     1.11742
1438     1.11753
1439     1.11735

[1440 rows x 1 columns]
         day_105
row_num
0        1.11702
1        1.11719
2        1.11714
3        1.11731
4        1.11716
...          ...
1435     1.11231
1436     1.11220
1437     1.11210
1438     1.11200
1439     1.11214

[1440 rows x 1 columns]
         day_104
row_num
0        1.11216
1        1.11193
2        1.11185
3        1.11202
4        1.11197
...          ...
1435     1.11932
1436     1.11916
1437     1.11926
1438     1.11952
1439     1.11949

[1440 rows x 1 columns]
         day_103
row_num
0        1.11963
1        1.11961
2        1.11992
3        1.11995
4        1.12001
...          ...
1435     1.11384
1436     1.11374
1437     1.11366
1438     1.11367
1439     1.11382

[1440 rows x 1 columns]
         day_102
row_num
0        1.11363
1        1.11370
2        1.11390
3        1.11407
4        1.11418
...          ...
1435     1.11267
1436     1.11265
1437     1.11291
1438     1.11289
1439     1.11294

[1440 rows x 1 columns]
         day_101
row_num
0        1.11295
1        1.11284
2        1.11309
3        1.11309
4        1.11300
...          ...
1435     1.10933
1436     1.10946
1437     1.10963
1438     1.10957
1439     1.10942

[1440 rows x 1 columns]
         day_100
row_num
0        1.10941
1        1.10931
2        1.10927
3        1.10925
4        1.10916
...          ...
1435     1.10099
1436     1.10099
1437     1.10092
1438     1.10073
1439     1.10046

[1440 rows x 1 columns]
          day_99
row_num
0        1.10037
1        1.10058
2        1.10074
3        1.10107
4        1.10092
...          ...
1435     1.10400
1436     1.10410
1437     1.10429
1438     1.10443
1439     1.10432

[1440 rows x 1 columns]
          day_98
row_num
0        1.10417
1        1.10412
2        1.10393
3        1.10430
4        1.10424
...          ...
1435     1.09165
1436     1.09201
1437     1.09232
1438     1.09206
1439     1.09196

[1440 rows x 1 columns]
          day_97
row_num
0        1.09181
1        1.09221
2        1.09220
3        1.09209
4        1.09224
...          ...
1435     1.08136
1436     1.08117
1437     1.08117
1438     1.08117
1439     1.08112

[1440 rows x 1 columns]
          day_96
row_num
0        1.08090
1        1.08055
2        1.08047
3        1.08039
4        1.08052
...          ...
1435     1.08715
1436     1.08720
1437     1.08754
1438     1.08752
1439     1.08757

[1440 rows x 1 columns]
          day_95
row_num
0        1.08750
1        1.08721
2        1.08770
3        1.08779
4        1.08808
...          ...
1435     1.11679
1436     1.11691
1437     1.11615
1438     1.11605
1439     1.11598

[1440 rows x 1 columns]
          day_94
row_num
0        1.11575
1        1.11550
2        1.11510
3        1.11547
4        1.11587
...          ...
1435     1.13094
1436     1.13100
1437     1.13098
1438     1.13126
1439     1.13083

[1440 rows x 1 columns]
          day_93
row_num
0        1.13163
1        1.13195
2        1.13198
3        1.13206
4        1.13157
...          ...
1435     1.10019
1436     1.10065
1437     1.10099
1438     1.10186
1439     1.10073

[1440 rows x 1 columns]
          day_92
row_num
0        1.10059
1        1.10001
2        1.10007
3        1.09996
4        1.09975
...          ...
1435     1.07467
1436     1.07471
1437     1.07502
1438     1.07540
1439     1.07548

[1440 rows x 1 columns]
          day_91
row_num
0        1.07523
1        1.07593
2        1.07714
3        1.07721
4        1.07704
...          ...
1435     1.10060
1436     1.10072
1437     1.10128
1438     1.10163
1439     1.10205

[1440 rows x 1 columns]
          day_90
row_num
0        1.10191
1        1.10318
2        1.10250
3        1.10198
4        1.10261
...          ...
1435     1.09046
1436     1.09039
1437     1.09025
1438     1.09035
1439     1.09049

[1440 rows x 1 columns]
          day_89
row_num
0        1.09046
1        1.09012
2        1.08973
3        1.08971
4        1.08963
...          ...
1435     1.09816
1436     1.09819
1437     1.09821
1438     1.09856
1439     1.09849

[1440 rows x 1 columns]
          day_88
row_num
0        1.09844
1        1.09854
2        1.09827
3        1.09803
4        1.09812
...          ...
1435     1.08594
1436     1.08575
1437     1.08592
1438     1.08603
1439     1.08596

[1440 rows x 1 columns]
          day_87
row_num
0        1.08611
1        1.08596
2        1.08594
3        1.08592
4        1.08572
...          ...
1435     1.08310
1436     1.08326
1437     1.08329
1438     1.08316
1439     1.08265

[1440 rows x 1 columns]
          day_86
row_num
0        1.08249
1        1.08258
2        1.08247
3        1.08241
4        1.08229
...          ...
1435     1.08464
1436     1.08447
1437     1.08451
1438     1.08426
1439     1.08414

[1440 rows x 1 columns]
          day_85
row_num
0        1.08415
1        1.08420
2        1.08387
3        1.08371
4        1.08359
...          ...
1435     1.08505
1436     1.08490
1437     1.08485
1438     1.08472
1439     1.08470

[1440 rows x 1 columns]
          day_84
row_num
0        1.08470
1        1.08475
2        1.08486
3        1.08478
4        1.08476
...          ...
1435     1.09187
1436     1.09231
1437     1.09227
1438     1.09233
1439     1.09226

[1440 rows x 1 columns]
          day_83
row_num
0        1.09237
1        1.09242
2        1.09228
3        1.09246
4        1.09238
...          ...
1435     1.09871
1436     1.09881
1437     1.09865
1438     1.09840
1439     1.09845

[1440 rows x 1 columns]
          day_82
row_num
0        1.09830
1        1.09839
2        1.09835
3        1.09828
4        1.09818
...          ...
1435     1.11651
1436     1.11647
1437     1.11665
1438     1.11659
1439     1.11667

[1440 rows x 1 columns]
          day_81
row_num
0        1.11672
1        1.11676
2        1.11677
3        1.11685
4        1.11691
...          ...
1435     1.13366
1436     1.13361
1437     1.13351
1438     1.13347
1439     1.13360

[1440 rows x 1 columns]

In [26]:
###df40 to df80###
df80 = pd.DataFrame(data=df_close_col.iloc[-115200:-113760])
df80['row_num']=np.arange(len(df80))
df80.set_index('row_num',inplace=True)
df80 = df80.rename(columns={5:'day_80'})
print(df80)

df79 = pd.DataFrame(data=df_close_col.iloc[-113760:-112320])
df79['row_num']=np.arange(len(df79))
df79.set_index('row_num',inplace=True)
df79 = df79.rename(columns={5:'day_79'})
print(df79)

df78 = pd.DataFrame(data=df_close_col.iloc[-112320:-110880])
df78['row_num']=np.arange(len(df78))
df78.set_index('row_num',inplace=True)
df78 = df78.rename(columns={5:'day_78'})
print(df78)

df77 = pd.DataFrame(data=df_close_col.iloc[-110880:-109440])
df77['row_num']=np.arange(len(df77))
df77.set_index('row_num',inplace=True)
df77 = df77.rename(columns={5:'day_77'})
print(df77)

df76 = pd.DataFrame(data=df_close_col.iloc[-109440:-108000])
df76['row_num']=np.arange(len(df76))
df76.set_index('row_num',inplace=True)
df76 = df76.rename(columns={5:'day_76'})
print(df76)

df75 = pd.DataFrame(data=df_close_col.iloc[-108000:-106560])
df75['row_num']=np.arange(len(df75))
df75.set_index('row_num',inplace=True)
df75 = df75.rename(columns={5:'day_75'})
print(df75)

df74 = pd.DataFrame(data=df_close_col.iloc[-106560:-105120])
df74['row_num']=np.arange(len(df74))
df74.set_index('row_num',inplace=True)
df74 = df74.rename(columns={5:'day_74'})
print(df74)

df73 = pd.DataFrame(data=df_close_col.iloc[-105120:-103680])
df73['row_num']=np.arange(len(df73))
df73.set_index('row_num',inplace=True)
df73 = df73.rename(columns={5:'day_73'})
print(df73)

df72 = pd.DataFrame(data=df_close_col.iloc[-103680:-102240])
df72['row_num']=np.arange(len(df72))
df72.set_index('row_num',inplace=True)
df72 = df72.rename(columns={5:'day_72'})
print(df72)

df71 = pd.DataFrame(data=df_close_col.iloc[-102240:-100800])
df71['row_num']=np.arange(len(df71))
df71.set_index('row_num',inplace=True)
df71 = df71.rename(columns={5:'day_71'})
print(df71)

df70 = pd.DataFrame(data=df_close_col.iloc[-100800:-99360])
df70['row_num']=np.arange(len(df70))
df70.set_index('row_num',inplace=True)
df70 = df70.rename(columns={5:'day_70'})
print(df70)

df69 = pd.DataFrame(data=df_close_col.iloc[-99360:-97920])
df69['row_num']=np.arange(len(df69))
df69.set_index('row_num',inplace=True)
df69 = df69.rename(columns={5:'day_69'})
print(df69)

df68 = pd.DataFrame(data=df_close_col.iloc[-97920:-96480])
df68['row_num']=np.arange(len(df68))
df68.set_index('row_num',inplace=True)
df68 = df68.rename(columns={5:'day_68'})
print(df68)

df67 = pd.DataFrame(data=df_close_col.iloc[-96480:-95040])
df67['row_num']=np.arange(len(df67))
df67.set_index('row_num',inplace=True)
df67 = df67.rename(columns={5:'day_67'})
print(df67)

df66 = pd.DataFrame(data=df_close_col.iloc[-95040:-93600])
df66['row_num']=np.arange(len(df66))
df66.set_index('row_num',inplace=True)
df66 = df66.rename(columns={5:'day_66'})
print(df66)

df65 = pd.DataFrame(data=df_close_col.iloc[-93600:-92160])
df65['row_num']=np.arange(len(df65))
df65.set_index('row_num',inplace=True)
df65 = df65.rename(columns={5:'day_65'})
print(df65)

df64 = pd.DataFrame(data=df_close_col.iloc[-92160:-90720])
df64['row_num']=np.arange(len(df64))
df64.set_index('row_num',inplace=True)
df64 = df64.rename(columns={5:'day_64'})
print(df64)

df63 = pd.DataFrame(data=df_close_col.iloc[-90720:-89280])
df63['row_num']=np.arange(len(df63))
df63.set_index('row_num',inplace=True)
df63 = df63.rename(columns={5:'day_63'})
print(df63)

df62 = pd.DataFrame(data=df_close_col.iloc[-89280:-87840])
df62['row_num']=np.arange(len(df62))
df62.set_index('row_num',inplace=True)
df62 = df62.rename(columns={5:'day_62'})
print(df62)

df61 = pd.DataFrame(data=df_close_col.iloc[-87840:-86400])
df61['row_num']=np.arange(len(df61))
df61.set_index('row_num',inplace=True)
df61 = df61.rename(columns={5:'day_61'})
print(df61)


df60 = pd.DataFrame(data=df_close_col.iloc[-86400:-84960])
df60['row_num']=np.arange(len(df60))
df60.set_index('row_num',inplace=True)
df60 = df60.rename(columns={5:'day_60'})
print(df60)

df59 = pd.DataFrame(data=df_close_col.iloc[-84960:-83520])
df59['row_num']=np.arange(len(df59))
df59.set_index('row_num',inplace=True)
df59 = df59.rename(columns={5:'day_59'})
print(df59)

df58 = pd.DataFrame(data=df_close_col.iloc[-83520:-82080])
df58['row_num']=np.arange(len(df58))
df58.set_index('row_num',inplace=True)
df58 = df58.rename(columns={5:'day_58'})
print(df58)

df57 = pd.DataFrame(data=df_close_col.iloc[-82080:-80640])
df57['row_num']=np.arange(len(df57))
df57.set_index('row_num',inplace=True)
df57 = df57.rename(columns={5:'day_57'})
print(df57)

df56 = pd.DataFrame(data=df_close_col.iloc[-80640:-79200])
df56['row_num']=np.arange(len(df56))
df56.set_index('row_num',inplace=True)
df56 = df56.rename(columns={5:'day_56'})
print(df56)

df55 = pd.DataFrame(data=df_close_col.iloc[-79200:-77760])
df55['row_num']=np.arange(len(df55))
df55.set_index('row_num',inplace=True)
df55 = df55.rename(columns={5:'day_55'})
print(df55)

df54 = pd.DataFrame(data=df_close_col.iloc[-77760:-76320])
df54['row_num']=np.arange(len(df54))
df54.set_index('row_num',inplace=True)
df54 = df54.rename(columns={5:'day_54'})
print(df54)

df53 = pd.DataFrame(data=df_close_col.iloc[-76320:-74880])
df53['row_num']=np.arange(len(df53))
df53.set_index('row_num',inplace=True)
df53 = df53.rename(columns={5:'day_53'})
print(df53)

df52 = pd.DataFrame(data=df_close_col.iloc[-74880:-73440])
df52['row_num']=np.arange(len(df52))
df52.set_index('row_num',inplace=True)
df52 = df52.rename(columns={5:'day_52'})
print(df52)

df51 = pd.DataFrame(data=df_close_col.iloc[-73440:-72000])
df51['row_num']=np.arange(len(df51))
df51.set_index('row_num',inplace=True)
df51 = df51.rename(columns={5:'day_51'})
print(df51)

df50 = pd.DataFrame(data=df_close_col.iloc[-72000:-70560])
df50['row_num']=np.arange(len(df50))
df50.set_index('row_num',inplace=True)
df50 = df50.rename(columns={5:'day_50'})
print(df50)

df49 = pd.DataFrame(data=df_close_col.iloc[-70560:-69120])
df49['row_num']=np.arange(len(df49))
df49.set_index('row_num',inplace=True)
df49 = df49.rename(columns={5:'day_49'})
print(df49)

df48 = pd.DataFrame(data=df_close_col.iloc[-69120:-67680])
df48['row_num']=np.arange(len(df48))
df48.set_index('row_num',inplace=True)
df48 = df48.rename(columns={5:'day_48'})
print(df48)

df47 = pd.DataFrame(data=df_close_col.iloc[-67680:-66240])
df47['row_num']=np.arange(len(df47))
df47.set_index('row_num',inplace=True)
df47 = df47.rename(columns={5:'day_47'})
print(df47)

df46 = pd.DataFrame(data=df_close_col.iloc[-66240:-64800])
df46['row_num']=np.arange(len(df46))
df46.set_index('row_num',inplace=True)
df46 = df46.rename(columns={5:'day_46'})
print(df46)

df45 = pd.DataFrame(data=df_close_col.iloc[-64800:-63360])
df45['row_num']=np.arange(len(df45))
df45.set_index('row_num',inplace=True)
df45 = df45.rename(columns={5:'day_45'})
print(df45)

df44 = pd.DataFrame(data=df_close_col.iloc[-63360:-61920])
df44['row_num']=np.arange(len(df44))
df44.set_index('row_num',inplace=True)
df44 = df44.rename(columns={5:'day_44'})
print(df44)

df43 = pd.DataFrame(data=df_close_col.iloc[-61920:-60480])
df43['row_num']=np.arange(len(df43))
df43.set_index('row_num',inplace=True)
df43 = df43.rename(columns={5:'day_43'})
print(df43)

df42 = pd.DataFrame(data=df_close_col.iloc[-60480:-59040])
df42['row_num']=np.arange(len(df42))
df42.set_index('row_num',inplace=True)
df42 = df42.rename(columns={5:'day_42'})
print(df42)

df41 = pd.DataFrame(data=df_close_col.iloc[-59040:-57600])
df41['row_num']=np.arange(len(df41))
df41.set_index('row_num',inplace=True)
df41 = df41.rename(columns={5:'day_41'})
print(df41)
###df40 to df80###

          day_80
row_num
0        1.13350
1        1.13373
2        1.13389
3        1.13383
4        1.13369
...          ...
1435     1.12621
1436     1.12630
1437     1.12621
1438     1.12621
1439     1.12620

[1440 rows x 1 columns]
          day_79
row_num
0        1.12610
1        1.12633
2        1.12605
3        1.12601
4        1.12627
...          ...
1435     1.13048
1436     1.13052
1437     1.13057
1438     1.13066
1439     1.13064

[1440 rows x 1 columns]
          day_78
row_num
0        1.13074
1        1.13094
2        1.13102
3        1.13088
4        1.13095
...          ...
1435     1.12334
1436     1.12337
1437     1.12331
1438     1.12339
1439     1.12336

[1440 rows x 1 columns]
          day_77
row_num
0        1.12347
1        1.12353
2        1.12334
3        1.12325
4        1.12337
...          ...
1435     1.12738
1436     1.12727
1437     1.12723
1438     1.12727
1439     1.12737

[1440 rows x 1 columns]
          day_76
row_num
0        1.12729
1        1.12718
2        1.12744
3        1.12736
4        1.12737
...          ...
1435     1.13989
1436     1.13975
1437     1.13993
1438     1.14007
1439     1.13973

[1440 rows x 1 columns]
          day_75
row_num
0        1.13950
1        1.13956
2        1.13961
3        1.13967
4        1.13952
...          ...
1435     1.15223
1436     1.15265
1437     1.15272
1438     1.15309
1439     1.15261

[1440 rows x 1 columns]
          day_74
row_num
0        1.15292
1        1.15282
2        1.15286
3        1.15288
4        1.15297
...          ...
1435     1.17150
1436     1.17151
1437     1.17160
1438     1.17162
1439     1.17162

[1440 rows x 1 columns]
          day_73
row_num
0        1.17163
1        1.17162
2        1.17192
3        1.17183
4        1.17203
...          ...
1435     1.17986
1436     1.17982
1437     1.18008
1438     1.17970
1439     1.17995

[1440 rows x 1 columns]
          day_72
row_num
0        1.18002
1        1.17979
2        1.17992
3        1.17968
4        1.17958
...          ...
1435     1.17396
1436     1.17398
1437     1.17405
1438     1.17401
1439     1.17400

[1440 rows x 1 columns]
          day_71
row_num
0        1.17403
1        1.17416
2        1.17423
3        1.17441
4        1.17417
...          ...
1435     1.19305
1436     1.19306
1437     1.19306
1438     1.19324
1439     1.19318

[1440 rows x 1 columns]
          day_70
row_num
0        1.19321
1        1.19322
2        1.19310
3        1.19303
4        1.19304
...          ...
1435     1.18340
1436     1.18344
1437     1.18340
1438     1.18338
1439     1.18334

[1440 rows x 1 columns]
          day_69
row_num
0        1.18331
1        1.18332
2        1.18333
3        1.18342
4        1.18345
...          ...
1435     1.19149
1436     1.19142
1437     1.19150
1438     1.19150
1439     1.19151

[1440 rows x 1 columns]
          day_68
row_num
0        1.19150
1        1.19153
2        1.19148
3        1.19152
4        1.19164
...          ...
1435     1.17739
1436     1.17740
1437     1.17739
1438     1.17724
1439     1.17701

[1440 rows x 1 columns]
          day_67
row_num
0        1.17653
1        1.17617
2        1.17654
3        1.17695
4        1.17642
...          ...
1435     1.18479
1436     1.18479
1437     1.18488
1438     1.18486
1439     1.18487

[1440 rows x 1 columns]
          day_66
row_num
0        1.18495
1        1.18498
2        1.18504
3        1.18499
4        1.18497
...          ...
1435     1.17073
1436     1.17071
1437     1.17078
1438     1.17053
1439     1.17059

[1440 rows x 1 columns]
          day_65
row_num
0        1.17043
1        1.17063
2        1.17053
3        1.17063
4        1.17049
...          ...
1435     1.17423
1436     1.17421
1437     1.17426
1438     1.17429
1439     1.17432

[1440 rows x 1 columns]
          day_64
row_num
0        1.17434
1        1.17441
2        1.17435
3        1.17437
4        1.17442
...          ...
1435     1.17376
1436     1.17372
1437     1.17369
1438     1.17357
1439     1.17366

[1440 rows x 1 columns]
          day_63
row_num
0        1.17342
1        1.17316
2        1.17339
3        1.17356
4        1.17340
...          ...
1435     1.17436
1436     1.17449
1437     1.17447
1438     1.17450
1439     1.17453

[1440 rows x 1 columns]
          day_62
row_num
0        1.17435
1        1.17436
2        1.17429
3        1.17428
4        1.17424
...          ...
1435     1.18278
1436     1.18276
1437     1.18260
1438     1.18279
1439     1.18279

[1440 rows x 1 columns]
          day_61
row_num
0        1.18302
1        1.18300
2        1.18304
3        1.18296
4        1.18309
...          ...
1435     1.17810
1436     1.17815
1437     1.17815
1438     1.17734
1439     1.17735

[1440 rows x 1 columns]
          day_60
row_num
0        1.17758
1        1.17796
2        1.17812
3        1.17799
4        1.17792
...          ...
1435     1.16892
1436     1.17049
1437     1.17112
1438     1.17114
1439     1.17034

[1440 rows x 1 columns]
          day_59
row_num
0        1.17079
1        1.16827
2        1.16841
3        1.16799
4        1.16902
...          ...
1435     1.18192
1436     1.18216
1437     1.18231
1438     1.18200
1439     1.18220

[1440 rows x 1 columns]
          day_58
row_num
0        1.18236
1        1.18243
2        1.18256
3        1.18247
4        1.18276
...          ...
1435     1.18544
1436     1.18539
1437     1.18537
1438     1.18543
1439     1.18548

[1440 rows x 1 columns]
          day_57
row_num
0        1.18532
1        1.18518
2        1.18511
3        1.18532
4        1.18533
...          ...
1435     1.19026
1436     1.19023
1437     1.19013
1438     1.19007
1439     1.19008

[1440 rows x 1 columns]
          day_56
row_num
0        1.19002
1        1.19015
2        1.19014
3        1.19018
4        1.19005
...          ...
1435     1.20636
1436     1.20645
1437     1.20621
1438     1.20639
1439     1.20651

[1440 rows x 1 columns]
          day_55
row_num
0        1.20664
1        1.20667
2        1.20677
3        1.20660
4        1.20683
...          ...
1435     1.21100
1436     1.21104
1437     1.21110
1438     1.21102
1439     1.21103

[1440 rows x 1 columns]
          day_54
row_num
0        1.21110
1        1.21124
2        1.21123
3        1.21121
4        1.21113
...          ...
1435     1.21513
1436     1.21522
1437     1.21550
1438     1.21527
1439     1.21523

[1440 rows x 1 columns]
          day_53
row_num
0        1.21522
1        1.21517
2        1.21511
3        1.21529
4        1.21522
...          ...
1435     1.21734
1436     1.21745
1437     1.21792
1438     1.21787
1439     1.21771

[1440 rows x 1 columns]
          day_52
row_num
0        1.21772
1        1.21771
2        1.21767
3        1.21762
4        1.21759
...          ...
1435     1.22888
1436     1.22883
1437     1.22876
1438     1.22861
1439     1.22855

[1440 rows x 1 columns]
          day_51
row_num
0        1.22861
1        1.22866
2        1.22866
3        1.22882
4        1.22901
...          ...
1435     1.22652
1436     1.22669
1437     1.22643
1438     1.22676
1439     1.22632

[1440 rows x 1 columns]
          day_50
row_num
0        1.22634
1        1.22633
2        1.22610
3        1.22638
4        1.22664
...          ...
1435     1.21390
1436     1.21383
1437     1.21373
1438     1.21347
1439     1.21375

[1440 rows x 1 columns]
          day_49
row_num
0        1.21375
1        1.21382
2        1.21435
3        1.21429
4        1.21451
...          ...
1435     1.21658
1436     1.21659
1437     1.21662
1438     1.21655
1439     1.21630

[1440 rows x 1 columns]
          day_48
row_num
0        1.21606
1        1.21598
2        1.21598
3        1.21578
4        1.21563
...          ...
1435     1.21039
1436     1.21049
1437     1.21055
1438     1.21074
1439     1.21063

[1440 rows x 1 columns]
          day_47
row_num
0        1.21058
1        1.21051
2        1.21009
3        1.21009
4        1.21001
...          ...
1435     1.19652
1436     1.19654
1437     1.19643
1438     1.19651
1439     1.19654

[1440 rows x 1 columns]
          day_46
row_num
0        1.19627
1        1.19624
2        1.19612
3        1.19627
4        1.19648
...          ...
1435     1.21253
1436     1.21244
1437     1.21226
1438     1.21243
1439     1.21237

[1440 rows x 1 columns]
          day_45
row_num
0        1.21238
1        1.21238
2        1.21232
3        1.21263
4        1.21264
...          ...
1435     1.20934
1436     1.20927
1437     1.20989
1438     1.21058
1439     1.21039

[1440 rows x 1 columns]
          day_44
row_num
0        1.21019
1        1.21008
2        1.21020
3        1.21041
4        1.21060
...          ...
1435     1.21442
1436     1.21404
1437     1.21412
1438     1.21408
1439     1.21391

[1440 rows x 1 columns]
          day_43
row_num
0        1.21343
1        1.21297
2        1.21318
3        1.21339
4        1.21365
...          ...
1435     1.19569
1436     1.19579
1437     1.19543
1438     1.19567
1439     1.19545

[1440 rows x 1 columns]
          day_42
row_num
0        1.19556
1        1.19593
2        1.19539
3        1.19564
4        1.19504
...          ...
1435     1.19437
1436     1.19420
1437     1.19452
1438     1.19426
1439     1.19397

[1440 rows x 1 columns]
          day_41
row_num
0        1.19474
1        1.19492
2        1.19429
3        1.19453
4        1.19390
...          ...
1435     1.19272
1436     1.19250
1437     1.19293
1438     1.19325
1439     1.19321

[1440 rows x 1 columns]

In [27]:
###df1 to df40###
df40 = pd.DataFrame(data=df_close_col.iloc[-57600:-56160])
df40['row_num']=np.arange(len(df40))
df40.set_index('row_num',inplace=True)
df40 = df40.rename(columns={5:'day_40'})
print(df40)

df39 = pd.DataFrame(data=df_close_col.iloc[-56160:-54720])
df39['row_num']=np.arange(len(df39))
df39.set_index('row_num',inplace=True)
df39 = df39.rename(columns={5:'day_39'})
print(df39)

df38 = pd.DataFrame(data=df_close_col.iloc[-54720:-53280])
df38['row_num']=np.arange(len(df38))
df38.set_index('row_num',inplace=True)
df38 = df38.rename(columns={5:'day_38'})
print(df38)

df37 = pd.DataFrame(data=df_close_col.iloc[-53280:-51840])
df37['row_num']=np.arange(len(df37))
df37.set_index('row_num',inplace=True)
df37 = df37.rename(columns={5:'day_37'})
print(df37)

df36 = pd.DataFrame(data=df_close_col.iloc[-51840:-50400])
df36['row_num']=np.arange(len(df36))
df36.set_index('row_num',inplace=True)
df36 = df36.rename(columns={5:'day_36'})
print(df36)

df35 = pd.DataFrame(data=df_close_col.iloc[-50400:-48960])
df35['row_num']=np.arange(len(df35))
df35.set_index('row_num',inplace=True)
df35 = df35.rename(columns={5:'day_35'})
print(df35)

df34 = pd.DataFrame(data=df_close_col.iloc[-48960:-47520])
df34['row_num']=np.arange(len(df34))
df34.set_index('row_num',inplace=True)
df34 = df34.rename(columns={5:'day_34'})
print(df34)

df33 = pd.DataFrame(data=df_close_col.iloc[-47520:-46080])
df33['row_num']=np.arange(len(df33))
df33.set_index('row_num',inplace=True)
df33 = df33.rename(columns={5:'day_33'})
print(df33)

df32 = pd.DataFrame(data=df_close_col.iloc[-46080:-44640])
df32['row_num']=np.arange(len(df32))
df32.set_index('row_num',inplace=True)
df32 = df32.rename(columns={5:'day_32'})
print(df32)

df31 = pd.DataFrame(data=df_close_col.iloc[-44640:-43200])
df31['row_num']=np.arange(len(df31))
df31.set_index('row_num',inplace=True)
df31 = df31.rename(columns={5:'day_31'})
print(df31)

df30 = pd.DataFrame(data=df_close_col.iloc[-43200:-41760])
df30['row_num']=np.arange(len(df30))
df30.set_index('row_num',inplace=True)
df30 = df30.rename(columns={5:'day_30'})
print(df30)

df29 = pd.DataFrame(data=df_close_col.iloc[-41760:-40320])
df29['row_num']=np.arange(len(df29))
df29.set_index('row_num',inplace=True)
df29 = df29.rename(columns={5:'day_29'})
print(df29)

df28 = pd.DataFrame(data=df_close_col.iloc[-40320:-38880])
df28['row_num']=np.arange(len(df28))
df28.set_index('row_num',inplace=True)
df28 = df28.rename(columns={5:'day_28'})
print(df28)

df27 = pd.DataFrame(data=df_close_col.iloc[-38880:-37440])
df27['row_num']=np.arange(len(df27))
df27.set_index('row_num',inplace=True)
df27 = df27.rename(columns={5:'day_27'})
print(df27)

df26 = pd.DataFrame(data=df_close_col.iloc[-37440:-36000])
df26['row_num']=np.arange(len(df26))
df26.set_index('row_num',inplace=True)
df26 = df26.rename(columns={5:'day_26'})
print(df26)

df25 = pd.DataFrame(data=df_close_col.iloc[-36000:-34560])
df25['row_num']=np.arange(len(df25))
df25.set_index('row_num',inplace=True)
df25 = df25.rename(columns={5:'day_25'})
print(df25)

df24 = pd.DataFrame(data=df_close_col.iloc[-34560:-33120])
df24['row_num']=np.arange(len(df24))
df24.set_index('row_num',inplace=True)
df24 = df24.rename(columns={5:'day_24'})
print(df24)

df23 = pd.DataFrame(data=df_close_col.iloc[-33120:-31680])
df23['row_num']=np.arange(len(df23))
df23.set_index('row_num',inplace=True)
df23 = df23.rename(columns={5:'day_23'})
print(df23)

df22 = pd.DataFrame(data=df_close_col.iloc[-31680:-30240])
df22['row_num']=np.arange(len(df22))
df22.set_index('row_num',inplace=True)
df22 = df22.rename(columns={5:'day_22'})
print(df22)

df21 = pd.DataFrame(data=df_close_col.iloc[-30240:-28800])
df21['row_num']=np.arange(len(df21))
df21.set_index('row_num',inplace=True)
df21 = df21.rename(columns={5:'day_21'})
print(df21)


df20 = pd.DataFrame(data=df_close_col.iloc[-28800:-27360])
df20['row_num']=np.arange(len(df20))
df20.set_index('row_num',inplace=True)
df20 = df20.rename(columns={5:'day_20'})
print(df20)

df19 = pd.DataFrame(data=df_close_col.iloc[-27360:-25920])
df19['row_num']=np.arange(len(df19))
df19.set_index('row_num',inplace=True)
df19 = df19.rename(columns={5:'day_19'})
print(df19)

df18 = pd.DataFrame(data=df_close_col.iloc[-25920:-24480])
df18['row_num']=np.arange(len(df18))
df18.set_index('row_num',inplace=True)
df18 = df18.rename(columns={5:'day_18'})
print(df18)

df17 = pd.DataFrame(data=df_close_col.iloc[-24480:-23040])
df17['row_num']=np.arange(len(df17))
df17.set_index('row_num',inplace=True)
df17 = df17.rename(columns={5:'day_17'})
print(df17)

df16 = pd.DataFrame(data=df_close_col.iloc[-23040:-21600])
df16['row_num']=np.arange(len(df16))
df16.set_index('row_num',inplace=True)
df16 = df16.rename(columns={5:'day_16'})
print(df16)

df15 = pd.DataFrame(data=df_close_col.iloc[-21600:-20160])
df15['row_num']=np.arange(len(df15))
df15.set_index('row_num',inplace=True)
df15 = df15.rename(columns={5:'day_15'})
print(df15)

df14 = pd.DataFrame(data=df_close_col.iloc[-20160:-18720])
df14['row_num']=np.arange(len(df14))
df14.set_index('row_num',inplace=True)
df14 = df14.rename(columns={5:'day_14'})
print(df14)

df13 = pd.DataFrame(data=df_close_col.iloc[-18720:-17280])
df13['row_num']=np.arange(len(df13))
df13.set_index('row_num',inplace=True)
df13 = df13.rename(columns={5:'day_13'})
print(df13)

df12 = pd.DataFrame(data=df_close_col.iloc[-17280:-15840])
df12['row_num']=np.arange(len(df12))
df12.set_index('row_num',inplace=True)
df12 = df12.rename(columns={5:'day_12'})
print(df12)

df11 = pd.DataFrame(data=df_close_col.iloc[-15840:-14400])
df11['row_num']=np.arange(len(df11))
df11.set_index('row_num',inplace=True)
df11 = df11.rename(columns={5:'day_11'})
print(df11)

df10 = pd.DataFrame(data=df_close_col.iloc[-14400:-12960])
df10['row_num']=np.arange(len(df10))
df10.set_index('row_num',inplace=True)
df10 = df10.rename(columns={5:'day_10'})
print(df10)

df9 = pd.DataFrame(data=df_close_col.iloc[-12960:-11520])
df9['row_num']=np.arange(len(df9))
df9.set_index('row_num',inplace=True)
df9 = df9.rename(columns={5:'day_9'})
print(df9)

df8 = pd.DataFrame(data=df_close_col.iloc[-11520:-10080])
df8['row_num']=np.arange(len(df8))
df8.set_index('row_num',inplace=True)
df8 = df8.rename(columns={5:'day_8'})
print(df8)

df7 = pd.DataFrame(data=df_close_col.iloc[-10080:-8640])
df7['row_num']=np.arange(len(df7))
df7.set_index('row_num',inplace=True)
df7 = df7.rename(columns={5:'day_7'})
print(df7)

df6 = pd.DataFrame(data=df_close_col.iloc[-8640:-7200])
df6['row_num']=np.arange(len(df6))
df6.set_index('row_num',inplace=True)
df6 = df6.rename(columns={5:'day_6'})
print(df6)

df5 = pd.DataFrame(data=df_close_col.iloc[-7200:-5760])
df5['row_num']=np.arange(len(df5))
df5.set_index('row_num',inplace=True)
df5 = df5.rename(columns={5:'day_5'})
print(df5)

df4 = pd.DataFrame(data=df_close_col.iloc[-5760:-4320])
df4['row_num']=np.arange(len(df4))
df4.set_index('row_num',inplace=True)
df4 = df4.rename(columns={5:'day_4'})
print(df4)

df3 = pd.DataFrame(data=df_close_col.iloc[-4320:-2880])
df3['row_num']=np.arange(len(df3))
df3.set_index('row_num',inplace=True)
df3 = df3.rename(columns={5:'day_3'})
print(df3)

df2 = pd.DataFrame(data=df_close_col.iloc[-2880:-1440])
df2['row_num']=np.arange(len(df2))
df2.set_index('row_num',inplace=True)
df2 = df2.rename(columns={5:'day_2'})
print(df2)

df1 = pd.DataFrame(data=df_close_col.iloc[-1440:])
df1['row_num']=np.arange(len(df1))
df1.set_index('row_num',inplace=True)
df1 = df1.rename(columns={5:'day_1'})
print(df1)
###df1 to df40###

          day_40
row_num
0        1.19308
1        1.19292
2        1.19321
3        1.19329
4        1.19344
...          ...
1435     1.17783
1436     1.17782
1437     1.17827
1438     1.17844
1439     1.17849

[1440 rows x 1 columns]
          day_39
row_num
0        1.17847
1        1.17875
2        1.17871
3        1.17856
4        1.17886
...          ...
1435     1.17834
1436     1.17835
1437     1.17844
1438     1.17840
1439     1.17834

[1440 rows x 1 columns]
          day_38
row_num
0        1.17817
1        1.17825
2        1.17808
3        1.17814
4        1.17807
...          ...
1435     1.18887
1436     1.18862
1437     1.18854
1438     1.18853
1439     1.18859

[1440 rows x 1 columns]
          day_37
row_num
0        1.18858
1        1.18881
2        1.18929
3        1.18926
4        1.18916
...          ...
1435     1.19739
1436     1.19789
1437     1.19755
1438     1.19779
1439     1.19768

[1440 rows x 1 columns]
          day_36
row_num
0        1.19785
1        1.19732
2        1.19788
3        1.19755
4        1.19740
...          ...
1435     1.20577
1436     1.20604
1437     1.20587
1438     1.20608
1439     1.20599

[1440 rows x 1 columns]
          day_35
row_num
0        1.20560
1        1.20586
2        1.20591
3        1.20571
4        1.20573
...          ...
1435     1.20952
1436     1.20963
1437     1.20966
1438     1.20963
1439     1.20947

[1440 rows x 1 columns]
          day_34
row_num
0        1.20950
1        1.20946
2        1.20928
3        1.20953
4        1.20955
...          ...
1435     1.20842
1436     1.20844
1437     1.20837
1438     1.20846
1439     1.20830

[1440 rows x 1 columns]
          day_33
row_num
0        1.20819
1        1.20791
2        1.20760
3        1.20753
4        1.20743
...          ...
1435     1.21222
1436     1.21201
1437     1.21156
1438     1.21129
1439     1.21143

[1440 rows x 1 columns]
          day_32
row_num
0        1.21150
1        1.21113
2        1.21088
3        1.21082
4        1.21059
...          ...
1435     1.22254
1436     1.22278
1437     1.22287
1438     1.22282
1439     1.22265

[1440 rows x 1 columns]
          day_31
row_num
0        1.22288
1        1.22280
2        1.22307
3        1.22293
4        1.22260
...          ...
1435     1.21961
1436     1.21927
1437     1.21898
1438     1.21880
1439     1.21863

[1440 rows x 1 columns]
          day_30
row_num
0        1.21869
1        1.21851
2        1.21843
3        1.21862
4        1.21846
...          ...
1435     1.21103
1436     1.21095
1437     1.21096
1438     1.21097
1439     1.21103

[1440 rows x 1 columns]
          day_29
row_num
0        1.21139
1        1.21141
2        1.21140
3        1.21157
4        1.21154
...          ...
1435     1.21590
1436     1.21605
1437     1.21609
1438     1.21569
1439     1.21548

[1440 rows x 1 columns]
          day_28
row_num
0        1.21542
1        1.21518
2        1.21529
3        1.21557
4        1.21564
...          ...
1435     1.18759
1436     1.18741
1437     1.18727
1438     1.18584
1439     1.18552

[1440 rows x 1 columns]
          day_27
row_num
0        1.18559
1        1.18624
2        1.18689
3        1.18635
4        1.18666
...          ...
1435     1.19460
1436     1.19470
1437     1.19441
1438     1.19434
1439     1.19452

[1440 rows x 1 columns]
          day_26
row_num
0        1.19456
1        1.19425
2        1.19418
3        1.19394
4        1.19384
...          ...
1435     1.18461
1436     1.18479
1437     1.18434
1438     1.18484
1439     1.18475

[1440 rows x 1 columns]
          day_25
row_num
0        1.18481
1        1.18474
2        1.18481
3        1.18496
4        1.18473
...          ...
1435     1.18648
1436     1.18630
1437     1.18565
1438     1.18607
1439     1.18598

[1440 rows x 1 columns]
          day_24
row_num
0        1.18607
1        1.18606
2        1.18605
3        1.18604
4        1.18614
...          ...
1435     1.18073
1436     1.18072
1437     1.18116
1438     1.18081
1439     1.18079

[1440 rows x 1 columns]
          day_23
row_num
0        1.18088
1        1.18102
2        1.18092
3        1.18099
4        1.18116
...          ...
1435     1.17651
1436     1.17599
1437     1.17583
1438     1.17599
1439     1.17619

[1440 rows x 1 columns]
          day_22
row_num
0        1.17613
1        1.17599
2        1.17616
3        1.17648
4        1.17657
...          ...
1435     1.18571
1436     1.18607
1437     1.18630
1438     1.18635
1439     1.18627

[1440 rows x 1 columns]
          day_21
row_num
0        1.18641
1        1.18594
2        1.18604
3        1.18617
4        1.18610
...          ...
1435     1.17647
1436     1.17631
1437     1.17615
1438     1.17603
1439     1.17603

[1440 rows x 1 columns]
          day_20
row_num
0        1.17615
1        1.17582
2        1.17584
3        1.17574
4        1.17578
...          ...
1435     1.17960
1436     1.17958
1437     1.17955
1438     1.17960
1439     1.17975

[1440 rows x 1 columns]
          day_19
row_num
0        1.17976
1        1.17988
2        1.18008
3        1.18019
4        1.18032
...          ...
1435     1.16905
1436     1.16940
1437     1.16932
1438     1.16946
1439     1.16963

[1440 rows x 1 columns]
          day_18
row_num
0        1.16970
1        1.16989
2        1.16982
3        1.16981
4        1.17002
...          ...
1435     1.17921
1436     1.17930
1437     1.17897
1438     1.17898
1439     1.17935

[1440 rows x 1 columns]
          day_17
row_num
0        1.17948
1        1.17991
2        1.17963
3        1.17978
4        1.17991
...          ...
1435     1.18828
1436     1.18846
1437     1.18839
1438     1.18851
1439     1.18861

[1440 rows x 1 columns]
          day_16
row_num
0        1.18862
1        1.18870
2        1.18861
3        1.18879
4        1.18891
...          ...
1435     1.18197
1436     1.18173
1437     1.18192
1438     1.18208
1439     1.18193

[1440 rows x 1 columns]
          day_15
row_num
0        1.18232
1        1.18211
2        1.18194
3        1.18191
4        1.18185
...          ...
1435     1.17354
1436     1.17318
1437     1.17335
1438     1.17329
1439     1.17299

[1440 rows x 1 columns]
          day_14
row_num
0        1.17292
1        1.17265
2        1.17257
3        1.17259
4        1.17261
...          ...
1435     1.17240
1436     1.17211
1437     1.17185
1438     1.17182
1439     1.17189

[1440 rows x 1 columns]
          day_13
row_num
0        1.17156
1        1.17158
2        1.17140
3        1.17158
4        1.17160
...          ...
1435     1.16012
1436     1.15985
1437     1.15990
1438     1.15971
1439     1.15973

[1440 rows x 1 columns]
          day_12
row_num
0        1.15968
1        1.15953
2        1.15970
3        1.15990
4        1.15975
...          ...
1435     1.15648
1436     1.15640
1437     1.15644
1438     1.15647
1439     1.15643

[1440 rows x 1 columns]
          day_11
row_num
0        1.15630
1        1.15621
2        1.15629
3        1.15606
4        1.15604
...          ...
1435     1.15929
1436     1.15940
1437     1.15955
1438     1.15949
1439     1.15951

[1440 rows x 1 columns]
          day_10
row_num
0        1.15948
1        1.15951
2        1.15956
3        1.15968
4        1.15963
...          ...
1435     1.16332
1436     1.16318
1437     1.16324
1438     1.16302
1439     1.16298

[1440 rows x 1 columns]
           day_9
row_num
0        1.16268
1        1.16250
2        1.16262
3        1.16257
4        1.16281
...          ...
1435     1.15387
1436     1.15449
1437     1.15482
1438     1.15516
1439     1.15526

[1440 rows x 1 columns]
           day_8
row_num
0        1.15537
1        1.15546
2        1.15544
3        1.15534
4        1.15545
...          ...
1435     1.15557
1436     1.15538
1437     1.15566
1438     1.15556
1439     1.15516

[1440 rows x 1 columns]
           day_7
row_num
0        1.15522
1        1.15542
2        1.15531
3        1.15531
4        1.15511
...          ...
1435     1.14487
1436     1.14486
1437     1.14485
1438     1.14483
1439     1.14461

[1440 rows x 1 columns]
           day_6
row_num
0        1.14434
1        1.14431
2        1.14441
3        1.14441
4        1.14455
...          ...
1435     1.12892
1436     1.12903
1437     1.12901
1438     1.12891
1439     1.12913

[1440 rows x 1 columns]
           day_5
row_num
0        1.12908
1        1.12908
2        1.12913
3        1.12896
4        1.12881
...          ...
1435     1.13150
1436     1.13130
1437     1.13158
1438     1.13169
1439     1.13177

[1440 rows x 1 columns]
           day_4
row_num
0        1.13179
1        1.13203
2        1.13146
3        1.13156
4        1.13178
...          ...
1435     1.13231
1436     1.13210
1437     1.13177
1438     1.13174
1439     1.13153

[1440 rows x 1 columns]
           day_3
row_num
0        1.13142
1        1.13117
2        1.13141
3        1.13111
4        1.13095
...          ...
1435     1.13130
1436     1.13144
1437     1.13133
1438     1.13107
1439     1.13110

[1440 rows x 1 columns]
           day_2
row_num
0        1.13114
1        1.13119
2        1.13118
3        1.13131
4        1.13121
...          ...
1435     1.12578
1436     1.12576
1437     1.12565
1438     1.12532
1439     1.12524

[1440 rows x 1 columns]
           day_1
row_num
0        1.12513
1        1.12509
2        1.12483
3        1.12487
4        1.12484
...          ...
1435     1.13127
1436     1.13124
1437     1.13126
1438     1.13114
1439     1.13192

[1440 rows x 1 columns]

In [28]:
#return index to int
df_backtest_idx.reset_index(inplace=True)

In [29]:
df_backtest_idx

       index            date_time        5
0     444179  2021.12.17 22:00:00  1.12513
1     444180  2021.12.17 22:05:00  1.12509
2     444181  2021.12.17 22:10:00  1.12483
3     444182  2021.12.17 22:15:00  1.12487
4     444183  2021.12.17 22:20:00  1.12484
...      ...                  ...      ...
1435  445614  2021.12.27 00:40:00  1.13127
1436  445615  2021.12.27 00:45:00  1.13124
1437  445616  2021.12.27 00:50:00  1.13126
1438  445617  2021.12.27 00:55:00  1.13114
1439  445618  2021.12.27 01:00:00  1.13192

[1440 rows x 3 columns]

In [30]:
date_time = pd.DataFrame(data=df_backtest_idx.date_time)

In [31]:
pd.to_datetime(date_time.date_time)

0      2021-12-17 22:00:00
1      2021-12-17 22:05:00
2      2021-12-17 22:10:00
3      2021-12-17 22:15:00
4      2021-12-17 22:20:00
               ...
1435   2021-12-27 00:40:00
1436   2021-12-27 00:45:00
1437   2021-12-27 00:50:00
1438   2021-12-27 00:55:00
1439   2021-12-27 01:00:00
Name: date_time, Length: 1440, dtype: datetime64[ns]

In [32]:
df_train = pd.concat([date_time,df240,df239,df238,df237,df236,df235,df234,df233,df232,df231,df230,df229,df228,df227,df226,df225,df224,df223,df222,df221,df220,df219,df218,df217,df216,df215,df214,df213,df212,df211,df210,df209,df208,df207,df206,df205,df204,df203,df202,df201,df200,df199,df198,df197,df196,df195,df194,df193,df192,df191,df190,df189,df188,df187,df186,df185,df184,df183,df182,df181,df180,df179,df178,df177,df176,df175,df174,df173,df172,df171,df170,df169,df168,df167,df166,df165,df164,df163,df162,df161,df160,df159,df158,df157,df156,df155,df154,df153,df152,df151,df150,df149,df148,df147,df146,df145,df144,df143,df142,df141,df140,df139,df138,df137,df136,df135,df134,df133,df132,df131,df130,df129,df128,df127,df126,df125,df124,df123,df122,df121,df120,df119,df118,df117,df116,df115,df114,df113,df112,df111,df110,df109,df108,df107,df106,df105,df104,df103,df102,df101,df100,df99,df98,df97,df96,df95,df94,df93,df92,df91,df90,df89,df88,df87,df86,df85,df84,df83,df82,df81,df80,df79,df78,df77,df76,df75,df74,df73,df72,df71,df70,df69,df68,df67,df66,df65,df64,df63,df62,df61,df60,df59,df58,df57,df56,df55,df54,df53,df52,df51,df50,df49,df48,df47,df46,df45,df44,df43,df42,df41,df40,df39,df38,df37,df36,df35,df34,df33,df32,df31,df30,df29,df28,df27,df26,df25,df24,df23,df22,df21,df20,df19,df18,df17,df16,df15,df14,df13,df12,df11,df10,df9,df8,df7,df6,df5,df4,df3,df2,df1], axis=1)
##include date time at column 0,1##

df_train = pd.DataFrame(data=df_train)
df_train.set_index('date_time',inplace=True)
df_train

                     day_240  day_239  day_238  ...    day_3    day_2    day_1
date_time                                       ...
2021.12.17 22:00:00  1.09050  1.08870  1.08679  ...  1.13142  1.13114  1.12513
2021.12.17 22:05:00  1.09051  1.08874  1.08677  ...  1.13117  1.13119  1.12509
2021.12.17 22:10:00  1.09063  1.08873  1.08665  ...  1.13141  1.13118  1.12483
2021.12.17 22:15:00  1.09066  1.08869  1.08669  ...  1.13111  1.13131  1.12487
2021.12.17 22:20:00  1.09081  1.08883  1.08661  ...  1.13095  1.13121  1.12484
...                      ...      ...      ...  ...      ...      ...      ...
2021.12.27 00:40:00  1.08832  1.08669  1.11647  ...  1.13130  1.12578  1.13127
2021.12.27 00:45:00  1.08822  1.08673  1.11654  ...  1.13144  1.12576  1.13124
2021.12.27 00:50:00  1.08849  1.08676  1.11652  ...  1.13133  1.12565  1.13126
2021.12.27 00:55:00  1.08874  1.08671  1.11670  ...  1.13107  1.12532  1.13114
2021.12.27 01:00:00  1.08863  1.08672  1.11656  ...  1.13110  1.12524  1.13192

[1440 rows x 240 columns]

In [33]:
df_train.isnull().sum()

day_240    0
day_239    0
day_238    0
day_237    0
day_236    0
          ..
day_5      0
day_4      0
day_3      0
day_2      0
day_1      0
Length: 240, dtype: int64

In [34]:
df_test = pd.concat([
                     date_time,df239,df238,df237,df236,df235,df234,df233,df232,df231,df230,df229,df228,df227,df226,df225,df224,df223,df222,df221,df220,df219,df218,df217,df216,df215,df214,df213,df212,df211,df210,df209,df208,df207,df206,df205,df204,df203,df202,df201,
                     df200,df199,df198,df197,df196,df195,df194,df193,df192,df191,df190,df189,df188,df187,df186,df185,df184,df183,df182,df181,df180,df179,df178,df177,df176,df175,df174,df173,df172,df171,df170,df169,df168,df167,df166,df165,df164,df163,df162,df161,
                     df160,df159,df158,df157,df156,df155,df154,df153,df152,df151,df150,df149,df148,df147,df146,df145,df144,df143,df142,df141,df140,df139,df138,df137,df136,df135,df134,df133,df132,df131,df130,df129,df128,df127,df126,df125,df124,df123,df122,df121,
                     df120,df119,df118,df117,df116,df115,df114,df113,df112,df111,df110,df109,df108,df107,df106,df105,df104,df103,df102,df101,df100,df99,df98,df97,df96,df95,df94,df93,df92,df91,df90,df89,df88,df87,df86,df85,df84,df83,df82,df81,
                     df80,df79,df78,df77,df76,df75,df74,df73,df72,df71,df70,df69,df68,df67,df66,df65,df64,df63,df62,df61,df60,df59,df58,df57,df56,df55,df54,df53,df52,df51,df50,df49,df48,df47,df46,df45,df44,df43,df42,df41,
                     df40,df39,df38,df37,df36,df35,df34,df33,df32,df31,df30,df29,df28,df27,df26,df25,df24,df23,df22,df21,df20,df19,df18,df17,df16,df15,df14,df13,df12,df11,df10,df9,df8,df7,df6,df5,df4,df3,df2,df1], axis=1)
df_test['pred_col'] =0
df_test.rename(columns={
                        'day_239':'day_240','day_238':'day_239','day_237':'day_238','day_236':'day_237','day_235':'day_236','day_234':'day_235','day_233':'day_234','day_232':'day_233','day_231':'day_232','day_230':'day_231','day_229':'day_230','day_228':'day_229','day_227':'day_228','day_226':'day_227','day_225':'day_226','day_224':'day_225','day_223':'day_224','day_222':'day_223','day_221':'day_222','day_220':'day_221','day_219':'day_220','day_218':'day_219','day_217':'day_218','day_216':'day_217','day_215':'day_216','day_214':'day_215','day_213':'day_214','day_212':'day_213','day_211':'day_212','day_210':'day_211','day_209':'day_210','day_208':'day_209','day_207':'day_208','day_206':'day_207','day_205':'day_206','day_204':'day_205','day_203': 'day_204','day_202':'day_203','day_201':'day_202','day_200':'day_201',
                        'day_199':'day_200','day_198':'day_199','day_197':'day_198','day_196':'day_197','day_195':'day_196','day_194':'day_195','day_193':'day_194','day_192':'day_193','day_191':'day_192','day_190':'day_191','day_189':'day_190','day_188':'day_189','day_187':'day_188','day_186':'day_187','day_185':'day_186','day_184':'day_185','day_183':'day_184','day_182':'day_183','day_181':'day_182','day_180':'day_181','day_179':'day_180','day_178':'day_179','day_177':'day_178','day_176':'day_177','day_175':'day_176','day_174':'day_175','day_173':'day_174','day_172':'day_173','day_171':'day_172','day_170':'day_171','day_169':'day_170','day_168':'day_169','day_167':'day_168','day_166':'day_167','day_165':'day_166','day_164':'day_165','day_163': 'day_164', 'day_162': 'day_163','day_161':'day_162','day_160':'day_161',
                        'day_159':'day_160','day_158':'day_159','day_157':'day_158','day_156':'day_157','day_155':'day_156','day_154':'day_155','day_153':'day_154','day_152':'day_153','day_151':'day_152','day_150':'day_151','day_149':'day_150','day_148':'day_149','day_147':'day_148','day_146':'day_147','day_145':'day_146','day_144':'day_145','day_143':'day_144','day_142':'day_143','day_141':'day_142','day_140':'day_141','day_139':'day_140','day_138':'day_139','day_137':'day_138','day_136':'day_137','day_135':'day_136','day_134':'day_135','day_133':'day_134','day_132':'day_133','day_131':'day_132','day_130':'day_131','day_129':'day_130','day_128':'day_129','day_127':'day_128','day_126':'day_127','day_125':'day_126','day_124':'day_125','day_123': 'day_124', 'day_122': 'day_123','day_121':'day_122','day_120':'day_121',
                        'day_119':'day_120','day_118':'day_119','day_117':'day_118','day_116':'day_117','day_115':'day_116','day_114':'day_115','day_113':'day_114','day_112':'day_113','day_111':'day_112','day_110':'day_111','day_109':'day_110','day_108':'day_109','day_107':'day_108','day_106':'day_107','day_105':'day_106','day_104':'day_105','day_103':'day_104','day_102':'day_103','day_101':'day_102','day_100':'day_101','day_99':'day_100','day_98':'day_99','day_97':'day_98','day_96':'day_97','day_95':'day_96','day_94':'day_95','day_93':'day_94','day_92':'day_93','day_91':'day_92','day_90':'day_91','day_89':'day_90','day_88':'day_89','day_87':'day_88','day_86':'day_87','day_85':'day_86','day_84':'day_85','day_83': 'day_84','day_82':'day_83','day_81':'day_82','day_80':'day_81',
                        'day_79':'day_80','day_78':'day_79','day_77':'day_78','day_76':'day_77','day_75':'day_76','day_74':'day_75','day_73':'day_74','day_72':'day_73','day_71':'day_72','day_70':'day_71','day_69':'day_70','day_68':'day_69','day_67':'day_68','day_66':'day_67','day_65':'day_66','day_64':'day_65','day_63':'day_64','day_62':'day_63','day_61':'day_62','day_60':'day_61','day_59':'day_60','day_58':'day_59','day_57':'day_58','day_56':'day_57','day_55':'day_56','day_54':'day_55','day_53':'day_54','day_52':'day_53','day_51':'day_52','day_50':'day_51','day_49':'day_50','day_48':'day_49','day_47':'day_48','day_46':'day_47','day_45':'day_46','day_44':'day_45','day_43': 'day_44', 'day_42': 'day_43','day_41':'day_42','day_40':'day_41',
                        'day_39':'day_40','day_38':'day_39','day_37':'day_38','day_36':'day_37','day_35':'day_36','day_34':'day_35','day_33':'day_34','day_32':'day_33','day_31':'day_32','day_30':'day_31','day_29':'day_30','day_28':'day_29','day_27':'day_28','day_26':'day_27','day_25':'day_26','day_24':'day_25','day_23':'day_24','day_22':'day_23','day_21':'day_22','day_20':'day_21','day_19':'day_20','day_18':'day_19','day_17':'day_18','day_16':'day_17','day_15':'day_16','day_14':'day_15','day_13':'day_14','day_12':'day_13','day_11':'day_12','day_10':'day_11','day_9':'day_10','day_8':'day_9','day_7':'day_8','day_6':'day_7','day_5':'day_6','day_4':'day_5','day_3': 'day_4', 'day_2': 'day_3','day_1':'day_2','pred_col':'day_1'}, inplace=True)
df_test = pd.DataFrame(data=df_test)
df_test.set_index('date_time',inplace=True)
df_test

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`

                     day_240  day_239  day_238  ...    day_3    day_2  day_1
date_time                                       ...
2021.12.17 22:00:00  1.08870  1.08679  1.11611  ...  1.13114  1.12513      0
2021.12.17 22:05:00  1.08874  1.08677  1.11638  ...  1.13119  1.12509      0
2021.12.17 22:10:00  1.08873  1.08665  1.11626  ...  1.13118  1.12483      0
2021.12.17 22:15:00  1.08869  1.08669  1.11656  ...  1.13131  1.12487      0
2021.12.17 22:20:00  1.08883  1.08661  1.11654  ...  1.13121  1.12484      0
...                      ...      ...      ...  ...      ...      ...    ...
2021.12.27 00:40:00  1.08669  1.11647  1.12134  ...  1.12578  1.13127      0
2021.12.27 00:45:00  1.08673  1.11654  1.12116  ...  1.12576  1.13124      0
2021.12.27 00:50:00  1.08676  1.11652  1.12136  ...  1.12565  1.13126      0
2021.12.27 00:55:00  1.08671  1.11670  1.12159  ...  1.12532  1.13114      0
2021.12.27 01:00:00  1.08672  1.11656  1.12158  ...  1.12524  1.13192      0

[1440 rows x 240 columns]

In [35]:
df_train.isnull().sum()

day_240    0
day_239    0
day_238    0
day_237    0
day_236    0
          ..
day_5      0
day_4      0
day_3      0
day_2      0
day_1      0
Length: 240, dtype: int64

In [36]:
for col in df_test.columns:
    print(col)

day_240
day_239
day_238
day_237
day_236
day_235
day_234
day_233
day_232
day_231
day_230
day_229
day_228
day_227
day_226
day_225
day_224
day_223
day_222
day_221
day_220
day_219
day_218
day_217
day_216
day_215
day_214
day_213
day_212
day_211
day_210
day_209
day_208
day_207
day_206
day_205
day_204
day_203
day_202
day_201
day_200
day_199
day_198
day_197
day_196
day_195
day_194
day_193
day_192
day_191
day_190
day_189
day_188
day_187
day_186
day_185
day_184
day_183
day_182
day_181
day_180
day_179
day_178
day_177
day_176
day_175
day_174
day_173
day_172
day_171
day_170
day_169
day_168
day_167
day_166
day_165
day_164
day_163
day_162
day_161
day_160
day_159
day_158
day_157
day_156
day_155
day_154
day_153
day_152
day_151
day_150
day_149
day_148
day_147
day_146
day_145
day_144
day_143
day_142
day_141
day_140
day_139
day_138
day_137
day_136
day_135
day_134
day_133
day_132
day_131
day_130
day_129
day_128
day_127
day_126
day_125
day_124
day_123
day_122
day_121
day_120
day_119
day_118
day_117
day_116
day_115
day_114
day_113
day_112
day_111
day_110
day_109
day_108
day_107
day_106
day_105
day_104
day_103
day_102
day_101
day_100
day_99
day_98
day_97
day_96
day_95
day_94
day_93
day_92
day_91
day_90
day_89
day_88
day_87
day_86
day_85
day_84
day_83
day_82
day_81
day_80
day_79
day_78
day_77
day_76
day_75
day_74
day_73
day_72
day_71
day_70
day_69
day_68
day_67
day_66
day_65
day_64
day_63
day_62
day_61
day_60
day_59
day_58
day_57
day_56
day_55
day_54
day_53
day_52
day_51
day_50
day_49
day_48
day_47
day_46
day_45
day_44
day_43
day_42
day_41
day_40
day_39
day_38
day_37
day_36
day_35
day_34
day_33
day_32
day_31
day_30
day_29
day_28
day_27
day_26
day_25
day_24
day_23
day_22
day_21
day_20
day_19
day_18
day_17
day_16
day_15
day_14
day_13
day_12
day_11
day_10
day_9
day_8
day_7
day_6
day_5
day_4
day_3
day_2
day_1

In [37]:
#predict new interval
label_new_interval = 'day_1' #this is any interval wishing to be predicted, not just 1 day.
print("Summary of class variable: \n", df_train[label_new_interval].describe())

Summary of class variable:
 count    1440.000000
mean        1.129788
std         0.002925
min         1.123430
25%         1.127600
50%         1.129610
75%         1.132572
max         1.134280
Name: day_1, dtype: float64

In [ ]:
#HPO
import autogluon.core as ag

# nn_options = {  # specifies non-default hyperparameter values for neural network models
#     'num_epochs': 10,  # number of training epochs (controls training time of NN models)
#     'learning_rate': ag.space.Real(1e-4, 1e-2, default=5e-4, log=True),  # learning rate used in training (real-valued hyperparameter searched on log-scale)
#     'activation': ag.space.Categorical('relu', 'softrelu', 'tanh'),  # activation function used in NN (categorical hyperparameter, default = first entry)
#     'dropout_prob': ag.space.Real(0.0, 0.5, default=0.1),  # dropout probability (real-valued hyperparameter)
# }
# # gbm_options = {  # specifies non-default hyperparameter values for lightGBM gradient boosted trees
# #     'num_boost_round': 1000,  # number of boosting rounds (controls training time of GBM models)
# #     'num_leaves': ag.space.Int(lower=26, upper=66, default=36),  # number of leaves in trees (integer hyperparameter)
# # }

# hyperparameters = {  # hyperparameters of each model type
#                   #  'XGB': gbm_options,
#                    'NN': nn_options,  # NOTE: comment this line out if you get errors on Mac OSX
#                   } 
# time_limit = 2*60  # train various models for ~2 min
# num_trials = 10  # try at most 5 different hyperparameter configurations for each type of model
# search_strategy = 'bayesopt'  # to tune hyperparameters using bayesian optimisation search routine with a local scheduler

# hyperparameter_tune_kwargs = {  # HPO is not performed unless hyperparameter_tune_kwargs is specified
#     'num_trials': num_trials,
#     'scheduler' : 'local',
#     'searcher': search_strategy,
# }
#predict new interval
save_path='ag_predict_interval'
predictor = TabularPredictor(label=label_new_interval, path=save_path)
#predictor.fit(df_train, hyperparameters=hyperparameters, hyperparameter_tune_kwargs=hyperparameter_tune_kwargs)
predictor.fit(df_train, hyperparameters={'NN':{}}, presets='optimize_for_deployment')
#predictor.fit(df_train)

Warning: path already exists! This predictor may overwrite an existing predictor! path="ag_predict_interval"
Presets specified: ['optimize_for_deployment']
Beginning AutoGluon training ...
AutoGluon will save models to "ag_predict_interval/"
AutoGluon Version:  0.3.1
Train Data Rows:    1440
Train Data Columns: 239
Preprocessing data ...
AutoGluon infers your prediction problem is: 'regression' (because dtype of label-column == float and many unique label-values observed).
	Label info (max, min, mean, stddev): (1.13428, 1.12343, 1.12979, 0.00293)
	If 'regression' is not the correct problem_type, please manually specify the problem_type argument in fit() (You may specify problem_type as one of: ['binary', 'multiclass', 'regression'])
Using Feature Generators to preprocess the data ...
Fitting AutoMLPipelineFeatureGenerator...
	Available Memory:                    11608.47 MB
	Train Data (Original)  Memory Usage: 2.75 MB (0.0% of available memory)
	Inferring data type of each feature based on column values. Set feature_metadata_in to manually specify special dtypes of the features.
	Stage 1 Generators:
		Fitting AsTypeFeatureGenerator...
	Stage 2 Generators:
		Fitting FillNaFeatureGenerator...

In [ ]:
#predictor.feature_importance(data=df_train)

In [ ]:
#predict close
test_data = TabularDataset(df_test)
y_test = df_test[label_new_interval]
test_data_nolab = df_test.drop(columns=[label_new_interval])
test_data_nolab

In [ ]:
#predict new interval
predictor = TabularPredictor.load(save_path)
y_pred = predictor.predict(test_data_nolab)
print("Predictions: \n", y_pred)
perf = predictor.evaluate_predictions(y_true = y_test, y_pred = y_pred, auxiliary_metrics=True)

In [ ]:
import matplotlib as mpl
mpl.rcParams['savefig.dpi'] = 120

ax = y_pred.plot(figsize = (16, 10))

In [ ]:
#contrast leaderboard result of train and test data
predictor.leaderboard(df_train, silent=True)

In [ ]:
# predictor.unpersist_models('ag_predict_interval')
# predictor.save_space()
# predictor.delete_models(models_to_keep='best', dry_run=False)
%rm -rf agModels-predict_day1
!ls