<a href="https://colab.research.google.com/github/gomlfx/ApiaryFund/blob/master/autogluon_hist_range.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#!pip install autogluon

In [2]:
#!pip install mxnet --upgrade

In [3]:
#designed for Jupyter/kaggle/colab
import pandas as pd
import numpy as np
#import matplotlib for plotting 
import matplotlib.pyplot as plt
%matplotlib inline
#import normalization
from sklearn import preprocessing
import xgboost as xg
from sklearn.ensemble import RandomForestRegressor as rf
#import auto hyperparameter tuning
#from flaml import AutoML
from xgboost import XGBRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import ExtraTreesRegressor
from lightgbm import LGBMRegressor

#autogluon
from autogluon.tabular import TabularDataset, TabularPredictor

In [4]:
 #MT4 csv 
df1=pd.read_csv('EURUSD1440.csv', names=['d','t','eu_o','eu_h','eu_l','eu_c','eu_v'])
df_m_5 = df1.tail(2000)
df2 = df1.tail(2000)
# df2=pd.read_csv('GBPUSD1440.csv', names=['d','t','gu_o','gu_h','gu_l','gu_c','gu_v'])
# df2 = df2.tail(2000)

# df3=pd.read_csv('USDCAD1440.csv', names=['d','t','uc_o','uc_h','uc_l','uc_c','uc_v'])
# df3 = df3.tail(2000)

# df4=pd.read_csv('USDCHF1440.csv', names=['d','t','uf_o','uf_h','uf_l','uf_c','uf_v'])
# df4 = df4.tail(2000)

# df5=pd.read_csv('USDJPY1440.csv', names=['d','t','uj_o','uj_h','uj_l','uj_c','uj_v'])
# df5 = df5.tail(2000)

# df6=pd.read_csv('USDSEK1440.csv', names=['d','t','us_o','us_h','us_l','us_c','us_v'])
# df6 = df6.tail(2000)

# #using merge
# df_m_1 = df1.merge(df2, on='d')
# df_m_2 = df_m_1.merge(df3, on='d')
# df_m_3 = df_m_2.merge(df4, on='d')
# df_m_4 = df_m_3.merge(df5, on='d')
# df_m_5 = df_m_4.merge(df6, on='d')
# df_m_5 = df_m_5.drop(columns='t_x')
# df_m_5 = df_m_5.drop(columns='t_y')

# pd.set_option('display.max_columns', None)
# print(df_m_5)

In [5]:
df2.tail()

                d      t     eu_o     eu_h     eu_l     eu_c   eu_v
12789  2021.12.13  00:00  1.13106  1.13191  1.12599  1.12854  67794
12790  2021.12.14  00:00  1.12828  1.13236  1.12535  1.12577  69981
12791  2021.12.15  00:00  1.12549  1.12990  1.12215  1.12936  93710
12792  2021.12.16  00:00  1.12865  1.13602  1.12810  1.13304  93130
12793  2021.12.17  00:00  1.13245  1.13346  1.13240  1.13312     92

In [6]:
#Features
#1 day ago (features)
df_m_5['eu_High_last_day1'] = df_m_5['eu_h'].shift(1)
df_m_5['eu_Low_last_day1'] = df_m_5['eu_l'].shift(1)
df_m_5['eu_Close_last_day1'] = df_m_5['eu_c'].shift(1) 
#2 days ago
df_m_5['eu_High_last_day2'] = df_m_5['eu_h'].shift(2)
df_m_5['eu_Low_last_day2'] = df_m_5['eu_l'].shift(2)
df_m_5['eu_Close_last_day2'] = df_m_5['eu_c'].shift(2) 
#3 days ago
df_m_5['eu_High_last_day3'] = df_m_5['eu_h'].shift(3)
df_m_5['eu_Low_last_day3'] = df_m_5['eu_l'].shift(3)
df_m_5['eu_Close_last_day3'] = df_m_5['eu_c'].shift(3) 
#4 days ago 
df_m_5['eu_High_last_day4'] = df_m_5['eu_h'].shift(4)
df_m_5['eu_Low_last_day4'] = df_m_5['eu_l'].shift(4)
df_m_5['eu_Close_last_day4'] = df_m_5['eu_c'].shift(4) 
#5 days ago
df_m_5['eu_High_last_day5'] = df_m_5['eu_h'].shift(5)
df_m_5['eu_Low_last_day5'] = df_m_5['eu_l'].shift(5)
df_m_5['eu_Close_last_day5'] = df_m_5['eu_c'].shift(5) 
#6 day ago (features)
df_m_5['eu_High_last_day6'] = df_m_5['eu_h'].shift(6)
df_m_5['eu_Low_last_day6'] = df_m_5['eu_l'].shift(6)
df_m_5['eu_Close_last_day6'] = df_m_5['eu_c'].shift(6) 
#7 days ago
df_m_5['eu_High_last_day7'] = df_m_5['eu_h'].shift(7)
df_m_5['eu_Low_last_day7'] = df_m_5['eu_l'].shift(7)
df_m_5['eu_Close_last_day7'] = df_m_5['eu_c'].shift(7) 
#8 days ago
df_m_5['eu_High_last_day8'] = df_m_5['eu_h'].shift(8)
df_m_5['eu_Low_last_day8'] = df_m_5['eu_l'].shift(8)
df_m_5['eu_Close_last_day8'] = df_m_5['eu_c'].shift(8) 
#9 days ago 
df_m_5['eu_High_last_day9'] = df_m_5['eu_h'].shift(9)
df_m_5['eu_Low_last_day9'] = df_m_5['eu_l'].shift(9)
df_m_5['eu_Close_last_day9'] = df_m_5['eu_c'].shift(9) 
#10 days ago
df_m_5['eu_High_last_day10'] = df_m_5['eu_h'].shift(10)
df_m_5['eu_Low_last_day10'] = df_m_5['eu_l'].shift(10)
df_m_5['eu_Close_last_day10'] = df_m_5['eu_c'].shift(10) 

#Target
#1 day forward 
df_m_5['eu_High_next_day1'] = df_m_5['eu_h'].shift(-1)
df_m_5['eu_Low_next_day1'] = df_m_5['eu_l'].shift(-1)
df_m_5['eu_Close_next_day1'] = df_m_5['eu_c'].shift(-1) 

#drop null and useless columns
df_m_5 = df_m_5.dropna()
df_m_5 = df_m_5.drop(['t','eu_v'], axis=1)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  from ipykernel import kernelapp as app
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  app.launch_new_instance()
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:33: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:35: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:36: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:37: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:39: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:40: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:41: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:45: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:46: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:47: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [7]:
df_m_5

                d     eu_o  ...  eu_Low_next_day1  eu_Close_next_day1
10804  2014.04.17  1.38160  ...           1.38068             1.38068
10805  2014.04.18  1.38130  ...           1.37869             1.37944
10806  2014.04.21  1.38164  ...           1.37849             1.38053
10807  2014.04.22  1.37945  ...           1.38001             1.38160
10808  2014.04.23  1.38052  ...           1.37912             1.38312
...           ...      ...  ...               ...                 ...
12788  2021.12.10  1.12913  ...           1.12599             1.12854
12789  2021.12.13  1.13106  ...           1.12535             1.12577
12790  2021.12.14  1.12828  ...           1.12215             1.12936
12791  2021.12.15  1.12549  ...           1.12810             1.13304
12792  2021.12.16  1.12865  ...           1.13240             1.13312

[1989 rows x 38 columns]

In [8]:
df_m_5.insert(1,'index',df_m_5.index)

In [9]:
# #new column: high vs low
# df_m_5['eu_h_or_l'] = ((df_m_5.eu_h - df_m_5.eu_o) > (df_m_5.eu_o - df_m_5.eu_l)) 
# df_m_5.eu_h_or_l = df_m_5.eu_h_or_l.replace({True:1,False:0})

# #new column: close vs yesterday
# df_m_5['eu_c_vs_c'] = (df_m_5.eu_c > df_m_5.eu_o) 
# df_m_5.eu_c_vs_c = df_m_5.eu_c_vs_c.replace({True:1,False:0})

# #new column: shift tomorrow to today
# df_m_5['eu_High_next_day'] = df_m_5['eu_h'].shift(-1)
# df_m_5['eu_Low_next_day'] = df_m_5['eu_l'].shift(-1)
# df_m_5['eu_Close_next_day'] = df_m_5['eu_c'].shift(-1)
# df_m_5 = df_m_5.dropna()

In [10]:
df_m_5.tail()

                d  index  ...  eu_Low_next_day1  eu_Close_next_day1
12788  2021.12.10  12788  ...           1.12599             1.12854
12789  2021.12.13  12789  ...           1.12535             1.12577
12790  2021.12.14  12790  ...           1.12215             1.12936
12791  2021.12.15  12791  ...           1.12810             1.13304
12792  2021.12.16  12792  ...           1.13240             1.13312

[5 rows x 39 columns]

In [11]:

df_m_5.isna().sum()

d                      0
index                  0
eu_o                   0
eu_h                   0
eu_l                   0
eu_c                   0
eu_High_last_day1      0
eu_Low_last_day1       0
eu_Close_last_day1     0
eu_High_last_day2      0
eu_Low_last_day2       0
eu_Close_last_day2     0
eu_High_last_day3      0
eu_Low_last_day3       0
eu_Close_last_day3     0
eu_High_last_day4      0
eu_Low_last_day4       0
eu_Close_last_day4     0
eu_High_last_day5      0
eu_Low_last_day5       0
eu_Close_last_day5     0
eu_High_last_day6      0
eu_Low_last_day6       0
eu_Close_last_day6     0
eu_High_last_day7      0
eu_Low_last_day7       0
eu_Close_last_day7     0
eu_High_last_day8      0
eu_Low_last_day8       0
eu_Close_last_day8     0
eu_High_last_day9      0
eu_Low_last_day9       0
eu_Close_last_day9     0
eu_High_last_day10     0
eu_Low_last_day10      0
eu_Close_last_day10    0
eu_High_next_day1      0
eu_Low_next_day1       0
eu_Close_next_day1     0
dtype: int64

In [12]:
df_m_5.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1989 entries, 10804 to 12792
Data columns (total 39 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   d                    1989 non-null   object
 1   index                1989 non-null   int64
 2   eu_o                 1989 non-null   float64
 3   eu_h                 1989 non-null   float64
 4   eu_l                 1989 non-null   float64
 5   eu_c                 1989 non-null   float64
 6   eu_High_last_day1    1989 non-null   float64
 7   eu_Low_last_day1     1989 non-null   float64
 8   eu_Close_last_day1   1989 non-null   float64
 9   eu_High_last_day2    1989 non-null   float64
 10  eu_Low_last_day2     1989 non-null   float64
 11  eu_Close_last_day2   1989 non-null   float64
 12  eu_High_last_day3    1989 non-null   float64
 13  eu_Low_last_day3     1989 non-null   float64
 14  eu_Close_last_day3   1989 non-null   float64
 15  eu_High_last_day4    1989 non-null   float64
 16  eu_Low_last_day4     1989 non-null   float64
 17  eu_Close_last_day4   1989 non-null   float64
 18  eu_High_last_day5    1989 non-null   float64
 19  eu_Low_last_day5     1989 non-null   float64
 20  eu_Close_last_day5   1989 non-null   float64
 21  eu_High_last_day6    1989 non-null   float64
 22  eu_Low_last_day6     1989 non-null   float64
 23  eu_Close_last_day6   1989 non-null   float64
 24  eu_High_last_day7    1989 non-null   float64
 25  eu_Low_last_day7     1989 non-null   float64
 26  eu_Close_last_day7   1989 non-null   float64
 27  eu_High_last_day8    1989 non-null   float64
 28  eu_Low_last_day8     1989 non-null   float64
 29  eu_Close_last_day8   1989 non-null   float64
 30  eu_High_last_day9    1989 non-null   float64
 31  eu_Low_last_day9     1989 non-null   float64
 32  eu_Close_last_day9   1989 non-null   float64
 33  eu_High_last_day10   1989 non-null   float64
 34  eu_Low_last_day10    1989 non-null   float64
 35  eu_Close_last_day10  1989 non-null   float64
 36  eu_High_next_day1    1989 non-null   float64
 37  eu_Low_next_day1     1989 non-null   float64
 38  eu_Close_next_day1   1989 non-null   float64
dtypes: float64(37), int64(1), object(1)
memory usage: 621.6+ KB

In [13]:
#extract row for variable
last_row = df_m_5.iloc[-1:,np.r_[2:36]].values
print(last_row)

[[1.12865 1.13602 1.1281  1.13304 1.1299  1.12215 1.12936 1.13236 1.12535
  1.12577 1.13191 1.12599 1.12854 1.13239 1.1265  1.13165 1.13452 1.12782
  1.12924 1.13547 1.12627 1.13418 1.12982 1.12273 1.12681 1.13109 1.12664
  1.12848 1.13333 1.12665 1.13088 1.13475 1.12952 1.13013]]

In [14]:
train_data = df_m_5
#subsample_size=500
train_data=train_data.sample(n=2000, replace=True)
train_data.head()

                d  index  ...  eu_Low_next_day1  eu_Close_next_day1
11265  2016.01.28  11265  ...           1.08096             1.08300
11938  2018.08.30  11938  ...           1.15842             1.16021
10997  2015.01.15  10997  ...           1.14594             1.15650
12347  2020.03.31  12347  ...           1.09027             1.09616
12700  2021.08.10  12700  ...           1.17061             1.17388

[5 rows x 39 columns]

In [15]:
label='eu_High_next_day1'
print("Summary of class variable: \n", train_data[label].describe())

Summary of class variable:
 count    2000.000000
mean        1.158347
std         0.065395
min         1.045090
25%         1.114500
50%         1.141955
75%         1.187970
max         1.395110
Name: eu_High_next_day1, dtype: float64

In [ ]:
save_path='agModels-predictClass'
predictor=TabularPredictor(label=label, path=save_path).fit(train_data, presets='best_quality', time_limit=None)

Warning: path already exists! This predictor may overwrite an existing predictor! path="agModels-predictClass"
Presets specified: ['best_quality']
Beginning AutoGluon training ...
AutoGluon will save models to "agModels-predictClass/"
AutoGluon Version:  0.3.1
Train Data Rows:    2000
Train Data Columns: 38
Preprocessing data ...
AutoGluon infers your prediction problem is: 'regression' (because dtype of label-column == float and many unique label-values observed).
	Label info (max, min, mean, stddev): (1.39511, 1.04509, 1.15835, 0.0654)
	If 'regression' is not the correct problem_type, please manually specify the problem_type argument in fit() (You may specify problem_type as one of: ['binary', 'multiclass', 'regression'])
Using Feature Generators to preprocess the data ...
Fitting AutoMLPipelineFeatureGenerator...
	Available Memory:                    12618.78 MB
	Train Data (Original)  Memory Usage: 0.73 MB (0.0% of available memory)
	Inferring data type of each feature based on column values. Set feature_metadata_in to manually specify special dtypes of the features.
	Stage 1 Generators:
		Fitting AsTypeFeatureGenerator...
	Stage 2 Generators:
		Fitting FillNaFeatureGenerator...
	Stage 3 Generators:
		Fitting IdentityFeatureGenerator...
		Fitting DatetimeFeatureGenerator...
	Stage 4 Generators:
		Fitting DropUniqueFeatureGenerator...
	Types of features in original data (raw dtype, special dtypes):
		('float', [])                      : 36 | ['eu_o', 'eu_h', 'eu_l', 'eu_c', 'eu_High_last_day1', ...]
		('int', [])                        :  1 | ['index']
		('object', ['datetime_as_object']) :  1 | ['d']
	Types of features in processed data (raw dtype, special dtypes):
		('float', [])                : 36 | ['eu_o', 'eu_h', 'eu_l', 'eu_c', 'eu_High_last_day1', ...]
		('int', [])                  :  1 | ['index']
		('int', ['datetime_as_int']) :  1 | ['d']
	0.3s = Fit runtime
	38 features in original data used to generate 38 features in processed data.
	Train Data (Processed) Memory Usage: 0.61 MB (0.0% of available memory)
Data preprocessing and feature engineering runtime = 0.42s ...
AutoGluon will gauge predictive performance using evaluation metric: 'root_mean_squared_error'
	To change this, specify the eval_metric argument of fit()
AutoGluon will fit 2 stack levels (L1 to L2) ...
Fitting 11 L1 models ...
Fitting model: KNeighborsUnif_BAG_L1 ...
	-0.0046	 = Validation score   (root_mean_squared_error)
	0.08s	 = Training   runtime
	0.42s	 = Validation runtime
Fitting model: KNeighborsDist_BAG_L1 ...
	-0.003	 = Validation score   (root_mean_squared_error)
	0.05s	 = Training   runtime
	0.36s	 = Validation runtime
Fitting model: LightGBMXT_BAG_L1 ...
/usr/local/lib/python3.7/dist-packages/lightgbm/engine.py:239: UserWarning: 'verbose_eval' argument is deprecated and will be removed in a future release of LightGBM. Pass 'log_evaluation()' callback via 'callbacks' argument instead.
  _log_warning("'verbose_eval' argument is deprecated and will be removed in a future release of LightGBM. "

In [ ]:
predictor.fit_summary()

In [ ]:
test_data = TabularDataset(df_m_5.tail(500))
y_test = test_data[label]
test_data_nolab = test_data.drop(columns=[label])
test_data_nolab.tail()

In [ ]:
predictor = TabularPredictor.load(save_path)

y_pred = predictor.predict(test_data_nolab)
print("Predictions: \n", y_pred)
perf = predictor.evaluate_predictions(y_true = y_test, y_pred = y_pred, auxiliary_metrics=True)

In [ ]:
predictor.leaderboard(train_data, silent=True)

In [ ]:
#repeated?
train_data = df_m_5
#subsample_size=500
train_data=train_data.sample(n=2000, replace=True)
train_data.head()

In [ ]:
label='eu_Low_next_day1'
print("Summary of class variable: \n", train_data[label].describe())

In [ ]:
save_path='agModels-predictClass'
predictor=TabularPredictor(label=label, path=save_path).fit(train_data, presets='best_quality', time_limit=None)

In [ ]:
predictor.fit_summary()

In [ ]:
#repeated?
test_data = TabularDataset(df_m_5.tail(500))
y_test = test_data[label]
test_data_nolab = test_data.drop(columns=[label])
test_data_nolab.tail()

In [ ]:
predictor = TabularPredictor.load(save_path)

y_pred = predictor.predict(test_data_nolab)
print("Predictions: \n", y_pred)
perf = predictor.evaluate_predictions(y_true = y_test, y_pred = y_pred, auxiliary_metrics=True)

In [ ]:
predictor.leaderboard(train_data, silent=True)

In [ ]:
#repeated?
train_data = df_m_5
#subsample_size=500
train_data=train_data.sample(n=2000, replace=True)
train_data.head()

In [ ]:
label='eu_Close_next_day1'
print("Summary of class variable: \n", train_data[label].describe())

In [ ]:
save_path='agModels-predictClass'
predictor=TabularPredictor(label=label, path=save_path).fit(train_data, presets='best_quality', time_limit=None)

In [ ]:
predictor.fit_summary()

In [ ]:
#repeated?
test_data = TabularDataset(df_m_5.tail(500))
y_test = test_data[label]
test_data_nolab = test_data.drop(columns=[label])
test_data_nolab.tail()

In [ ]:
predictor = TabularPredictor.load(save_path)

y_pred = predictor.predict(test_data_nolab)
print("Predictions: \n", y_pred)
perf = predictor.evaluate_predictions(y_true = y_test, y_pred = y_pred, auxiliary_metrics=True)