<a href="https://colab.research.google.com/github/gomlfx/ApiaryFund/blob/master/XGBR1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#designed for Jupyter/kaggle/colab
import pandas as pd
import numpy as np
#import matplotlib for plotting 
import matplotlib.pyplot as plt
%matplotlib inline
#import normalization
from sklearn import preprocessing
import xgboost as xg
from sklearn.ensemble import RandomForestRegressor as rf

In [2]:
 #MT4 csv 
df1=pd.read_csv('EURUSD1440.csv', names=['d','t','eu_o','eu_h','eu_l','eu_c','eu_v'])
df1 = df1.tail(2000)
df2=pd.read_csv('GBPUSD1440.csv', names=['d','t','gu_o','gu_h','gu_l','gu_c','gu_v'])
df2 = df2.tail(2000)

df3=pd.read_csv('USDCAD1440.csv', names=['d','t','uc_o','uc_h','uc_l','uc_c','uc_v'])
df3 = df3.tail(2000)

df4=pd.read_csv('USDCHF1440.csv', names=['d','t','uf_o','uf_h','uf_l','uf_c','uf_v'])
df4 = df4.tail(2000)

df5=pd.read_csv('USDJPY1440.csv', names=['d','t','uj_o','uj_h','uj_l','uj_c','uj_v'])
df5 = df5.tail(2000)

df6=pd.read_csv('USDSEK1440.csv', names=['d','t','us_o','us_h','us_l','us_c','us_v'])
df6 = df6.tail(2000)

#using merge
df_m_1 = df1.merge(df2, on='d')
df_m_2 = df_m_1.merge(df3, on='d')
df_m_3 = df_m_2.merge(df4, on='d')
df_m_4 = df_m_3.merge(df5, on='d')
df_m_5 = df_m_4.merge(df6, on='d')
df_m_5 = df_m_5.drop(columns='t_x')
df_m_5 = df_m_5.drop(columns='t_y')

pd.set_option('display.max_columns', None)
print(df_m_5)

               d     eu_o     eu_h     eu_l     eu_c    eu_v     gu_o  \
0     2014.03.13  1.39018  1.39666  1.38454  1.38676   89625  1.66169
1     2014.03.14  1.38676  1.39374  1.38473  1.39134   77320  1.66229
2     2014.03.17  1.39062  1.39474  1.38788  1.39252   54560  1.66419
3     2014.03.18  1.39251  1.39427  1.38797  1.39304   65439  1.66356
4     2014.03.19  1.39304  1.39329  1.38095  1.38223   71553  1.65916
...          ...      ...      ...      ...      ...     ...      ...
1993  2021.11.22  1.12878  1.12903  1.12306  1.12333  110260  1.34503
1994  2021.11.23  1.12339  1.12748  1.12258  1.12483  104536  1.33930
1995  2021.11.24  1.12467  1.12551  1.11859  1.12000  112792  1.33744
1996  2021.11.25  1.11959  1.12295  1.11959  1.12062   44916  1.33243
1997  2021.11.26  1.12058  1.13295  1.12051  1.13177  138554  1.33158

         gu_h     gu_l     gu_c   gu_v     uc_o     uc_h     uc_l     uc_c  \
0     1.67182  1.66064  1.66229  72275  1.11187  1.11221  1.10433  1.10749
1     1.66499  1.65869  1.66439  65960  1.10743  1.11105  1.10644  1.10996
2     1.66659  1.66047  1.66356  46095  1.10936  1.11075  1.10448  1.10502
3     1.66476  1.65452  1.65916  61262  1.10512  1.11462  1.10250  1.11342
4     1.66542  1.65078  1.65376  69795  1.11344  1.12709  1.11219  1.12374
...       ...      ...      ...    ...      ...      ...      ...      ...
1993  1.34503  1.33838  1.33944  36466  1.26400  1.27048  1.26277  1.26995
1994  1.34086  1.33418  1.33780  35730  1.26948  1.27444  1.26599  1.26693
1995  1.33892  1.33151  1.33280  33435  1.26663  1.27097  1.26509  1.26648
1996  1.33530  1.33047  1.33164  25719  1.26555  1.26766  1.26402  1.26456
1997  1.33596  1.32772  1.33235  42921  1.26449  1.27994  1.26449  1.27860

       uc_v     uf_o     uf_h     uf_l     uf_c   uf_v     uj_o     uj_h  \
0     39807  0.87377  0.87647  0.86990  0.87449  59814  102.751  102.863
1     35961  0.87459  0.87616  0.87036  0.87213  50919  101.829  101.879
2     28709  0.87206  0.87561  0.87130  0.87312  38803  101.269  101.870
3     38986  0.87308  0.87692  0.87237  0.87303  42641  101.769  101.941
4     47630  0.87297  0.88295  0.87281  0.88038  51307  101.420  102.682
...     ...      ...      ...      ...      ...    ...      ...      ...
1993  28908  0.92767  0.93345  0.92667  0.93325  29297  113.937  114.959
1994  34331  0.93086  0.93439  0.93011  0.93313  30715  114.870  115.192
1995  34606  0.93283  0.93733  0.93209  0.93392  29908  115.111  115.521
1996  19538  0.93382  0.93613  0.93239  0.93564  21596  115.402  115.455
1997  41366  0.93575  0.93589  0.92107  0.92347  44008  115.296  115.365

         uj_l     uj_c    uj_v     us_o     us_h     us_l     us_c   us_v
0     101.542  101.829   97119  6.36261  6.39851  6.32993  6.37722  69029
1     101.207  101.352  105593  6.37722  6.40011  6.35986  6.38116  63699
2     101.240  101.766   75485  6.38068  6.40511  6.34375  6.34901  46660
3     101.280  101.440   79933  6.34901  6.37584  6.32310  6.32490  55201
4     101.298  102.312   79007  6.32490  6.41133  6.32422  6.40371  58837
...       ...      ...     ...      ...      ...      ...      ...    ...
1993  113.923  114.871   48575  8.93010  9.01339  8.92970  8.99650  35881
1994  114.480  115.129   49655  8.98692  9.05286  8.97004  9.04097  40131
1995  114.822  115.401   47423  9.03311  9.14057  9.02853  9.12259  36605
1996  115.239  115.341   23627  9.11333  9.12367  9.05598  9.07990  26093
1997  113.052  113.285   87016  9.08432  9.18200  9.06362  9.14441  40881

[1998 rows x 31 columns]

In [3]:
df6

               d      t     us_o     us_h     us_l     us_c   us_v
4002  2014.03.13  00:00  6.36261  6.39851  6.32993  6.37722  69029
4003  2014.03.14  00:00  6.37722  6.40011  6.35986  6.38116  63699
4004  2014.03.17  00:00  6.38068  6.40511  6.34375  6.34901  46660
4005  2014.03.18  00:00  6.34901  6.37584  6.32310  6.32490  55201
4006  2014.03.19  00:00  6.32490  6.41133  6.32422  6.40371  58837
...          ...    ...      ...      ...      ...      ...    ...
5997  2021.11.22  00:00  8.93010  9.01339  8.92970  8.99650  35881
5998  2021.11.23  00:00  8.98692  9.05286  8.97004  9.04097  40131
5999  2021.11.24  00:00  9.03311  9.14057  9.02853  9.12259  36605
6000  2021.11.25  00:00  9.11333  9.12367  9.05598  9.07990  26093
6001  2021.11.26  00:00  9.08432  9.18200  9.06362  9.14441  40881

[2000 rows x 7 columns]

In [4]:
df_m_5.tail()

,d,eu_o,eu_h,eu_l,eu_c,eu_v,gu_o,gu_h,gu_l,gu_c,gu_v,uc_o,uc_h,uc_l,uc_c,uc_v,uf_o,uf_h,uf_l,uf_c,uf_v,uj_o,uj_h,uj_l,uj_c,uj_v,us_o,us_h,us_l,us_c,us_v
1993,2021.11.22,1.12878,1.12903,1.12306,1.12333,110260,1.34503,1.34503,1.33838,1.33944,36466,1.26400,1.27048,1.26277,1.26995,28908,0.92767,0.93345,0.92667,0.93325,29297,113.937,114.959,113.923,114.871,48575,8.93010,9.01339,8.92970,8.99650,35881
1994,2021.11.23,1.12339,1.12748,1.12258,1.12483,104536,1.33930,1.34086,1.33418,1.33780,35730,1.26948,1.27444,1.26599,1.26693,34331,0.93086,0.93439,0.93011,0.93313,30715,114.870,115.192,114.480,115.129,49655,8.98692,9.05286,8.97004,9.04097,40131
1995,2021.11.24,1.12467,1.12551,1.11859,1.12000,112792,1.33744,1.33892,1.33151,1.33280,33435,1.26663,1.27097,1.26509,1.26648,34606,0.93283,0.93733,0.93209,0.93392,29908,115.111,115.521,114.822,115.401,47423,9.03311,9.14057,9.02853,9.12259,36605
1996,2021.11.25,1.11959,1.12295,1.11959,1.12062,44916,1.33243,1.33530,1.33047,1.33164,25719,1.26555,1.26766,1.26402,1.26456,19538,0.93382,0.93613,0.93239,0.93564,21596,115.402,115.455,115.239,115.341,23627,9.11333,9.12367,9.05598,9.07990,26093
1997,2021.11.26,1.12058,1.13295,1.12051,1.13177,138554,1.33158,1.33596,1.32772,1.33235,42921,1.26449,1.27994,1.26449,1.27860,41366,0.93575,0.93589,0.92107,0.92347,44008,115.296,115.365,113.052,113.285,87016,9.08432,9.18200,9.06362,9.14441,40881

In [5]:
df_m_5.insert(1,'index',df_m_5.index)

In [6]:
#new column: high vs low
df_m_5['eu_h_or_l'] = ((df_m_5.eu_h - df_m_5.eu_o) > (df_m_5.eu_o - df_m_5.eu_l)) 
df_m_5.eu_h_or_l = df_m_5.eu_h_or_l.replace({True:1,False:0})

#new column: close vs yesterday
df_m_5['eu_c_vs_c'] = (df_m_5.eu_c > df_m_5.eu_o) 
df_m_5.eu_c_vs_c = df_m_5.eu_c_vs_c.replace({True:1,False:0})

#new column: shift tomorrow to today
df_m_5['eu_High_next_day'] = df_m_5['eu_h'].shift(-1)
df_m_5['eu_Low_next_day'] = df_m_5['eu_l'].shift(-1)
df_m_5['eu_Close_next_day'] = df_m_5['eu_c'].shift(-1)
df_m_5 = df_m_5.dropna()

In [7]:
df_m_5.isna().sum()

d                    0
index                0
eu_o                 0
eu_h                 0
eu_l                 0
eu_c                 0
eu_v                 0
gu_o                 0
gu_h                 0
gu_l                 0
gu_c                 0
gu_v                 0
uc_o                 0
uc_h                 0
uc_l                 0
uc_c                 0
uc_v                 0
uf_o                 0
uf_h                 0
uf_l                 0
uf_c                 0
uf_v                 0
uj_o                 0
uj_h                 0
uj_l                 0
uj_c                 0
uj_v                 0
us_o                 0
us_h                 0
us_l                 0
us_c                 0
us_v                 0
eu_h_or_l            0
eu_c_vs_c            0
eu_High_next_day     0
eu_Low_next_day      0
eu_Close_next_day    0
dtype: int64

In [8]:
df_m_5.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1997 entries, 0 to 1996
Data columns (total 37 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   d                  1997 non-null   object
 1   index              1997 non-null   int64
 2   eu_o               1997 non-null   float64
 3   eu_h               1997 non-null   float64
 4   eu_l               1997 non-null   float64
 5   eu_c               1997 non-null   float64
 6   eu_v               1997 non-null   int64
 7   gu_o               1997 non-null   float64
 8   gu_h               1997 non-null   float64
 9   gu_l               1997 non-null   float64
 10  gu_c               1997 non-null   float64
 11  gu_v               1997 non-null   int64
 12  uc_o               1997 non-null   float64
 13  uc_h               1997 non-null   float64
 14  uc_l               1997 non-null   float64
 15  uc_c               1997 non-null   float64
 16  uc_v               1997 non-null   int64
 17  uf_o               1997 non-null   float64
 18  uf_h               1997 non-null   float64
 19  uf_l               1997 non-null   float64
 20  uf_c               1997 non-null   float64
 21  uf_v               1997 non-null   int64
 22  uj_o               1997 non-null   float64
 23  uj_h               1997 non-null   float64
 24  uj_l               1997 non-null   float64
 25  uj_c               1997 non-null   float64
 26  uj_v               1997 non-null   int64
 27  us_o               1997 non-null   float64
 28  us_h               1997 non-null   float64
 29  us_l               1997 non-null   float64
 30  us_c               1997 non-null   float64
 31  us_v               1997 non-null   int64
 32  eu_h_or_l          1997 non-null   int64
 33  eu_c_vs_c          1997 non-null   int64
 34  eu_High_next_day   1997 non-null   float64
 35  eu_Low_next_day    1997 non-null   float64
 36  eu_Close_next_day  1997 non-null   float64
dtypes: float64(27), int64(9), object(1)
memory usage: 592.9+ KB

In [9]:
#for high prediction
#select rows to use for x,y
x = df_m_5.iloc[:,np.r_[1:34]].values
print(x)
y = df_m_5.iloc[:,[34]].values
print(y)

[[0.00000e+00 1.39018e+00 1.39666e+00 ... 6.90290e+04 1.00000e+00
  0.00000e+00]
 [1.00000e+00 1.38676e+00 1.39374e+00 ... 6.36990e+04 1.00000e+00
  1.00000e+00]
 [2.00000e+00 1.39062e+00 1.39474e+00 ... 4.66600e+04 1.00000e+00
  1.00000e+00]
 ...
 [1.99400e+03 1.12339e+00 1.12748e+00 ... 4.01310e+04 1.00000e+00
  1.00000e+00]
 [1.99500e+03 1.12467e+00 1.12551e+00 ... 3.66050e+04 0.00000e+00
  0.00000e+00]
 [1.99600e+03 1.11959e+00 1.12295e+00 ... 2.60930e+04 1.00000e+00
  1.00000e+00]]
[[1.39374]
 [1.39474]
 [1.39427]
 ...
 [1.12551]
 [1.12295]
 [1.13295]]

In [10]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size = 0.30)

In [11]:
#for high prediction and accuracy test
# create regressor object
regressor = xg.XGBRegressor(n_estimators=2000, n_jobs=-1)
#regressor = rf(n_estimators = 1000, n_jobs=-1, criterion="absolute_error", random_state=3)
# fit the regressor with x and y data
regressor.fit(X_train, y_train)

[19:27:04] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.

XGBRegressor(n_estimators=2000, n_jobs=-1)

In [12]:
y_pred = regressor.predict(X_test)

In [13]:
def mean_absolute_percentage_error(y_true,y_pred):
  y_true, y_pred = np.array(y_true), np.array(y_pred)
  return np.mean(np.abs((y_true - y_pred) / y_true)) * 100

mape = mean_absolute_percentage_error(y_test,y_pred)

In [14]:
#for regression score
from sklearn import metrics 
print('MAE:', metrics.mean_absolute_error(y_test,y_pred))
print('MSE:', metrics.mean_squared_error(y_test, y_pred))
print('RMSE:', np.sqrt(metrics.mean_squared_error(y_test, y_pred)))
print('MAPE:', mape)
print('MedAE', metrics.median_absolute_error(y_test,y_pred))

MAE: 0.002940218534278872
MSE: 1.756793960638108e-05
RMSE: 0.004191412602736824
MAPE: 6.677865814889213
MedAE 0.0022808617019653976

In [15]:
#extract row for variable
last_row = df_m_5.iloc[-1:,np.r_[1:34]].values
print(last_row)

[[1.99600e+03 1.11959e+00 1.12295e+00 1.11959e+00 1.12062e+00 4.49160e+04
  1.33243e+00 1.33530e+00 1.33047e+00 1.33164e+00 2.57190e+04 1.26555e+00
  1.26766e+00 1.26402e+00 1.26456e+00 1.95380e+04 9.33820e-01 9.36130e-01
  9.32390e-01 9.35640e-01 2.15960e+04 1.15402e+02 1.15455e+02 1.15239e+02
  1.15341e+02 2.36270e+04 9.11333e+00 9.12367e+00 9.05598e+00 9.07990e+00
  2.60930e+04 1.00000e+00 1.00000e+00]]

In [16]:
#for high prediction
y_pred_h = regressor.predict(last_row) # test the output by changing values
print('high prediction is:', y_pred_h)

high prediction is: [1.131873]

In [17]:
# #for close prediction
# # Visualising the Random Forest Regression results

# # arange for creating a range of values
# # from min value of x to max
# # value of x with a difference of 0.01
# # between two consecutive values
# X_grid = np.arange(min(x), max(x), 1)

# # reshape for reshaping the data into a len(X_grid)*1 array,
# # i.e. to make a column out of the X_grid value				
# X_grid = X_grid.reshape((len(X_grid), 1))

# # Scatter plot for original data
# plt.scatter(x, y, color = 'blue')

# # plot predicted data
# plt.scatter(X_grid, regressor.predict(X_grid),
# 		color = 'green')
# plt.title('Random Forest Regression')
# plt.xlabel('Position level')
# plt.ylabel('EURUSD')
# plt.xlim(1900,1994)
# plt.ylim(1.13,1.17)
# plt.show()

In [18]:
#for low prediction
#select rows to use for x,y
x = df_m_5.iloc[:,np.r_[1:34]].values
print(x)
y = df_m_5.iloc[:,[35]].values
print(y)

[[0.00000e+00 1.39018e+00 1.39666e+00 ... 6.90290e+04 1.00000e+00
  0.00000e+00]
 [1.00000e+00 1.38676e+00 1.39374e+00 ... 6.36990e+04 1.00000e+00
  1.00000e+00]
 [2.00000e+00 1.39062e+00 1.39474e+00 ... 4.66600e+04 1.00000e+00
  1.00000e+00]
 ...
 [1.99400e+03 1.12339e+00 1.12748e+00 ... 4.01310e+04 1.00000e+00
  1.00000e+00]
 [1.99500e+03 1.12467e+00 1.12551e+00 ... 3.66050e+04 0.00000e+00
  0.00000e+00]
 [1.99600e+03 1.11959e+00 1.12295e+00 ... 2.60930e+04 1.00000e+00
  1.00000e+00]]
[[1.38473]
 [1.38788]
 [1.38797]
 ...
 [1.11859]
 [1.11959]
 [1.12051]]

In [19]:
#for low prediction
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size = 0.30)

In [20]:
#for low prediction and accuracy test
# create regressor object
regressor = xg.XGBRegressor(n_estimators=2000, n_jobs=-1)
#regressor = rf(n_estimators = 1000, n_jobs=-1, criterion="absolute_error", random_state=2)
# fit the regressor with x and y data
regressor.fit(X_train, y_train)

[19:27:08] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.

XGBRegressor(n_estimators=2000, n_jobs=-1)

In [21]:
#for low pred 
y_pred = regressor.predict(X_test)
mape = mean_absolute_percentage_error(y_test,y_pred)

In [22]:
#for low pred regression score
from sklearn import metrics 
print('MAE:', metrics.mean_absolute_error(y_test,y_pred))
print('MSE:', metrics.mean_squared_error(y_test, y_pred))
print('RMSE:', np.sqrt(metrics.mean_squared_error(y_test, y_pred)))
print('MAPE:', mape)
print('MedAE', metrics.median_absolute_error(y_test,y_pred))

MAE: 0.003011084186490372
MSE: 1.672864566014127e-05
RMSE: 0.0040900667060747645
MAPE: 6.485910696601099
MedAE 0.002414713840484639

In [23]:
#for low pred 
y_pred_l = regressor.predict(last_row) # test the output by changing values
print('low prediction is:', y_pred_l)

low prediction is: [1.119868]

In [24]:
# #for low prediction
# # Visualising the Random Forest Regression results

# # arange for creating a range of values
# # from min value of x to max
# # value of x with a difference of 0.01
# # between two consecutive values
# X_grid = np.arange(min(x), max(x), 1)

# # reshape for reshaping the data into a len(X_grid)*1 array,
# # i.e. to make a column out of the X_grid value				
# X_grid = X_grid.reshape((len(X_grid), 1))

# # Scatter plot for original data
# plt.scatter(x, y, color = 'blue')

# # plot predicted data
# plt.scatter(X_grid, regressor.predict(X_grid),
# 		color = 'green')
# plt.title('Random Forest Regression')
# plt.xlabel('Position level')
# plt.ylabel('EURUSD')
# plt.xlim(7980,8000)
# plt.ylim(1.15,1.17)
# plt.show()

In [31]:
#for close prediction
#select rows to use for x,y
x = df_m_5.iloc[:,np.r_[1:34]].values
print(x)
y = df_m_5.iloc[:,[36]].values
print(y)

[[0.00000e+00 1.39018e+00 1.39666e+00 ... 6.90290e+04 1.00000e+00
  0.00000e+00]
 [1.00000e+00 1.38676e+00 1.39374e+00 ... 6.36990e+04 1.00000e+00
  1.00000e+00]
 [2.00000e+00 1.39062e+00 1.39474e+00 ... 4.66600e+04 1.00000e+00
  1.00000e+00]
 ...
 [1.99400e+03 1.12339e+00 1.12748e+00 ... 4.01310e+04 1.00000e+00
  1.00000e+00]
 [1.99500e+03 1.12467e+00 1.12551e+00 ... 3.66050e+04 0.00000e+00
  0.00000e+00]
 [1.99600e+03 1.11959e+00 1.12295e+00 ... 2.60930e+04 1.00000e+00
  1.00000e+00]]
[[1.39134]
 [1.39252]
 [1.39304]
 ...
 [1.12   ]
 [1.12062]
 [1.13177]]

In [32]:
#for close prediction
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size = 0.30)

In [33]:
#for close prediction and accuracy test

# create regressor object
regressor = xg.XGBRegressor(n_estimators=2000, n_jobs=-1)
#regressor = rf(n_estimators = 1000, n_jobs=-1, criterion="absolute_error", random_state=3)
# fit the regressor with x and y data
regressor.fit(X_train, y_train)

[19:28:39] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.

XGBRegressor(n_estimators=2000, n_jobs=-1)

In [34]:
#for close prediction
y_pred = regressor.predict(X_test)
mape = mean_absolute_percentage_error(y_test,y_pred)

In [35]:
#for close regression score
from sklearn import metrics 
print('MAE:', metrics.mean_absolute_error(y_test,y_pred))
print('MSE:', metrics.mean_squared_error(y_test, y_pred))
print('RMSE:', np.sqrt(metrics.mean_squared_error(y_test, y_pred)))
print('MAPE:', mape)
print('MedAE', metrics.median_absolute_error(y_test,y_pred)) 
#print('MdAPE', metrics)

MAE: 0.004362333465131121
MSE: 3.340547489789896e-05
RMSE: 0.005779746957947118
MAPE: 6.475549242946473
MedAE 0.0034984547805785304

In [36]:
#for close pred 
y_pred_c = regressor.predict(last_row) # test the output by changing values
print('close prediction is:', y_pred_c)

close prediction is: [1.1304159]

In [37]:
print('Today the predictions are:')
print('high', y_pred_h)
print('close', y_pred_c)
print('low', y_pred_l)
print('Please use these as polarities.')

Today the predictions are:
high [1.131873]
close [1.1304159]
low [1.119868]
Please use these as polarities.

In [ ]:
# #for high prediction
# # Visualising the Random Forest Regression results

# # arange for creating a range of values
# # from min value of x to max
# # value of x with a difference of 0.01
# # between two consecutive values
# X_grid = np.arange(min(x), max(x), 1)

# # reshape for reshaping the data into a len(X_grid)*1 array,
# # i.e. to make a column out of the X_grid value				
# X_grid = X_grid.reshape((len(X_grid), 1))

# # Scatter plot for original data
# plt.scatter(x, y, color = 'blue')

# # plot predicted data
# plt.scatter(X_grid, regressor.predict(X_grid),
# 		color = 'green')
# plt.title('Random Forest Regression')
# plt.xlabel('Position level')
# plt.ylabel('EURUSD')
# plt.xlim(7980,8002)
# plt.ylim(1.15,1.17)
# plt.show()